<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->

<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Location</h4>
          </div>
          <div class="modal-body address-modal-body">
              <div class="row">
                   <ul class="list-group col-md-12">
                       <li class="list-group-item col-md-6">
     <label class="col-sm-12">   First Name </label><span class="col-sm-12 row">{{address.FirstName}}&nbsp; </span> 
                
    </li>
                              <li class="list-group-item col-md-6">
     <label class="col-sm-12">   Last Name </label><span class="col-sm-12 row">{{address.LastName}} &nbsp; </span> 
                
    </li>
                         <li class="list-group-item col-md-6">
     <label class="col-sm-12"> Phone Number </label><span class="col-sm-12 row">{{address.DayPhone}} &nbsp;</span> 
                
    </li>
                         <li class="list-group-item col-md-6">
     <label class="col-sm-12">   Email Address </label><span class="col-sm-12 row"> {{address.EmailID}}&nbsp; </span> 
                
    </li>
    </ul>
    </div>
              <div class="row">
                <div class="address-modal-wrapper clearfix">
                  <div class="m-t-5"><strong>Address Information</strong></div>
                  <div>
                      <ul class="list-group col-md-12">
                    <!--  <li class="list-group-item col-md-12"><label class="col-sm-6">Address Line 1</label>
                          <span class="col-sm-6">{{address.AddressLine1}}</span></li>-->
                     
               <li class="list-group-item col-md-12">
                     <label class="col-sm-6"> Address Line 1 </label><span class="col-sm-6"> {{address.AddressLine1}} </span>
                 </li>
                   <li class="list-group-item col-md-12">
                       <label class="col-sm-6">  Address Line 2 </label><span class="col-sm-6">{{address.AddressLine2}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                       <label class="col-sm-6">Address Line 3 </label><span class="col-sm-6">{{address.AddressLine3}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                      <label class="col-sm-6">Country </label><span class="col-sm-6">{{address.Country}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                     <label class="col-sm-6"> State </label><span class="col-sm-6">{{address.State}}</span>
                  </li>
                <li class="list-group-item col-md-12">
                     <label class="col-sm-6">   City </label><span class="col-sm-6">{{address.City}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                   <label class="col-sm-6">    Post Code </label><span class="col-sm-6">{{address.ZipCode}}</span>
                  </li>
                           </ul>
                </div>
    </div>


              </div>
          </div>
          <div class="modal-footer">
            <!--   <button type="submit" class="btn btn-default" >Save</button>-->
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal">Close</button>
          </div>
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        address:Object
     },    

/*
    data: function () {
        
        var addressObject={
            'EmailID':''
        };
        var mailerror=false;

      return {
        addressObject:addressObject,
        mailerror:mailerror
          
      }

    },
     ready: function () {

        var self = this 
       //  console.log("initiated Ready"); 
        $("#emailnotify").on('change',function(){

                if(self.addressObject.EmailID && self.checkfromEmail()){
                     self.mailerror=true      
                 }
                 else{
                     self.mailerror=false
                 }
        });
      },   
     route: {
        data: function (transition) {
    //       console.log("initiated Route"); 
        }
    },
    
    filters: {
	   	
    },

    methods: {
       SaveAddress: function(){
           var self = this;
           console.log("Main Invoke");
           $('.address-modal-body input[type="text"]').each(function(){
               //console.log(this.name);
               self.addressObject[this.name]=this.value;
           })
    //      debugger; 
           
                 self.addressObject.Type=self.type
           
      //     console.log(self.addressObject);
           self.$dispatch('AddressEventCatch', self.addressObject )
       },
        testmethod: function(){
      //      console.log("dismiss");
        },
        checkfromEmail : function(){
             var self = this;
             var email=this.addressObject.EmailID;
          // console.log(email);
            var posOfAt = email.indexOf("@");
            console.log(posOfAt);
            var posOfDot = email.lastIndexOf(".");
            console.log(posOfDot)
            if (posOfAt<1 || posOfDot<posOfAt+2 || posOfAt+2>=email.length || posOfDot>=email.length-1) {
                document.getElementById("emailnotify").focus();
               return true;
            }else{
                return false;
            }

		}
        
    },
        
     computed: {
     
    },    
*/
    /* This event invokes getATP and getItemDetails APIs to populate supply distribtion for a
      a selected Supply Type on the Pie chart. Both Over all and node lavel*/    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
// Chart re-vamp code start
    watch: {
      'model' : 'testmethod'
     }
   // Chart re-vamp code end

    }

    </script>

