<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying supply and demand distribution of inventory information
        in Pie chart format for both overall and node level.
        This is a sub component inventory details.
     ***************************************************************************-->
<template>

  <div>
     <div id="chart" class="noselect">
	   <div v-show="dataavail"><span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></div>  
	  <canvas id="{{idchart}}" v-on:click="chartClick($event)" class="pie" height="150"></canvas>	
    <div class="noselect" id="chartjs-legend"></div>
	 </div>  

   </div>   
</template>
<script type="text/javascript">

var Vue = require('vue')
var Utils = require('./../utils/utils.js')
var GridUtils = require('./../utils/gridutils.js')
import Chart from 'chart.js'

export default {

 ready: function ready () {
   
    var self = this; 
    self.chart = new Chart(document.getElementById(self.idchart));
    if(self.data)
      self.drawChart();
   }, 

 props: {
         
     data: { type: Object },
     idchart: { type: String, required: true },
     charttitle: { type: String},  
     nodesupplysearchmodel: { type: Object },
     chartclickable: { type: Boolean }
    
   },

 data: function () {
    var dataavail = false;
    var options = {
           is3D: true,
        };	

        var eventHandler
        var chart
        
    return {
          dataavail:dataavail,
          eventHandler:eventHandler,
          options:options,
        }
   },

  methods: {
    
   goBack: function () {
      window.history.go(-1)
    },

 /*This method draws the Pie chart with spply and demand list published by inventory details component*/
   drawChart: function() { 
      
    var self = this;
    var backgroundColor = [ 
					"#840125", "#7cb5ec", "#90ed7d", "#f7a35c", "#8085e9", "#f15c80", "#ffbf00",
                    "#87a96b", "#de5d83", "#A9A9A9", "#B8860B", "#2F4F4F", "#800080", "#00FF7F",
                    "#A0522D", "#008B8B", "#0000FF", "#FF7F50", "#DEB887", "#FF4500", "#FFFF00"    
                ]
    var entryList = []
    var oDatalabels = self.data.labels;
    var oDatasets = self.data.dataset;
    for (var chartqty in oDatasets )
         entryList.push( oDatasets[chartqty].ChartEntity)
     
    var chartid=self.idchart
    if((oDatalabels != "" && oDatasets != "")){

        self.dataavail = false	
        self.chart.destroy()
        self.chart=new Chart(document.getElementById(self.idchart), {
           type: self.data.type,
           data: {
               labels: oDatalabels,
               datasets: [{
                       label: self.data.typelabel,
                       data: entryList,
                       backgroundColor:backgroundColor            
                        }] 
            },         
           options: {
                       responsive: true,
                      maintainAspectRatio: true,
                 title: {
                      display: false,
                      position: 'top',

                     text: self.charttitle    
                  },
                   animation: {
                   animateRotate: true,
                  animateScale: true
                  },
                 legend: {
                      display: true,
                      position:  'bottom',
                      fullWidth: false,
            	      onClick : function(event,legendItem) {
                              legendItem.hidden = !legendItem.hidden   
                              var index = legendItem.index;
                              var chart = self.chart;
                              chart.legend.legendItems[index].hidden = !legendItem.hidden
                              var i, ilen, meta;
                              for (i = 0, ilen = (chart.data.datasets || []).length; i < ilen; ++i) {
                                meta = chart.getDatasetMeta(i);
                                // toggle visibility of index if exists
                                if (meta.data[index]) {
                                   meta.data[index].hidden = !meta.data[index].hidden;
                                   chart.legend.legendItems[index].hidden = !chart.legend.legendItems[index].hidden       
                                 }
                                }
                               chart.legend.update();
                               chart.update();
                        }, 
                      labels: {                
                             generateLabels: function(chart) {
                                  var dataArr = chart.data.datasets[0].data
                                  var labelArr = chart.data.labels
                                  var bgColorArr = chart.data.datasets[0].backgroundColor
                                  var legendItemArr = []
                                  var len = dataArr.length
                                  for(var i=0;i < len;i++) {
                                     var legendItem = {}
                                     legendItem.text= labelArr[i]+' : '+dataArr[i]
                                     legendItem.fillStyle = bgColorArr[i]
                                     if(chart.legend.legendItems) {
                                        legendItem.hidden = chart.legend.legendItems[i].hidden    
                                     }else {
                                        legendItem.hidden = false
                                     } 
                                     legendItem.index = i
                                     legendItemArr.push(legendItem)  
                                  }
                                  return legendItemArr;
                                }
                          }
                    }
            }         
        });
      } else{

        self.chart.destroy()
        self.dataavail = true
      }
  },
  
 chartClick : function(event) {
     
     var self = this;
     var oDatalabels = self.data.labels;
     var oDatasets = self.data.dataset;
     if (self.chartclickable){
		var activePoints = self.chart.getElementsAtEvent(event);
		var firstPoint = activePoints[0];
		if(firstPoint != undefined)
          {
             var objResponse = {}
             objResponse.label = oDatalabels[firstPoint._index];
             objResponse.data = oDatasets[firstPoint._index];
             if(self.nodesupplysearchmodel != undefined) 
               objResponse.shipnode = self.nodesupplysearchmodel.ShipNode;
             objResponse.idchart = self.idchart;
             self.$dispatch('chartSegmentClickEvent', objResponse )
	      }
       }
    }

  },
    
  watch: {
    'options': 'drawChart',
    'data': 'drawChart'
  } 
}

</script>
