<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying the pagination details across all screens.
     ***************************************************************************-->
<template>

<div>
                 <div class="col-sm-6">
                  <div class="">Show<select v-model="gmeta.pagination.itemsPerPage" class="select-style form-control pagenation width-100" number>
                                         
                                          <option selected value="10">10</option>
                                          <option value="20">20</option>
                                          <option value="30">30</option>
                                        </select>
                                        Rows                </div>
                </div>

		<div v-show="gmeta['pagination']['resultCount'] > gmeta['pagination']['itemsPerPage']" class="col-sm-6 text-right">
			<div>
		       <ul class="paging_bootstrap pagination">
		           <li class="prev" v-bind:class="(gmeta.pagination.currentPage === 0) ? 'disabled' : ''">
		           	<a href="javascript:void(0)" v-on:click="setPage(gmeta.pagination.currentPage - 1)" >← Prev</a>
		           </li>
		          
		           <li v-bind:class="(gmeta.pagination.minimumPageDisplayed === gmeta.pagination.currentPage) ? 'active' : ''">
		               <a href="javascript:void(0)" v-on:click="setPage(gmeta.pagination.minimumPageDisplayed)">{{ gmeta.pagination.minimumPageDisplayed + 1}}</a>
		           </li>
		          
		           <li v-show="(gmeta.pagination.minimumPageDisplayed + 1 < totalPages)" v-bind:class="(gmeta.pagination.minimumPageDisplayed + 1 === gmeta.pagination.currentPage) ? 'active' : ''">
		               <a href="javascript:void(0)" v-on:click="setPage(gmeta.pagination.minimumPageDisplayed + 1)">{{ gmeta.pagination.minimumPageDisplayed + 2}}</a>
		           </li>
		          
		           <li v-show="(gmeta.pagination.minimumPageDisplayed + 2 < totalPages)" v-bind:class="(gmeta.pagination.minimumPageDisplayed + 2  === gmeta.pagination.currentPage) ? 'active' : ''">
		               <a href="javascript:void(0)" v-on:click="setPage(gmeta.pagination.minimumPageDisplayed + 2)">{{ gmeta.pagination.minimumPageDisplayed + 3}}</a>
		           </li>
		          
		           <li v-show="(gmeta.pagination.minimumPageDisplayed + 3 < totalPages)" v-bind:class="(gmeta.pagination.minimumPageDisplayed + 3  === gmeta.pagination.currentPage) ? 'active' : ''">
		               <a href="javascript:void(0)" v-on:click="setPage(gmeta.pagination.minimumPageDisplayed + 3)">{{ gmeta.pagination.minimumPageDisplayed + 4}}</a>
		           </li>

		           <li v-show="(gmeta.pagination.minimumPageDisplayed + 4 < totalPages)" v-bind:class="(gmeta.pagination.minimumPageDisplayed + 4  === gmeta.pagination.currentPage) ? 'active' : ''">
		               <a href="javascript:void(0)" v-on:click="setPage(gmeta.pagination.minimumPageDisplayed + 4)">{{ gmeta.pagination.minimumPageDisplayed + 5}}</a>
		           </li>
                   
                   <li v-show="(totalPages > gmeta.pagination.PaginationCount)" class="pagination__ellipsis"><i class="glyphicon glyphicon-option-horizontal"></i></li>
                   
                   <li v-show="(totalPages > gmeta.pagination.PaginationCount)">
		               <a href="javascript:void(0)" v-on:click="setPage(totalPages - 1)">{{ totalPages }}</a>
		           </li>

		           <li class="next" v-bind:class="((gmeta.pagination.currentPage + 1) >= totalPages) ? 'disabled' : ''">
		               <a href="javascript:void(0)" v-on:click="setPage(gmeta.pagination.currentPage + 1)">Next → </a>
		           </li>
		       </ul>
			</div>
		</div>	
</div>
	
</template>

<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
	var GridUtils = require('./../utils/gridutils.js')
	export default {
		props: {
			gmeta: Object,
			totalPages: Number
		},
		data: function () {
			return {
			}
		},
		methods: {
			setPage: function(pageNumber) {
				this.$dispatch('setpage', pageNumber)
			}
		}
	}
</script>
