<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a detail component for displaying inventory information.
        This component provides basic item details, associated item information and supply/demand distribution in Pie chart format.
        Also provides supply an demand distribution at each ship node
        This is a child component which was derived from parent inventory list component.

     ***************************************************************************-->
<template>
   <div>
       
           <div id="header"></div>
       <div class="spinner-loading" v-if="$loadingRouteData" >
    <div class="loader"></div>
    </div>
        <div class="container-fluid CustomHgt">
      <div class="row ">
         <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
			
        <div class="col-md-8">
          <div class="alert alert-danger alert-dismissible hidden" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close" title="Close"><span aria-hidden="true">&times;</span></button>
              <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
        </div>
      </div>
             </div>
   <div class="container-fluid" >
    <div class="block"  v-if="apierror" >
          <div class="alert alert-danger" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="apierror=!apierror"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
       </div>   
       
       
         <div class="block  clearfix"> 
      <h5 class="pull-left">Inventory Details</h5>
      <div class="pull-right" >
        
  <span v-if="hasPermission('GPSTPINVSER0001A01')"> 
                    <button data-target="#invserialpage" role="button" class="btn btn-default SecondaryBtn" data-backdrop="static" data-toggle="modal" title="View Item Serials" v-on:click="getSerialList()" :disabled="getsubmitstat()">View Item Serials<span v-if="noOfSerials >0" class="badge btnbadge">{{noOfSerials ? noOfSerials :0}}</span></button> 
              
                        
          </span>
       </div>
    </div>
       <div class="row">
           <div class="col-md-6">
       <div class="">
    <div class="panel panel-default">
      <div class="panel-heading">Header Details</div>
      <div class="panel-body">
  <div class="row">
          <div class="col-md-6">
         <div class="form-group clearfix m-t-10">
                          <label for="" class="col-sm-4 control-label">Material Number</label>
                          <div class="col-sm-8">
                            <span class="form-inline-left">{{itemdet.ItemID}}</span>
                          </div>
                        </div>
        <div class="form-group clearfix m-t-10">
                          <label for="" class="col-sm-4 control-label">UOM</label>
                          <div class="col-sm-8">
                            <span class="form-inline-left">{{itemdet.UnitOfMeasure}}</span>
                          </div>
                        </div>      
     
      </div>
      <div class="col-md-6">
       <div class="form-group clearfix m-t-10">
                <label for="" class="col-sm-4 control-label">Description</label>    
                          <div class="col-sm-8">
                          <span class="form-inline-left descriptionCls"  v-bind:class="{ active: isActive }" v-on:click= "toggleHeight()" > <i class="fa fa-play" v-if="itemdet.ShortDescription 
                              && itemdet.ShortDescription.length >= 30"></i>{{itemdet.ShortDescription}} </span> 
                        </div>
           
           
           
                        </div>
             
            <div class="form-group clearfix m-t-10">
                          <label for="" class="col-sm-4 control-label">Availability</label>
                          <div class="col-sm-8">
                            <span class="form-inline-left">{{itemdet.AvailableToSell}}</span>
                          </div>
                        </div>
       
      </div>
      
      <div class="col-md-6">
       <div class="form-group clearfix m-t-10">
                          <label for="" class="col-sm-4 control-label">Material Group</label>
                          <div class="col-sm-8">
                            <span class="form-inline-left">{{item.productline}}</span>
                          </div>
                        </div>
    </div>
          
          </div>
        </div>
       </div>
           </div>
                   
        <div class="" v-show="true">
    <div class="panel panel-default">
      <div class="panel-heading">Detailed product Information</div>
      <div class="panel-body">
     <div class="list-group productInfo">
      
                   <div class="media col-md-3 row">
                    <figure class="pull-left">
                        <img class="img-rounded img-responsive CusImgClass" src="/hubble-sp/images/notavailable.jpg">
                    </figure>
                </div>
                <div class="col-md-9">
                    <h4 class="list-group-item-heading">Item Description</h4>
                    <p class="list-group-item-text"> {{itemdet.ShortDescription}}</p>
                </div>
         
         
        </div>
        </div>
     
         
          </div>
           </div> 
       
               
               
                 <div class="">
            <div class="panel panel-default">
      <div class="panel-heading">Alternate Items</div>
      <div class="panel-body">
    <div class="table-responsive">
     
    <table id="" class="table table-striped table-hover dataTable f-12 m-t-10" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
  
        <thead>
          <tr role="row">
            <th class="" style="width: 10px;"></th>
            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.ItemID')" :class="{active: gmeta.sort.key == 'Item.ItemID'}" >Material Number     
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>   
            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.UnitOfMeasure')" :class="{active: gmeta.sort.key == 'Item.UnitOfMeasure'}" >UOM     
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th> 
              
              <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.PrimaryInformation.ProductLine')" :class="{active: gmeta.sort.key == 'Item.PrimaryInformation.ProductLine'}" >Material Group    
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.PrimaryInformation.ProductLine'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>
              
             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.PrimaryInformation.ShortDescription')" :class="{active: gmeta.sort.key == 'Item.PrimaryInformation.ShortDescription'}" >Description     
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.PrimaryInformation.ShortDescription'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>              
            
         
        </thead>
        <tbody>
            
             <tr>
                 <td class="center-filter">
                    <div class="glyphicon glyphicon-filter"></div>
                </td>                                                       
                <td> <input type=text class="form-control" v-model="gmeta.filter.Item.ItemID" title="Enter Material Number"> </td>
                <td> <input type=text class="form-control" v-model="gmeta.filter.Item.UnitOfMeasure" 
                            title="Enter Unit Of Measure"> </td>
                <td> <input type=text class="form-control" v-model="gmeta.filter.Item.PrimaryInformation.ProductLine" 
                            title="Enter Material Group"> </td>
                <td> <input type=text class="form-control" v-model="gmeta.filter.Item.PrimaryInformation.ShortDescription"
                            title="Enter Item Description"> </td>
                        
             </tr>
             
            
            <tr v-for="row in ItemDetList | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric 
                                          | gridfilter gmeta.filter columns" role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" >
                <td></td>
				<!-- Hyperlink has been disabled for Alternate Items for navigating to Details page. This can be enabled in case hyperlinks are required to show in future -->
                <!-- <td> <a v-link="{ name: 'invdtl',query:{itemid: row['Item']['ItemID'], uom: row['Item']['UnitOfMeasure'], orgcode: orgscode,prodline:row['Item']['PrimaryInformation']['ProductLine'] }, replace: true}">{{getValue(row, "Item.ItemID")}}</a> </td> -->
		<td>{{getValue(row, "Item.ItemID")}}</td>
                <td>{{getValue(row, "Item.UnitOfMeasure")}}</td>
                <td>{{getValue(row, "Item.PrimaryInformation.ProductLine")}} </td>
                          
                <td>{{getValue(row, "Item.PrimaryInformation.ShortDescription")}}</td>
            </tr>  
            <tr v-show="altitems">
                <td colspan="5" >                     <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
            </tr>
             
 
        </tbody>
       </table>
    </div>
        </div>
       </div>
               </div>
    </div>
           <div class="col-md-6">
       
               <div class="">
    <div class="panel panel-default">
      <div class="panel-heading">
      <div class="pull-left">Availability</div>
      
          <div class="pull-right">
          <button class="btn btn-default filter-panel-btn" title="Advance search"  @click="showSearch=!showSearch">
                                        <div class="">Filter <i class="fa fa-angle-down" style="font-weight:bold;" aria-hidden="true"></i>

                                        </div>
                                    </button>
          </div>

          
        </div>
           
        <div class="clearfix"></div>
      <div class="panel-body">

        <div class="well wellz" v-if="showSearch">
<form class="form-inline form-inliney" v-on:submit.stop.prevent="fetchNodeSupplyDtl()">
  <div class="form-group col-md-6 clearfix">
    <label for="EndDate1" class="col-md-12 row">End Date</label> 
            <input type="text" class="select-style form-control col-md-12" placeholder="End Date" v-datepicker="nodesupplysearchmodel.EndDate" usage="filter"  title="End Date" id="enddate" fieldname="enddate" allowpastdate="N" >
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span> 
      <div class="clearfix"></div>
                                       <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p> 
  </div>
    <div class="form-group col-md-6 clearfix ">
    <label for="exampleInputName3"  class="col-md-12 row">Node Groups</label>
<select id="selnodetyp" class="select-style form-control col-md-12" data-live-search="true" v-model="nodesupplysearchmodel.DistributionRuleId" 
        title="Select Node Group" >
    
  <!--  <optgroup label="ALL"> -->
    <option value="ALL">ALL</option> 
 <!--   </optgroup> -->
    
    <optgroup label="Ship Node Groups">
    <option v-bind:value="nodeTyp.DistributionRuleId" v-for="nodeTyp in nodeTypList | nodetypefilter '_NT' ">{{nodeTyp.Description}}</option> 
    </optgroup>
    
    <optgroup label="Region Based Groups">
    <option v-bind:value="nodeTyp.DistributionRuleId" v-for="nodeTyp in nodeTypList | nodetypefilter '_RG'" >{{nodeTyp.Description}}</option>
    </optgroup>
    
    <optgroup label="Others Groups">
        <option v-bind:value="nodeTyp.DistributionRuleId" v-for="nodeTyp in nodeTypList | nodetypefilter 'Others'">{{nodeTyp.Description}}</option> 
    </optgroup>  
</select>
  </div>
    <div class="form-group col-xs-10 clearfix">
    <label for="exampleInputName2" class="col-md-12 row">Node</label>
   <select class="select-style form-control col-md-12" data-live-search="true" v-model="nodesupplysearchmodel.ShipNode" title="Select ShipNode">
  <option  value="">ALL</option>
  <option v-bind:value="node.ShipnodeKey" v-for="node in nodeList | nodefilter nodesupplysearchmodel.DistributionRuleId">{{ node.ShipnodeKey + ' - ' + node.Description}}</option> 
</select>
  </div> 
  <div class="form-group col-xs-2 clearfix  ">
  <label  class="col-md-12 row">&nbsp;</label>
   <button class="btn btn-default btn-block SecondaryBtn Gobtn" title="GO">Search</button>
  </div>
<div class="clearfix"></div>
</form>

                                </div>
<div class="clearfix"></div>
  <div class="overlayContainer">
  <div class="spinner-loading" v-if="showmask">
    <div class="loader"></div>
    </div>
     <div id="container1" v-else>
         <h4 class="list-group-item-heading">&nbsp;&nbsp;Supply Info : <span>{{totsupply}}</span></h4>            
         <p class="col-md-12">Supply Type-Quantity Distribution</p>
         <chartdata :data="chartsupplydata" idchart="supplychart" :charttitle="''" :nodesupplysearchmodel="nodesupplysearchmodel" :chartclickable="true">
         </chartdata> 
         
    </div>		     
    <div id="container2" v-else> 
     <h4 class="list-group-item-heading">&nbsp;&nbsp;Demand Info : <span>{{totdemand}}</h4>  
  <p class="col-md-12">Demand Type-Quantity Distribution</p> 
        <chartdata :data="chartdemanddata" idchart="demandchart" charttitle="''" >
        
        </chartdata>   
      
    </div>
    </div>    
 
        </div>
       </div>                                               
       </div>
    </div>
    </div>
      <!-- </div> -->
       
       <div>
           <input  value={{$route.query.itemid}}  type="hidden" v-model="item.ItemID"> </input>
           <input  value={{$route.query.prodline}}  type="hidden" v-model="item.productline"> </input>
           <input  value={{$route.query.itemid}}  type="hidden" v-model="itemSupplySearchModel.ItemID"> </input> 
           <input  value={{$route.query.itemid}}  type="hidden" v-model="getAtpSearchModel.ItemID"> </input>
           <input  value={{$route.query.uom}}  type="hidden" v-model="getAtpSearchModel.UnitOfMeasure"> </input>
           <input  value={{$route.query.orgcode}}  type="hidden" v-model="getAtpSearchModel.OrganizationCode"> </input> 
        </div> 
       
     <!-- Supply Detail Template for Chart On click start -->
<a style="display:none" data-target="#supplydtl" id="triggerdialouge" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal" title="Display Supply Inventory" data-backdrop="static" >
    </a>   

    <div v-show="showsupplydtl">
      <div class="modal fade " id="supplydtl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg " role="document">
          <div class="modal-content">
            <div class="modal-content">
              <supplydetail :showsupplydtl="showsupplydtl" :chartsegdata="oChartSegmentData" :nodelist="nodeList"  
                            v-on:cancel="showsupplydtl=!showsupplydtl" >
              </supplydetail> 
            </div>

          </div>
        </div>
      </div> 

      <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

          </div>
        </div>
      </div>

    </div> 

<!-- Supply Detail Template for Chart On click end -->
<div>

 <div class="modal fade" id="invserialpage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component is="invassetdetails" :itmseriallist="serialList" :itemobj="itemdet"></component>
         </div>
       </div>
    </div>

    </div>

	</div>


   
</template>

<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Inventory List')
    var InvAssetDetails = require('./InvAssetDetails.vue') 
    
  	export default {        
    
     ready: function () {

        var self = this 
        $("#selnodetyp").on('change',function(){           
            self.nodesupplysearchmodel.ShipNode= '' 
         });
     },
     props: {
	     data: Array,
	 },
	 data: function () {      
           
           var itemdet={}
           
           // Chart revamp Code start
           var oChartSegmentData = new Object();
           var showsupplydtl = false;
           var showmask= false
           // Chart revamp Code end           
           var totsupply= 0
           var totdemand= 0
           var showSearch =false;

           var InventoryDet={};
           var item={}; 
           var orgscode;
           var altitems=false;
           var inventory={};
           var ItemDetList={};
           
           var nodeTypList = []
           var DemandList=[];
           var SupplyList=[]; 
           var SupTypList=[]
           var nodeList=[];
	   var noOfSerials = 0;	
           var invItemKey= '';
       
           var nodesuplist=[];
           var nodeitmdtl={};
           var serialList= []
           var teamDetailsInput = {
               'TeamId':''
           }
           
            var teamDetailsOutput = {}   
       
           var getAtpSearchModel={
               'ItemID':'',
               'UnitOfMeasure':'',
               'OrganizationCode':'',
               'DistributionRuleId':'ALL',
                'EndDate': ''
           }     
                 
           var itemSupplySearchModel={
               'ItemID':'',
               'SupplyType':''
           }
           
           var nodesupplysearchmodel={
               'ItemID':'',
               'ShipNode':'',
               'UnitOfMeasure':'',
               'OrganizationCode':'',
               'DistributionRuleId':'ALL',
                EndDate:''
            
           }
           
            var errorcode
            var errordesc
            var apierror=false
           
            var columns =['Item.ItemID','Item.UnitOfMeasure','Item.PrimaryInformation.ProductLine','Item.PrimaryInformation.ShortDescription']
            var gmeta = {}
            GridUtils.populateGridMeta(gmeta, columns, false) 
                      
         return {
            itemdet:itemdet,
            showmask:showmask,
            totsupply:totsupply,
            totdemand:totdemand, 
            InventoryDet:InventoryDet,
            item:item,
            showSearch:showSearch,
            orgscode:orgscode,
            ItemDetList:ItemDetList,
            inventory:inventory,
            nodeList:nodeList,
            altitems:altitems, 
            nodeTypList:nodeTypList,
            DemandList:DemandList,
            SupplyList:SupplyList,
            SupTypList:SupTypList,
            nodesuplist:nodesuplist,
	    serialList:serialList,	
	    noOfSerials:noOfSerials, 	
            invItemKey:invItemKey, 
            itemSupplySearchModel:itemSupplySearchModel,
            nodesupplysearchmodel:nodesupplysearchmodel,
            getAtpSearchModel:getAtpSearchModel,
            errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror, 
            nodeitmdtl:nodeitmdtl,
            columns: columns,
	        gmeta: gmeta,
            isActive: false,
            oChartSegmentData:oChartSegmentData,
            showsupplydtl:showsupplydtl,
             teamDetailsInput:teamDetailsInput
          
	       }
      },        
      components: {           
           'invassetdetails': InvAssetDetails            
       },        
      computed: {
       /* This section populates the data array for Supply Pie chart 
        */
		
		chartsupplydata: function()
		{
		var type = 'pie'
	
			var labels = []
			var data = []
			var SupList = this.SupplyList
			var i=0
			for (var supply in SupList) {
             if(SupList[i].Quantity != 0){
			     labels.push(SupList[i].Description)
                 var supdtl = {Qty:"",OrgCode:"", EndDate:"", DistributionRuleId:"" }
            
	             supdtl.ChartEntity=SupList[i].Quantity //changes for chart revamp
                 supdtl.OrgCode=SupList[i].OrganizationCode
                 supdtl.EndDate=this.getAtpSearchModel.EndDate
                 supdtl.DistributionRuleId=this.getAtpSearchModel.DistributionRuleId
                 data.push(supdtl)
			 }
			 i=i+1
			}
            var datasets=[{label: "Supply Info", data: data}]	
		    var chartdata = {labels, datasets }
            this.SupplyList=[]
            SupList=[]
            data=[]
            //changes for chart revamp
            return{
		       type:type,
               typelabel: "Supply Info",
		       dataset:datasets[0].data,
               labels: labels
		     }		
		},
        
        /*This section populates the data array for Demand Pie chart 
         */
		
		chartdemanddata: function (){
		var type = 'pie'
		
	

			var labels = []
			var data = []
			var DemandList = this.DemandList
			var i=0
			for (var supply in DemandList) {
			     if(DemandList[i].Quantity != 0){
			         labels.push(DemandList[i].Description)
                     var dmddtl = {Qty:"",OrgCode:""}
                     dmddtl.ChartEntity=DemandList[i].Quantity //changes for chart revamp
                     dmddtl.OrgCode=DemandList[i].OrganizationCode
                     data.push(dmddtl)             
                  }
			         i=i+1
			}
		
		      var datasets=[{label: "Demand Info", data: data}]
		
		      var data = {labels, datasets }
               //changes for chart revamp
		      return{
		          type:type,
                  typelabel: "Demand Info",
		          dataset:datasets[0].data,
                  labels: labels
		      }
		
        }
        
    },
  
	route: {
     /*This section enables reuse of inventorydetail component required for item association */    
      canReuse: function (transition) {
             
            if(transition.from.name === 'invdtl'){
              return false;
            }
            else{
                return true;
            }
        }, 
  
		data: function (transition) {
		      
               var self = this   
	           self.getAtpSearchModel.EndDate=self.getCurrentDate();
               self.nodesupplysearchmodel.EndDate=self.getCurrentDate();
               //self.teamDetailsInput.TeamId = window.AppInfo.teamId;
              
               var nodeListLoad = function (nodeListResult){       
                  self.nodeList= nodeListResult.ItemShipNode
                  /* var teamArr = []
                   if(teamListResult) {
                       teamArr = teamListResult.Team;
                       var teamObj = teamArr[0]
                       if(teamObj && teamObj.ShipNodeAccessMode === "02") {
                           self.nodeList = []
                           var nodeObj = {}
                           nodeObj.ShipnodeKey = window.AppInfo.orgcode
                           self.nodeList.push(nodeObj);
                       } else {
                           self.nodeList = teamObj.TeamNodesList.TeamNodes
                       }
                   }*/
                   
               }
                 var loadItemAssoc = function (itemAssocResult){       
                                     
                   self.ItemDetList= itemAssocResult.Association
                   if(!self.ItemDetList)
                    {
                       self.altitems=true;       
                    }
               }   
                 
             var success = function (invResult){       
                   
                    var list1 = invResult.Item.InventoryTotals.Supplies.Supply
                     
                    self.itemdet= invResult.Item
                    self.totsupply=invResult.Item.InventoryTotals.Supplies.TotalSupply
                    self.totdemand=invResult.Item.InventoryTotals.Demands.TotalDemand
                    
                    if(!list1) {
                            list1 = []
                    }
                        if(!(list1.constructor === Array)) {
                            list1 = []
                            list1.push(invResult.Item.InventoryTotals.Supplies.Supply)
                        }
                                
                        self.SupplyList=list1
                        self.SupTypList= JSON.parse(JSON.stringify(list1))
                                            
                        var list2 = invResult.Item.InventoryTotals.Demands.Demand
                            if(!list2) {
                            list2 = []
                        }
                        if(!(list2.constructor === Array)) {
                            list2 = []
                            list2.push(invResult.Item.InventoryTotals.Demands.Demand)
                        }
                   
                        self.DemandList=list2                                
                        self.orgscode=invResult.Item.InventoryOrganization;                    
                   
               } 
              var distListSuccess = function (distListResult){
                  self.nodeTypList = distListResult.DistributionRule;                  
              }             
                    //Utils.executeDataServicePromise("getTeamList", nodeListLoad, self.teamDetailsInput),
              var serialListSuccess = function (serialListResult){
                   
                  self.invItemKey= serialListResult.InventoryItemKey
                  self.noOfSerials = serialListResult.SerialCount 
            
              }
					
               return Promise.all([
                    Utils.executeDataServicePromise("getItemNodeList", nodeListLoad, null),       
                    Utils.executeDataServicePromise("itemAssociation", loadItemAssoc, self.getAtpSearchModel),
                    Utils.executeDataServicePromise("inventoryDetails", success, self.getAtpSearchModel),
                    Utils.executeDataServicePromise("getDistributionGroupList", distListSuccess, null),
                    Utils.executeDataServicePromise("GpsItemSerialList",serialListSuccess,self.getAtpSearchModel)
                ])
		  } 
    },	

  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      getCurrentDate: function ()
      {
          var date = new Date();
          return (date.getFullYear()+'-'+('0' + (date.getMonth()+1)).slice(-2)
                            +'-'+('0' + (date.getDate())).slice(-2));            
      },      
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
	  getAPIErrorMessage: function() {
		return Utils.getAPIErrorMessage();
	  },
      toggleHeight: function() {
        this.isActive = !this.isActive;

      },
      getsubmitstat: function(){
          
          if(this.noOfSerials === 0 || this.noOfSerials === '0' || this.noOfSerials === undefined){
            return true;                
          }
          else{              
            return false; 
          }
          
      },
      hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
      },
      getMessage: function(errorMessageId) {
                return Utils.getErrorMessage(errorMessageId)      
      },
      getSerialList: function(){          
          
          var obj={'InventoryItemKey':'', 'AtNode':'Y'}
          obj.InventoryItemKey=this.invItemKey
          var self= this
          var serSucccess= function(result){
              self.serialList=result.SerialNumber 
              self.serialList.forEach(function(serial){
                    var supplyType = serial.InventoryStatus;
                    var supplyTypeDesc = supplyType
                   for(var index in self.SupTypList){
                       if(self.SupTypList[index].SupplyType === supplyType ){
                           supplyTypeDesc = self.SupTypList[index].Description
                           //serial.SupplyTypeDescription=supplyTypeDesc
                           Vue.set(serial,"SupplyTypeDescription",supplyTypeDesc)
                           break;
                       }                   
                   }

              })
              
              
          }
          Utils.executeDataService("GpsSerialList", serSucccess, obj)
           
      },
      /*This method below gets invoked when user selects  a particular node to view node level
        supply and demand distribution in Pie chart format*/
      
      fetchNodeSupplyDtl: function(){
        var invalidDates = $(".invalid").length  
        if(invalidDates === 0){
             
        this.nodesupplysearchmodel.ItemID=this.item.ItemID
        this.nodesupplysearchmodel.UnitOfMeasure=this.getAtpSearchModel.UnitOfMeasure
        this.nodesupplysearchmodel.OrganizationCode=this.getAtpSearchModel.OrganizationCode 
        this.getAtpSearchModel.EndDate=this.nodesupplysearchmodel.EndDate
                        this.getAtpSearchModel.DistributionRuleId=this.nodesupplysearchmodel.DistributionRuleId
      
        var self=this
        var success=function(invResult){
            
             var list1 = invResult.Item.InventoryTotals.Supplies.Supply
                     
                    self.totsupply=invResult.Item.InventoryTotals.Supplies.TotalSupply
                    self.totdemand=invResult.Item.InventoryTotals.Demands.TotalDemand
                    
                    if(!list1) {
                            list1 = []
                    }
                        if(!(list1.constructor === Array)) {
                            list1 = []
                            list1.push(invResult.Item.InventoryTotals.Supplies.Supply)
                        }
                                
                        self.SupplyList=list1
                       
                        
                        var list2 = invResult.Item.InventoryTotals.Demands.Demand
                            if(!list2) {
                            list2 = []
                        }
                        if(!(list2.constructor === Array)) {
                            list2 = []
                            list2.push(invResult.Item.InventoryTotals.Demands.Demand)
                        }
                   
                        self.DemandList=list2
                                               
                        self.orgscode=invResult.Item.InventoryOrganization;
                        self.showmask= false
        }
       var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  self.showmask= false
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
        } 
        self.showmask= true
        Utils.executeDataService("inventoryDetails", success, self.nodesupplysearchmodel, errorHandler);
      }
    }
      
   },
   // Chart re-vamp code start
   events: {
           chartSegmentClickEvent: function(event){
           event.preventDefault;
           
           var i=0   
           for(var supply in this.SupTypList){
               if(this.SupTypList[i].Description === event.label ){
                   event.SupplyType=this.SupTypList[i].SupplyType
               }                   
               i++
           }
           this.oChartSegmentData = event;
           this.showsupplydtl=true;
           $("#triggerdialouge").trigger('click') ;
       }
       
   },
   // Chart re-vamp code end
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
    
</script>




