<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details
     ***************************************************************************-->
<template>
<div>
<div id="header"></div>
       <div class="spinner-loading" v-if="$loadingRouteData" >
    <div class="loader"></div>
    </div>       
    <div class="container-fluid CustomHgt">
        <div class="row ">
            <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
           
        </div>
    </div>
    <div class="container-fluid" cz-shortcut-listen="true">
        <br>
        
      <div class="block"  v-if="OrderDet.HoldFlag === 'Y'">
          <div class="alert alert-info" role="alert">
                 <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <strong> <i class="glyphicon glyphicon-lock"></i> On Hold:</strong> This order is on hold. 
              <a href="" data-toggle="modal" data-target="#resolveHolds" 
                    title="Order Hold Details" v-on:click="resolveHoldsOnOrder" >Click here to resolve</a> 
        </div>
       </div>
         <div class="block"   v-if="OrderDet.isHistory === 'Y'" >
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> <i class="glyphicon glyphicon-lock"></i> This order is archived</strong>  
       </div>
             </div>
        <div class="block  clearfix">
                 <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
            <h5 class="pull-left">Order Details</h5>
                 </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Header Details
                        <div class="pull-right">
                            <button  class="btn btn-default SecondaryBtn RemoveList" v-on:click="removeFromWatchList()" v-show="isWatched" title="Remove from watchlist">Remove From Watchlist</button>
                         <button  class="btn btn-default SecondaryBtn AddList" v-on:click="addToWatchList()" v-show="!isWatched" title="Add to watchlist">Add to Watchlist</button>                    </div>
                    </div>
                    <div class="panel-body">
                        <div class="">

                  <!--        <ul class="list-group col-md-9">
                          <div class="row">
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Order Number</label><span class="col-sm-6">{{OrderDet.OrderNo}}</span></li>
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Source ID</label><span class="col-sm-6">{{OrderDet.OrderName}}</span></li>
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Order Value</label><span class="col-sm-6">{{getValue(OrderDet,"PriceInfo.TotalAmount") | numberfilter}} </span></li>
                              <div class="clearfix"></div>
                              </div>
                               <div class="row">
                           <li class="list-group-item col-md-4 "><label class="col-sm-6">Document Type</label><span class="col-sm-6">{{getValue(OrderDet,"DocumentDescription")}}</span></li>
                            <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Stream</label><span class="col-sm-6">{{OrderDet.DepartmentCode}}</span></li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Cost Center</label>
                                 <span class="col-sm-6" v-if="OrderDet.Division">{{OrderDet.Division}}</span>
                                <span class="col-sm-6" v-if="(!(OrderDet.Division) && OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean4 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6" v-if="(!(OrderDet.Division)&& OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean4 ==='N')) ">{{orderLineList[0].Extn.Division}}</span>
                             </li>
                                <div class="clearfix"></div>
                                </div>
                                 <div class="row">
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Vendor</label><span class="col-sm-6">{{OrderDet.VendorName}}</span></li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Source System</label><span class="col-sm-6">{{OrderDet.EntryType}}</span></li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Req Ship Date</label><span class="col-sm-6">{{ checkRequestedDate('ship')}}</span></li>
                                <div class="clearfix"></div>
                                </div>
                                 <div class="row">
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Date</label><span class="col-sm-6">{{formatForDisplay(OrderDet.OrderDate)}} </span></li>
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Consignments</label><span class="col-sm-6" v-if="zeroShipment"> {{shipmentLength}} </span>
                                        <span class="col-sm-6" v-if="!zeroShipment"> <a href="javascript:void(0);" v-on:click="tabActivation()"> {{shipmentLength}} </a></span></li>

                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Req Delivery Date</label><span class="col-sm-6">{{checkRequestedDate('delivery')}} </span></li>

                                <div class="clearfix"></div>
                                </div>
                                 <div class="row">
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Status</label><span class="col-sm-6">{{OrderDet.Status}}</span></li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Type</label><span class="col-sm-6">{{OrderDet.OrderType}}</span></li>
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Project Number</label><span class="col-sm-6">{{OrderDet.SearchCriteria1}}</span></li>
                                <div class="clearfix"></div></div>
                                 <div class="row">
                            <li class="list-group-item col-md-4 "><label class="col-sm-6">Delivery Address Code</label>
                                <span class="col-sm-6" v-if="OrderDet.ShipToID">{{OrderDet.ShipToID}}</span>
                                <span class="col-sm-6" v-if="(!(OrderDet.ShipToID) && OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean3 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6" v-if="(!(OrderDet.ShipToID)&& OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean3 ==='N')) ">{{orderLineList[0].ShipToID}}&nbsp/&nbsp{{orderLineList[0].Extn.CustomerKey}}</span>
                              </li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Priority</label><span class="col-sm-6" v-if="OrderDet.PriorityCode">{{OrderDet.PriorityCode}}</span>
                                <span class="col-sm-6" v-if="(!(OrderDet.PriorityCode) && OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean5 ==='Y')) ">{{getVariousString()}}</span>
                                <span class="col-sm-6" v-if="(!(OrderDet.PriorityCode)&& OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean5 ==='N')) ">{{orderLineList[0].Extn.PriorityCode}}</span></li>
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Contact Details</label>
                                 <span class="col-sm-6" v-if="(OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean6 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6" v-if="(OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean6 ==='N')) ">{{orderLineList[0].Extn.Contact}}</span>
                             </li>
                             <div class="clearfix"></div>
                             </div>
                              <div class="row">
                          <!--   <li class="list-group-item col-md-4 "><label class="col-sm-6">LRA</label>
                                <span class="col-sm-6" v-if="OrderDet.Extn">{{OrderDet.Extn.LRA}}</span>
                              </li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Service</label>
                                  <span class="col-sm-6" v-if="OrderDet.Extn">{{OrderDet.Extn.Service}}</span>
                            </li>-->
                       <!--     <div class="clearfix"></div>
                             </div>
                          </ul>-->
                              <ul class="list-group col-md-9">
                          <div class="row">
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Source ID</label><span class="col-sm-6">{{OrderDet.OrderName}}</span></li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Status</label><span class="col-sm-6">{{OrderDet.Status}}</span></li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Vendor</label><span class="col-sm-6">{{OrderDet.VendorName}}</span></li>
                             <div class="clearfix"></div>
                          </div>
                         <div class="row">
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Sterling Reference No</label><span class="col-sm-6">{{OrderDet.OrderNo}}</span></li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Priority</label>
                                  <span class="col-sm-6" v-if="OrderDet.PriorityCode">{{OrderDet.PriorityCode}}</span>
                                <span class="col-sm-6" v-if="(!(OrderDet.PriorityCode) && OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean5 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6" v-if="(!(OrderDet.PriorityCode)&& OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean5 ==='N')) ">{{orderLineList[0].Extn.PriorityCode}}</span>
                             </li>
                            <li class="list-group-item col-md-4"><label class="col-sm-6">Order Value</label><span class="col-sm-6">{{getValue(OrderDet,"PriceInfo.TotalAmount") | numberfilter}} </span></li>
                            <div class="clearfix"></div>
                         </div>
                        <div class="row">
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Stream</label><span class="col-sm-6">{{OrderDet.DepartmentCode}}</span></li>
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Cost Center</label>
                                 <span class="col-sm-6" v-if="OrderDet.Division">{{OrderDet.Division}}</span>
                                <span class="col-sm-6" v-if="(!(OrderDet.Division) && OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean4 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6" v-if="(!(OrderDet.Division)&& OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean4 ==='N')) ">{{orderLineList[0].Extn.Division}}</span>
                                </li>
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Delivery Address Code</label>
                                <span class="col-sm-6" v-if="OrderDet.ShipToID">{{OrderDet.ShipToID}}</span>
                                <span class="col-sm-6" v-if="(!(OrderDet.ShipToID) && OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean3 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6" v-if="(!(OrderDet.ShipToID)&& OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean3 ==='N')) ">{{orderLineList[0].ShipToID}}&nbsp/&nbsp{{orderLineList[0].Extn.CustomerKey}}</span>
                               </li>
                                <div class="clearfix"></div>
                         </div>
                        <div class="row">
                                      
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Source System</label><span class="col-sm-6">{{OrderDet.EntryType}}</span></li>
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Date</label><span class="col-sm-6">{{formatForDisplay(OrderDet.OrderDate)}} </span></li>
                                <li class="list-group-item col-md-4"><label class="col-sm-6">Contact Details</label>
                                <span class="col-sm-6" v-if="(OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean6 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6" v-if="(OrderDet.CustomAttributes && (OrderDet.CustomAttributes.Boolean6 ==='N')) ">{{orderLineList[0].Extn.Contact}}</span>
                                </li>
                          <div class="clearfix"></div>
                          </div>
                        <div class="row">
                             
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Type</label><span class="col-sm-6">{{OrderDet.OrderType}}</span></li>
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Req Ship Date</label><span class="col-sm-6">{{ checkRequestedDate('ship')}}</span></li>
                                <li class="list-group-item col-md-4"><label class="col-sm-6">Project Number</label><span class="col-sm-6">{{OrderDet.SearchCriteria1}}</span></li>
                         <div class="clearfix"></div>
                         </div>
                        <div class="row">
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Document Type</label><span class="col-sm-6">{{getValue(OrderDet,"DocumentDescription")}}</span></li>
                                <li class="list-group-item col-md-4 "><label class="col-sm-6">Req Delivery Date</label><span class="col-sm-6">{{checkRequestedDate('delivery')}} </span></li>
                                <li class="list-group-item col-md-4"><label class="col-sm-6">Consignments</label><span class="col-sm-6" v-if="zeroShipment"> {{shipmentLength}} </span>
                                        <span class="col-sm-6" v-if="!zeroShipment"> <a href="javascript:void(0);" v-on:click="tabActivation()"> {{shipmentLength}} </a></span></li>
                        <div class="clearfix"></div>
                        </div>
                          </ul>
                    
                            <div class="col-md-3">
                  <div class="AddressContainer">
                     <span v-if="!(OrderDet.CustomAttributes)">
                         
                         <span v-if="personInfoShipToAddress">
                              <addressdetails
                                         :addressdetails= "personInfoShipToAddress"
                                         :addresslabel="getTypeOfAddress()"
                                         >
                                 </addressdetails>
                             </span>
                         <span v-else>
                              <addressdetails
                                         :addressdetails= "personInfoBillToAddress"
                                         :addresslabel="getTypeOfAddress()"
                                         >
                                 </addressdetails>
                             </span>
                    </span>
                     <span v-else>
                              <span v-if="OrderDet.CustomAttributes.Boolean3==='Y'">
                                  <div>
                                          <h6>Ship To Address</h6> 
                                            <div class="AddressInside">
                                               VARIOUS-Address are shown at OrderLine Level
                                            </div>
                                    </div>
                                  </span>
                              <span v-else>
                                  <div>
                                            <addressdetails
                                         :addressdetails= "getFirstShipToAddress()"
                                         :addresslabel="getTypeOfAddress()"
                                         >
                                 </addressdetails>
                                    </div>
                                  </span>
                        </span> 
                    
                  </div>
              </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Other Details</div>
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" id="Tab1" class="active"><a href="#OrderLineItems"  aria-controls="home" role="tab" data-toggle="tab">Order Line Items</a></li>
                    <li role="presentation" id="Tab2"><a href="#ConsignmentTab" aria-controls="profile"  role="tab" data-toggle="tab" :class="(!shipmentList || shipmentList.length == 0) ? 'disableTab' : ''">Consignments</a></li>
                   

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane table-wrapper-big  active" id="OrderLineItems">
                        <div class="table-responsive">
                       
                            <table id="orderlines" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="order lines">
                                <thead>
                                    <tr role="row">
               
                                        <th></th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PrimeLineNo','order',true)" :class="{active: gmeta.sort.key == 'PrimeLineNo'}" style="width: 55px"  v-if="!(OrderDet.EntryType === 'VECTOR')" >L.No  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PrimeLineNo'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Extn.VectorID','order',true)" :class="{active: gmeta.sort.key == 'Extn.VectorID'}" style="width: 80px" v-if="(OrderDet.EntryType === 'VECTOR')" >Vector ID  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Extn.VectorID'] > 0 ? 'sort-up' : 'sort-down'" >
							             </span>
                                         </th>
                                       
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.ItemID','order')" :class="{active: gmeta.sort.key == 'Item.ItemID'}" >Material Number   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.ItemShortDesc','order')" :class="{active: gmeta.sort.key == 'Item.ItemShortDesc'}" style="
    width: 141px;">Material Description 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.ItemShortDesc'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.UnitOfMeasure','order')" :class="{active: gmeta.sort.key == 'Item.UnitOfMeasure'}" >UOM  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th v-if="OrderDet.DocumentType === '0003'" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipNode','order')" :class="{active: gmeta.sort.key == 'ShipNode'}" >Return To Node
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th v-if="OrderDet.DocumentType != '0003'" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipNode','order')" :class="{active: gmeta.sort.key == 'ShipNode'}" >Ship Node
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderedQty','order',true)" :class="{active: gmeta.sort.key == 'OrderedQty'}" >Order Qty   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderedQty'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('CommittedQuantity','order',true)" :class="{active: gmeta.sort.key == 'CommittedQuantity'}" v-if="OrderDet.DocumentType === '0005'" >Committed Qty    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CommittedQuantity'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderLineTranQuantity.ShippedQuantity','order',true)" :class="{active: gmeta.sort.key == 'OrderLineTranQuantity.ShippedQuantity'}" >Shipped Qty
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderLineTranQuantity.ShippedQuantity'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                          <th v-if="!(OrderDet.DocumentType === '0005')" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Extn.PriorityCode','order')" :class="{active: gmeta.sort.key == 'Extn.PriorityCode'}" >Priority Code
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Extn.PriorityCode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status','order')" :class="{active: gmeta.sort.key == 'Status'}" >Status 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PersonInfoShipTo.ZipCode','order',true)" :class="{active: gmeta.sort.key == 'PersonInfoShipTo.ZipCode'}" v-if="ShipColumns" style="
    width: 120px;">Ship To Address
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PersonInfoShipTo.ZipCode'] > 0 ? 'sort-up' : 'sort-down'" >
							             </span>
                                         </th>
                                        <th v-if="OrderDet.DocumentType === '0005'" tabindex="0" aria-controls="example" rowspan="1" colspan="1">Schedules</th>
                                    </tr>
                                </thead>
                                <tbody>
 <tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                            <td v-if="!(OrderDet.EntryType === 'VECTOR')">
                                               <input type="text" class="form-control" v-model="gmeta.filter.PrimeLineNo" title="Enter the Prime Line Number of the Order Line"> 
                                            </td >
                                              <td v-if="(OrderDet.EntryType === 'VECTOR')">
                                                <input type="text" class="form-control" v-model="gmeta.filter.Extn.VectorID" title="Enter the VectorID of the Order Line">
                                            </td >
                                             <td>
                                               
                                                <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemID" title="Enter the Material Number of the Order Line">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemShortDesc" title="Enter the Item Description of the Item in the Order Line">
                                            </td>
                                                <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Item.UnitOfMeasure" title="Enter the UOM of the Item in the Order Line">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.ShipNode" title="Enter the ShipNode from which the Order Line is being shipped">
                                            </td>
                                           <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.OrderedQty"  title="Enter the Quantity Ordered">
                                            </td>
                                             <td v-if="OrderDet.DocumentType === '0005'">
                                                <input type="text" class="form-control" v-model="gmeta.filter.OrderLineTranQuantity.CommittedQuantity" title="Enter the Committed Quantity">
                                            </td>
                                           <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.OrderLineTranQuantity.ShippedQuantity" title="Enter the Shipped Quantity">
                                            </td>
                                              <td v-if="!(OrderDet.DocumentType === '0005')">
                                                <input type="text" class="form-control" v-model="gmeta.filter.Extn.PriorityCode" title="Enter the Priority Code">
                                            </td>
                                          
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Status" title="Enter the Order Line Status">
                                            </td>
                                                     <td>
                                              <input type="text" class="form-control" v-model="gmeta.filter.PersonInfoShipTo.ZipCode" title="Enter the ZipCode" v-if="ShipColumns">
                                             </td>
                                     
                                             <td v-if="OrderDet.DocumentType === '0005'"></td>
                                            
                                        </tr>
                                       <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in orderLineList 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate 'order'" >
                                    
                            <td></td>
                    
                       <td v-if="!(OrderDet.EntryType === 'VECTOR')"><a  href="" data-target="#orderDetailsLink" data-toggle="modal" data-backdrop="static" v-on:click="orderLineDetailsLink(row)"> {{getValue(row, "PrimeLineNo") }} </a>   </td> 
                       <td v-if="(OrderDet.EntryType === 'VECTOR')"><a  href="" data-target="#orderDetailsLink" data-toggle="modal" data-backdrop="static" v-on:click="orderLineDetailsLink(row)"> {{getValue(row, "Extn.VectorID") }} </a>   </td>   
                                         
                        <td> {{getValue(row, "Item.ItemID")}}    </td>


                        <td class="descriptionCls" id="DesRow{{$index}}" v-bind:class="{ active: isActive }" v-on:click= "toggleHeight($index,row)" > <i class="fa fa-play" v-if="row.Item.ItemShortDesc.length > 20"></i>   {{getValue(row, "Item.ItemShortDesc")}}   </td>


                          <td>{{getValue(row, "Item.UnitOfMeasure") }} </td>                   
                       <td> {{getValue(row, "ShipNode")}}     </td>
                        <td  style="text-align:right"> {{getValue(row, "OrderedQty")| quantityfilter}}     </td>
                        <td v-if="OrderDet.DocumentType === '0005'"  style="text-align:right" > {{getValue(row, "CommittedQuantity")| quantityfilter}}     </td>
                        <td style="text-align:right"> {{getValue(row,"OrderLineTranQuantity.ShippedQuantity")| quantityfilter}}</td>
                         <td v-if="!(OrderDet.DocumentType === '0005')"  style="text-align:right" > {{getValue(row, "Extn.PriorityCode")}}     </td>
                        <td> {{getValue(row, "Status")}}     </td>
                
                        <td v-if="ShipColumns"><a href="" data-toggle="modal" data-target="#addressDetails"  title="Address" v-on:click="getShipToAddress(row)"> {{getValue(row, "PersonInfoShipTo.ZipCode")}}</a></td>
                         <td v-if="OrderDet.DocumentType === '0005'">
                                         <button type="button" class="btn btn-default commitment" data-toggle="modal" data-backdrop="static" data-target="#schedule" title="View Commitment Schedules"  v-on:click="getOrderLine(row)" v-bind:disabled="commitmentDisable(row)"><i class="fa fa-list-alt" aria-hidden="true"></i></button>
                          </td>
					</tr>
                                    
                                    
                               </tbody>
                            </table> 

                        <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                            

                        </div>
                    </div>    
                    <div role="tabpanel" class="tab-pane " id="ConsignmentTab">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th></th>
                                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipmentNo','consignment')" :class="{active: consignmentmeta.sort.key == 'ShipmentNo'}" >Shipment Number 
                                                    <span class="fa fa-sort pull-right" :class="consignmentmeta.sort.sortorder['ShipmentNo'] > 0 ? 'sort-up' : 'sort-down'">
                                                    </span>
                                                </th>
                                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status.StatusName','consignment')" :class="{active: consignmentmeta.sort.key == 'Status.StatusName'}" >Status 
                                                    <span class="fa fa-sort pull-right" :class="consignmentmeta.sort.sortorder['Status.StatusName'] > 0 ? 'sort-up' : 'sort-down'">
                                                    </span>
                                                </th>
                                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipNode','consignment')" :class="{active: consignmentmeta.sort.key == 'ShipNode'}" >Ship From
                                                    <span class="fa fa-sort pull-right" :class="consignmentmeta.sort.sortorder['ShipNode'] > 0 ? 'sort-up' : 'sort-down'">
                                                    </span>
                                                </th>
                                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReceivingNode','consignment')" :class="{active: consignmentmeta.sort.key == 'ReceivingNode'}" >Ship To
                                                    <span class="fa fa-sort pull-right" :class="consignmentmeta.sort.sortorder['ReceivingNode'] > 0 ? 'sort-up' : 'sort-down'">
                                                    </span>
                                                </th>
                                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SCAC','consignment')" :class="{active: consignmentmeta.sort.key == 'SCAC'}" >Carrier
                                                    <span class="fa fa-sort pull-right" :class="consignmentmeta.sort.sortorder['SCAC'] > 0 ? 'sort-up' : 'sort-down'">
                                                    </span>
                                                </th>
                                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('TrackingNo','consignment')" :class="{active: consignmentmeta.sort.key == 'TrackingNo'}" >Consignment
                                                    <span class="fa fa-sort pull-right" :class="consignmentmeta.sort.sortorder['TrackingNo'] > 0 ? 'sort-up' : 'sort-down'">
                                                    </span>
                                                </th>
                                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ExpectedShipmentDate','consignment')" :class="{active: consignmentmeta.sort.key == 'ExpectedShipmentDate'}" >Expected Date
                                                    <span class="fa fa-sort pull-right" :class="consignmentmeta.sort.sortorder['ExpectedShipmentDate'] > 0 ? 'sort-up' : 'sort-down'">
                                                    </span>
                                                </th>
                                              <th   v-if="hasPermission('GPSSPSHP0001A01')" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Track</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             <tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                            <td>
                                                <input type="text" class="form-control" v-model="consignmentmeta.filter.ShipmentNo" title="Enter the Sterling Shipment Number">
                                            </td>
                                             
                                             <td>
                                               
                                                <input type="text" class="form-control" v-model="consignmentmeta.filter.Status.StatusName" title="Enter the Shipment Status">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="consignmentmeta.filter.ShipNode" title="Enter the Ship Node of the Shipment">
                                            </td>
                                                <td>
                                                <input type="text" class="form-control" v-model="consignmentmeta.filter.ReceivingNode" title="Enter the Receiving Node of the Shipment">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="consignmentmeta.filter.SCAC" title="Enter the Carrier of the Shipment">
                                            </td>
                                           <td>
                                                <input type="text" class="form-control" v-model="consignmentmeta.filter.TrackingNo" title="Enter the Consignment Number of the Shipment">
                                            </td>

                                            <td>
                                                <input type="text" class="form-control" v-model="consignmentmeta.filter.ExpectedShipmentDate" title="Enter the Expected Date of the Shipment">
                                            </td>
                                            <td  v-if="hasPermission('GPSSPSHP0001A01')">
                                               
                                            </td>
                                            
                                        </tr>

                                            <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                                        v-for=" row in shipmentList 
                                                        | gridsorter consignmentmeta.sort.key consignmentmeta.sort.order consignmentmeta.sort.numeric
                                                        | gridfilter consignmentmeta.filter consignmentColumns
                                                        | paginate 'consignment' " >

                                                <td></td>
                                                
                                                <!--<td><a  data-target="#orderDetailsLink" data-toggle="modal"  v-on:click="orderLineDetailsLink(row)"> {{getValue(row, "ShipmentNo") }} </a>   </td>-->
                                                <td><a v-link="{ path:'/shipmentdetails',query:{key:row['ShipmentKey']}}"> {{getValue(row, "ShipmentNo")}}  </a>   </td>
                                                <td> {{getValue(row, "Status.StatusName")}}    </td>

                                                <td> {{getValue(row, "ShipNode")}}     </td>
                                                <td> {{getValue(row, "ReceivingNode")}}     </td>
                                                  <td>{{getValue(row, "SCAC") }} </td>                   
                                               <td> {{getValue(row, "TrackingNo")}}     </td>
                                                <td> {{getValue(row, "ExpectedShipmentDate")| datefilter}}     </td>
                                                  <td v-show="!isInTransit(row) && hasPermission('GPSSPSHP0001A01')" ><i class="fa fa-truck btn btn-primary disabled disabledCls" role="button" aria-hidden="true" title="Track Shipment"></i></td>
                    <td v-show="isInTransit(row)&& hasPermission('GPSSPSHP0001A01')" ><a v-link="{ path: '/trackconsignment',query:{key:row['ShipmentKey']}}" title="Click on the symbol to track the intransit details of the shipment"><i class="fa fa-truck btn-primary " aria-hidden="true" ></i></a></td>
                                            </tr>
                                            

                                        </tbody>
                                    </table>
                                   <gridpagination 
                                                   :gmeta="consignmentmeta"
                                                   :total-pages="totalConsignmentPages"
                                                   v-on:setpage="setConsignmentPage">
                                    </gridpagination >
                                </div>

                            </div>
                        </div>
                    </div>
                  
                </div>

            </div>
        </div>
        <div class="modal fade" id="AddNotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
      	  
        <!-- Modal content-->
       <div v-show="showOrderLineLink">
            <div class="modal fade" id="orderDetailsLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                          <!-- Modal content--> 
                        <div class="modal-content">
                       <orderlinedetails
                          :orderlinedetails="orderLineDetails"
                          :documenttype=OrderDet.DocumentType 
                          v-on:close="closeLink()"                          
                          >
                        </orderlinedetails>
                        </div>

                    </div>
                </div>
            </div> 
          </div>
     <div >
            <div class="modal fade" id="schedule" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <schedule
                      :orderline="OrderLine"
                      >
                      </schedule>
                    </div>

                </div>
            </div>
          </div>
         <div >
            <div class="modal fade" id="addressDetails" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <noneditableaddress
                      :address="orderLineShipTo"
                      >
                      </noneditableaddress>
                    </div>

                </div>
            </div>
          </div>
    </div>

        <div>
            <input  value="{{$route.query.key}}"  type="hidden" v-model="Order.OrderHeaderKey" />
            <input  value="{{$route.query.orderno}}"  type="hidden" v-model="Order.OrderNo" />
            <input  value="{{$route.query.request}}"  type="hidden" v-model="Order.Request" />
        </div>
        
    </div>
</template> 
<script>
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{
         data: function () {
          
         var OrderDet= {};
         var Order={};     
         var orderLineList=[]
         var shipmentList=[];
         var columns =[ 'Extn.VectorID','PrimeLineNo','Item.UnitOfMeasure','Item.ItemID','Item.ItemShortDesc','ShipNode','OrderedQty','CommittedQuantity','OrderLineTranQuantity.ShippedQuantity','Extn.PriorityCode','PersonInfoShipTo.ZipCode','Status']
         var consignmentColumns =['ShipmentNo','Status.StatusName','ShipNode','ReceivingNode','SCAC','TrackingNo','ExpectedShipmentDate']
       var gmeta = {}
        var consignmentmeta = {}
        var watchListInput={}
        var isWatched=false
          var showOrderLineLink=false
       GridUtils.populateGridMeta(gmeta, columns, false)
       GridUtils.populateGridMeta(consignmentmeta,consignmentColumns, false)
          var editingOrderDetails={'Notes':{'Note':[]}};
		 
		  var mailDetails=[];
          var showsendmail = false;     
          var orderLineDetails=this.getDummyOrderLineDetails()
          var notesList=[];
          var createASNForOrder = [];
          var orderHoldDetails={'OrderHoldTypes':{'OrderHoldType':{}}};
          var showOrderHoldDetails = false;
          var linkedOrderDet={}
	      var vendorcontactlist = []  
          var personInfoBillToAddress={};
          var personInfoShipToAddress={}
          var mailtemplatelist  = []
          var alertList=[];
          var shipmentLength = 0
           var errorcode
         var errordesc
         var apierror=false
         var OrderLine=this.getDummyOrderLine()
         var zeroShipment=false
         var ShipColumns=true
         var orderLineShipTo={};
            return{
                isActive: false,
                OrderDet:OrderDet,
                Order:Order,
                orderLineList:orderLineList,
                columns:columns,
                gmeta:gmeta,
                watchListInput:watchListInput,
                isWatched:isWatched,
                editingOrderDetails:editingOrderDetails,
                showsendmail:showsendmail,
                mailDetails:mailDetails,
                orderLineDetails:orderLineDetails,
                notesList:notesList,
                showOrderLineLink:showOrderLineLink,
                shipmentList:shipmentList,
                createASNForOrder:createASNForOrder,
                orderHoldDetails:orderHoldDetails,
                showOrderHoldDetails:showOrderHoldDetails,
                consignmentmeta:consignmentmeta,
                consignmentColumns:consignmentColumns,
                linkedOrderDet:linkedOrderDet,
	        	vendorcontactlist:vendorcontactlist,
                mailtemplatelist:mailtemplatelist,
		        shipmentLength:shipmentLength,
                personInfoBillToAddress:personInfoBillToAddress,
                personInfoShipToAddress:personInfoShipToAddress,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror,
                OrderLine:OrderLine,
                zeroShipment:zeroShipment,
                alertList:alertList,
                orderLineShipTo:orderLineShipTo,
                ShipColumns:ShipColumns
            }
        }
  ,
        computed: {
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          },
            totalConsignmentPages: function() {
            return Math.ceil(this.consignmentmeta['pagination']['resultCount'] / this.consignmentmeta['pagination']['itemsPerPage'])
          }
        },
  filters: {
	   	paginate: function(list,grid) {
            if(grid === 'order')
            return GridUtils.paginate(this.gmeta,list)
            else 
            return GridUtils.paginate(this.consignmentmeta,list)
	   	}
    }
  ,   
  
    
	  
methods: {	

     tabActivation: function(){
            $('#Tab1, #OrderLineItems').removeClass("active");
            $('#Tab2, #ConsignmentTab').addClass("active");
        },
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
     setConsignmentPage: function(pageNumber) {
          GridUtils.setPage(this.consignmentmeta, pageNumber, this.totalConsignmentPages)
      },

      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate,"filter")
      },
       sortBy: function (key,grid,numeric) {
           if (grid ==='order')
             GridUtils.sortBy(this.gmeta, key, numeric)
            else
              GridUtils.sortBy(this.consignmentmeta, key, numeric)
      },
     getVariousString:function(){
        return Utils.getVariousString();
    },
      addNotesToOrder: function(){
          this.editingOrderDetails = this.OrderDet;
      },
         toggleHeight: function($index,row) {
             if(row.Item.ItemShortDesc.length>20){
                    $("#DesRow"+$index).toggleClass("active");
             }
            },
	
	  sendMailFromOrder: function(){
	 
           var self=this 
           var vendorinput = {}
	   vendorinput["VendorKey"] = self.OrderDet.SellerOrganizationCode; 
	   self.showsendmail=true;
	   
			 var contactListSuccess = function(contactListRes) {

                
			
			   var mailTemplate = function(mailTemplateRes) {

					//Adding mail template list details in the prop to the child
			         self.mailtemplatelist= mailTemplateRes.CommonCode ; 
                   
					 //Adding details of the order in prop to the child
					 self.mailDetails.push(self.OrderDet);
			
                     //Adding details of the VendorContact in prop to the child
				     self.vendorcontactlist=contactListRes.VendorContact;     
                    
			   }
			   
					
                 
			Utils.executeDataService("getEmailTemplateList", mailTemplate,"");
                                        
										}                
									//API call to get the list of mail templates configured for the vendor
				 		 
				Utils.executeDataService("getVendorContactList", contactListSuccess, vendorinput,self.errorHandler);
										
      },
     orderLineDetailsLink: function(row){
         this.showOrderLineLink = true;
         this.orderLineDetails = JSON.parse(JSON.stringify(row)); 
         this.orderLineDetails.OrderNo= this.OrderDet.OrderNo;
     },

     formatDateForServer:function(serverDate) {
          return Utils.formatDateForServer(serverDate)
      },
    
         addToWatchList:function(event){
            var self = this
           this.watchListInput.OrderHeaderKey= this.OrderDet.OrderHeaderKey
           this.watchListInput.OrganizationCode= this.OrderDet.EnterpriseCode           
           this.watchListInput.OrderNo= this.OrderDet.OrderNo
           this.watchListInput.Status= this.OrderDet.Status 
           if(this.OrderDet.ReqDeliveryDate) {
                this.watchListInput.ReqDeliveryDate= this.OrderDet.ReqDeliveryDate
           }
        if(this.OrderDet.ReqShipDate) {     
            this.watchListInput.ReqShipDate= this.OrderDet.ReqShipDate
        }
           this.watchListInput.TotalAmount= this.OrderDet.PriceInfo.TotalAmount
           var success = function(result) {
                      self.isWatched=true
				}
			Utils.executeDataService("createWatchedOrder", success, self.watchListInput,self.errorHandler);

         },
            removeFromWatchList:function(event){
            var self = this
           this.watchListInput.OrderHeaderKey= this.OrderDet.OrderHeaderKey
            var success = function(result) {
                      self.isWatched=false
				}
			Utils.executeDataService("removeWatchedOrder", success, self.watchListInput,self.errorHandler);

         },
         saveNotes: function(editingOrderDetails){
             //this.notesList = editingOrderDetails.Notes.Note
         },

    
         cancelAddNotes: function(){
             
         },
	
         closeLink: function(){
             this.orderLineDetails = this.getDummyOrderLineDetails()
         },
        
        closeOrderHold: function(resolvedFlag) {
            if(resolvedFlag) {
                this.OrderDet.HoldFlag = 'N'
            }else {
			    this.OrderDet.HoldFlag = 'Y'
			}
        },
        
        getDummyOrderLineDetails: function() {
             var dummyOrderLineDet = {'PrimeLineNo':'', 
                               'OrderStatuses':{'OrderStatus':[{}]},
                               'Notes':{'Note':[{}]},
                                'Item':{},
                                'LinePriceInfo':{'UnitPrice':''},
                                'OrderLineTranQuantity':{},
                                'Extn':{'OrderLineCommitmentList':{}}
                               }; 
             return dummyOrderLineDet
         },      
         resolveHoldsOnOrder: function(){
             this.showOrderHoldDetails = true;
             //this.orderHoldDetails = this.OrderDet;
             this.orderHoldDetails = JSON.parse(JSON.stringify(this.OrderDet));
         },
         linkedOrder:function(){
               var chainedOrderInput={}
               
               var self=this
               chainedOrderInput.ChainedFromOrderHeaderKey=this.Order.OrderHeaderKey;
                var success = function(result) {
                    var orderLineList=[]
                    orderLineList=result.OrderLine
                    var orderList=orderLineList[0].Order
                   self.linkedOrderDet.OrderNo=orderList[0].OrderNo
                   self.linkedOrderDet.OrderHeaderKey=orderLineList[0].OrderHeaderKey
			      }
               Utils.executeDataService("getOrderLineList",success,chainedOrderInput,self.errorHandler);
            },
      isInTransit:function(row){
           if ( (row.Status.Status <= 1400) || (row.Status.Status  === '9000' ) )
               return false
           else 
               return true
       },
    
         hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
         } ,
     errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
              },
    getOrderLine: function(row){
        this.OrderLine=JSON.parse(JSON.stringify(row))
    },
      getDummyOrderLine: function() {
        var dummyOrderLine = {}
        dummyOrderLine['Extn'] = {}
        dummyOrderLine.Extn['OrderLineCommitmentList'] = {}
        return dummyOrderLine
      },
	 getAPIErrorMessage: function() {
		return Utils.getAPIErrorMessage();
	 },
    //manage commitment disable if less than commited state
    commitmentDisable:function(temp){
         if(temp.Extn.OrderLineCommitmentList.OrderLineCommitment)
             return false 
         else 
             return true
             
    },
    checkRequestedDate:function(index){
        if(this.OrderDet.CustomAttributes) {
                    if (index ==='ship'){
                          if( this.OrderDet.CustomAttributes.Boolean1 && this.OrderDet.CustomAttributes.Boolean1==='Y')
                              {
                                return 'VARIOUS'
                              }
                             else {
                                 return this.formatForDisplay(this.OrderDet.ReqShipDate)
                             }
                         }
                    else{
                           if(this.OrderDet.CustomAttributes.Boolean2 && this.OrderDet.CustomAttributes.Boolean2==='Y')
                              {
                                return 'VARIOUS'
                              }
                        else{
                             return this.formatForDisplay(this.OrderDet.ReqDeliveryDate)
                        }
                           
                      }
        } else {
                           if (index ==='ship'){
                                     return this.formatForDisplay(this.OrderDet.ReqShipDate)
                           } else if(index ==='delivery'){
                                     return this.formatForDisplay(this.OrderDet.ReqDeliveryDate)
                           }
        }
     },
    getShipToAddress:function(row){
        this.orderLineShipTo=row.PersonInfoShipTo
    },
     getFirstShipToAddress:function(){
         this.ShipColumns=false
       return this.orderLineList[0].PersonInfoShipTo
    },
    //return shipto or return from string based on doc type 0001
    getTypeOfAddress:function(){
        if(this.OrderDet.DocumentType === '0003'){
            var addressType="Return From Address"
             return  addressType   
           }
        else
           { 
               var addressType="Ship To Address"
                 return  addressType
           
           }
    }
	
	},
events:{
    'closehold' : function(resolvedFlag){
        this.closeOrderHold(resolvedFlag)
    }
},        
	  
route: {
        canReuse: function (transition) {
             
            if(transition.from.name === 'orderdtl'){
              return false;
            }
            else{
                    return true;
            }
        },
       /* deactivate: function(transition) {
          if(transition.to.name === 'alertlist') {
              transition.to.autoclear = false
          }  
            transition.next()
        }, */
		data: function (transition) {
		
			var self = this;
            
            var input = {}
            input["OrderHeaderKey"] = self.$route.query.key
            //Invoking getExceptionList
            var alertSearchModel = {
                'InboxKey': '',
                'MaximumRecords': '100',
                'ExceptionType': '',
                'OrderNo': '',
                'LastOccurredOn':'',
                'Priority': '',
                'ActiveFlag':'Y',
				'SubscribedQueues': 'Y',
                'ActiveFlagQryType': 'EQ',
                'Queue': {'QueueId':''},
                'User': {'Loginid':''},
                'InboxReferencesList':{'InboxReferences':{'Value':'', 'Name':''}}                             
            };
            alertSearchModel.OrderNo = self.$route.query.orderNo;
            
            var mashupInput={ 'completeOrderDetails': input,
                             'alertList': alertSearchModel                             
                           }
		     
			var success = function(result) {
                //watched order 
                  if(result.completeOrderDetails.IsWatchedByUser ==='Y')
                      self.isWatched=true
                    else
                       self.isWatched=false
                   if(result.HasChainedLines === 'Y') {
                       self.linkedOrder()

                   } else { self.linkedOrderDet={} } 
                
                    var noteArr = []
                    if(result.completeOrderDetails.Notes.Note) {
                        noteArr = result.completeOrderDetails.Notes.Note
                    }
                
                   //to get number of shipments for consignments
                    if(result.completeOrderDetails.Shipments.Shipment){
                         self.zeroShipment=false
                         self.shipmentLength=result.completeOrderDetails.Shipments.Shipment.length
                     }else 
                    {
                        self.zeroShipment=true 
                        self.shipmentLength=0
                    }
                    transition.next({
                           OrderDet : result.completeOrderDetails, 
                           orderLineList : result.completeOrderDetails.OrderLines.OrderLine,
                           notesList : noteArr,
                           shipmentList : result.completeOrderDetails.Shipments.Shipment,
                           personInfoBillToAddress: result.completeOrderDetails.PersonInfoBillTo,
                           personInfoShipToAddress:result.completeOrderDetails.PersonInfoShipTo,
                           alertList : result.alertList
                    })
			}
            
            var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  transition.next()
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  
              }
           
			Utils.executeDataService("orderscreenload", success, mashupInput ,errorHandler);
   	
    	}
	  },
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
        
     
        
    }
</script>