<!-- ********** Copyright  (c)  IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is add schedules for commitement
     ***************************************************************************-->
<template>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" v-on:click="cancel()">&times;</button>
    <h4 class="modal-title">View Commitment Schedules: {{getValue(orderline, 'Item.ItemID')}}</h4>
  </div>
  <div class="modal-body">
   <div class="row">
    <div class="col-md-12">
      <form class="form-inline CusCommitment" role="form">
        <br>
        <div class="form-group col-md-3 row">
          <label for="" class="control-label">Order Quantity</label>
          <div class="">
            <span class="form-inline-left">{{getValue(orderline, 'OrderedQty')}}</span>
          </div>
        </div>
        <div class="form-group col-md-5 row">
          <label for="" class="control-label">Committed Quantity</label>
          <div class="">
            <input type="text" class="form-control" value="{{committedQuantity}}" disabled>
          </div>
        </div>
        <div class="form-group col-md-5 row">
          <label for="" class="control-label">Max Committed Date</label>
          <div class="">
            <input type="text" class="form-control" value="{{commitedDate | datefilter}}" disabled usage="filter">
          </div>
        </div>
      </form>
      <div class="clearfix"></div>
      <hr>
    </div>


    <div class="col-md-12">
      <div class=""> 
        <div class="block"><label class="control-label">Commitment Schedule</label></div>
        <div class="">
            
          <form v-for="schedule in orderline.Extn.OrderLineCommitmentList.OrderLineCommitment" class="form-inline Commitmentcls" role="form">
            <div class="col-md-2"> <div class="form-group">
              <label for="text">Sl No</label>
              <span class="form-inline-left">{{$index + 1}}</span>
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Committed Date</label>
              <input type="text" class="form-control" v-datepicker="schedule.CommitDeliveryDate" usage="filter" disabled >
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Quantity</label>
              <input type="text" class="form-control" v-model="schedule.CommittedQuantity" number disabled >
            </div></div>  
           <div class="clearfix"></div>
          &nbsp;
          </form> 
            
           </div>
    </div>

  </div>
</div>
</div>
<div class="modal-footer">
  <div>{{errorMessage}}</div>
 <!-- <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="apply()" v-show="canSave()">Apply</button>-->
  <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Close</button>
</div>
</template>

<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
  var GridUtils = require('./../utils/gridutils.js')
  export default {
    props: {
      orderline: Object
    },
    data: function () {
    //  var errorMessage = ""
       var schedules = []

   //  var newSchedule = this.getNewSchedule()
      return {
     //   errorMessage: errorMessage,
          schedules:schedules
   //     newSchedule: newSchedule,
      }
    },
    methods: {
     getValue: function(data, binding) {
        return Utils.getValue(data,binding)
      },
      cancel: function() {
        this.$dispatch('cancel')
      },
      apply: function() {
        this.$dispatch('apply',true)
      }
    }
     ,
    computed: {
      committedQuantity: function() {
        var schedules = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        if(!schedules) {
          return 0
        }
        var committedQuantity = 0
        schedules.forEach(function (schedule) {
          committedQuantity += Number(schedule.CommittedQuantity)
        })
        return committedQuantity
      },
     commitedDate:function(){
             var schedule = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
             var maxSchedule
             var date
        if(schedule && schedule.length > 0 ) {
                var maxDate = function(maxObj,currObj) {
                    if(maxObj.CommitDeliveryDate > currObj.CommitDeliveryDate)  {
                        return maxObj
                    } else {
                        return currObj
                    }
                } 
                if(schedule.length > 1) 
                {
                    maxSchedule=schedule.reduce(maxDate,schedule[0])
                    date= maxSchedule.CommitDeliveryDate
                } else {
                    date=schedule[0].CommitDeliveryDate
                }
            
           return date     
        }
        return date
        }
        
    }
  }
</script>
