<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying shipment details. Shipment Lines and consignment details are shown
     ***************************************************************************-->

<template>
<div>
    <div class="spinner-loading" v-if="$loadingRouteData" >
        <div class="loader"></div>
    </div> 
    <div class="container-fluid CustomHgt">
      <div class="row ">
       <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
     
      </div>
             </div>

      <div class="container-fluid" cz-shortcut-listen="true">  
    <div class="block  clearfix">
        <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
      <h5 class="pull-left">Shipment Details</h5>
      <div class="pull-right">
     <span v-if="hasPermission('GPSTPSHP0001A01')">
    <button class="btn btn-default SecondaryBtn" v-bind:disabled="trackDisable" @click="navigate('trackconsignment')">Track Shipment</button>
    </span>
       </div>
    </div>
    <div class="panel panel-default m-t-10">
       <div class="panel-heading">Shipment Info</div>
       <div class="panel-body">
         <div class="m-t-10"></div>
           <ul class="list-group col-md-6">
         <div class="row">
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Shipment Number</label><span class="col-sm-6">{{getValue(shipmentDetails,"ShipmentNo")}}</span></li>
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Vendor</label><span class="col-sm-6">{{getValue(shipmentDetails,"VendorName")}}</span></li>
                              <div class="clearfix"></div>
                  </div>
                          <div class="row">
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Consignment Number</label><span class="col-sm-6"> {{getValue(shipmentDetails,"TrackingNo")}}</span></li>
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Carrier</label><span class="col-sm-6">{{getValue(shipmentDetails,"SCAC")}}</span></li>
                              <div class="clearfix"></div>
                </div>
               
                               <div class="row">
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Rejection Reason</label><span class="col-sm-6">{{getValue(shipmentDetails,"Extn.RejectionReason")}}</span></li>
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Ship Date</label><span class="col-sm-6"> {{getDate(shipmentDetails,"ActualShipmentDate") | datefilter}}</span></li>
                              <div class="clearfix"></div>
           </div>
                               <div class="row">
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Sterling Reference No</label><span class="col-sm-6"> <a v-link="{path:'/orderdetails',query:{key:shipmentDetails['OrderHeaderKey'],orderNo:shipmentDetails['OrderNo']}}">{{shipmentDetails.OrderNo}} </a> </span></li>
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Source Id</label><span class="col-sm-6">{{getSourceId()}}</span></li>
                              <div class="clearfix"></div>
                </div>
                               <div class="row">
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Freight Booking Status</label><span class="col-sm-6">{{getValue(shipmentDetails,"Extn.LogisticsStatus")}}</span></li>
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Document Type</label><span class="col-sm-6">{{getValue(shipmentDetails,"DocumentDescription")}}</span></li>
                              <div class="clearfix"></div>
                  </div>
                               <div class="row">
                           <li class="list-group-item col-md-6"><label class="col-sm-6">Expected Date</label><span class="col-sm-6">{{getDate(shipmentDetails,"ExpectedShipmentDate") | datefilter}}</span></li>
                                    <li class="list-group-item col-md-6"><label class="col-sm-6">Status</label><span class="col-sm-6">{{getValue(shipmentDetails,"Status.StatusName")}}</span></li>
                              <div class="clearfix"></div>
                  </div>
                              <div class="clearfix"></div>
                              </ul>
           <div class="col-md-3">
                   <div class="AddressContainer">
                        
                       <addressdetails
                                 :addressdetails= "fromAddress"
                                 :addresslabel="'Pickup Address'"
                                 >
                         </addressdetails>
                          
                  </div>
              </div>
           <div class="col-md-3">
            
             <div class="AddressContainer">
                 <addressdetails
                                 :addressdetails= "toAddress"
                                 :addresslabel="'Delivery Address'"
                                 >
                         </addressdetails>
                  </div>
           </div>
         </div>
       <div class="m-t-10"></div>
       </div>
     </div>
     <div class="container-fluid">
     <div class="panel panel-default m-t-10">
        <div class="panel-heading">Shipment Details</div>
        <div class="panel-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#shipmentLines" aria-controls="home" role="tab" data-toggle="tab">Shipment Lines </a></li>
            <li role="presentation" ><a href="#containerDetails" aria-controls="profile" role="tab" data-toggle="tab" :class="(!containerData || containerData.length == 0) ? 'disableTab' : ''">Container Details</a></li>

          </ul>

          <!-- Tab panes -->
            <!-- Container details -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane " id="containerDetails">
              <div class="table-responsive">
                <div class="">
              <table id="" class="table table-striped table-hover dataTable f-12 " cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                  
                    <thead>
                      <tr role="row">
                          <th></th>
                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ContainerType','container')" :class="{active: containerMeta.sort.key == 'ContainerType'}" title="Type of container associated with the shipment">Container Type
                        <span class="fa fa-sort pull-right" :class="containerMeta.sort.sortorder['ContainerType'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                         </th>    
                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ContainerLength','container',true)" :class="{active: containerMeta.sort.key == 'ContainerLength'}" title="Length of the container associated with the shipment">Length
                        <span class="fa fa-sort pull-right" :class="containerMeta.sort.sortorder['ContainerLength'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                         </th>
                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ContainerWidth','container',true)" :class="{active: containerMeta.sort.key == 'ContainerWidth'}" title="Width of the container associated with the shipment">Width
                        <span class="fa fa-sort pull-right" :class="containerMeta.sort.sortorder['ContainerWidth'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                         </th>
                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ContainerHeight','container',true)" :class="{active: containerMeta.sort.key == 'ContainerHeight'}" title="Height of the container associated with the shipment">Height
                        <span class="fa fa-sort pull-right" :class="containerMeta.sort.sortorder['ContainerHeight'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                         </th>
                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ContainerGrossWeight','container',true)" :class="{active: containerMeta.sort.key == 'ContainerGrossWeight'}" title="Weight of the container associated with the shipment">Weight
                        <span class="fa fa-sort pull-right" :class="containerMeta.sort.sortorder['ContainerGrossWeight'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                       <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" title="Total volume of the container associated with the shipment">Cubic Volume</th>
                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Extn.NoOfContainer','container',true)" :class="{active: containerMeta.sort.key == 'Extn.NoOfContainer'}" title="No. of Containers of this Type">No. of Containers
                        <span class="fa fa-sort pull-right" :class="containerMeta.sort.sortorder['Extn.NoOfContainer'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                         </th>                          
                      </tr>
                    </thead>
                    <tbody>
                           <tr>
                      <th class="center-filter">
                        <div class="glyphicon glyphicon-filter"></div>
                      </th>
                        <td>
                        <input type="text" class="form-control" v-model="containerMeta.filter.ContainerType" title="Type of container associated with the shipment">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="containerMeta.filter.ContainerLength" title="Length of the container associated with the shipment">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="containerMeta.filter.ContainerWidth" title="Width of the container associated with the shipment">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="containerMeta.filter.ContainerHeight" title="Height of the container associated with the shipment">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="containerMeta.filter.ContainerGrossWeight" title="Weight of the container associated with the shipment">
                      </td>
                       <td></td>
                    <td>
                        <input type="text" class="form-control" v-model="containerMeta.filter.Extn.NoOfContainer" title="No. of Containers of thie Container Type">
                      </td>                      
                      </tr>
                        <tr v-show="!containerData">
                        <td colspan="7" >  <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                    </tr>
                       <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                      v-for=" row in containerData 
                      | gridsorter containerMeta.sort.key containerMeta.sort.order containerMeta.sort.numeric
                      | gridfilter containerMeta.filter columnsForContainer
                      | paginate 'container'" >
                           <td></td>
                       <td> {{getValue(row,"ContainerType")}}</td>
                      <td>{{getValue(row,"ContainerLength")}} {{getValue(row,"ContainerLengthUOM")}}</td>
                      <td> {{getValue(row,"ContainerWidth")}} {{getValue(row,"ContainerWidthUOM")}}</td>
                      <td> {{getValue(row,"ContainerHeight")}} {{getValue(row,"ContainerHeightUOM")}} </td>
                      <td> {{getValue(row,"ContainerGrossWeight")}} {{getValue(row,"ContainerGrossWeightUOM")}} </td>
                           <td>{{getVolume(row)}}</td>
                           <td> {{getValue(row,"Extn.NoOfContainer")}}</td>                           
                    </tr> 
                       
                    </tbody>
                   </table>
                </div>    
                 
                  <div class="m-t-7">
                    <gridpagination 
                      :gmeta="containerMeta"
                      :total-pages="totalContainerPages"
                      v-on:setpage="setContainerPage">
                    </gridpagination >
                  </div>
                
            </div>
            </div>
              <!-- Shipment line details -->
            <div role="tabpanel" class="tab-pane table-wrapper-big  active" id="shipmentLines">
              <table id="" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                            <thead>
                              <tr role="row">
                                <th></th>
                                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipmentLineNo','shipment')" :class="{active: shipmentMeta.sort.key == 'ShipmentLineNo'}" style="min-width: 108px;" title="Line Number of the shipment">Line Number    <span class="fa fa-sort pull-right" :class="shipmentMeta.sort.sortorder['ShipmentLineNo'] > 0 ? 'sort-up' : 'sort-down'">
                                     </span>
                                  </th>  
                                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ItemID','shipment')" :class="{active: shipmentMeta.sort.key == 'ItemID'}" title="Unique identifier of the Item associated with the shipment">Item ID    
                                      <span class="fa fa-sort pull-right" :class="shipmentMeta.sort.sortorder['ItemID'] > 0 ? 'sort-up' : 'sort-down'">
                                     </span>
                                  </th> 
                                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ItemDesc','shipment')" :class="{active: shipmentMeta.sort.key == 'ItemDesc'}" title="Description of the Item associated with the shipment">Item Description    
                                      <span class="fa fa-sort pull-right" :class="shipmentMeta.sort.sortorder['ItemDesc'] > 0 ? 'sort-up' : 'sort-down'">
                                     </span>
                                  </th> 
                                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('UnitOfMeasure','shipment')" :class="{active: shipmentMeta.sort.key == 'UnitOfMeasure'}" title="Unit of Measure of the Item associated with the shipment">UOM    
                                      <span class="fa fa-sort pull-right" :class="shipmentMeta.sort.sortorder['UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
                                     </span>
                                  </th> 
                                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Quantity','shipment',true)" :class="{active: shipmentMeta.sort.key == 'Quantity'}" title="Quantity of the Item associated with the shipment">Qty   
                                      <span class="fa fa-sort pull-right" :class="shipmentMeta.sort.sortorder['Quantity'] > 0 ? 'sort-up' : 'sort-down'">
                                     </span>
                                  </th> 
                               </tr>
                            </thead>
                            <tbody>
                     <tr>
                      <th class="center-filter" style="width: 40px;">
                        <div class="glyphicon glyphicon-filter"></div>
                      </th>
                      <td>
                       
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="shipmentMeta.filter.ItemID" title="Unique identifier of the Item associated with the shipment">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="shipmentMeta.filter.ItemDesc" title="Description of the Item associated with the shipment">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="shipmentMeta.filter.UnitOfMeasure" title="Unit of Measure of the Item associated with the shipment">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="shipmentMeta.filter.Quantity" title="Quantity of the Item associated with the shipment">
                      </td>
                      </tr>
                         <tr v-show="!gridData">
                        <td colspan="6" > <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                    </tr>        
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                      v-for=" row in gridData 
                      | gridsorter shipmentMeta.sort.key shipmentMeta.sort.order shipmentMeta.sort.numeric
                      | gridfilter shipmentMeta.filter columns
                      | paginate 'shipment'" >
                      <td></td>
                      <td style="width: 80px;"> {{getValue(row,"ShipmentLineNo")}}</td>
                      <td  v-if="getValue(row,'OrderLine.DepartmentCode') === 'PMC' && getValue(row,'Order.DocumentType') === '0005' && getValue(row,'Order.EntryType') === 'INTEGRAL_PLUS'">
                          {{getValue(row,"OrderLine.Item.ItemDesc")}}</td>
                      <td v-else>{{getValue(row,"OrderLine.Item.ItemID") }}</td>
                   <td id="DesRow{{$index}}" class="descriptionCls" v-on:click= "toggleHeight($index,row)"> <i class="fa fa-play" v-if="row.OrderLine.Item.ItemShortDesc.length > 40"></i>    {{getValue(row,"OrderLine.Item.ItemShortDesc")}}   </td>
                      <td> {{getValue(row,"UnitOfMeasure")}}</td>
                      <td> {{getValue(row,"Quantity")}} </td>
                      
                    </tr>        
                            </tbody>
                           </table>     
                  <div class="m-t-7">
                    <gridpagination 
                      :gmeta="shipmentMeta"
                      :total-pages="totalShipmentPages"
                      v-on:setpage="setShipmentPage">
                    </gridpagination >
                  </div>
                </div>
              
          </div>
     
        </div>
      
      </div>
</div>
        <div hidden>
    	<input class="hidden" value= {{$route.query.key}}  v-model="shipmentDetailsInput.ShipmentKey"/> </div>
    </div>
</template>
<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
  var GridUtils = require('./../utils/gridutils.js')
	export default {
    data: function () {
     var filterKey="Y"
      var shipmentDetailsInput={}
      var shipmentDetails={}
      var columns =['ShipmentLineNo','ItemID','ItemDesc','UnitOfMeasure','Quantity']
     var columnsForContainer =['ContainerType','ContainerLength','ContainerWidth','ContainerHeight','ContainerLengthUOM','ContainerWidthUOM','ContainerGrossWeight','ContainerHeightUOM', 'ContainerGrossWeightUOM','Extn.NoOfContainer' ]
      var shipmentMeta = {}
      var containerMeta={}
      var showSearch =false
      GridUtils.populateGridMeta(shipmentMeta,columns,false)
      GridUtils.populateGridMeta(containerMeta,columnsForContainer,false)

       var gridData = []
       var containerData=[]
       var trackDisable=false
       var fromAddress ={};
       var toAddress ={};
         var errorcode
       var errordesc
       var apierror=false
        return {
            isActive: false,
            columns: columns,
            columnsForContainer:columnsForContainer,
	        gridData: gridData,
            shipmentMeta:shipmentMeta,
            shipmentDetailsInput:shipmentDetailsInput,
            containerData:containerData,
            shipmentDetails:shipmentDetails,
            containerMeta:containerMeta,
            trackDisable:trackDisable,
            fromAddress:fromAddress,
            toAddress:toAddress,
             errorcode:errorcode,
           errordesc:errordesc,
           apierror:apierror
               }
      },

//initial data load
	route: {
		data: function (transition) {
                       var self=this          
                       var success = function(result) {
                                if(result.Status.Status > 1400 && result.Status.Status != 9000)
                                      self.trackDisable=false
                                    else
                                      self.trackDisable=true
                             transition.next({
                                            shipmentDetails:result,
                                            gridData:result.ShipmentLines.ShipmentLine,
                                            containerData:result.Containers.Container,
                                            fromAddress:result.FromAddress,
                                            toAddress:result.ToAddress
                                            })
                            }
                       
                            var errorHandler = function(errorObj) {
                                  self.apierror = true
                                  self.errorcode = errorObj.ErrorCode
                                  self.errordesc = errorObj.ErrorDescription
                                  self.trackDisable = true
                                  transition.next()
                                  //Error message times out after 10 seconds
                                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                            }
                       
                        Utils.executeDataService("shipmentDetails",success,this.shipmentDetailsInput,errorHandler);
	}
        
    },

  computed: {
      totalContainerPages: function() {
              return Math.ceil(this.containerMeta['pagination']['resultCount'] / this.containerMeta['pagination']['itemsPerPage'])
      },
      totalShipmentPages:function(){
             return Math.ceil(this.shipmentMeta['pagination']['resultCount'] / this.shipmentMeta['pagination']['itemsPerPage'])
        }
      
    }
  ,
  filters: {
	   	paginate: function(list,grid) {
            if(grid === 'shipment')
                return GridUtils.paginate(this.shipmentMeta,list)
            else 
                return GridUtils.paginate(this.containerMeta,list)
	   	}
    }
  ,
  methods: {
      getValue: function(row, binding) {
          return Utils.getDefaultValue(row,binding)
      },
      getDate: function(row, binding) {
          return Utils.getValue(row,binding)
      },      
      setContainerPage: function(pageNumber) {
          GridUtils.setPage(this.containerMeta,pageNumber,this.totalContainerPages)    
      },
      setShipmentPage:function(pageNumber){
           GridUtils.setPage(this.shipmentMeta,pageNumber,this.totalShipmentPages)
      },

      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key,grid,numeric) {
           if (grid ==='shipment')
               GridUtils.sortBy(this.shipmentMeta,key,numeric)
           else
               GridUtils.sortBy(this.containerMeta,key,numeric)     
      },
      getVolume:function(row){
          var volume = 0
          var vollength = row.ContainerLength/100
          var volheight = row.ContainerHeight/100
          var volwidth = row.ContainerWidth/100
          volume = vollength * volheight  * volwidth;
          var fixedVolume = volume.toFixed(3);  
          //TODO its hardcoded now need to look at fixing this
          var volumeStr = fixedVolume + " Cubic Meters"
          
          return volumeStr
      },
	  navigate: function(component) {
		this.$router.go({name:component,query: {key:this.shipmentDetailsInput.ShipmentKey}})
	  },
         hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
         } ,
     errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  self.trackDisable = true
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
              },
			getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			},
   toggleHeight: function($index,row) {
             if(row.ItemDesc.length > 40){
                    $("#DesRow"+$index).toggleClass("active");
             }
            } ,
     getSourceId:function(){
             if(this.shipmentDetails.ShipmentLines){
             var shipmentLine= this.shipmentDetails.ShipmentLines.ShipmentLine
             if(shipmentLine)
               return shipmentLine[0].Order.OrderName
            else    
                    return ""    
             }            
            }
			  
      
 
  },
  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
   
    }
</script>    
