<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->

<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Location</h4>
          </div>
          <div class="modal-body address-modal-body">
              <div class="row">
                   <ul class="list-group col-md-12">
                       <li class="list-group-item col-md-6">
     <label class="col-sm-12">   First Name </label><span class="col-sm-12 row">{{address.FirstName}}&nbsp; </span> 
                
    </li>
                              <li class="list-group-item col-md-6">
     <label class="col-sm-12">   Last Name </label><span class="col-sm-12 row">{{address.LastName}} &nbsp; </span> 
                
    </li>
                         <li class="list-group-item col-md-6">
     <label class="col-sm-12"> Phone Number </label><span class="col-sm-12 row">{{address.DayPhone}} &nbsp;</span> 
                
    </li>
                         <li class="list-group-item col-md-6">
     <label class="col-sm-12">   Email Address </label><span class="col-sm-12 row"> {{address.EmailID}}&nbsp; </span> 
                
    </li>
    </ul>
    </div>
              <div class="row">
                <div class="address-modal-wrapper clearfix">
                  <div class="m-t-5"><strong>Address Information</strong></div>
                  <div>
                      <ul class="list-group col-md-12">
               <li class="list-group-item col-md-12">
                     <label class="col-sm-6"> Address Line 1 </label><span class="col-sm-6"> {{address.AddressLine1}} </span>
                 </li>
                   <li class="list-group-item col-md-12">
                       <label class="col-sm-6">  Address Line 2 </label><span class="col-sm-6">{{address.AddressLine2}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                       <label class="col-sm-6">Address Line 3 </label><span class="col-sm-6">{{address.AddressLine3}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                      <label class="col-sm-6">Country </label><span class="col-sm-6">{{address.Country}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                     <label class="col-sm-6"> State </label><span class="col-sm-6">{{address.State}}</span>
                  </li>
                <li class="list-group-item col-md-12">
                     <label class="col-sm-6">   City </label><span class="col-sm-6">{{address.City}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                   <label class="col-sm-6">    Post Code </label><span class="col-sm-6">{{address.ZipCode}}</span>
                  </li>
                           </ul>
                </div>
    </div>


              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal">Close</button>
          </div>
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        address:Object
     },    
  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }

    </script>

