<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying alert details
     ***************************************************************************-->

<template>
<div>

    <div class="container-fluid CustomHgt">
        <div class="row">
            <div class="col-md-4">
                    <div v-breadcrumb="true"></div>
            </div>
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    
    <div class="spinner-loading" v-if="$loadingRouteData" >
        <div class="loader"></div>
    </div>
    
    <div class="container-fluid" cz-shortcut-listen="true">
        <div class="block  clearfix">
            
             <div class="block"  v-if="apierror" >
              <div class="alert alert-danger" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>API Error:</strong> {{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}   
              </div>
            </div>
            
            <h5 class="pull-left">Alert Details</h5>
            <div class="pull-right">
                <ul class="list-inline list-unstyled">
                        <li>                            
                            <span v-if="!(getValue(Inbox, 'Status') === 'CLOSED')">
                                <div >
                                    <button class="btn btn-default SecondaryBtn" v-on:click.stop="markAsOrRemoveFromWIP(this.activeMarkAsWip)">{{ this.activeMarkAsWip = this.activeMarkAsWip ? 'Mark WIP' : 'Remove From WIP' }}</button>
                                </div>
                            </span>
                        </li>
                        <li>
                            <span v-if="hasPermission('GPSVPALR0001A01')" >
                                <span v-if="getValue(Inbox, 'AssignedToUserId') === getUserId()">
                                <button class="btn btn-default SecondaryBtn" v-on:click.stop="assignToSelf" disabled>Assign to Self</button>
                            </span>
                            <span v-else>
                                <button class="btn btn-default SecondaryBtn" v-on:click.stop="assignToSelf" :disabled="getValue(Inbox, 'Status') === 'CLOSED'">Assign to Self</button>
                            </span>
                            </span>
                        </li>
                        <li>
                            <span v-if="hasPermission('GPSVPALR0001A02')">
                            <button class="btn btn-default SecondaryBtn"  data-toggle="modal" data-backdrop="static" data-target="#assignalerttouser" v-on:click="startAssignAlertToUser" :disabled="getValue(Inbox, 'Status') === 'CLOSED'">Assign Alert to User</button>
                            </span>
                        </li>
                        <li>                            
                            <span v-if="hasPermission('GPSVPALR0001A03')">
                            <button class="btn btn-default SecondaryBtn" data-toggle="modal" data-backdrop="static" data-target="#showalertmessage"  v-on:click="displayAlertMessageBox()" :disabled="getValue(Inbox, 'Status') === 'CLOSED'">Resolve Alert</button>
                            </span>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Header Details</div>
                    <div class="panel-body">
                        <div class="m-t-10"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Alert ID</label>
                                    <div class="col-sm-7">
                                        {{getValue(Inbox,"InboxKey")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Status</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"Status")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">No. of Times Occurred</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"ConsolidationCount")}}
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Description</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"Description")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Sterling Reference No</label>
                                    <div class="col-sm-6">
                                        <td><a v-link="{ path: '/orderdetails',query:{key:Inbox['OrderHeaderKey']}}"> {{getValue(Inbox, "OrderNo")}}  </a>   </td>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">First Occurrence</label>
                                    <div class="col-sm-6">
                                        {{formatDate(Inbox,"GeneratedOn")}}
                                    </div>
                                </div>
                               
                            </div>
                            
                            <div class="col-md-4">
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Queue</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"Queue.QueueName")}}
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Purchase Order Number</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"Order.OrderName")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label">Last Occurrence</label>
                                    <div class="col-sm-6">
                                        {{formatDate(Inbox,"LastOccurredOn")}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="m-t-10"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Resolution details</div>
                    <div class="panel-body">
                        <div class="m-t-10"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Assigned To</label>
                                    <div class="col-sm-6">
                                        {{getValue(Inbox,"AssignedToUserId")}}
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Resolved By</label>
                                    <div class="col-sm-6">
                                        {{getResolvedId()}}
                                        <!--{{getValue(Inbox,"ResolvedByUserId")}}-->
                                    </div>
                                </div>

                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-4 control-label">Resolved On</label>
                                    <div class="col-sm-6">
                                        {{formatDate(Inbox,"ResolutionDate")}}
                                    </div>
                                </div>
                                <br>
                            </div>

                        </div>
                        <div class="m-t-10"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading clearfix panel-alert-heading">
                        <div class="i-block pull-left">Comments</div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-body">
                        <div class="noteBody" >
                            <div v-for="note in notesList | filterBy 'COMMENT' in 'ReferenceType' | orderBy 'Createts' -1" >
                                    <td>{{formatDate(note, "Createts")}} -  {{getValue(note, "Createuserid")}}</td>
                                    <span class="block"> {{getValue(note, "Value")}} </span>
                            </div>                                              
                        </div>
                        <hr>
                         <textarea class="form-control Comments" rows="3" id="comment" v-model="updateInbox.UpdateReferencesList.InboxReferences.Value" placeholder="Add Comment" ></textarea>

                       <button class="btn btn-default SecondaryBtn AddNotes pull-right" :disabled="!updateInbox.UpdateReferencesList.InboxReferences.Value.trim().length || getValue(Inbox, 'Status') === 'CLOSED'" @click.stop="AddNotes">Add Comment</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading clearfix panel-alert-heading">
                        <div class="i-block pull-left">References</div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-body">
                        <div class="table-responsive noteBody">
                        <table id="" class="table table-striped table-hover" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">

                             <thead>
                                <tr role="row">
                                
                                     <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Name')" :class="{active: gmeta.sort.key == 'Name'}" >Reference Name   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Name'] > 0 ? 'sort-up' : 'sort-down'">
                                        </span>
                                    </th>
                            
                                            
                                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Value')" :class="{active: gmeta.sort.key == 'Value'}" >Reference Value   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Value'] > 0 ? 'sort-up' : 'sort-down'">
                                        </span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                                         
                                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 						      
                                        v-for=" note in referenceList 
                                        | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric" >
                                      
                                    <td>{{getValue(note, "Name")}}</td>
                                    <td>{{getValue(note, "Value")}}</td>                                    
                                </tr>
                            </tbody>
                        </table>
                            </div>
                    </div>
                </div>
            </div>

            </div>
        <div class="clearfix"></div>
        <div v-show="showAssignAlerts">
            <div class="modal fade" id="assignalerttouser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <assignalerttouser
                              :assignexception="assignException"
                              :userlist="userList"
                              v-on:cancel="cancelAlert()"
                              v-on:assign="assignAlert()"
                              >
                            </assignalerttouser>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        
        <div v-show="showAlertMessage">
            <div class="modal fade" id="showalertmessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <messagebox                              
                              :message="'Are you sure you want to resolve the alert?'"   
                               v-on:confirm="ok()"
                              >
                            </messagebox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <input class="hidden" value= {{$route.query.key}}  v-model="Inbox.InboxKey " />
    
    </div>
</template>

<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
    export default{

	  data: function () {
          
        var gmeta = {};
        var columns =  ['Name','Value']
        var Inbox= {};
        var activeMarkAsWip = false;  
        var userList = [];
        var User = {};
        var input={'InboxKey':'', 'Status':''};
        var assignException = {'Inbox':{'InboxKey':''}};        
        var notesList=[];
        var resolveAlertInput = {'Inbox':{'InboxKey':''}};
        var showAssignAlerts=false;  
        var referenceList=[];
        var showAlertMessage = false;
        var updateInbox={'Inbox': { 'InboxKey': ''} ,
                         'UpdateReferencesList':{
                             'InboxReferences':{'Name': '', 'Value': '', 'ReferenceType': 'COMMENT'}
                         } 
                        };  
        var errorcode;
        var errordesc;
        var apierror=false;
          
        GridUtils.populateGridMeta(gmeta, columns, false);
        
        return{
            Inbox:Inbox,
            columns:columns,
            gmeta:gmeta,
            input:input,
            User:User,
            userList:userList,
            resolveAlertInput:resolveAlertInput,
            assignException:assignException,
            showAssignAlerts:showAssignAlerts,
            notesList: notesList,
            updateInbox: updateInbox,
            activeMarkAsWip:activeMarkAsWip,
            referenceList:referenceList,
            showAlertMessage:showAlertMessage,
            errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror
        }
      },
	  
      methods: {	  
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },

        goBack: function () {
          window.history.go(-1)
        },
          
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
          
        AddNotes: function(){            
            
            var self = this
            var addNotesOnScreen = function(result) {
                var newNote = self.getNewNoteObject();
                var iReference = self.getValue(self.updateInbox,"UpdateReferencesList.InboxReferences");
                newNote['Value'] = iReference.Value;
                newNote['Createts'] = Utils.formatDateForServer(new Date());
                newNote['Createuserid'] = window.AppInfo.loginid;
                if(self.notesList){
                self.notesList.push(newNote);
                }else{
                    self.notesList = [];
                self.notesList.push(newNote);
                }
                //self.notesList.push(newNote);
                iReference.Value="";
            }
            self.updateInbox.Inbox.InboxKey= self.Inbox.InboxKey; 
            var iReference = self.getValue(self.updateInbox,"UpdateReferencesList.InboxReferences");
            iReference.Name = this.getNewTime();            
            Utils.executeDataService("updateExceptionReferences", addNotesOnScreen, self.updateInbox, self.errorHandler);
                        
        },
          
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
        
        getNewNoteObject: function(){
          var inboxReferences = { 'Name': '', 'Value': '', 'ReferenceType': 'COMMENT' , 'Createts':'', 'Createuserid':''}
          return inboxReferences
        },
          
        getNewTime: function(){
            var d = new Date();
            var n = d.getMilliseconds();
            return n;
        },
          
        markAsOrRemoveFromWIP: function(action){            
            var self = this;
            self.input.InboxKey=self.Inbox.InboxKey;
            if(action){
                self.input.Status='WIP';
                var success = function(result) {
                    self.Inbox.Status='WIP';
                }
                Utils.executeDataService("markaswip", success, self.input, self.errorHandler);
            }else{
                self.input.Status='OPEN';
                var success = function(result) {
                    self.Inbox.Status='OPEN';
                }
                Utils.executeDataService("removefromwip", success, self.input, self.errorHandler);
            }            
        },
               
        displayAlertMessageBox:function(){
            this.showAlertMessage=true;            
        },
        
        ok:function(){
            this.showAlertMessage=false;            
            this.resolveAlert();
        },
               
        assignToSelf: function(){
            var self = this;            
            self.assignException.Inbox.InboxKey=self.Inbox.InboxKey;
            self.assignException.AssignToUserId=window.AppInfo.loginid;
            var success = function(result) {
                self.Inbox.AssignedToUserId=window.AppInfo.loginid;                
            }
		    Utils.executeDataService("assigntoself", success, self.assignException, self.errorHandler);
        },
          
        resolveAlert: function(){
            var self=this;
            self.resolveAlertInput.AutoResolvedFlag='N';
            self.resolveAlertInput.ResolvedBy=window.AppInfo.loginid;
            self.resolveAlertInput.Inbox.InboxKey=self.Inbox.InboxKey;
            var success = function(result) {
                self.Inbox.Status='CLOSED';
                self.Inbox.ResolvedByUserId=window.AppInfo.loginid;
                self.Inbox.ResolutionDate=new Date();
            }
		    Utils.executeDataService("resolvealert", success, self.resolveAlertInput, self.errorHandler);
        },
          
        startAssignAlertToUser: function(){            
            this.assignException = {'Inbox':{'InboxKey':''}};            
            this.assignException.AssignToUserId=this.Inbox.AssignedToUserId;
            this.showAssignAlerts=true;
        },
          
        assignAlert: function(){
            var self = this;
            var input = {}; 
            input.ExceptionList = {}
            input.ExceptionList.Exception = []
            var selectedExceptions = input.ExceptionList.Exception;
            var selectedException = {};
            selectedException.InboxKey = self.Inbox.InboxKey;
            selectedException.AssignToUserId = self.assignException.AssignToUserId;
            selectedExceptions.push(selectedException);
            
            var success = function(result) {
               self.Inbox.AssignedToUserId = self.assignException.AssignToUserId;
            }
            Utils.executeDataService("assignAlertsList", success, input, self.errorHandler);            
        },
          
        cancelAlert: function(){
            this.assignException = {'Inbox':{'InboxKey':''}};
        },
        
        getUserId: function(){
            return window.AppInfo.loginid;
        },
          
        hasPermission:function(resourceId){                 
            return Utils.hasPermission(resourceId)
         },
		 getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		 },
        
        errorHandler : function(errorObj) {            
          var self = this;
          self.apierror = true
          self.showmask=false;
          self.errorcode = errorObj.ErrorCode
          self.errordesc = errorObj.ErrorDescription
          //Error message times out after 10 seconds
          setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
        },
          
        getResolvedId: function(){
            var self = this;
            var userId;
            if(!(self.Inbox.Status === 'CLOSED')){
                userId = self.Inbox.ResolvedByUserId;
            }else if(self.Inbox.ResolvedByUserId){
                userId = self.Inbox.ResolvedByUserId;
            }else{
                userId = self.Inbox.Modifyuserid;
            }
            return userId;
        }
      }, 
    
    route: {
	   data: function (transition) {
           
            var self = this
            var loadUserList = function(userListResult){
                var success = function(result) {
                    transition.next({
                        Inbox: result,
                        notesList: result.InboxReferencesList.InboxReferences,
                        userList: userListResult.User
                    })
                }
                Utils.executeDataService("alertdetails", success, self.Inbox, self.errorHandler);
            }
            Utils.executeDataService("userList", loadUserList, self.User, self.errorHandler); 
   	    }
    },
        
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
        
      computed: {
        activeMarkAsWip: function () {
            var self=this;
            if(this.Inbox.Status==='OPEN'){
                return true;
            }else if(this.Inbox.Status==='WIP'){
                return false;
            }
        },
        
        referenceList: function(){
            var self=this; 
            var list=[];
            if(self.notesList){
            for(var i=0; i< self.notesList.length; i++) { 
                if(!(self.notesList[i].ReferenceType === 'COMMENT')){
                    list.push(self.notesList[i]);
                }
            }
            }
            return list;
        }
      }
}

</script>


