<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a component for implementation of ASN file upload in xls/xlsx format and also sends a successful email 
        notification to the user who uploads the file. This functionality is provided under 
	Common Tasks in Vendor portal Dash Board.
     ***************************************************************************-->

<template>
            <div>
            <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" v-on:click="cancel()" :disabled="getsubmitstat()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Upload ASN</h4>

                </div>
   <form id="uploadAsnform" method="post" 
                    enctype="multipart/form-data" v-on:submit.stop.prevent="uploadFiles()">
                                      <div class="modal-body">
                         <div class="alert alert-info"  v-show="showsuccess">
           
                 <button type="button" class="close"  aria-label="Close" @click="showsuccess=!showsuccess">&times;</button>
            <strong> Message Title:</strong> File Was Uploaded Successfully!!
          </div>

                    <div class="alert alert-danger" role="alert"  v-show="showerror">
                        <button type="button" class="close"  aria-label="Close" @click="showerror=!showerror">&times;</button>
                        <strong> Message Title:</strong> File Upload Failed!!
                    </div>
                        
                        
                        
                        <div class="clearfix"></div>
                      
                        <h5>Please Upload ASN Snapshot In Prescribed Excel Format:</h5>
                                          
                          <label class="control-label">Choose File</label>
                    <input type="hidden" name="process" value="ASN_LOAD" /> <input type="file"
                        name="Browse.." id="asnfile" accept=".xls,.xlsx" class="highlight-file" />
                                     <p class="help-block" v-show="file_select" >Please Select An Excel File</p>   
			             <p class="help-block" v-show="file_size" >Upload File Size Should Be Less Than 3MB</p>
			             <p class="help-block" v-show="file_extn"> Please Upload Valid Excel Files</p> 
                        <br>
                                          
                          <div class="progress" id="progress-wrp" v-show="uploadprogress" >
                       
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="status">0%</div>
                            </div>
                           </div>    
                        
                        <div class="m-t-10"></div>
                        To Download Excel Template, <a href="{{url1}}?process=ASN_LOAD">click here</a> <br>
                        <br/>                  
                               <label class="control-label">Send Email after Upload</label>                          
               <input type="checkbox" class="filtercheckbox" name="emailCheck" id="emailCheck" v-model="emailCheck" v-bind:true-value="true" v-bind:false-value="false" >              
                        <div class="row">
                            <div class="col-md-6">
                                <div class="m-t-10">
                                    <label class="control-label">Email Address For Notification</label>
                                    <input type="text" placeholder="example@example.com"
                                       id="asnemailnotify" name="emailnotify" v-model="notifyEmail" class="highlight-file" autocomplete="off" v-bind:disabled="!emailCheck">
                                      <p class="help-block" v-show="mailerror" >Please Enter Valid Email Address</p>
                                </div>
                            </div>
                        </div>
                
                </div>


                <div class="modal-footer">
                    <button type="submit" value="upload" class="btn btn-default" :disabled="getsubmitstat()">Upload</button>

                    <button type="button" class="btn btn-default SecondaryBtn"
                        data-dismiss="modal" v-on:click="cancel()" :disabled="getsubmitstat()">Close</button>
                </div>
                                          </form>
            </div>
            </template>
            <script>
              var Vue = require('vue')
              var Utils = require('./../utils/utils.js')
              var Logger = require('./../utils/loggerUtils.js')
              var $log = Logger.getInstance('Inventory Upload')
              import EventBus from './../utils/eventbus.js';

        export default{
           ready: function ready () {         
            var self = this     
   
            $("#asnemailnotify").on('change',function(){
                  
                    if(self.emailCheck && self.checkfromEmail()){
                         self.mailerror=true      
                     }
                     else{
                         self.mailerror=false
                     }
                    
                });
            $("#asnfile").on('change',function() {
                self.file_select= false
                 if($('#asnfile')[0].files[0]){  
                  if($('#asnfile')[0].files[0].size > 3145728){
                      self.file_size=true                      
                      self.file_extn=false
                  }
                  else if($('#asnfile')[0].files[0].type != 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' 
		         && $('#asnfile')[0].files[0].type != 'application/vnd.ms-excel'){
                      self.file_extn=true                      
                      self.file_size=false
                  }
                  else{
                     self.file_extn=false
		     self.file_size=false 
                  }
                 }
                  else{
                      self.file_select= true; 
                      self.file_extn=false
                      self.file_size=false    
                  }  
                });        

           }, 

           data: function () { 

                    var url1= window.AppInfo.contextroot + "/filedownloadservlet"
                    var showsuccess=false
                    var showerror=false
                    var notifyEmail = window.AppInfo.emailid;
                    var subbtn= false; 
                    var file_select = false;
                    var file_size = false
                    var file_extn = false
                    var mailerror= false
                    var uploadprogress= false
                    var emailCheck=false
                    
                    return {
                            url1:url1,
                            showsuccess:showsuccess,
                            showerror:showerror,
                            notifyEmail:notifyEmail,
                            subbtn:subbtn,
                            file_select:file_select,
                            file_size:file_size,
                            file_extn:file_extn,
                            mailerror:mailerror,
                            uploadprogress:uploadprogress,
                           emailCheck:emailCheck
                           
                           

                        }
                    },

                    methods: {	  
                     getValue: function(row, binding) {
                        return Utils.getValue(row,binding)
                     },
                     getsubmitstat: function()
                     {
                            return this.subbtn;         
                     },
                       goBack: function () {
                       window.history.go(-1)
                     },
                        
                    checkfromEmail : function(){
			             var self = this;
			             var emailAdd = self.notifyEmail;
			
			
                        var posOfAt = self.notifyEmail.indexOf("@");
                        var posOfDot = self.notifyEmail.lastIndexOf(".");
                        if (posOfAt<1 || posOfDot<posOfAt+2 || posOfAt+2>=self.notifyEmail.length || posOfDot>=self.notifyEmail.length-1) {
                            document.getElementById("asnemailnotify").focus();
                            return true;
                        }else{
                            return false;
                        }
	    
		             },    

                     cancel: function() {
		     //	 $("#uploadform")[0].reset();
                         $("#asnfile").val('') 
                         this.file_select= false; 
                         this.file_size= false; 
                         this.file_extn= false  
                         this.mailerror=false
                         this.uploadprogress=false
                         $('.error').remove();
			 this.notifyEmail = window.AppInfo.emailid;
						 this.$dispatch('cancel')
                     },

                     apply: function() {
                        this.$dispatch('apply')
                     },
                        uploadFiles: function(){
                
				var self=this; 
                var data = new FormData($('#uploadAsnform')[0]);
                                          
                 if(! $('#asnfile')[0].files[0]){
                    self.file_select= true;            
                }
                
                else if ($('#asnfile')[0].files[0].size > 3145728 ){
                    self.file_size = true;                   
                }
                else if($('#asnfile')[0].files[0].type != 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' 	
			&& $('#asnfile')[0].files[0].type != 'application/vnd.ms-excel' ){
                    self.file_extn=true 
                }
                else if( self.emailCheck && (self.notifyEmail === null || self.notifyEmail.trim() === "" || self.checkfromEmail()) ){
                     self.mailerror=true 
                }
                else {
                    $.each($('#asnfile')[0].files, function(i, file) {
                    data.append('file-'+i, file);
                });
                self.subbtn=true             
                self.uploadprogress=true
                $.ajax({
                    url: window.AppInfo.contextroot+'/api/exceluploadservlet',
                    type: 'POST',
                    data: data,
                    cache: false,
                    dataType: 'json',
                    processData: false, 
                    xhr: function(){
        //upload Progress
        var xhr = $.ajaxSettings.xhr();
        if (xhr.upload) {
            xhr.upload.addEventListener('progress', function(event) {
                var percent = 0;
                var position = 0;
                var total = 0;
                position = event.loaded || event.position;
                total = event.total;
                if (event.lengthComputable) {
                    percent = Math.ceil(position / total * 100);
                }
                //update progressbar
                $(".progress-bar").css("width", + percent +"%");
                $(".status").text(percent +"%");
            }, true);
        }
        return xhr;
    },
                    contentType: false, 
                    success: function(data, textStatus, jqXHR)
                    {
                        self.showsuccess=true
                        setTimeout(function(){self.showsuccess=false},Utils.getTimeOut())
                        $("#asnfile").val('')
                        self.subbtn=false
                        self.uploadprogress=false                    
                        if(data) {
                            var uploadKey= data.FileUploadKey
                             var uploadurl = window.AppInfo.contextroot+'/jobmonitor?JobType=Upload&JobKey='+uploadKey 
                             $.ajax({
                                url: uploadurl,
                                type: 'GET',
                                success:function(output,status) {
                                    //console.log("Job Completed "+data.JobType+" Key "+data.JobKey);
                                    EventBus.$emit('jobcomplete',output);
                                } 
                             })
                        }
                                              
                        $(".progress-bar").css("width", + 0 +"%");
                        $(".status").text("0%");
                         $('#uploadAsnPage').modal('toggle');
                        self.$router.go({name:'jobslist'})
                                                                       
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        self.showerror=true
                        setTimeout(function(){self.showerror=false},Utils.getTimeOut())
			self.subbtn=false
                        self.uploadprogress=false
                    }
                });
                }

            }
                    },  

                    beforeDestroy: function() {
                        $(this.$el).remove();
                        $(this.$el).removeData();
                    },
            }
</script>



