<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for Booking Freight from Vendor Portal.-->
<!-- Book Freight functionality allows Vendors to send a request to Carriers to book freight once the ASN has been generated -->
<!-- This screen allows Vendors to create a request by providing the dimensions and weight of the containers to be included in the consignment --> 
<template>
<!-- Definition of the HTML template (View) of the Component -->
<div>
     <div>
      <div class="container-fluid CustomHgt">
      <div class="row ">
       <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
		</div>
        </div>
      
	</div>
			 <div class="clearfix"></div>
			  <div id="ErrorMessage" style="color:red; padding-left:12px" align="left">
			   </div>

   <div class="container-fluid" cz-shortcut-listen="true">   
    <div class="block  clearfix">
      <h5 class="pull-left">Book Freight</h5>
      <div class="pull-right">
        <button class="btn btn-default SecondaryBtn button-primary btnSave" v-on:click="Save()" 
             v-bind:disabled='disableactions'>Send</button>
        <button class="btn btn-default SecondaryBtn" data-toggle="modal" data-target="#cancel" 
                                   title="Cancel" v-on:click="showAlert('cancel', $event)">Cancel</button>
       </div>
    </div>
       <!-- this block displays the input validation errors -->
         <div class="block" v-show="haserror">
          <div class="alert alert-danger alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="haserror=!haserror"><span aria-hidden="true">&times;</span></button>
              <strong>Input Error:</strong>{{alertmessage}}. Please fix the error and try again.</div>
			</div> 
        <!-- this block displays the successful booking request message -->
		        <div class="block" v-if="freightbooked">
          <div class="alert alert-info alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong> Request Successful:</strong>  Request to Book Freight was successfully placed.Shipment Number <a v-link="{ path:'/shipmentdetails',query:{key:shipmentDetailsInput['ShipmentKey']}}"> {{resultShipmentNo}}  </a> </div>
			</div>
        <div class="block" v-if="dataerror">
          <div class="alert alert-danger alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong> Data Load Error:</strong> The data load failed with the error {{errorcode}} {{errordesc}}. Please Try Again. </div>
			</div>       
	<!-- this block displays the errors from the backend dataservice call.  -->
        <div class="block" v-if="apierror">
          <div class="alert alert-danger alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong> Request Failed:</strong>  Request to Book Freight was not successful. The Request Failed with the error {{errorcode}} {{errordesc}}. Please Try Again. </div>
			</div>
	
    <div class="panel panel-default m-t-10">
       <div class="panel-heading">Consignment Info</div>
       <div class="panel-body">
         <div class="m-t-10"></div>
         <div class="row">
           <div class="col-md-4">
		    <div class="form-group clearfix m-t-10">
                <label for="" class="col-sm-6 control-label">Shipment No</label>
                <div class="col-sm-6">
               {{shipmentDetails.ShipmentNo}}
                </div>
              </div>
             <div class="form-group clearfix">
                <label for="" class="col-sm-6 control-label">Priority</label>
                <div class="col-sm-6">
                <select class="select-style form-control" 
										 id="priorityList">
										 
                                     <option v-for="priority in commonCdPriorityList" v-bind:value="priority.CodeValue">{{priority.CodeValue}}</option> 
                                    
                                    </select>
                </div>
              </div>
              <div class="form-group clearfix m-t-10">
                 <label for="" class="col-sm-6 control-label">Consignment No.</label>
				  <div class="col-sm-6" v-if="shipmentDetails.TrackingNo">
                   {{shipmentDetails.TrackingNo}}
                 </div>
                 <div class="col-sm-6" v-else>
                   <input type="text" class="form-control h-auto" v-model="TrackingNo" id="TrackingNo">
                 </div>
               </div>
           </div>
          <div class="col-md-4">
                   <div class="AddressContainer">
                        <!-- This child component displays the Pickup address -->
                       <addressdetails
                                 :addressdetails= "fromAddress"
                                 :addresslabel="'Pickup Address'"
                                 >
                         </addressdetails>
                    </div>   
          </div>
            <div class="col-md-4">
            
             <div class="AddressContainer">
                        <!-- This child component displays the Delivery address -->
                 <addressdetails
                                 :addressdetails= "toAddress"
                                 :addresslabel="'Delivery Address'"
                                 >
                         </addressdetails>
               </div>
            </div>
         </div>
       <div class="m-t-10"></div>
       </div>
     </div>
	 
	    
    <div class="panel panel-default">
        <div class="panel-heading">Container Details 
		<span class="pull-right"><button id="btnAdd" class="btn btn-default SecondaryBtn" v-on:click="Add()" v-bind:disabled="disableactions" >New</button><button id="btnDelete"   class="btn btn-default SecondaryBtn" v-on:click="Delete()" v-bind:disabled="disableactions">Delete</button></span>
		
		</div>
        <!-- Below table allows the user to add and delete containers -->
        <div class="table-responsive bookhead">
	<table id="tblList" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">	
<thead> 
<tr> 
<th rowspan="2"><input type='checkbox' id='select-all' /></th>
<th rowspan="2">Sl. No</th> 
<th rowspan="2">Container Type</th>
 <th colspan="4" class="text-center">Dimension


<th rowspan="2">Cubic Volume</th> 
<th rowspan="2">Weight</th> 
<th rowspan="2">Weight UOM</th>
<th rowspan="2">No. of Containers</th> 
<th rowspan="2">Special Instrucions</th>    
</tr>
<tr>
<th style="width: 100px;">Length</th> 
<th style="width: 100px;">Width </th> 
<th style="width: 100px;">Height</th> 
<th style="width: 100px;">UOM</th>

</tr> 
</thead> 
<tbody> 
     <tr id="Row{{$index+1}}" role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData" >
       <td><input type='checkbox' class='checkbox txtcheckbox' id='{{$index+1}}' /></td>
        <td>{{$index+1}}</td>
       <td id='selectV{{$index+1}}'>
        <select  class="select-style changeOthAttrs form-control" id="txtContainerType{{$index+1}}" v-model="row.ContainerType" >
            <option v-for="containertype in commonCdContainerTypeList" v-bind:value="containertype.CodeValue">
                                         {{containertype.CodeValue}}</option>
          </select>
       </td>
         <td><input id='txtLength{{$index+1}}' class='changeInDim form-control' type='text' v-model="row.ContainerLength"/></td>
         <td><input id='txtWidth{{$index+1}}' class='changeInDim form-control' type='text'  v-model="row.ContainerWidth"/></td>
         <td><input id='txtHeight{{$index+1}}' class='changeInDim form-control' type='text' v-model="row.ContainerHeight"/></td>
         <td id='dimUom{{$index+1}}'>Centimeters</td>
         <td id='txtCubicVolume{{$index+1}}' >{{getVolume(row)}}Cubic Meters</td>
		  <td><input class='changeOthAttrs form-control' id='txtWeight{{$index+1}}' type='text' v-model="row.ContainerGrossWeight"/></td>
          <td class='' id='weightUom{{$index+1}}'>Kilogram</td>
          <td><input class='changeOthAttrs form-control' id='txtNoOfCartons{{$index+1}}' type='text'  v-model="row.Extn.NoOfContainer"/></td>
         <td><input id='txtinstruction{{$index+1}}' class='form-control' type='text' v-model="row.Instructions.Instruction.InstructionText" ></td>
    </tr>
    
</tbody> 
</table> 
    </div>
   </div>
  </div>
  <div v-show="showAlertVar">
      <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'You will lose your changes.<br> Do you want to Continue?'"           
                v-on:cancel="cancel()"
                v-on:confirm="goBack()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="modal fade" id="InvalidInput" tabindex="-1" role="dialog" aria-labelledby="messagebox" data-backdrop="static" >
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              <messagebox
                :message="alertmessage"
                v-on:confirm="closemessage()"
                >
              </messagebox>
          </div>
        </div>
   </div>    
    
	    <div hidden>
    	<input class="hidden" value= {{$route.query.key}}  v-model="shipmentDetailsInput.ShipmentKey"/> </div>
    </div>
   </template>
<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
	var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Book Freight')    
	var s ;
    var indexContainerDetaillList = [];
/* Definition of the Vue Component script */
	export default {
    data: function () {
     
      var shipmentDetailsInput={}    
      var commonCdPriorityList=[]
	  var commonCdContainerTypeList=[]
      var gridData=[]
      var shipmentDetails={}
	  var showAlertVar=false
		var TrackingNo=''
		var freightbooked=false
        var resultShipmentNo={}
        var fromAddress ={};
        var toAddress ={};
        var apierror=false
        var errorcode;
        var errordesc;
        var alertmessage;
        var haserror = false
        var dataerror = false
        var disableactions = false
       return {
            shipmentDetailsInput:shipmentDetailsInput,
            shipmentDetails:shipmentDetails,
            showAlertVar:showAlertVar,
			commonCdPriorityList:commonCdPriorityList,
			TrackingNo:TrackingNo,
			commonCdContainerTypeList:commonCdContainerTypeList,
			freightbooked:freightbooked,
            resultShipmentNo:resultShipmentNo,
            fromAddress:fromAddress,
            toAddress:toAddress,
            errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror,
            alertmessage:alertmessage,
            haserror:haserror,
           dataerror:dataerror,
           disableactions:disableactions,
           gridData:gridData
         }
      },
	ready: function() {

	//initializing the index
    indexContainerDetaillList.length = 0;
	s = 1;
	$("#select-all").change(function() {
			var status = this.checked;
			$('.checkbox').each(function() {
				this.checked = status;
			});
		});
},
//initial data load
	route: {
		data: function (transition) {
		
                       var self=this  
                       var success=function(data) {
                           $log.log("Success Callback")
                       }
                       var shipsuccess= function(result) {
                           
                            $log.log("Shipment Success Callback")
                            
                       }
                        var errorHandler= function(errorObj) {
               
                              self.dataerror = true
                              self.errorcode = errorObj.ErrorCode
                              self.errordesc = errorObj.ErrorDescription
                              //Error message times out after 10 seconds
                              self.disableactions = true
                              setTimeout(function(){self.dataerror = false},Utils.getTimeOut())
                              
                        }
					return Promise.all([
						Utils.executeDataServicePromise("commonCodeListFrPriority",success, null,errorHandler),
						Utils.executeDataServicePromise("containerTypeList",success, null,errorHandler),
						Utils.executeDataServicePromise("shipmentDetails",shipsuccess,self.shipmentDetailsInput,errorHandler)
					]).then(function(data) {
                        var shipdetails = data[2]
                       /* shipdetails.Containers.Container.forEach(function (container) {
                                   //committedQuantity += Number(schedule.CommittedQuantity)
                               })*/
                        if(shipdetails.Extn.LogisticsStatus && shipdetails.Extn.LogisticsStatus !== "Rejected" ) {
                            self.freightbooked = true
                            self.disableactions = true
                        }
						return {
							commonCdPriorityList:data[0].CommonCode,
							commonCdContainerTypeList:data[1].CommonCode,
							shipmentDetails:shipdetails,
                            fromAddress:shipdetails.FromAddress,
                            toAddress:shipdetails.ToAddress,
                            gridData:shipdetails.Containers.Container
                            
						}
					}).catch(function(e){
                        //console.log(e)
                        $log.error("Caught Error"+e)
                    })
             
	}
        
   }
  ,
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },

      
/*This method adds a new row into the table */
      Add:function(){
          /* Adding the template for a new row in the container list dynamically */
          
          var temp={
                               'ContainerType':'',
                                'ContainerWidth':'',
                                'ContainerLength':'',
                                 'ContainerHeight':'',
								'ContainerLengthUOM':'',
								 'ContainerWidthUOM':'',
								 'ContainerHeightUOM':'',
								 'ContainerGrossWeight':'',
								 'ContainerGrossWeightUOM':'',
								'Extn':{
                                  'NoOfContainer':''  
                                 },
                                 'Instructions':{
                                     'Instruction':{'InstructionType':'SHIP', 'InstructionText':''}
                                 }
                    }
          if(!this.gridData) {
              this.gridData = []
          }
          this.gridData.push(temp)
          
		/*$("#tblList tbody")
				.append(
						"<tr>"
								+ "<td><input type='checkbox' class='checkbox txtcheckbox' id='"+s+"' " 
								+ "  /></td><td>"
								+ s
								+ "</td>"
								+ "<td id='selectV"
								+ s
								+ "''></td>"
								+ "<td><input id='txtLength"
								+ s
								+ "' class='changeInDim form-control' type='text'/></td>"
								+ "<td><input id='txtWidth"
								+ s
								+ "' class='changeInDim form-control' type='text'/></td>"
								+ "<td><input  id='txtHeight" 
								+ s
								+ "' type='text'  class='changeInDim form-control'    /></td>"
								+ "<td id='dimUom"
								+ s
								+ "''></td>"
								+ "<td id='txtCubicVolume" 
								+ s
								+ "' ></td>"
								+ "<td><input class='changeOthAttrs form-control' id='txtWeight" 

								+ s
								+ "' type='text'/></td>"
								+ "<td class='' id='weightUom"
								+ s
								+ "''></td>"
								+ "<td><input class='changeOthAttrs form-control' id='txtNoOfCartons"
								+ s
								+ "' type='text'/></td>"
								+ "</tr>");
          /* Adding the container type combobox dynamically */
			/*	var select = document.createElement("select");
				select.setAttribute("class", "select-style changeOthAttrs form-control");
				select.setAttribute("id", 'txtContainerType'+s+"");
				var option1 = document.createElement("option");
						option1.value = "";
						option1.text = "";
						
					select.add(option1);
					for (i = 0; i < this.commonCdContainerTypeList.length; i++) {
				
					var option = document.createElement("option");
						option.value = this.commonCdContainerTypeList[i].CodeValue;
						option.text = this.commonCdContainerTypeList[i].CodeValue;
						
						select.add(option);
				}
          
          $('#selectV'+s+"").append(select);
          
          $('#dimUom'+s+"").append("Centimeters");
          $('#weightUom'+s+"").append("Kilogram");
        indexContainerDetaillList.push(s);
		s++;
        */
	  },
      /*This method deletes a row from the container table */
	  Delete: function(){
	  		var self = this
		if ($('.checkbox:checked').length) {
			
			$('.checkbox:checked').each(function() {
            var tempId = parseInt($(this)[0].id);
            self.gridData.$remove(self.gridData[tempId-1]) 
              //  console.log(tempId)
              /*  var ContainerIndex = indexContainerDetaillList.indexOf(tempId);
                var ContainerIndexLenght = indexContainerDetaillList.length;
				$(this).closest("tr").remove();
                console.log(ContainerIndex)
                indexContainerDetaillList.splice(ContainerIndex,1);
                
                if(ContainerIndexLenght == 1) //lastElement
                {
                    indexContainerDetaillList.length=0;
                    s=1;
                }
                //if(s==0)
				//s=1;
                */
				
			});
			$('input:checkbox').removeAttr('checked');
		} else {
			//alert('Select a row');
            this.alertmessage= 'Select at least One Container';
            this.haserror = true
             setTimeout(function(){self.haserror = false},Utils.getTimeOut())
             //$('#InvalidInput').modal('show');
		
		}

	  },
      /* Saves the changes in shipment and invokes the dataservice to push the 3B12 message to queue */
	  Save: function(){
	 var tempContainerList=[]
	  var chgShipmentInput={
            'ShipmentKey': '',
            'TrackingNo':'',
			'ShipmentNo':'',
			'SellerOrganizationCode':'',
			'ShipNode':'',
			'OrderNo':'',
			'SCAC':'',
			'Status':'',
			'DocumentType':'',
			'EnterpriseCode':'',
			'PriorityCode':'',
			'ToAddress':{
					'FirstName' : '',
					'LastName' : '',
					'AddressLine1' : '',
					'AddressLine2' : '',
					'City' : '',
					'State' : '',
					'ZipCode' : '',
					'Country' : ''
			},
			'FromAddress':{
					'FirstName' : '',
					'LastName' : '',
					'AddressLine1' : '',
					'AddressLine2' : '',
					'City' : '',
					'State' : '',
					'ZipCode' : '',
					'Country' : ''
			},
            'Containers': {
                       'Container':[{
                               'ContainerType':'',
                                'ContainerWidth':'',
                                'ContainerLength':'',
                                 'ContainerHeight':'',
								'ContainerLengthUOM':'',
								 'ContainerWidthUOM':'',
								 'ContainerHeightUOM':'',
								 'ContainerGrossWeight':'',
								 'ContainerGrossWeightUOM':'',
								 'ContainerNo':'',
                                'Instructions':{'Instruction':{'InstructionText':'', 'InstructionType': 'SHIP'}}    
                           
                       }]
                        }
                 }
		
			 var self = this
             chgShipmentInput.ShipmentKey=this.shipmentDetailsInput.ShipmentKey;
			 if(this.shipmentDetails.TrackingNo!="" && this.shipmentDetails.TrackingNo!=null){
			  chgShipmentInput.TrackingNo=this.shipmentDetails.TrackingNo;
			 }
            else{
			 chgShipmentInput.TrackingNo=$("#TrackingNo").val();
				}
				
			if($("#priorityList").val()!="" && $("#priorityList").val()!=null){
				chgShipmentInput.PriorityCode=$("#priorityList").val();
			}else{
				//alert("Select priority");
                this.alertmessage= 'Select Priority';
               // $('#InvalidInput').modal('show');
				document.getElementById("priorityList").focus();
				return false;
			}
				        
			  chgShipmentInput.ShipmentNo=this.shipmentDetails.ShipmentNo;
			  chgShipmentInput.DocumentType=this.shipmentDetails.DocumentType;
			  chgShipmentInput.EnterpriseCode=this.shipmentDetails.EnterpriseCode;
			  chgShipmentInput.OrderNo=this.shipmentDetails.OrderNo;
			  chgShipmentInput.SellerOrganizationCode=this.shipmentDetails.SellerOrganizationCode;
			  chgShipmentInput.ShipNode=this.shipmentDetails.ShipNode;
			  chgShipmentInput.SCAC=this.shipmentDetails.SCAC;
              chgShipmentInput.ToAddress.FirstName= this.shipmentDetails.ToAddress.FirstName;
			  chgShipmentInput.ToAddress.LastName= this.shipmentDetails.ToAddress.LastName;
			  chgShipmentInput.ToAddress.AddressLine1= this.shipmentDetails.ToAddress.AddressLine1;
			  chgShipmentInput.ToAddress.AddressLine2= this.shipmentDetails.ToAddress.AddressLine2;
			  chgShipmentInput.ToAddress.City= this.shipmentDetails.ToAddress.City;
			  chgShipmentInput.ToAddress.State= this.shipmentDetails.ToAddress.State;
			  chgShipmentInput.ToAddress.ZipCode= this.shipmentDetails.ToAddress.ZipCode;
			  chgShipmentInput.ToAddress.Country= this.shipmentDetails.ToAddress.Country;
			  
			  chgShipmentInput.FromAddress.FirstName= this.shipmentDetails.FromAddress.FirstName;
			  chgShipmentInput.FromAddress.LastName= this.shipmentDetails.FromAddress.LastName;
			  chgShipmentInput.FromAddress.AddressLine1= this.shipmentDetails.FromAddress.AddressLine1;
			  chgShipmentInput.FromAddress.AddressLine2= this.shipmentDetails.FromAddress.AddressLine2;
			  chgShipmentInput.FromAddress.City= this.shipmentDetails.FromAddress.City;
			  chgShipmentInput.FromAddress.State= this.shipmentDetails.FromAddress.State;
			  chgShipmentInput.FromAddress.ZipCode= this.shipmentDetails.FromAddress.ZipCode;
			  chgShipmentInput.FromAddress.Country= this.shipmentDetails.FromAddress.Country;
			  
			  var k=1;
               s=this.gridData.length
               console.log(s)
			   if(s >= 1){
				k=s;
			  }else {
                //alert("No Container Details Provided");
                this.alertmessage= 'No Container Details Provided';
                 // $('#InvalidInput').modal('show'); 
                this.haserror = true
                setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                return false;
            }
			   
				for (i = 1; i <= k; i++) {
                    
			        if(($("#txtContainerType" + i + "").length) > 0){
                 
                         if(($("#txtContainerType" + i + "").val()!=undefined
					&& $("#txtContainerType" + i + "").val()!="")
					&& ($("#txtNoOfCartons" + i + "").val()!=undefined
					&& $("#txtNoOfCartons" + i + "").val()!="")
                    && ($("#txtWidth" + i + "").val()!=undefined
					&& $("#txtWidth" + i + "").val()!="")
                    && ($("#txtLength" + i + "").val()!=undefined
					&& $("#txtLength" + i + "").val()!="")
                    && ($("#txtHeight" + i + "").val()!=undefined
					&& $("#txtHeight" + i + "").val()!="")
                    && ($("#txtWeight" + i + "").val()!=undefined
					&& $("#txtWeight" + i + "").val()!="")
					){
				 var container = {
                               'ContainerType':'',
                                'ContainerWidth':'',
                                'ContainerLength':'',
                                 'ContainerHeight':'',
								'ContainerLengthUOM':'',
								 'ContainerWidthUOM':'',
								 'ContainerHeightUOM':'',
								 'ContainerGrossWeight':'',
								 'ContainerGrossWeightUOM':'',
								 'ContainerNo':'',
                                'Instructions':{'Instruction':{'InstructionText':'', 'InstructionType': 'SHIP'}}
                       }
                  container.ContainerType = $("#txtContainerType" + i + "").val();
                  container.ContainerWidth= $("#txtWidth" + i + "").val();
                  container.ContainerLength=$("#txtLength" + i + "").val();
                  container.ContainerHeight=$("#txtHeight" + i + "").val();
 				  container.ContainerNo=$("#txtNoOfCartons" + i + "").val();
                  container.Instructions.Instruction.InstructionText = $("#txtinstruction" + i + "").val();             
                             //  && ($("#txtUomDim" + i + "").val()!=undefined && $("#txtUomDim" + i + "").val()!="")  
                    
                    if(this.haserror) {
                       this.haserror = false 
                    }         
                   var intPatt = /^([1-9]\d?)$/
                   var floatPatt= /^([1-9]\d{0,3})(\.\d{1,2})?$/
                   
                   var isInt = intPatt.test(container.ContainerNo)
                   if(!isInt) {
                       //alert("No. of Cartons has to be a positive Integer");
                       this.alertmessage= 'No. of Containers Has To Be a Positive Integer Less Than 100';
                       this.haserror = true
                      // $('#InvalidInput').modal('show');
                       $("#txtNoOfCartons" + i + "").focus();
                       $("#txtNoOfCartons" + i + "").css("border-color","red");
                       
                       setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                       return false;
                   } else {
                      if(this.haserror) {
                       this.haserror = false 
                     } 
                   }
                 var isValidDim = floatPatt.test(container.ContainerLength)
                  if(!isValidDim) {
                       this.alertmessage= 'Container Length Is Invalid. Please Ensure that Container Length is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                      // $('#InvalidInput').modal('show');
                       $("#txtLength" + i + "").focus();
                       $("#txtLength" + i + "").css("border-color","red");
                       
                       setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                       return false;
                  } else {
                    if(this.haserror) {
                       this.haserror = false 
                    }                       
                  } 
                 isValidDim = floatPatt.test(container.ContainerWidth)
                  if(!isValidDim) {
                       this.alertmessage= 'Container Width Is Invalid. Please Ensure that Container Width is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                      // $('#InvalidInput').modal('show');
                       $("#txtWidth" + i + "").focus();
                       $("#txtWidth" + i + "").css("border-color","red");
                       
                       setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                       return false;
                  } else {
                    if(this.haserror) {
                       this.haserror = false 
                    }                       
                  } 
                 isValidDim = floatPatt.test(container.ContainerHeight)
                  if(!isValidDim) {
                       this.alertmessage= 'Container Height Is Invalid. Please Ensure that Container Height is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                      // $('#InvalidInput').modal('show');
                       $("#txtHeight" + i + "").focus();
                       $("#txtHeight" + i + "").css("border-color","red");
                       
                       setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                       return false;
                  } else {
                    if(this.haserror) {
                       this.haserror = false 
                    }                       
                  }                              
				  container.ContainerLengthUOM = 'CM';
				  container.ContainerWidthUOM = 'CM';
				  container.ContainerHeightUOM = 'CM';
				   container.ContainerGrossWeight = $("#txtWeight" + i + "").val();
                 isValidDim = floatPatt.test(container.ContainerGrossWeight)
                  if(!isValidDim) {
                       this.alertmessage= 'Container Weight Is Invalid. Please Ensure that Container Weight is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                      // $('#InvalidInput').modal('show');
                       $("#txtWeight" + i + "").focus();
                       $("#txtWeight" + i + "").css("border-color","red");
                       
                       setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                       return false;
                  } else {
                      if(this.haserror) {
                          this.haserror = false
                      }
                  }                             
				    container.ContainerGrossWeightUOM = 'KG';
                  tempContainerList.push(container)
			}else{
                if($("#txtContainerType" + i + "").val()==undefined
                        || $("#txtContainerType" + i + "").val() ==""){
                    //alert("Container type cannot be blank");
                    this.alertmessage= 'Container type cannot be blank';
                    this.haserror = true
                  //   $('#InvalidInput').modal('show');                
                    $("#txtContainerType" + i + "").focus();
                    $("#txtContainerType" + i + "").css("border-color","red")
                   setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                    return false;

                }else if($("#txtLength" + i + "").val()==undefined
					|| $("#txtLength" + i + "").val() ==""){
                    //alert("Container Length cannot be blank");
                    this.alertmessage= 'Container Length cannot be blank';
                    this.haserror = true
                    //$('#InvalidInput').modal('show');                 
                    $("#txtLength" + i + "").focus();
                    $("#txtLength" + i + "").css({"border-color":"red"})
                    setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                    return false;
                }else if($("#txtWidth" + i + "").val()==undefined
					|| $("#txtWidth" + i + "").val() ==""){
                    //alert("Container Width cannot be blank");
                    this.alertmessage= 'Container Width cannot be blank';
                    this.haserror = true
                     //$('#InvalidInput').modal('show');                    
                    $("#txtWidth" + i + "").focus();
                    $("#txtWidth" + i + "").css({"border-color":"red"})
                     setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                    return false;
                }else if($("#txtHeight" + i + "").val()==undefined
					|| $("#txtHeight" + i + "").val() ==""){
				//alert("Container Height cannot be blank");
                    self.alertmessage= 'Container Height cannot be blank';
                    //document.getElementById("#txtHeight" + i + "").focus();
                    self.haserror = true
                    //$('#InvalidInput').modal('show');                 
                    $("#txtHeight" + i + "").focus();
                    $("#txtHeight" + i + "").css({"border-color":"red"})
                    setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                    // $('#InvalidInput').modal('show');
                    return false;
                }else if($("#txtWeight" + i + "").val()==undefined
					|| $("#txtWeight" + i + "").val() ==""){
                    //alert("Container Weight cannot be blank");
                    this.alertmessage= 'Container Weight cannot be blank';
                    this.haserror = true
                    //$('#InvalidInput').modal('show');                
                    //document.getElementById("#txtWeight" + i + "").focus();
                    $("#txtWeight" + i + "").focus();
                    $("#txtWeight" + i + "").css({"border-color":"red"})
                    setTimeout(function(){self.haserror = false},Utils.getTimeOut())

                    return false;
                }
                
                /*else if($("#txtUomWeight" + i + "").val()==undefined
					|| $("#txtUomWeight" + i + "").val() ==""){
                    //alert("Container Weight cannot be blank");
                    this.alertmessage= 'Select a Container Weight UOM';
                    this.haserror = true
                    //$('#InvalidInput').modal('show');                
                    //document.getElementById("#txtWeight" + i + "").focus();
                    $("#txtUomWeight" + i + "").focus();
                    $("#txtUomWeight" + i + "").css({"border-color":"red"})
                    //setTimeout(function(){self.haserror = false},Utils.getTimeOut())

                    return false;
                } */
                /*else if($("#txtUomDim" + i + "").val()==undefined
					|| $("#txtUomDim" + i + "").val() ==""){
                    //alert("Container Weight cannot be blank");
                    this.alertmessage= 'Select a Container Dimenson UOM';
                    this.haserror = true
                    //$('#InvalidInput').modal('show');                
                    //document.getElementById("#txtWeight" + i + "").focus();
                    $("#txtUomDim" + i + "").focus();
                    $("#txtUomDim" + i + "").css({"border-color":"red"})
                    setTimeout(function(){self.haserror = false},Utils.getTimeOut())

                    return false;
                }*/
                else{
                    //alert("No of cartons cannot be blank");
                    this.alertmessage= 'No. of Containers cannot be blank';
                     //$('#InvalidInput').modal('show');
                    //document.getElementById("#txtNoOfCartons" + i + "").focus();
                    this.haserror = true
                    $("#txtNoOfCartons" + i + "").focus();
                    $("#txtNoOfCartons" + i + "").css({"border-color":"red"})
                    setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                    return false;
                }
			
             }
				
			
			} 
           
			
		}
			chgShipmentInput.Containers.Container= tempContainerList
			//var self = this
		      var bookSuccess = function(bookSuccessRes) {
			       self.freightbooked = true
                    self.resultShipmentNo=bookSuccessRes.ShipmentNo
                    self.disableactions = true

			   }
              var errorHandler = function(errorObj) {
                  self.freightbooked = false
                   self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                   setTimeout(function(){self.apierror = false},Utils.getTimeOut())
              } 
              $log.debug("Invoking service to request freight booking")
				Utils.executeDataService("requestFreightBooking", bookSuccess,chgShipmentInput,errorHandler);
	  },
	  showAlert:function(action, event){
		  if(event) {
					var target = event.srcElement || event.target
					if(target && target.hasAttribute('disabled')) {
									event.preventDefault()
									event.stopPropagation()
									return
					}
		}
          var self=this
            self.showAlertVar=true
            self.action=action
        },
       cancel:function(event){
            this.showAlertVar=false
        },
       closemessage:function(event) {
           $("txtNoOfCartons" + this.currentIndex + "").focus();
          if(event) {
                var target = event.srcElement || event.target
                if(target) {
                    target.focus()
                    event.preventDefault()
                    event.stopPropagation()
                    return
                }
		  } 
       },
         goBack:function(event){
             this.showAlertVar=false
             Vue.nextTick(function() {
                setTimeout( function() {
                                history.go(-1)
                         },
                           1000)
             })
         },
      
      getVolume:function(row){
          return row.ContainerLength * row.ContainerWidth * row.ContainerHeight
      }
 
  },

  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
  
 }

$(document).ready(function() {
	
		$(document).on('click', '.txtcheckbox', function(){
			if (this.checked == false) {
				$("#select-all")[0].checked = false; 
				
			}
	}); 

$(document).on('change','.changeOthAttrs' , function(){
            var i = $(this).closest("tr").find("td:eq(1)").text();
            var noOfCartons = $("#txtNoOfCartons" + i + "").val();
            var weight = $("#txtWeight" + i + "").val();
            var containerType = $("#txtContainerType" + i + "").val();
           // var weightUom = $("#txtUomWeight" + i + "").val();
            
            var intPatt = /^([1-9]\d?)$/
            var floatPatt= /^([1-9]\d{0,3})(\.\d{1,2})?$/
    
           // var dimUom = $("#txtUomDim" + i + "").val();
            $log.debug("Evaluating change of attributes")
            if(weight !== "" && floatPatt.test(weight)){
                $("#txtWeight" + i + "").css("border-color","#ccc")    
                $("#txtWeight" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                this.haserror = false
                
            } 
            if(containerType !== ""){
                $("#txtContainerType" + i + "").css("border-color","#ccc")    
                $("#txtContainerType" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                this.haserror = false
            } 
            /*if(dimUom !== ""){
                $("#txtUomDim" + i + "").css("border-color","#ccc")    
                $("#txtUomDim" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
            } */

           /* if(weightUom !== ""){
                $("#txtUomWeight" + i + "").css("border-color","#ccc")    
                $("#txtUomWeight" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
            } */ 
    
            if(noOfCartons !== "" && intPatt.test(noOfCartons) ){
                $("#txtNoOfCartons" + i + "").css("border-color","#ccc")    
                $("#txtNoOfCartons" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                this.haserror = false
            } 
        
    });
    
/*Calculate the Volume based on change in dimensions and also reset the border color for columns */		
		$(document).on('change','.changeInDim' , function(){
            var i = $(this).closest("tr").find("td:eq(1)").text();
            var attrName = $(this).id
            var length = $("#txtLength" + i + "").val();
            var height = $("#txtHeight" + i + "").val();
            var width = $("#txtWidth" + i + "").val();
            var haslength = true
            var haswidth = true
            var hasheight = true
            
            $log.debug("Evaluating change of dimension attributes")

            if(length==undefined || length==null || length==""){
              length = 0;
              haslength = false    
            } else {
                $("#txtLength" + i + "").css("border-color","#ccc") 
                $("#txtLength" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
            } 
            if(height==undefined || height==null || height==""){
                height = 0;
                hasheight = false
            } else {
                $("#txtHeight" + i + "").css("border-color","#ccc")    
                $("#txtHeight" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
            } 
            if(width==undefined || width==null || width==""){
                width = 0;
                haswidth = false
            } else {
                $("#txtWidth" + i + "").css("border-color","#ccc")    
               $("#txtWidth" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
            } 
            var volume
            if(!haslength && !haswidth && !hasheight) {
                volume = 0
            } else {
                //Volume 
                var vollength = length/100
                var volheight = height/100
                var volwidth = width/100
                volume = (haslength ? vollength : 1) * (hasheight ? volheight : 1)  * (haswidth ? volwidth : 1);
            }
            //var volume = length * width * height
            var fixedVolume = volume.toFixed(3);   
            var volumeStr = fixedVolume + " Cubic Meters"
            $("#txtCubicVolume" + i + "").html(volumeStr);
		
		}); 
});



</script>    

