<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used to create Asn .On success it will take back to the orderList screen and On Cancel It will take back to the OrderDetails screen
     ***************************************************************************-->

<template>

	<div>

			<div class="container-fluid CustomHgt" cz-shortcut-listen="true">
               <div class="row ">
                 <div class="col-md-4">
                    <div v-breadcrumb="true"></div>
                  </div>
                </div>

				<div class="block  clearfix">
        <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
                    
					<h5 class="pull-left">CREATE ASN</h5>
					<div class="pull-right">
						<!--<div class="btn btn-default SecondaryBtn button-primary" v-on:click="showAlert()" data-toggle="modal"  data-backdrop="static" v-bind:disabled="ASNSuccess" >Generate ASN</div>-->
                        <button class="btn btn-default SecondaryBtn button-primary" v-on:click="showAlert()" data-toggle="modal"  data-backdrop="static" v-bind:disabled="ASNSuccess" >Generate ASN</button>
						<div class="btn btn-default SecondaryBtn" v-on:click="showAlertConfirm()" data-toggle="modal" data-target="#cancelMsg" title="cancel" data-backdrop="static">Cancel</div>
					</div>
				</div>


             <div class="block"   v-if="ASNSuccess" >
                        <div class="alert alert-info" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            ASN has been generated successfully. The shipment reference no is <a v-link="{ path:'/shipmentdetails',query:{key:asnShipmentKey}}">{{asnShipmentNo}}</a>
                        </div>

          </div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default ">
							<div class="panel-heading">Order Details</div>
							<div class="panel-body asnbody">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group clearfix">
											<label for="" class="col-sm-6 control-label">Sterling Reference No</label>
											<div class="col-sm-6">
												<span class="form-inline-left">{{orderHeader.OrderNo}}</span>
											</div>
										</div>
                                        <div class="form-group clearfix">
											<label for="" class="col-sm-6 control-label">Purchase Order Number</label>
											<div class="col-sm-6">
												<span class="form-inline-left">{{getValue(orderHeader,"OrderName")}}</span>
											</div>
										</div>
                                        <div class="form-group clearfix">
											<label for="" class="col-sm-6 control-label">Consignment  Number</label>
											<div class="col-sm-6">
												<span class="form-inline-left"> <input type="text" class="form-control" placeHolder="Consignment  No" v-model="asnInput.TrackingNo" v-bind:disabled="ASNSuccess" maxlength="12"> </span>
											</div>
										</div>
                                        <div class="form-group clearfix">
											<label for="" class="col-sm-6 control-label">Estimated Delivery Date</label>
											<div class="col-sm-6">
												<div class="form-inline-left"> <input type="text" class="select-style form-control" placeHolder="Estimated Date" v-datepicker="asnInput.ExpectedShipmentDate" v-bind:disabled="ASNSuccess" allowpastdate="N" id="ExpectedShipmentDate" style="height: 24px !important;"> 
                                                    <span class="glyphicon glyphicon-calendar form-control-feedback asndate" aria-hidden="true"></span>
                                                </div>
											</div>
										</div>                                        

									</div>
									<div class="col-md-6">
												<div class="form-group clearfix">
											<label for="" class="col-sm-6 control-label">Order Value</label>
											<div class="col-sm-6">
												<span class="form-inline-left">{{getValue(orderHeader,"PriceInfo.TotalAmount")}}</span>
											</div>
										</div>
										<div class="form-group clearfix">
											<label for="" class="col-sm-6 control-label">Req Delivery Date</label>
											<div class="col-sm-6">
												<span class="form-inline-left"> {{formatForDisplay(orderHeader.ReqDeliveryDate)}} </span>
											</div>
										</div>
										<div class="form-group clearfix">
											<label for="" class="col-sm-6 control-label">Carrier</label>
											<div class="col-sm-6">
												<span class="form-inline-left">
                                                    <input type="text" class="form-control" placeHolder="Carrier" v-model="asnInput.SCAC" v-bind:disabled="ASNSuccess">
													 </span>
												</div>
											</div>
                                        
                                         <div class="form-group clearfix">
											<label for="" class="col-sm-6 control-label">Reference Number</label>
											<div class="col-sm-6">
												<span class="form-inline-left"> <input type="text" class="form-control" placeHolder="Reference Number" v-model="asnInput.ShipmentNo" v-bind:disabled="ASNSuccess"> </span>
											</div>
										</div>


										</div>

				
                    <div class="m-t-10"> &nbsp; </div>
                    <div class="m-t-10"> &nbsp; </div>
                    <div class="m-t-10"> &nbsp; </div>


									</div>
								</div>
							</div>
						</div>
				
		                <div class="col-md-6">
                            	<div class="panel panel-default">
								<div class="panel-heading">Address</div>
								<div class="panel-body">
                <div class="col-md-6">
		                  <div class="AddressContainer">
		                      <h6>From ADDRESS</h6>

		                           <div class="input-group col-md-9 col-sm-11 col-xs-8">
  <select class="form-control Location-ctrl"  id="nodeList" v-model="shippingLocAdd" required  v-bind:disabled="ASNSuccess">
     <option value="" disabled selected hidden>Choose Location</option>
     <option v-for="node in nodeData" v-bind:value="node">{{node.IdentifiedByParentAs}}</option>  </select>           <span class="input-group-btn cusPlusgrp">
    <button class="btn btn-default SecondaryBtn button-primary CusPlusBtn" type="button"  data-toggle="modal" data-target="#addLocation"
                                   title="Add Location" v-on:click="showAddLoc()" data-backdrop="static" v-bind:disabled="ASNSuccess" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </span>
</div>
                        <address class="AddressInside">
                                 <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.FirstName")'>{{getValue(shippingLocAdd,"ShipNodePersonInfo.FirstName")}} {{getValue(shippingLocAdd,"ShipNodePersonInfo.LastName")}} </span>      
                                <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine6")'> {{getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine6")}} </span>    
                                <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine1")'>  {{getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine1")}}  </span>  
                                <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine2")'> {{getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine2")}}  </span>
                                <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine3")'> {{getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine3")}} </span>
                                <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine4")'> {{getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine4")}} </span>
                                <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine5")'> {{getValue(shippingLocAdd,"ShipNodePersonInfo.AddressLine5")}} </span>    

                                <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.City")'>{{getValue(shippingLocAdd,"ShipNodePersonInfo.City")}} {{getValue(shippingLocAdd,"ShipNodePersonInfo.State")}} {{getValue(shippingLocAdd,"ShipNodePersonInfo.ZipCode")}}</span> 

                                <span v-show='getValue(shippingLocAdd,"ShipNodePersonInfo.Country")'>{{getValue(shippingLocAdd,"ShipNodePersonInfo.Country")}}</span>
                                <span v-show="shippingLocAdd.DayPhone"><label for="" class="control-label">Day Phone </label>{{getValue(shippingLocAdd,"ShipNodePersonInfo.DayPhone")}}</span>        
                                <span v-show="shippingLocAdd.EmailID"><label for="" class="control-label">Email Address </label>{{getValue(shippingLocAdd,"ShipNodePersonInfo.EmailID")}}</span> 
                            
                  </address>
		                  </div>
                      </div>
                     <div class="col-md-6">
                             <div class="AddressContainer ">
                       
<div class="AddressClss">
                               <addressdetails
                                 :addressdetails= 'getShipToAddress()'
                                 :addresslabel="'Ship To Address'"
                                 >
                         </addressdetails>
    </div>
                      </div>
                      </div>
    </div>
    </div>
		              </div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Line Items</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
									<thead>
										<tr role="row">
											<th class="" style="width: 20px;"></th>
											<th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy( 'PrimeLineNo')" :class="{active: gmeta.sort.key =='PrimeLineNo'}" >Line  Number
												<span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['PrimeLineNo'] > 0 ? 'sort-up' : 'sort-down'">
												</span>
											</th>

											<th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy('Item.ItemID')" :class="{active: gmeta.sort.key == 'Item.ItemID'}" >Item ID
												<span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
												</span>
											</th>

											<th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('Item.ItemShortDesc')" :class="{active: gmeta.sort.key == 'Item.ItemShortDesc'}">Item Description
												<span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.ItemShortDesc'] > 0 ? 'sort-up' : 'sort-down'">
												</span>
											</th>

		                                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('Item.UnitOfMeasure')" :class="{active: gmeta.sort.key == 'Item.UnitOfMeasure'}">UOM
		                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
		                                      </span>
		                                    </th>

											<th @click="sortBy('OrderedQty', true)" :class="{active: gmeta.sort.key == 'OrderedQty'}"> Order Qty
												<span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['OrderedQty'] > 0 ? 'sort-up' : 'sort-down'">
												</span>
											</th>
				<th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"> Shipped Qty</th>

										</tr>
									</thead>
									<tbody>
                              <tr role="row" class="filter-row">
                                  <td class="center-filter">
                                      <div class="glyphicon glyphicon-filter"></div>
                                  </td>

                                   <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.PrimeLineNo">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemID">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemShortDesc">
                                  </td>
                                   <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.UnitOfMeasure">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.OrderedQty">
                                  </td>
                                   <td>
                                  </td>
                                  <td>
                                  </td>
                              </tr>
                  <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']"
                                v-for=" row in orderLines
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >

                                <td rowspan="1" colspan="1">

                                </td>
                                <td>{{getValue(row,'PrimeLineNo')}}</td>
                                <td>{{getValue(row,'Item.ItemID')}}</td>
                                <td>{{getValue(row,'Item.ItemShortDesc')}}</td>
                                <td>{{getValue(row,'Item.UnitOfMeasure')}}</td>
                                <td>{{getValue(row, "OrderedQty") | quantityfilter }}</td>
                                <td>
                                    <span class="CusInput form-group" v-bind:class="{haserror:isinvalid(row)}" >
                                    <input class="form-control"  type="number" v-model="row.ShipQuantity" id='row{{$index}}'   title="Ship Quantity" v-bind:disabled="ASNSuccess">
                                        <span class="help-block Cusblock" v-bind:class="{helpblock:isinvalid(row)}">Quantity should be less than<br> pending quantity</span>
                                           </span>
                                 </td>
                                <td><button type="button" class="btn remove CusIcon" v-on:click="orderLines.$remove(row)" v-bind:disabled="ASNSuccess"><i class="glyphicon glyphicon-remove" title="Remove" v-bind:disabled="ASNSuccess"></i></button></td>
                                  </tr>

									</tbody>
								</table>
		                      <div class="m-t-10">
		                          <gridpagination
		                              :gmeta="gmeta"
		                              :total-pages="totalPages"
		                              v-on:setpage="setPage">
		                          </gridpagination>
		                      </div>

						</div>
					</div>
				</div>
    <div v-if="ShowAddLoc">
      <div class="modal fade" id="addLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <shiplocationdetails
                                             :locationdtl= "locationDtl"
                                             :edit = false
                                             :isasn = true
                                             :editshipnode = false
                                             v-on:apply="editLocation()" >
             </shiplocationdetails>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="modal fade" id="generateASN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'Are you sure you want to create ASN?'"
                v-on:cancel="cancel()"
                v-on:confirm="createASN()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
       <div v-show="showAlertVar">
      <div class="modal fade" id="cancelMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'Are you sure you want to cancel?<br>You will lose all your changes!!'"
                 v-on:cancel="cancel()"
                v-on:confirm="goBackToDetails()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="InvalidInput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <messagebox
                :message="'Ensure that valid shipped quantity is provided for all the lines'"
                v-on:confirm="cancel()"
                >
              </messagebox>
            </div>
          </div>
        </div>
   </div>
    </div>

    </div>
			</template>

	<script>
		var Vue = require('vue')
		var Utils = require('./../utils/utils.js')
		var GridUtils = require('./../utils/gridutils.js')
		export default {
			data: function () {
        	var columns = ['PrimeLineNo', 'Item.ItemID', 'Item.ItemShortDesc','Item.UnitOfMeasure','OrderedQty','PendingQuantity', 'ShipQuantity']
				var gmeta = {}
				var schedules = []
                var nodeData=[]
				GridUtils.populateGridMeta(gmeta, columns, true)
                var shippingLocAdd={}
				var orderHeader 
                var orderLines
                var errorcode
                var errordesc
                var apierror=false
                 if (typeof(Storage) !== "undefined") {
                    orderHeader = JSON.parse(sessionStorage.OrderHeaderObj)
                    orderLines = JSON.parse(sessionStorage.OrderLineObj)
                 } else {
                   orderHeader = window.AppInfo.Asn.OrderHeader
                   orderLines = window.AppInfo.Asn.OrderLines
                   delete window.AppInfo.Asn
                 }
                
                var asnInput ={
                        		'OrderName':'',
                                'SCAC':'',
                                'TrackingNo':'',
                                'ExpectedShipmentDate':'',
                                'ShipmentNo':'',
                                'FromAddress':{
                                    'AddressLine1':'',
                                    'AddressLine2':'',
                                    'AddressLine3':'',
                                    'State':'',
                                    'City':'',
                                    'Country':'',
                                    'ZipCode':''
                                },
                                'ShipmentLines':{
                                    'ShipmentLine':[{
                                            'PrimeLineNo':'',
                                            'Quantity':'',
                                            'UnitOfMeasure':'',
                                            'ItemID':'',
                                            'ItemDesc':''
                                            }]
                                    },
                                'Extn':{
                                    'VendorShipNode':''
                              }
  			             }
                var ShowAddLoc=false
				
                var  locationDtl = {}
                var fieldedit = false
                var showAlertVar=false
                var currentIndex={}
                var asnShipmentNo={}
		var asnShipmentKey={}
                var ASNSuccess=false
                var ownerOrg = window.AppInfo.orgcode
				GridUtils.resetEdit(self.gmeta, orderLines)
				

				return {
					columns: columns,
					gmeta: gmeta,
					orderHeader: orderHeader,
					orderLines: orderLines,
                    nodeData:nodeData,
                    asnInput:asnInput,
                    shippingLocAdd:shippingLocAdd,
                    ShowAddLoc:ShowAddLoc,
                    locationDtl:locationDtl,
                    fieldedit:fieldedit,
                    ownerOrg:ownerOrg,
                    showAlertVar:showAlertVar,
                    currentIndex:currentIndex,
                    asnShipmentNo:asnShipmentNo,
                    asnShipmentKey:asnShipmentKey,
                    ASNSuccess:ASNSuccess,
                    errorcode:errorcode,
                    errordesc:errordesc,
                    apierror:apierror
           	}
			},
            ready: function(){
                
                var self= this
                self.asnInput.ShipmentNo= self.generateShipmentNo()               
                
            },
			methods: {
                //To calculate the pending quantity
				getPendingQty: function(row) {
					var shippedQuantity = row.OrderLineTranQuantity.ShippedQuantity
					var orderedQuantity = row.OrderedQty
					var shipQuantity = row.ShipQuantity
					var pendingQuantity = orderedQuantity
                	if(shippedQuantity) {
						pendingQuantity = (Number.parseFloat(orderedQuantity) - Number.parseFloat(shippedQuantity))
					}
					if(shipQuantity) {

						pendingQuantity = pendingQuantity - Number.parseFloat(shipQuantity)

					}

                           	return pendingQuantity
			    },
                addTime: function(n) {
                    return n < 10 ? '0' + n : n 
                },
                generateShipmentNo: function(){
                    
                    var self= this
                    var date = new Date();
                    var nameInitial= window.AppInfo.loginid.substr(0,2).toUpperCase()
                    var dateTimeStr= date.getFullYear() +
                       self.addTime(date.getMonth() + 1) + 
                       self.addTime(date.getDate()) +
                       self.addTime(date.getHours()) +
                       self.addTime(date.getMinutes()) +
                       self.addTime(date.getSeconds())
                
                    return nameInitial+ dateTimeStr;                     
                },
				getValue: function(data, binding) {
					return Utils.getValue(data,binding)
				},
				setPage: function(pageNumber) {
					GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
				},
				startEdit: function(row) {
			        GridUtils.startEdit(this.gmeta, row)
			    },
			    doneEdit: function(row) {
			    	GridUtils.doneEdit(this.gmeta, row)
			    },
			    cancelEdit: function(row) {
			    	GridUtils.cancelEdit(this.gmeta, row, this.columns)
			    },
			    sortBy: function (key, isNumeric) {
			    	GridUtils.sortBy(this.gmeta, key, isNumeric)
			    },
			    formatForDisplay:function(serverDate) {
			    	return Utils.formatForDisplay(serverDate)
			    },
                showAddLoc:function(){
                    this.ShowAddLoc=true
                    this.fieldedit = false
                    this.locationDtl = {'IdentifiedByParentAs':'','Organization':{'OrganizationName':''},
                               'ShipNodePersonInfo':{'City':'','ZipCode':'','Country':'','State':'',
                                                   'EMailID':'','DayPhone':'','AddressLine1':'',
                                                   'AddressLine2':'','AddressLine3':''}
                              };
                    this.locationDtl.ownerOrg = this.ownerOrg;
                },
                  // Method to Create  Location Details
                editLocation: function(){
                   var self=this;
                    self.nodeData.push(self.locationDtl);
                    self.shippingLocAdd=self.locationDtl;
                    },
                
                showAlertConfirm:function(){
                    this.showAlertVar=true

                },
                //to create Asn
                createASN:function(){
                     var self=this
                     var shipmentLines=[]
                        if(!this.shippingLocAdd ){
                           var input =  window.AppInfo.orgcode
                            var temp=input+"_N1"
                           self.asnInput.Extn.VendorShipNode=temp
                        }else{
                           self.asnInput.FromAddress=self.shippingLocAdd.ShipNodePersonInfo
                           self.asnInput.Extn.VendorShipNode=self.shippingLocAdd.IdentifiedByParentAs
                        }
                      self.asnInput.OrderName=self.orderHeader.OrderName,
                    
                     self.orderLines.forEach(function(orderLine){
                            var shipmentLine = {}
                            shipmentLine.PrimeLineNo= orderLine.PrimeLineNo
                            shipmentLine.Quantity=orderLine.ShipQuantity
                            shipmentLine.ItemID=orderLine.Item.ItemID
                            shipmentLine.ItemDesc=orderLine.Item.ItemShortDesc
                            shipmentLine.UnitOfMeasure=orderLine.Item.UnitOfMeasure
                            shipmentLines.push(shipmentLine)
                            });
                    self.asnInput.ShipmentLines.ShipmentLine=shipmentLines
                    var apiOutput = function(result) {
                        self.ASNSuccess=true
                      self.asnShipmentNo=result.ShipmentNo
				      self.asnShipmentKey=result.ShipmentKey
                   
                     }
                    Utils.executeDataService("createASN",apiOutput,self.asnInput,self.errorHandler);
                },
                //dummy function
                cancel:function(){

                },
                //to check whether shipquantity is a positive value or less than ordered qty
                isinvalid:function(row){
                    if(row.ShipQuantity && row.ShipQuantity < 1){
                         return true

                    }
                     if(row.ShipQuantity && Number(row.ShipQuantity) > Number(row.OrderedQty)){
                           return true
                    }
                     var pendingQty=this.getPendingQty(row)
                     if( pendingQty < 0){
                             return true
                    }
                },
                // to set focus back the invalid shipqunatity input
                setFocus:function(index){
                Vue.nextTick(function() {
                setTimeout( function() {
                              $("#row"+index+"").focus();
                            },
                           100)
             })

                   return false;
                },
                goBackToDetails:function(){
                //    this.cancelMsg=true
                    Vue.nextTick(function() {
                setTimeout( function() {
                                history.go(-1);
                            },
                           1000)
                })}
                ,
                // to check blank shipquantity and valid shipquantity
                checkOrderLines:function(){
                    var self=this
                    var failed= false
                    self.orderLines.forEach(function(orderLine){
                             if(self.isinvalid(orderLine)){
                                 failed=true;
                             }
                            if(!orderLine.ShipQuantity){
                                 failed=true;
                            }

                            });
                    return failed;
                }
                ,
                //to show two diffrent modal based on the correct input to Asn
                showAlert:function(){
                   
                    if( this.checkOrderLines()){
                     
                        $('#InvalidInput').modal('show')
                    
                    }else{
                        $('#generateASN').modal('show')
                    }
                }
                ,
            errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                 
              },
			getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			},
            getShipToAddress:function() {
                   if(this.orderLines[0].PersonInfoShipTo){
                       return this.orderLines[0].PersonInfoShipTo
                   }
                  else {
                      return this.orderHeader.PersonInfoBillTo
                  }
            }
               
			},
            route: {
		      data: function (transition) {
                  var self=this 
                    self.orderLines.forEach(function(orderLine){
                        Vue.set(orderLine,"ShipQuantity",self.getPendingQty(orderLine))
                            });
               var success = function(result) {
                       var tempArray=result.ShipNode
                       var tempGrid=[]
                       for(var i=0;i<tempArray.length;i++){
                       if( (tempArray[i].IdentifiedByParentAs.indexOf("_N1"))< 0)
                            {
                                tempGrid.push(tempArray[i])
                            } 
                }
					transition.next({
						nodeData : tempGrid
					})
				}
                var input = {'OwnerKey': window.AppInfo.orgcode}
				Utils.executeDataService("shipLocationList",success,input,self.errorHandler);
              }

            },
            computed: {
		        totalPages: function() {
		            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
		        }

		    }
		     ,
		    filters: {
		        paginate: function(list) {
		          return GridUtils.paginate(this.gmeta, list, this.totalPages)
		        }
		      },
        beforeDestroy: function() {
           $(this.$el).remove();
           $(this.$el).removeData();
           }

		}
           
       
</script>