<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for Order list in dashboard.-->
<template>
 <div class="col-md-6">
         <div class="panel panel-default">
      <div class="panel-heading">
        <h5>Orders</h5>
      </div>
        
        <div class="clearfix"></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive table-fixed">
                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                  <thead>
                    <tr role="row">
                      <th style="text-align: center; width: 30px;"> </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" style="min-width: 150px;">Sterling Reference No    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderName')" :class="{active: gmeta.sort.key == 'OrderName'}" >Purchase Order Number     
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderName'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                     
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}" >Req Delivery Date    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="center-filter">
                        <div class="glyphicon glyphicon-filter"></div>
                      </th>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.OrderNo">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.OrderName">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Status">
                      </td>
                     <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.ReqDeliveryDate">
                      </td>
                    </tr>
                      <tr v-show="!gridData">
                       <td colspan="5">
                    <!--<img class="norecord" :src=pathImage>-->

                     <span class="noRecordCtrl HightCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span>

                    </td>
                    </tr>
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                      v-for=" row in gridData 
                      | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                      | gridfilter gmeta.filter columns datecolumns" >
                        <td></td>
                      <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>
                      <td> {{getValue(row, "OrderName")}}     </td>
                      <td>{{getValue(row, "Status") }} </td>
                      <td> {{getValue(row, "ReqDeliveryDate") | datefilter}}     </td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        </div>
   

  </div>
    </div>
</template>
<script>
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{

        	 props: {
             data: Array
             },
	  data: function () {
     var filterKey="Y"
     var orderSearchModel = {
            'OrderNo': '',
            'OrderName':'',
            'DocumentType':'0005',
            'OrderDate':'',
            'OrderLine': {
                  'Item': {
                     ItemID:'',
                     ItemShortDesc:'',
                   }
            },
            'ReqDeliveryDate':'',
            'ReqShipDate':'' ,
            'FromStatus': '1100',
            'ToStatus': '3700',
            'MaximumRecords': '10'
         }
      
      var columns =[ 'OrderNo','OrderName','Status','OrderDate','ReqDeliveryDate','PriceInfo.TotalAmount']
      var gmeta = {}
      GridUtils.populateGridMeta(gmeta, columns, false)

       var gridData = []
       var datecolumns=['ReqDeliveryDate']
   
	    return {
           orderSearchModel:orderSearchModel,
	    	columns: columns,
	        gridData: gridData,
            gmeta: gmeta,
            datecolumns:datecolumns
         }
      },


	ready : function(){
            var self=this
                      var success = function(orderresult) {
                           var tempArray =orderresult.Order
                                            self.gridData = tempArray
                                            }
                        Utils.executeDataService("orderList", success, self.orderSearchModel);
  },

  
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      }

    },
  

	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }


</script>
