<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for shipment summary in dashboard.-->
<template>

   <div class=" panel-heading"> <h5>Shipments</h5> </div>
           <div class="panel-body">
             <div class="row no-gutters" >
                 <ul class="list-inline list-unstyled Shipmentlist">
                   <li class="col-xs-4 Find" v-for="row in shipmentStatusSummary | orderBy 'Status'">
                 <div class="status-pills text-center">
                   <a v-link="{ path: '/shipments',query:{FromStatus:row['Status'].trim(),ToStatus:row['Status'].trim(),RouteFrom:'Home'}}">
                   <div class="status-number">
                       {{getValue(row,"NoOfShipments")|integerfilter}}
                       <p>{{getValue(row,"StatusDescription")}}</p>
                   </div>
                 </a>
                     </div>
                 </li>
                </ul> 
                 <div class="clearfix"></div>
                  <div v-show="updatedDate" class="last_update"> Last Updated:
                     {{getDateTime(updatedDate)}}</div>
                 
                 
             </div>
         </div>
</template>
<script>
    
	var Utils = require('./../utils/utils.js')
    export default{
         
        data: function () {
            var shipmentStatusSummary=[]
            var shipmentStatusSummaryInput={}
            var updatedDate = ''
            return {
                shipmentStatusSummaryInput: shipmentStatusSummaryInput,
                shipmentStatusSummary:shipmentStatusSummary,
                updatedDate:updatedDate
                }
      },

//initial data load

 ready: function(){
            var self=this
			Utils.executeSinglePageDataService("getShipmentStatusSummary",self.shipmentStatusSummaryInput).then(function(shipmentresult){
			
			if(!(shipmentresult.constructor=== Array) && !shipmentresult){
								if(shipmentresult.charAt(0) === '<'){
							    window.location.href = window.AppInfo.contextroot+"/logout.jsp";
							}
			}
                            self.updatedDate=shipmentresult.UpdatedDate;
						   self.shipmentStatusSummary = shipmentresult.ShipmentStatusSummary;
                          });
		} ,
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      getDateTime: function(serverdate) {
        return Utils.formatDateTime(serverdate)
      
      }
  },
  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
   
    }
  
1
$( "ul.Shipmentlist li:last-child" ).addClass( "yourClass" );
</script>