<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for alert summary in dashboard.-->
<template>
  <div class="col-md-6">
         <div class="panel panel-default">
<div class="panel-heading">
                        <h5>Alerts</h5>   <div class="text-right">
                   <ul class="list-inline list-unstyled">
                         <li><div class="f-11">Show <select class="select-style form-control width-100" v-model="alertSearchType">
                                             <option value="">My Alerts</option>
                                             <option value="all">All Alerts</option>
                                           </select>
                   </div></li>
                   </ul>
               </div>
                    </div>
                <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive table-fixed">
                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                  <thead>
                    <tr role="row">
                     <th style="text-align: center; width: 30px;">  </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Description')" :class="{active: gmeta.sort.key == 'Description'}" >Alert Type  
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Description'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" style="width: 100px;" >Status    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Order.OrderName')" :class="{active: gmeta.sort.key == 'Order.OrderName'}" style="min-width: 150px;">Purchase Order Number    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Order.OrderName'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('LastOccurredOn')" :class="{active: gmeta.sort.key == 'LastOccurredOn'}" >Date &amp; Time   
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['LastOccurredOn'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="center-filter">
                        <div class="glyphicon glyphicon-filter"></div>
                      </th>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Description">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Status">
                      </td>
                       <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Order.OrderName">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.LastOccurredOn">
                      </td>
                     
                     
                    </tr>
                      <tr v-show="!gridData" id="norecords"><td colspan="5">
                      <!--<img class="norecord" :src=pathImage>-->
                      <span class="noRecordCtrl HightCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span>
                      </td></tr>
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                      v-for=" row in gridData 
                      | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                      | gridfilter gmeta.filter columns datecolumns
                      " id="{{getValue(row, 'InboxKey')}}">
					  <td></td>
                      
                      <td><a v-link="{ path: '/alertdetails',query:{key:row['InboxKey']}}"> {{getValue(row, "Description")}}  </a>   </td>
                        <td>{{getValue(row, "Status") }} </td>
                   <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey']}}">{{getValue(row, "Order.OrderName")}} </a>    </td>
                     <td> {{getValue(row, "LastOccurredOn")|datefilter}}     </td>
                    
                     
                   </tr>
                  </tbody>
                </table>
    </div>
                
                
              </div>
            </div>
          </div>
        </div>



</div>	
                        




</template>

<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{

	  data: function () {
    
   
      var alertSearchModel = {
                'InboxKey': '',
                'MaximumRecords': '50',
                'ExceptionType': '',
                'OrderNo': '',
                'Priority': '',
                'ActiveFlag':'Y',
				'SubscribedQueues': 'Y',
                'ActiveFlagQryType': 'EQ',
                'Queue': {'QueueId':''},
                'User': {'Loginid':''}
                                
            };
        var alertSearchType='';
      var columns =[ 'Description','Status','Order.OrderName','LastOccurredOn']
      var gmeta = {}
      var showSearch =false
      GridUtils.populateGridMeta(gmeta, columns, false)
 
       var gridData = []
       var documentData = []
     
       var showIcons=false
       var action={}
       var datecolumns=['LastOccurredOn']
         var pathImage=window.AppInfo.contextroot+"/images/NoRecordFound.png"
	    return {
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch,
            alertSearchModel:alertSearchModel,
            alertSearchType:alertSearchType,
            gmeta: gmeta,
            action:action,
            datecolumns:datecolumns,
            pathImage:pathImage
   
	       }
      }
  ,
  
  ready: function(){
            var self=this
			
		var success = function(result) {       
                    self.gridData = result.Inbox 
                    self.showSearch=false
                 }
		self.alertSearchModel.User.Loginid=window.AppInfo.loginid;
                    self.alertSearchModel.ActiveFlag='Y';
		Utils.executeDataService("alertList", success, self.alertSearchModel);    
			
                           var tempArray = success.Inbox;
						   self.gridData = tempArray;
			},
		
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      }
      
  
  },
  watch:{
            alertSearchType: function(alertSearchType){                
                var self = this	
                var success = function(result) {       
                    self.gridData = result.Inbox 
                    self.showSearch=false
                 }
                if(alertSearchType==='all'){
                  
					self.alertSearchModel.User.Loginid='';
                    self.alertSearchModel.ActiveFlag='Y';
                    self.alertSearchModel.ActiveFlagQryType='EQ';
					self.alertSearchModel.SubscribedQueues = 'Y';
					
                }else{
                    
					self.alertSearchModel.User.Loginid=window.AppInfo.loginid;
                    self.alertSearchModel.ActiveFlag='Y';
                }                
                Utils.executeDataService("alertList", success, self.alertSearchModel);    
			
                           var tempArray = success.Inbox;
						   self.gridData = tempArray;
            }
        },
  

	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
    </script>
