<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying the list of upload jobs and Export Jobs
     ***************************************************************************-->

<template>
    <div>
            <div class="container-fluid CustomHgt">
              <div class="row ">
                <div class="col-md-4">
                    <div v-breadcrumb="true"></div>
                </div>
                <div class="col-md-8">
                  <div class="alert alert-danger alert-dismissible hidden" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
                </div>
              </div>
             </div>
      
    <div class="container-fluid" >
         <div class="block"  v-if="apierror" >
          <div class="alert alert-danger" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
        <div class="block  clearfix">
            <h5 class="pull-left">Uploads</h5>  
     <!--   <div class="pull-right"> 
                    <button  role="button" class="btn btn-default SecondaryBtn"  v-on:click="refreshPage()" title="Refresh Page" >Reload</button>
					</div>      -->      
        </div>
        
        <div class="clearfix"></div>
        
        <div class="panel panel-default">
            <div class="panel-heading">  
                               
                <div class="col-md-5  cal-box">Show
                    <select class="select-style form-control" v-model="jobType" >
                        <option value="Upload" >Uploads</option>
                 <!--       <option value="Export" >Exports</option>       -->                 
                    </select>
                    
               <!--       <button class="btn btn-default" @click="showSearch=!showSearch">
                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                    </button>   -->

                </div> 
                <div class="pull-right">The page gets auto-refreshed every 15 secs</div>
            </div>
            
            <div class="clearfix"></div>
        <!--    <validator name="uploadForm">
            <form v-show="showSearch" v-on:submit.prevent.stop="uploadSearch" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="adavanceSearch">Advanced Search <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                                        Clear Form
                                    </button></span></h4>
                          <div class="col-md-3">
                                <div class="form-group">
                                    <label for="alertId">Upload Request ID</label>
                                    <input type="test" class="form-control" placeholder="Upload Request ID" v-model="uploadSearchModel.FileUploadKey" title="Enter the Unique Identifier for the Upload Job">
                                </div>
                         </div>
                         
                        <div class="col-md-3">           
                            <div class="form-group">
                                <label for="exceptionType">Upload Type</label>
                                 <select class="form-control" v-model="uploadSearchModel.TransactionType" title="Select an Upload Type">
                                    <option value="" >All</option>
                                    <option value={{uploadType.CodeValue}} v-for="uploadType in uploadTypeList">{{uploadType.CodeValue}}</option>                        
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-3">           
                            <div class="form-group">
                                <label for="alertStatus">Upload Status</label>
                                 <select class="form-control" v-model="uploadSearchModel.ProcessedFlag" title="Select a Processed Flag">
                                    <option value="Y" >Processed</option>
                                    <option value="N" >In Progress</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label for="lastraisedon">Submitted Date</label>
                              <div class="row CusDateContainer" >
                              <div class="col-md-6">
                             <input type="text" class="form-control" id="FromLastOccurredOn" placeholder="From Date" v-datepicker="uploadSearchModel.FromCreatets" usage="datetime" timeofday="begin" title="Date(From) range for the Alerts when its raised" fieldname="LastOccurredOn" allowfuturedate="N">
                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                </div>
                              <div class="col-md-6">
                               <input type="text" class="form-control" id="ToLastOccurredOn" placeholder="To Date" v-datepicker="uploadSearchModel.ToCreatets" timeofday="end" usage="datetime" title="Date(To) range for the Alerts when its raised" fieldname="LastOccurredOn" allowfuturedate="N">
                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                    </div>
                                </div>
                        </div>
                        
                                          
                         <div class="col-md-3">
                           <div class="form-group">
                                <label for="maxRecords">Maximum Records Fetched</label>
                                <input type="text" class="form-control" id="maxrecords" placeholder="Maximum Records"  v-model="uploadSearchModel.MaximumRecords" autocomplete="off"   min="1" max="500" v-validate:maxrecords="{ required:true, min:1, max: 500 , customMaxValidator:true }" title="Enter the Maximum number of records to be retrieved">
                                <p class="help-block" v-if="$uploadForm.maxrecords.required || $uploadForm.maxrecords.min || $uploadForm.maxrecords.max || $uploadForm.maxrecords.customMaxValidator">{{getMessage('MAX_RECORDS') }}</p>
                            </div>
                        </div>
                      
                         <div class="clearfix"></div>
                        <div class="col-md-2 pad-left-10 pull-right">
                           <button type="submit"  class="btn btn-primary btn-block">
                                Search
                            </button>
                        </div>
                          </div> 
                 
                </div>
            </form>  
    </validator>!-->
            <div class="panel-body">
   
            
            <div class="table-responsive">
                <table id="" class="table table-striped table-hover" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
  
                     <thead>
                        <tr role="row">
                            <th></th>
                            
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('ExportRequestKey')" :class="{active: gmeta.sort.key == 'ExportRequestKey'}" title="Unique Identifier of Export Request" v-if="jobType === 'Export'">Export ID   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ExportRequestKey'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('FileUploadKey')" :class="{active: gmeta.sort.key == 'FileUploadKey'}" title="Unique Identifier of Upload Request" v-if="jobType === 'Upload'">Upload ID   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['FileUploadKey'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                                            
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('TransactionType')" :class="{active: gmeta.sort.key == 'TransactionType'}" title="Upload Type" v-if="jobType === 'Upload'">Upload Type   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['TransactionType'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('ExportType')" :class="{active: gmeta.sort.key == 'ExportType'}" title="Export Type" v-if="jobType === 'Export'">Export Type  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ExportType'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                 <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('CreateTS')" :class="{active: gmeta.sort.key == 'CreateTS'}" title="Occurrence Date & Time of the Alerts">Submitted On  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CreateTS'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                                         
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"        title="Status Of The Jobs" style="width: 500px; min-width: 500px;">Status  
                               
                            </th>
                              <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"        title="Download Link" >Download Link  
                               
                            </th>
                            
                        </tr>
                    </thead>
                    
                    <tbody v-if=" showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
                    <tbody v-if="!showMask">
                        <tr class="filterIndex">
                            <th class="center-filter">
                                <div class="glyphicon glyphicon-filter"></div>
                            </th>
                                                         
                            <td v-if="jobType === 'Upload'"> <input type=text class="form-control" v-model="gmeta.filter.FileUploadKey" title="Unique Identifier of Upload"> </td>
                            <td v-if="jobType === 'Export'"> <input type=text class="form-control" v-model="gmeta.filter.ExportRequestKey" title="Unique Identifier of Export"> </td>
                            <td v-if="jobType === 'Upload'"> <input type=text class="form-control" v-model="gmeta.filter.TransactionType" title="Type Of Transactions"> </td>
                            <td v-if="jobType === 'Export'"> <input type=text class="form-control" v-model="gmeta.filter.ExportType" title="Type Of Exports"> </td>
                             <td> <input type=text class="form-control" v-model="gmeta.filter.CreateTS" title="Submitted on Date"> </td>                            
                             <td></td>
                        </tr>
                         <tr v-show="gridData.length===0"><td colspan="10" >  <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>                                   
                        </tr>
                            
                            <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                               | gridfilter gmeta.filter columns datecolumns
                               | paginate " >
                                <td></td>
						                        
                            <td v-if="jobType === 'Upload'"> {{getValue(row, "FileUploadKey")}}     </td>
                            <td v-if="jobType === 'Export'"> {{getValue(row, "ExportRequestKey")}}     </td>
                            <td v-if="jobType === 'Upload'"> {{getValue(row, "TransactionType")}}     </td>
                            <td v-if="jobType === 'Export'"> {{getValue(row, "ExportType")}}     </td>
                           <td>  {{formatDate(row, "CreateTS")}}     </td>
                            <td v-if="jobType === 'Upload'">
                              
         <span class="subclr" >
   <ul class="list-inline list-unstyled progressContainer">
      <li>
         <div class="progress PendingProgress">
         <div class="title-progress First-left">Pending Processing</div>
             
         <div v-if="getValue(row,'Status') ==='Invalid Template'">
            <div class="title-progress-right InvalidStatus">Invalid template</div>
             <div class="dot green"></div>
            <div class="dot-last InvalidStatus"></div>
             <div class="progress-bar progress-bar-info progress-bar-striped " role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
         <span>100%</span>
         </div>
         </div>
             
          <div v-if="getValue(row,'Status') !=='Invalid Template' && getValue(row.Flag,'pendingFlag') ==='Y'">
          <div class="dot green"></div>
           <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
         <span>100%</span>
         </div>
          </div>
             
           <div v-if="getValue(row,'Status') !=='Invalid Template' && getValue(row.Flag,'pendingFlag') ==='N'">
               
           <div class="dot"></div>
               
           <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
         <span>&nbsp;In Queue</span>
         </div>
               
          </div>
         </div>
      </li>



      <li v-if="getValue(row,'Status') !=='Invalid Template'">
         <div class="progress">
         <div class="title-progress centerProgress">Reading</div>
         <div class="dot" v-bind:class="{ green : getValue(row,'Flag.readingFlag') === 'Y'}"></div>
         <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar "  v-if="getValue(row,'Status') ==='Reading File'" 
         v-bind:style="{ width: getValue(row, 'FileProgressed') + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span>{{getValue(row, "FileProgressed")+'%'}}</span></div>

             <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar "  v-if="getValue(row,'Status') ==='Processing File' || getValue(row,'Status') ==='Completed'" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span>100%</span></div>

               <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar "  v-if="getValue(row,'Status') ==='Pending Processing'" 
         style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span>0%</span></div>
      </li>
      <li  v-if="getValue(row,'Status') !=='Invalid Template'">
         <div class="progress">
         <div class="dot" v-bind:class="{ green : getValue(row.Flag,'processingFlag') === 'Y'}"></div>
         <div class="title-progress centerProgress">Processing</div>
         <div class="title-progress-right" v-if="getValue(row,'HasError') ==='N'">Done</div>
          <div class="title-progress-right" v-if="getValue(row,'HasError') ==='Y'">Done With Errors</div>
         <div class="dot-last" v-bind:class="{ green : getValue(row.Flag,'CompletedFlag') === 'Y'}" v-if="getValue(row,'HasError') ==='N'"></div>
         <div class="dot-last" v-bind:class="{ orange : getValue(row.Flag,'CompletedFlag') === 'Y'}" v-if="getValue(row,'HasError') ==='Y'"></div>
         <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar "  v-if="getValue(row,'Status') ==='Processing File'  || getValue(row,'Status') ==='Reading File'" 
         v-bind:style="{ width: getValue(row, 'FileProgressed') + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span>{{getValue(row, "FileProgressed")+'%'}}</span></div>

          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar "  v-if="getValue(row,'Status') ==='Pending Processing'" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span>0%</span></div>

           <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar "  v-if="getValue(row,'Status') ==='Completed'" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span>100%</span></div>


      </li>
   </ul>
</span>
                            </td> 

                            <td v-if="jobType === 'Upload'">
                            <a class="btn downloadCls " :disabled="getValue(row,'Status') !=='Completed'" href="{{url1}}?UploadKey={{getValue(row,'FileUploadKey')}}"  v-if="getValue(row,'Status') !=='Invalid Template'"  >Download</a>
                            <a class="btn downloadCls "  href="{{url3}}?process={{getValue(row,'TransactionType')}}" v-if="getValue(row,'Status') ==='Invalid Template'">Download Template</a>
                            </td>
                            <td v-if="jobType === 'Export'">
                              <!--   <span class="subclr" v-if="getValue(row,'ProcessedFlag')==='Y'" > Processed Successfully. To download CSV file, <a href="{{url2}}?ExportKey={{getValue(row,'ExportRequestKey')}}" >click here</a></span>
                                <span class="subclr" v-if="getValue(row,'ProcessedFlag')==='N'" >
                                    <span>Pending Processing</span>
                               </span> -->
                                 <span class="subclr" >
                                 <ul class="list-inline list-unstyled progressContainer">
                                                 <li>
                                                     <div class="progress PendingProgress">
                                                        <div class="title-progress First-left">Pending Processing</div>
                                                          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar "  v-if="getValue(row,'Status') ==='Pending Processing' || getValue(row.Flag,'pendingFlag') === 'N'" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ><span>0%</span></div>
                                                         <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" v-if="getValue(row.Flag,'pendingFlag') === 'Y'">
                                                           <span v-if="getValue(row.Flag,'pendingFlag') === 'Y'" >100%</span>
                                                         </div>
                                                         
                                                         <div class="dot"  v-bind:class="{ green : getValue(row.Flag,'startedFlag') === 'Y'}"></div>
                                                      </div>
                                                  </li>
                                             <li>
                                                    <div class="progress PendingProgress">
                                                     <div class="title-progress centerProgress">Started Processing</div>
                                                         <div class="title-progress-right">Completed</div>
                                                       <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" v-if="getValue(row,'Status')==='Completed'" >
                                                         <span v-if="getValue(row,'Status')==='Completed'" >100%</span>
                                                       </div>
                                                        
                                                              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar "  v-if="getValue(row.Flag,'CompletedFlag') === 'N'" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ><span>0%</span></div>
                                                        
                                                       <div class="dot" v-bind:class="{ green : getValue(row.Flag,'pendingFlag') === 'Y'}"></div>
                                                         <div class="dot-last" v-bind:class="{ green : getValue(row.Flag,'CompletedFlag') === 'Y'}"></div>
                                                         
                                                     </div>
                                                  </li>
                                    
                                   
                                    </ul>
                                </span>
                         </td>
                                  <td v-if="jobType === 'Export'">
                            <a class="btn downloadCls " :disabled="getValue(row,'Status') !=='Completed'" href="{{url2}}?ExportKey={{getValue(row,'ExportRequestKey')}}"  >Download</a>
                            
                            </td>
				        </tr>
                    </tbody>
                </table>
                
                    
                 <div class="m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
            </div>
          </div>
        </div>
       </div>
        
  
    </div>
</template>
<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Uploads')
      import EventBus from './../utils/eventbus.js';
	export default {
	
	   props: {
	        },
            
                      
	   data: function () {
            var filterKey="Y";
            var uploadSearchModel = {
                'FileUploadKey': '',
                'MaximumRecords': '100',
                'ProcessedFlag':'',
                'TransactionType': '',
                'CreateUserId':'',
                'CreateTS':''
                }                             
        var jobType='';
        var showMask = false;
        var checkedInboxKeys=[];
        var columns =  ['FileUploadKey','ExportRequestKey','TransactionType','ExportType','CreateTS','ProcessedFlag','FileObject']
        var gmeta = {};
        var showSearch =false;
        GridUtils.populateGridMeta(gmeta, columns, false)
        var uploadTypeList = [];
	  	var gridData = [];
       var datecolumns=['CreateTS'];         
        var manualTrigger=false;
  //      var isWatchTriggered = true;
        var errorcode;
        var errordesc;
        var apierror=false;
         var url1= window.AppInfo.contextroot + "/uploadjobservlet"
         var url2= window.AppInfo.contextroot + "/exportjobservlet"
         var url3= window.AppInfo.contextroot + "/filedownloadservlet"

         var interval = 0
	    return {
            uploadSearchModel:uploadSearchModel,
            columns: columns,
            uploadTypeList:uploadTypeList,
            gridData: gridData,
            showSearch: showSearch,    
            gmeta: gmeta,
            jobType:jobType,
            datecolumns:datecolumns,
            showMask:showMask,
            manualTrigger:manualTrigger,
            errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror,
       //     isWatchTriggered:isWatchTriggered,
            url1:url1,
            url2:url2,
            url3:url3,
            interval:interval
	       }
       },

	    route: {
             deactivate: function (transition) {
                 var self=this
              clearInterval(self.interval)
              transition.next()
          },
		  data: function (transition) {
		       var self = this
               
		       var key='exports'
               self.jobType = "Upload"
                 if( self.$route.query && self.$route.query.key == key){
                    self.jobType="Export" 
                    
                 }
           /*    var mashupInput={ 'uploadList': self.uploadSearchModel,
                                 'fileUploadTypeList': self.uploadTypeList
                               }
               if(self.uploadSearchModel.MaximumRecords===''){
                   self.uploadSearchModel.MaximumRecords='100'
               }
                var errorHandler = function(errorObj) {
                      self.apierror = true
                      self.errorcode = errorObj.ErrorCode
                      self.errordesc = errorObj.ErrorDescription
                      self.trackDisable = true
                       self.showMask=false;
                      transition.next()
                      //Error message times out after 10 seconds
                      setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                }

              
               var loadData = function(result) {
                             self.showMask=false;
                        transition.next({
                            gridData : result.uploadList.FileUpload,
                            uploadTypeList : result.fileUploadTypeList.CommonCode
                        })                   
               }
               $log.info('Getting upload list by calling uploadscreenload aggregator '+JSON.stringify(self.mashupInput))
               Utils.executeDataService("uploadscreenload", loadData, self.mashupInput, errorHandler);
               */
		  }
          
        },	
        created: function() {

            this.autoRefresh();
            this.interval = setInterval(this.autoRefresh,15000)

         },
        
        filters: {
	   	   paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list)
	   	   }
        },   
        ready:function (){
     
    },
        
        methods: {
            getValue: function(row, binding) {
                return Utils.getValue(row,binding)
            },
            setPage: function(pageNumber) {
                this.checkAll=false
                this.checkAllCheckbox=false
                this.manualTrigger=false                
                GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
            },
            sortBy: function (key, numeric) {
              GridUtils.sortBy(this.gmeta, key, numeric)
            },
            
            formatDate: function(row, binding){
                var date = Utils.getValue(row,binding)
                return Utils.formatDateTime(date)
            },
           
       /*     uploadSearch: function(event) {
                event.preventDefault()	 
                var invalidDates = $(".invalid").length

               if(this.$uploadForm.valid && invalidDates === 0) {
                   var self = this	
                   if(self.uploadSearchModel.MaximumRecords===''){
                       self.uploadSearchModel.MaximumRecords='100';
                    }

                        var success = function(result) {       
                            self.gridData = result.FileUpload 
                            self.showSearch=false;
                            self.showMask=false;
                        if((self.uploadSearchModel.User.Loginid === '')){                    
                            self.jobType ='all';
                  //          self.isWatchTriggered = false;
                        }else{
                            self.jobType ='';
                 //           self.isWatchTriggered = false;
                        }
                         } 

                   
                    self.showMask=true
                    self.uploadSearchModel.CreateUserId = window.AppInfo.loginid    
			    Utils.executeDataService("uploadList", success, self.uploadSearchModel, self.errorHandler);  
               }
                GridUtils.clearMetaPagination(this.gmeta, this.columns);
	       },
           */
            
            
            ok:function(){
                this.showAlertMessage=false;
                this.showAssignAlerts=false;  
            },
            
            displayAlertMessageBox:function(){
                this.showAlertMessage=true;
            },
            getMessage: function(errorMessageId) {
                return Utils.getErrorMessage(errorMessageId)      
	        },
            
            getUserId: function(){
                return window.AppInfo.loginid;
            },
            
             hasPermission:function(resourceId){                 
                return Utils.hasPermission(resourceId)
            },
			 getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			 },			
            
            errorHandler : function(errorObj) {
              var self = this;
              self.apierror = true
              self.showMask=false;
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              //transition.next();
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
            },
            
            resetAll: function(){
                this.uploadSearchModel = this.getNewuploadSearchModel();                
            },
            
            getNewuploadSearchModel: function(){
                var self = this;
                var newuploadSearchModel = {
                    'FileUploadKey': '',
                    'MaximumRecords': '100',
                    'TransactionType': '',
                    'Createts':'',
                    'CreateUserId':''
                };
                newuploadSearchModel.CreateUserId = window.AppInfo.loginid;                    
                return newuploadSearchModel;
            },
            getProgressedStatus:function(row){
                if(row.FileProgressed < 10){
                    return true
                }
                else {
                    return false
                }
            },
            checkRowStatus: function(row){
               if (row.Status==="Completed"){
                row.Flag.CompletedFlag = 'Y';
                row.Flag.pendingFlag = 'Y';
                row.Flag.processingFlag = 'Y';
                row.Flag.readingFlag = 'Y';
               }
                 if (row.Status==="Processing File"){
                row.Flag.CompletedFlag = 'N';
                row.Flag.pendingFlag = 'Y';
                row.Flag.processingFlag = 'Y';
                row.Flag.readingFlag = 'Y';
               }
                if (row.Status==="Reading File"){
                row.Flag.CompletedFlag = 'N';
                row.Flag.pendingFlag = 'Y';
                row.Flag.processingFlag = 'N';
                row.Flag.readingFlag = 'Y';
               }
                  if (row.Status==="Pending Processing"){
                row.Flag.CompletedFlag = 'N';
                row.Flag.pendingFlag = 'N';
                row.Flag.processingFlag = 'N';
                row.Flag.readingFlag = 'N';
               }
            },
            checkRowStatusExport:function(row){
                if (row.Status==="Completed"){
                row.Flag.CompletedFlag = 'Y';
                row.Flag.pendingFlag = 'Y';
                row.Flag.startedFlag = 'Y';
               }
                
                if (row.Status==="Started Processing"){
                row.Flag.CompletedFlag = 'N';
                row.Flag.pendingFlag = 'Y';
                row.Flag.startedFlag = 'Y';
               }
                if (row.Status==="Pending Processing"){
                row.Flag.CompletedFlag = 'N';
                row.Flag.pendingFlag = 'N';
                row.Flag.startedFlag  = 'N';
               } 
            },
            autoRefresh:function(){
                 var self =this;
            
             if(self.jobType === 'Upload'){
                console.log(self.jobType)
                      //  clearInterval(self.interval)
                       // self.gridData=[]
                        self.uploadSearchModel.MaximumRecords='100';
                        self.uploadSearchModel.CreateUserId=window.AppInfo.loginid;
                  //      self.interval = setInterval(function(){
                    //      console.log('15Sec Auto Refresh');
                        var success = function(result) { 
                                   for(var j=0;j<result.FileUpload.length;j++){
                                                Vue.set(result.FileUpload[j],"Flag", {'pendingFlag':'N', 'readingFlag':'N', 'processingFlag':'N', 'CompletedFlag':'N'})     
                                           }
                             if(result.FileUpload){
                                   for(var i=0;i<self.gridData.length;i++){
                                       if(self.gridData[i].ProcessedFlag === 'N') {
                                           for(var j=0;j<result.FileUpload.length;j++){
                                             if (result.FileUpload[j].FileUploadKey == self.gridData[i].FileUploadKey){
                                                 
                                                 self.gridData[i].Status = result.FileUpload[j].Status
                                                 self.gridData[i].FileProgressed = result.FileUpload[j].FileProgressed
                                                 self.gridData[i].HasError = result.FileUpload[j].HasError
                                                 self.gridData[i].Flag=result.FileUpload[j].Flag
                                                 self.gridData[i].ProcessedFlag = result.FileUpload[j].ProcessedFlag
                                                 break;
                                             }
                                         }  
                                           
                                       }
                                        self.checkRowStatus(self.gridData[i])   
                                   }
                             }
                                

                        }

                        Utils.executeDataService("uploadList", success, self.uploadSearchModel, self.errorHandler);
            //        },15000)	
            
        }
             else if (self.jobType === 'Export'){
                 console.log(self.jobType)
                //              clearInterval(self.interval)
                                 //    self.gridData=[]
                //    self.interval = setInterval(function(){                        
                             var success = function(result) {
                                 for(var j=0;j<result.ExportRequest.length;j++){
                                                Vue.set(result.ExportRequest[j],"Flag", {'pendingFlag':'N', 'startedFlag':'N','CompletedFlag':'N'})    
                                           }
                                 if(result.ExportRequest){
                                   for(var i=0;i<self.gridData.length;i++){
                                       if(self.gridData[i].ProcessedFlag === 'N') {
                                           for(var j=0;j<result.ExportRequest.length;j++){
                                             if (result.ExportRequest[j].ExportRequestKey == self.gridData[i].ExportRequestKey){
                                                 
                                                 self.gridData[i].Status = result.ExportRequest[j].Status
                                                 self.gridData[i].FileProgressed = result.ExportRequest[j].FileProgressed
                                                 self.gridData[i].Flag=result.ExportRequest[j].Flag
                                                 self.gridData[i].ProcessedFlag = result.ExportRequest[j].ProcessedFlag
                                                 break;
                                             }
                                         }  
                                           
                                       }
                                       self.checkRowStatusExport(self.gridData[i]) 
                                   }
                               }
                             }
                                var exportModel={}
                                exportModel.CreateUserId=window.AppInfo.loginid;
                                Utils.executeDataService("exportList", success,exportModel, self.errorHandler);
             //           },15000)
                            }
            }

      
        },
        
        watch:{
            jobType: function(jobType){
                var self = this;                 
                if(jobType === 'Upload'){
                     if(self.uploadSearchModel.MaximumRecords===''){
                       self.uploadSearchModel.MaximumRecords='100';
                   }
                     var success = function(result) { 
                         self.showMask=false

                         if(result.FileUpload){
                         self.gridData = result.FileUpload.sort(function(item1,item2) {
                                if(item1.CreateTS > item2.CreateTS) {
                                    return -1;
                                } else {
                                    return 1;
                                }
                            });;
                         }else
                             {
                                 self.gridData=[]
                             }
                        for(var i= 0; i < self.gridData.length; i++){
                                            Vue.set(self.gridData[i],"Flag", {'pendingFlag':'N', 'readingFlag':'N', 'processingFlag':'N', 'CompletedFlag':'N'})
                                           // self.gridData[i].temp.
                                            self.checkRowStatus(self.gridData[i]) 

                                           }
                                               
                    }
          		    self.uploadSearchModel.CreateUserId=window.AppInfo.loginid;
                    self.showMask=true
                    Utils.executeDataService("uploadList", success, self.uploadSearchModel, self.errorHandler);

                                           
                   }
                    else if (jobType === 'Export'){
                             var success = function(result) {
                                 self.showMask=false
                                 if(result.ExportRequest){
                                 self.gridData = result.ExportRequest.sort(function(item1,item2) {
                                 if(item1.CreateTS > item2.CreateTS) {
                                    return -1;
                                 } else {
                                    return 1;
                                 }
                                });;
                                 }
                                 else{
                                     self.gridData=[]
                                 }
                                  for(var i= 0; i < self.gridData.length; i++){
                                            Vue.set(self.gridData[i],"Flag", {'pendingFlag':'N', 'startedFlag':'N','CompletedFlag':'N'})
                                           // self.gridData[i].temp.
                                            self.checkRowStatusExport(self.gridData[i]) 

                                           }
                             }
                             self.gridData = []
                                var exportModel={}
                                exportModel.CreateUserId=window.AppInfo.loginid;
                                self.showMask=true
                                Utils.executeDataService("exportList", success,exportModel, self.errorHandler);
                            }                
           }
        },
        
        validators:{
            customMaxValidator:function(val){
                return /^([1-9]\d*)$/.test(val);
            }  

       },
        
       computed: {
    
           
           totalPages: function() {
              return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
            }
        },
        
	   beforeDestroy: function() {
           var self=this
         clearInterval(self.interval)
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
</script>
