<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved.**********-->
<!--  ********************************************************************************
        1. This component is used to Create, Edit and View Detail of Ship Locations
        of an Vendor 2. This is a child component from "shiplocation" parent 
        component -->
      ******************************************************************************** ->
<template>
    <div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" v-on:click="onClose" aria-label="Close">&times;</button>
            <h4 class="modal-title" id="">Shipping Locations</h4>
        </div>
             
    <form id="locationDtls" method="post" v-on:submit.stop.prevent="editLocation()">
        <div class="modal-body address-modal-body">
    
            <div class="row">
                 <div class="col-md-12" >
                    <div class="alert alert-info" v-if="apisuccess">
                        <button type="button" class="close" aria-label="Close" @click="apisuccess=!apisuccess" >&times;
						</button>
                        <strong> Success:</strong> Changes were applied successfully</div>
                </div>
                <div class="col-md-12" >
                    <div class="alert alert-danger" v-if="apierror">
                        <button type="button" class="close" aria-label="Close" @click="apierror=!apierror">&times;</button>
                        <strong>API Error:</strong> {{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}.</div>
                </div>
                
                <div class="clearfix"></div>
                <fieldset v-bind:disabled="edit">
                <div class="col-md-6">
                    Shipping Location Code <input type="text" maxlength="10" id="locationcode" autocomplete="off" v-model="locationdtl.IdentifiedByParentAs" class="form-control block"  required/>
                </div>
                <div  class="col-md-6">
                    Shipping Location Name <input type="text" autocomplete="off" class="form-control block" v-model="locationdtl.Organization.OrganizationName" required />
                </div>
                <div  class="col-md-6">
                    Phone Number <input type="text" autocomplete="off" class="form-control block" v-model="locationdtl.ShipNodePersonInfo.DayPhone" />
                </div>
                <div  class="col-md-6">
                    Email Address <input type="text" autocomplete="off" class="form-control block" id="emailnotify" name="emailnotify"  v-model="locationdtl.ShipNodePersonInfo.EMailID" />
                    <span class="help-block" v-show="mailerror" >Please enter valid email address</span>
                </div>
                    </fieldset>
            </div>
            <div class="row">
                <div class="address-modal-wrapper clearfix">
                    <div class="m-t-5"><strong>Address Information</strong></div>
                    <fieldset v-bind:disabled="edit">
                    <div class="col-md-12 m-t-10">
                        Address Line 1 <input type="text" autocomplete="off" class="form-control block" v-model="locationdtl.ShipNodePersonInfo.AddressLine1" />
                    </div>
                    <div  class="col-md-12">
                        Address Line 2 <input type="text" autocomplete="off" class="form-control block" v-model="locationdtl.ShipNodePersonInfo.AddressLine2" />
                    </div>
                    <div class="col-md-12">
                        Address Line 3 <input type="text"  autocomplete="off" class="form-control block" v-model="locationdtl.ShipNodePersonInfo.AddressLine3"  />
                    </div>
                    <div  class="col-md-6">
                        Country <input type="text" autocomplete="off" class="form-control" v-model="locationdtl.ShipNodePersonInfo.Country" />
                    </div>
                    <div  class="col-md-6">
                        State <input type="text" autocomplete="off" class="form-control" v-model="locationdtl.ShipNodePersonInfo.State"  />
                    </div>
                    <div  class="col-md-6">
                        Suburb <input type="text" autocomplete="off" class="form-control" v-model="locationdtl.ShipNodePersonInfo.City"  />
                    </div>
                    <div  class="col-md-6">
                        Post Code <input type="text" autocomplete="off" class="form-control" v-model="locationdtl.ShipNodePersonInfo.ZipCode" required />
                    </div>
                    </fieldset>    
                </div>
            </div>
    
        </div>
        <div class="modal-footer">
          
            <button v-if="edit && !locationdtl.locationCreate" type="submit" class="btn btn-default" v-on:click="editable()">Edit</button>
            <!--<button v-else type="submit" class="btn btn-default SecondaryBtn"  data-dismiss="modal" >Save</button>-->
            <button v-else type="submit" id="saveClose" value="save" class="btn btn-default" :disabled="apisuccess || apierror" v-on:click="save_able()">Save</button>
              <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="onClose">Close</button>
        </div>
        </form>
    </div>	  
</template>

<!-- Vue Script Starts -->
<script>
	var Vue = require('vue')
    var Logger = require('./../utils/loggerUtils.js')
    var Utils = require('./../utils/utils.js')
    var $log = Logger.getInstance('Shipping Location Details')
    
	export default {
        
    ready: function ready () {

        var self = this  
        $("#emailnotify").on('change',function(){

                if(self.locationdtl.ShipNodePersonInfo.EMailID && self.checkfromEmail()){
                     self.mailerror=true      
                 }
                 else{
                     self.mailerror=false
                 }
        });
      },
        
	 props: {
         locationdtl: Object,
         edit: Boolean,
         editshipnode: Boolean  
     },
    data: function () {
        var apisuccess = false;
        var apierror = false;
        var mailerror= false
	   return {
           apisuccess:apisuccess,
            apierror:apierror,
            mailerror:mailerror
		      }
    },
	
methods: {	  
    editable: function(){
        this.edit = false
         $('.modal').scrollTop(0);  
    },
    save_able:  function(){
         $('.modal').scrollTop(0);  
    },
    onClose: function(){
        //this.edit = true
        $log.debug('Cancel Event  dispatched')        
         this.$dispatch('cancel')
    },
    apply: function() {
        $log.debug('Apply Event  dispatched')
        this.$dispatch('apply')
    },
	goBack: function () {
        window.history.go(-1)
    },
    
    editLocation: function(){
        var self= this
            this.locationdtl.locationCreate = false;            
            if(self.locationdtl.ShipNodePersonInfo.EMailID && self.checkfromEmail() ){
                 self.mailerror=true;
                 return
            }
        var editShipContact = {'OrganizationCode':'','ParentOrganizationCode':'','PrimaryEnterpriseKey':'','OrganizationName':'',
                           'CorporatePersonInfo':{'City':'','ZipCode':'','Country':'','State':'',
                                               'EMailID':'','DayPhone':'','AddressLine1':'',
                                               'AddressLine2':'','AddressLine3':''},
                               'Node':{'ActivateFlag':'Y','IdentifiedByParentAs':''},
                                'OrgRoleList':{'OrgRole':{'RoleKey':''}}};
        editShipContact.OrganizationCode = this.locationdtl.ownerOrg+'-'+this.locationdtl.IdentifiedByParentAs
        editShipContact.PrimaryEnterpriseKey = this.locationdtl.ownerOrg;
        editShipContact.ParentOrganizationCode = this.locationdtl.ownerOrg
        editShipContact.OrganizationName = this.locationdtl.Organization.OrganizationName
        editShipContact.CorporatePersonInfo = this.locationdtl.ShipNodePersonInfo
        editShipContact.Node.IdentifiedByParentAs = this.locationdtl.IdentifiedByParentAs
        editShipContact.Node.NodeType = 'VN';
        editShipContact.OrgRoleList.OrgRole.RoleKey="NODE";
        var apiOutput = function(result) {
            self.apisuccess = true
            //API Success message times out after 10 seconds
            setTimeout(function(){self.apisuccess = false},Utils.getTimeOut()) 
            self.apply();

        }
        var errorHandler = function(errorObj) {
            self.apierror = true
            self.errorcode = errorObj.ErrorCode
            self.errordesc = errorObj.ErrorDescription
              //Error message times out after 10 seconds
            setTimeout(function(){self.apierror = false},Utils.getTimeOut()) 
        }
        $log.debug('Invoking manageShipLocation api')
        Utils.executeDataService("manageShipLocation",apiOutput, editShipContact,errorHandler);
    },
    
		getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		},
    
        checkfromEmail : function(){
             var self = this;
             
            var posOfAt = self.locationdtl.ShipNodePersonInfo.EMailID.indexOf("@");
            var posOfDot = self.locationdtl.ShipNodePersonInfo.EMailID.lastIndexOf(".");
            if (posOfAt<1 || posOfDot<posOfAt+2 || posOfAt+2>=self.locationdtl.ShipNodePersonInfo.EMailID.length || posOfDot>=self.locationdtl.ShipNodePersonInfo.EMailID.length-1) {
                document.getElementById("emailnotify").focus();
                return true;
            }else{
                return false;
            }

		}

    },  
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
	}
</script>