<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used as common component for message box
     ***************************************************************************-->


<template>
<div>
    
    <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
        <h4 class="modal-title" id="" > <i class="fa fa-envelope"></i> Message</h4>
    </div>
    
    <div class="modal-body address-modal-body">
          <div class="text-center">{{message}}</div>                       
    </div>
    
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="confirm()">Ok</button>
    </div>
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{
        
        props: {
           message:String    
        },

        data: function () { 
            
            return {
                
            }
        },
	  
        methods: {	  

         goBack: function () {
           window.history.go(-1)
         },
           confirm: function() {
            this.$dispatch('confirm')
         }
            
        },  
	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
}

</script>