<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for adding and viewing comments on an Order
     ***************************************************************************-->
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Comments</h4>
    </div>
    
    <div class="modal-body address-modal-body">
        <div v-show="showmask" class="spinner-loading absolution">
    <div class="loader"></div>
    </div> 
         <div class="panel panel-default m-t-10">
                <div class="block"  v-if="apierror" >
                  <div class="alert alert-danger" role="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
                  </div>
               </div>
             
                    <div class="panel-heading clearfix panel-alert-heading">
                        <div class="i-block pull-left">Comment History</div>
                        
                    </div>
             
                    <div class="clearfix"></div>
                    <div class="panel-body">
                        <div class="noteBody" >
                      <div v-for="note in notesarray | orderBy 'Createts' -1" >
                                    <td>{{formatDate(note,"Createts")}} -  {{getValue(note, "ContactUser")}}</td>
                                    <span class="block"> {{getValue(note, "NoteText")}} </span>
                            </div>
                        </div>
                    </div>
                </div>
        
          <div class="panel panel-default m-t-10">
                  <div class="panel-heading clearfix panel-alert-heading"><div class="i-block pull-left">Add Comment</div></div>
                      <div class="clearfix"></div>
                  <div class="panel-body">
                    <textarea class="form-control Comments" rows="6" id="comment" placeholder="Add Your Comment Here"
                              v-model="Order.Notes.Note[0].NoteText"></textarea>

                      
                    <!--  <button type="button" class="btn btn-default SecondaryBtn pull-right" v-on:click="addNotes()">Add Comments</button>
                      <button type="button" class="btn btn-default SecondaryBtn pull-right" data-dismiss="modal" v-on:click="cancel()">Cancel</button> -->
                  </div>
                 </div>
                   
        </div>
    <div class="modal-footer">
         <button type="button" class="btn btn-default" v-on:click="addNotes()" :disabled="!(Order.Notes.Note[0].NoteText.trim().length > 0)">Submit</button>
        <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Close</button>
    </div>    
    
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Order Comments')
    
    export default{
        
        props: {
            orderdetails: Object,
            notesarray: Array
        },

        data: function () { 
            
            var Order = {'OrderHeaderKey':'', 'Notes':{'Note':[{'NoteText':'','ContactUser':''}]}};
            var notesList = []

            var errorcode
            var errordesc
            var apierror=false
            var showmask=false
            var details=''
            return {
                Order:Order,
                notesList:notesList,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror,
                showmask:showmask,
                details:details
            }
        },
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
            
         cancel: function() {             
            this.Order.Notes.Note[0].NoteText = '';
            this.$dispatch('cancel')
         },
            
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
        
        //adds comments to the order    
         addNotes: function() {
             
             var self = this; 
             
              $('.modal').scrollTop(0);  
             self.Order.OrderHeaderKey=self.orderdetails.OrderHeaderKey;
             self.Order.Notes.Note[0].ContactUser = window.AppInfo.loginid;
             $log.debug("Adding Comment For Order "+self.Order.OrderHeaderKey)
                if(!self.notesarray) {
                    $log.debug("Adding First Comment ")
                    self.notesarray = []
                }               
             var success = function(result) {
                 var notelist = []
                 if(result.Notes.Note) {
                    notelist = result.Notes.Note
                 }
                 // This should work as it is expected that the last added note will be the last element returned
                 var lastNoteArray = notelist.reverse();
                 /*notelist.sort(function(noteA,noteB){
                     if(noteA.SequenceNo > noteB.SequenceNo) {
                         return -1
                     } else {
                        return 1
                     }
                 })*/
                 
                var newNote = self.getNewNoteObject();
                newNote['NoteText'] = self.Order.Notes.Note[0].NoteText;
                self.details=self.Order.Notes.Note[0].NoteText;
                //newNote['Createts'] = Utils.formatDateForServer(new Date());
                 newNote['Createts'] = lastNoteArray[0].Createts;
                newNote['ContactUser'] = window.AppInfo.loginid;
               //Adding comments to the notes array
                 self.notesarray.push(newNote);
                 self.Order.Notes.Note[0].NoteText = '';
                 $log.debug("Addiing Comment to Array "+self.notesarray.length)
                 self.$dispatch('addNotes');
                 self.showmask=false;
                 self.notifyingSpPortal();
             }
              var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  self.showmask=false
              }
              self.showmask=true
		     Utils.executeDataService("changeOrderNotes", success, self.Order,errorHandler);
          },
        
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
            
         getNewNoteObject: function(){
            var notes = { 'NoteText': '', 'Createts':'', 'ContactUser':''}
            return notes;
         },
		getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		},
         notifyingSpPortal:function(){
             var self= this
             var input={}
             input.OrderHeaderKey=self.orderdetails.OrderHeaderKey;
             input.OrderName=self.orderdetails.OrderName;
             input.OrderNo=self.orderdetails.OrderNo;
             input.ReqUserID=window.AppInfo.loginid;
             input.Details=self.details
             if (self.orderdetails.ReceivingNode){
                 
                 input.ReceivingNode=self.orderdetails.ReceivingNode
             }
             else if (!(self.orderdetails.ShipToID)&& self.orderdetails.CustomAttributes && (self.orderdetails.CustomAttributes.Boolean3 ==='N'))
                 {
                       var orderlineArray=self.orderdetails.OrderLines.OrderLine
                     input.ReceivingNode= orderlineArray[0].ReceivingNode
                 }
            else if (!(self.orderdetails.ShipToID) && self.orderdetails.CustomAttributes && (self.orderdetails.CustomAttributes.Boolean3 ==='Y'))
                {
                     input.ReceivingNode="Various"
                }
             var date=new Date();
             var serverDate = Utils.formatDateForServer(date);
             input.CommentDate=serverDate;
            var success = function(result) {
               // self.cancel()
            }
             
           Utils.executeDataService("VendorCommentNotification",success,input,self.errorHandler);
         }
		 
        }, 	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
        
       
}

</script>