<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying list of orders and search orders based on given criteria
     ***************************************************************************-->
<template>
  <div>
    <div class="container-fluid CustomHgt">
      <div class="row ">
                <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="block  clearfix">
        <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
            <div class="alert alert-info alert-dismissible" role="alert" v-if="apierror">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Update</strong>
          </div>
        </div>
        <h5 class="pull-left">Orders</h5>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-md-5  cal-box">
            Show
            <select class="select-style form-control">
              <option selected="All">All</option>
            </select>
            <button class="btn btn-default filter-panel-btn" @click="showSearch = !showSearch" title="Advance search">
              <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
            </button>
          </div>
        <div class="pull-right">
                  <div class="btn-group" v-if="!gridData.length == 0 && editinput === false ">
                            <button type="button" class="btn btn-default SecondaryBtn" v-on:click="updatePo">
                          Update PO
                            </button>
                          </div>
                               <div class="btn-group" v-if="!gridData.length == 0 && editinput === true ">
                            <button type="button" class="btn btn-default SecondaryBtn" v-on:click="saveref" >
                          Save
                            </button>
                          </div>
                             <div class="btn-group" v-if="!gridData.length == 0 && editinput === true ">
                            <button type="button" class="btn btn-default SecondaryBtn" v-on:click="cancelref">
                          Cancel
                            </button>
                          </div>
                  </div>
       <!--   <div class="pull-right">
            <div id="toolbar" hidden>
              <button id="remove" class="btn btn-default SecondaryBtn removebtn">
              Remove From Watchlist
              </button>
            </div>
          </div>-->
        </div>
          <validator name="formvalidation1">
        <form  v-if="showSearch" v-on:submit.prevent.stop="orderSearch" novalidate>
          <div class="row">
            <div class="col-md-12">
              <h4 class="adavanceSearch">Advanced Search
                   <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                                        Clear Form
                                    </button></span>
         </h4>
              <div class="form-group col-md-3 ">
                <label for="exampleInputEmail1">Sterling Reference No</label>
                <input type="text" class="form-control " placeholder="Sterling Reference No Starts With.." v-model="orderSearchModel.OrderNo" autocomplete="off"  title="Enter the Sterling Reference No">
                 
              </div>
              <div class="form-group col-md-3 ">
                <label for="exampleInputEmail1" >Vendor Reference Number</label>
                <input type="text" class="form-control " placeholder="Vendor Reference Number Starts With.." v-model="orderSearchModel.CustomerPONo" autocomplete="off" title="Enter the Source System Vendor Reference Number">
              </div>
               <div class="form-group col-md-3 ">
                <label for="exampleInputEmail1" >Purchase Order Number</label>
                <input type="text" class="form-control " placeholder="Purchase Order Number Starts With.." v-model="orderSearchModel.OrderName" autocomplete="off" title="Enter the Source System Purchase Order Number">
              </div>
              <div class="form-group col-md-3 ">
               <div class="row CusDateContainer">
                 <div class="col-md-6">
                       <label for="exampleSelect1">Status (From)</label>
                    <select class="form-control" id="exampleSelect1" v-model="orderSearchModel.FromStatus" placeholder="From" title="Choose the Minimum Order Status">
                     <option value="">All</option>     
                      <option v-for="status in statusList" v-bind:value="status.Status">{{status.StatusName}}</option>
                       
                    </select>
                  </div>
                  <div class="col-md-6">
                  <label for="exampleSelect1">Status (To)</label>   
                    <select class="form-control" id="exampleSelect1"  
                      v-model="orderSearchModel.ToStatus" placeholder="To" title="Choose the Maximum Order Status">
                     <option value="" >All</option>    
                      <option v-for="status in statusList| statusfilter orderSearchModel.FromStatus" v-bind:value="status.Status">{{status.StatusName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--
                <div class="form-group col-md-3">
                        
                         <label for="exampleSelect1">From Location</label>
                        <input type="text" class="form-control" placeholder="From Location" >
                
                 
                   </div>-->
              <div class="form-group col-md-3 ">
                <label for="exampleInputEmail1">Item ID</label>
                <input type="text" class="form-control" placeholder="Item ID Starts With.." v-model="orderSearchModel.OrderLine.Item.ItemID" autocomplete="off" title="Enter the Item Id">
              </div>
                
              <div class="form-group col-md-3 ">
                <label for="exampleInputEmail1">Item Description</label>
                <input type="text" class="form-control" placeholder="Item Description Contains.." v-model="orderSearchModel.OrderLine.Item.ItemShortDesc" autocomplete="off" title="Enter the Item Description">
              </div>
              <div class="form-group col-md-3 ">
                <label for="exampleInputEmail1">Supplier Item</label>
                <input type="text" class="form-control" placeholder="Supplier Item Starts With.." v-model="orderSearchModel.OrderLine.Item.SupplierItem" autocomplete="off" title="Enter the Supplier Item">
              </div>
              <div class="form-group col-md-3 ">
                <label for="exampleInputEmail1">Order Date</label>
                <div class="row CusDateContainer">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="FromOrderDate" placeholder="From Date" v-datepicker="orderSearchModel.FromOrderDate" usage="datetime" timeofday="begin" autocomplete="off" title="Choose the Order Date Range.Future Date is Not Allowed" fieldname="OrderDate" allowfuturedate="N">
                    <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                     <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control"  id="ToOrderDate" placeholder="To Date" v-datepicker="orderSearchModel.ToOrderDate" timeofday="end" usage="datetime" autocomplete="off"  title="Choose the Order Date Range.Future Date is Not Allowed" fieldname="OrderDate" allowfuturedate="N">
                    <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                    <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="exampleInputEmail1">Req Delivery Date</label>
                <div class="row CusDateContainer">
                  <div class="col-md-6">
                    <input type="text" class="form-control " placeholder="From Date" v-datepicker="orderSearchModel.FromReqDeliveryDate" usage="datetime" timeofday="begin" autocomplete="off"  title="Choose the Required Delivery Date Range" id="FromReqDeliveryDate" fieldname="ReqDeliveryDate">
                    <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                      <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="To Date" v-datepicker="orderSearchModel.ToReqDeliveryDate" timeofday="end" usage="datetime" autocomplete="off"  title="Choose the Required Delivery Date Range" id="ToReqDeliveryDate" fieldname="ReqDeliveryDate">
                    <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                      <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3 ">
                <label for="exampleInputEmail1">Req Ship Date</label>
                <div class="row CusDateContainer">
                  <div class="col-md-6">
                    <input type="text" class="form-control " placeholder="From Date" v-datepicker="orderSearchModel.FromReqShipDate" usage="datetime" timeofday="begin" autocomplete="off"  title="Choose the Required Ship Date Range" id="FromReqShipDate" fieldname="ReqShipDate">
                    <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                      <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="To Date" v-datepicker="orderSearchModel.ToReqShipDate" timeofday="end" usage="datetime" autocomplete="off"  title="Choose the Required Ship Date Range"   id="ToReqShipDate" fieldname="ReqShipDate">
                    <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                      <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                  </div>
                    
                </div>
              </div>
                <div class="form-group col-md-3">
                <label for="exampleInputEmail1">Maximum Records Fetched</label>
                <input type="text" class="form-control" id="maxrecords" placeholder="Maximum records" v-model="orderSearchModel.MaximumRecords" autocomplete="off" v-validate:maxrecords="{ required:true, min:1, max: 500, customMaxValidator:true}" title="Maximum Records">
                  <span class="help-block" v-if="$formvalidation1.maxrecords.required || $formvalidation1.maxrecords.min || $formvalidation1.maxrecords.max || $formvalidation1.maxrecords.customMaxValidator">{{getMessage('MAX_RECORDS') }}</span>
              </div>
              
              <div class="clearfix"></div>
              <div class="col-md-2 pad-left-10 pull-right">
                <button type="submit" class=" col-md-3 btn btn-primary btn-block" title="Search">Search</button>
              </div>
              <!-- <div class="col-md-2 pad-left-10 pull-right">
                <div class="btn btn-primary btn-block" v-on:click.stop="orderSearch">
                    Search
                </div>
                </div>-->
            </div>
          </div>
        </form>
    </validator>
        <div class="clearfix"></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                  <thead>
                    <tr role="row">
                      <!--           <th class="" style="width: 20px;">
                        <input type="checkbox" id="test1"> </th>-->
                      <th style="width: 60px;" @click="sortBy('IsWatchedByUser')" :class="{active: gmeta.sort.key == 'IsWatchedByUser'}"> <i class="glyphicon glyphicon-star black text-center" title="Watched Order"></i>
                          <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['IsWatchedByUser'] > 0 ? 'sort-up' : 'sort-down'"></span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" style="min-width: 150px;" >Sterling Reference No    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderName')" :class="{active: gmeta.sort.key == 'OrderName'}" >Purchase Order Number     
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderName'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                        <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('CustomerPONo')" :class="{active: gmeta.sort.key == 'CustomerPONo'}" >Vendor Reference Number     
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CustomerPONo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                    
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderDate')" :class="{active: gmeta.sort.key == 'OrderDate'}" >Order Date    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderDate'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}" >Req Delivery Date    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PriceInfo.TotalAmount',true)" :class="{active: gmeta.sort.key == 'PriceInfo.TotalAmount'}" >Order Value  
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PriceInfo.TotalAmount'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th  >Actions 
                      </th>
                    </tr>
                  </thead>
                    <tbody v-if="$loadingRouteData || showMask" class="table-spinner"><tr class="loader"></tr></tbody>  
               
                  <tbody v-if="!$loadingRouteData && !showMask">
                    <tr>
                      <th class="center-filter">
                        <div class="glyphicon glyphicon-filter"></div>
                      </th>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.OrderNo" title="Sterling Reference No">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.OrderName" title="Purchase Order Number">
                      </td>
                       <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.CustomerPONo" title="Vendor Reference Number">                       
                      </td>
                       
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Status" title="Status">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.OrderDate" title="Order Date">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.ReqDeliveryDate" title="Req Delivery Date">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.PriceInfo.TotalAmount" title="Order Value">
                      </td>
                      <td></td>
                    </tr>
                      <tr v-show="!gridData">
                        <td colspan="10" >   <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                    </tr>
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                      v-for=" row in gridData 
                      | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                      | gridfilter gmeta.filter columns datecolumns
                      | paginate " >
                      <td v-if="row.IsWatchedByUser==='Y'"><i class="glyphicon glyphicon-star" title="Click here to remove from watchlist" @click=removeFromWatchList(row)></i></td>
                      <td v-if="row.IsWatchedByUser==='N'"><i class="glyphicon glyphicon-star-empty"  title="Click here to add to watchlist" @click=addToWatchList(row)></i></td>
                      <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>
                      <td> {{getValue(row, "OrderName")}}     </td>
                      <td v-if='!editinput'> {{getValue(row, "CustomerPONo")}}  </td>
                      <td  v-if='editinput' class="updateTable"> 
                      <input type="text" class="form-control" v-on:change="keychange(row)" v-model="row.CustomerPONo">
                      </td>
                      <td>{{getValue(row, "Status") }}</td>
                       
                      <td> {{getValue(row, "OrderDate") | datefilter}}     </td>
                      <td> {{getValue(row, "ReqDeliveryDate") | datefilter}}  </td>
                      <td style="text-align:right"> {{getValue(row, "PriceInfo.TotalAmount")|numberfilter}}     </td>
                      <td style="min-width: 75px;">
                        <button class="btn ok CusIcon "  title="Accept" id="CusIconBtn"  data-toggle="modal" data-target="#acceptOrder" 
                          title="Accept Order" v-on:click="showAlert(row,$index,'accept')" v-bind:disabled="row.showIcons"><i class="glyphicon glyphicon-ok" v-bind:disabled="row.showIcons" ></i></button> 
                        <button class="btn remove CusIcon "  title="Reject"  data-toggle="modal" data-target="#rejectOrder" 
                          title="Reject Order" v-on:click="showAlert(row,$index,'reject')" v-bind:disabled="row.showIcons"><i class="glyphicon glyphicon-remove" v-bind:disabled="row.showIcons" ></i></button>
                      </td>
                    </tr>
                  </tbody>

                </table>
               
                  <div class="m-t-7">
                    <gridpagination 
                      :gmeta="gmeta"
                      :total-pages="totalPages"
                      v-on:setpage="setPage">
                    </gridpagination >
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-show="showAlertVar">
      <div class="modal fade" id="acceptOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :order="orderEdited"
                :message="'Are you sure you want to accept?'"           
                v-on:cancel="cancel()"
                v-on:confirm="editOrderLine()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-show="showAlertVar">
      <div class="modal fade" id="rejectOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :order="orderEdited"
                :message="'Are you sure you want to reject?'"           
                v-on:cancel="cancel()"
                v-on:confirm="editOrderLine()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div hidden>
    <!--	<input class="hidden" value= {{$route.query.key}}  v-model="orderSearchKeyModel.OrderName"/> 
        <input  value="{{$route.query.request}}"  type="hidden" v-model="orderSearchKeyModel.Request" />
        <input  value="{{$route.query.orderstatus}}"  type="hidden" v-model="orderSearchModel.FromStatus" />
        <input  value="{{$route.query.orderstatus}}"  type="hidden" v-model="orderSearchModel.ToStatus" /> -->
      </div>
    </div>
 
</template>
<script>
    var Vue = require('vue')
      var VueValidator = require('vue-validator')
      Vue.use(VueValidator)
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{

        	 props: {
             data: Array
             },
	  data: function () {
     var filterKey="Y"
     var orderEdited ={}
     var editingIndex=-1
     var orderSearchKeyModel={
         'DocumentType':'0005',
         'OrderName':'',
         'HoldFlag':'Y',
         'MaximumRecords':'100'
     }
     var orderSearchModel = {
            'OrderNo': '',
            'OrderName':'',
            'DocumentType':'0005',
            'OrderDate':'',
            'CustomerPONo':'',
            'OrderLine': {
                  'Item': {
                     ItemID:'',
                     ItemShortDesc:''
                   }
            },
            'ReqDeliveryDate':'',
            'ReqShipDate':'' ,
            'FromStatus': '1100',
            'ToStatus': '3700',
            'MaximumRecords': '100',
            'HoldFlag':'Y'
         }
      
      var columns =[ 'IsWatchedByUser','OrderNo','OrderName','Status','OrderDate','ReqDeliveryDate','PriceInfo.TotalAmount', 'CustomerPONo']
       var datecolumns=['OrderDate','ReqDeliveryDate']
        var exportColumns = [{'Label':'Sterling Reference No','Binding':'OrderNo'},
       {'Label':'Purchase Order Number','Binding':'OrderName'},
       {'Label':'Status','Binding':'Status'},
       {'Label':'Order Date','Binding':'OrderDate'},
       {'Label':'Request Delivery Date','Binding':'ReqDeliveryDate'},
        {'Label':'Order Value','Binding':'PriceInfo.TotalAmount'}
       ]
      var gmeta = {}
      var showSearch =false
      GridUtils.populateGridMeta(gmeta, columns, false)

       var gridData = []
       var documentData = []
       var statusList =[]
	   var showAlertVar=false
       var showIcons=false
       var action={}
       var showMask = false
       var errorcode
       var errordesc
       var apierror=false
       var editinput = false
	    return {
           orderSearchModel:orderSearchModel,
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch,
            statusList:statusList,
            gmeta: gmeta,
            showIcons:showIcons,
            showAlertVar:showAlertVar,
            orderEdited:orderEdited,
            action:action,
            orderSearchKeyModel:orderSearchKeyModel,
	        datecolumns:datecolumns,
            showMask:showMask,
             errorcode:errorcode,
             errordesc:errordesc,
             apierror:apierror,
             exportColumns:exportColumns,
             editinput:editinput
         
	       }
      },


	route: {
        canReuse: function (transition) {
             
            if(transition.from.name === 'OrderList'){
              return false;
            }
            else{
                    return true;
            }
        },  
        deactivate: function (transition) {
            if (typeof(Storage) !== "undefined") {
                sessionStorage.vporderSearchModel =  JSON.stringify(this.orderSearchModel)  
            }
            transition.next() 
        },
        
		data: function (transition) {
            var self=this
            if (typeof(Storage) !== "undefined" && !(sessionStorage.vporderSearchModel == undefined) ) {
                  if(!self.$route.query.request) {
                    self.orderSearchModel = JSON.parse(sessionStorage.vporderSearchModel)  
                  }
                    
             }
            var loadStatus = function(result) {
                       var success = function(orderresult) {

                           var tempArray =orderresult.Order
                            self.showMask=false
                           if(tempArray) {
                               tempArray.forEach(function(item,index) {
                          //      if(item.Status != "Created"|| item.Extn.HasVendorAccepted==='Y' ) {
                                   if(item.MaxOrderStatus >= 1100.10000|| item.Extn.HasVendorAccepted==='Y' ) {
                                    item.showIcons=true 
                                    } else {item.showIcons=false  }

                                    })

                           }

                            transition.next({
                                            gridData : tempArray,
                                            statusList :result.Status

                                            })
                                                            }
                                if( self.$route.query.request && self.$route.query.request === 'OrderSearch'){
                                       self.orderSearchKeyModel.OrderName = self.$route.query.key
                                       self.orderSearchKeyModel.FromStatus=''
                                       self.orderSearchKeyModel.ToStatus=''
                                       self.orderSearchModel.FromStatus=''
                                       self.orderSearchModel.ToStatus=''
                                        Utils.executeDataService("orderList", success, self.orderSearchKeyModel,self.errorHandler);
                                  }else if(self.$route.query.request && self.$route.query.request === 'Index') {
                                        self.orderSearchModel.FromStatus = self.$route.query.orderstatus
                                        self.orderSearchModel.ToStatus = self.$route.query.orderstatus
                                        Utils.executeDataService("orderList", success, self.orderSearchModel,self.errorHandler); 
                                  } else {
                                                Utils.executeDataService("orderList", success, self.orderSearchModel,self.errorHandler); 
                                  }
                                   

                            }

                        Utils.executeDataService("postatusList", loadStatus, self.Status,self.errorHandler);

		}
    
        
    },

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	}
    }
  ,
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },

       csvexport: function(data){
   
       var self = this
     var ReportTitle = 'Orders Reports';
    var CSV = Utils.convertJSONToCSV(self.gridData, self.exportColumns, ReportTitle, true);
    var getTitle = Utils.exportTitle(ReportTitle);
    var fileName = ""; 

    fileName += getTitle.replace(/ /g,"_");   

    var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);

    var link = document.createElement("a");    
    link.href = uri;

    link.style = "visibility:hidden";
    link.download = fileName + ".csv";

    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);

     },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },

      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },
		getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		},
    orderSearch: function(event) {
	     event.preventDefault()
        var invalidDates = $(".invalid").length            
        if(this.$formvalidation1.valid && invalidDates === 0 ){  
	        var self = this
           if(self.orderSearchModel.MaximumRecords === ''  ){
                self.orderSearchModel.MaximumRecords= '100'
             }
			var success = function(result) {
                 self.showMask=false
    			self.gridData = result.Order
                if(self.gridData){
                    self.gridData.forEach(function(item,index) {
                        if(item.MaxOrderStatus > 1260|| item.Extn.HasVendorAccepted==='Y') {
                             item.showIcons=true 
                         } else {item.showIcons=false  }
                    })
                }
                
				self.showSearch=false
			}
            self.showMask=true
             if(self.orderSearchModel.OrderLine.Item.ItemShortDesc !== '') {
                   var upperItemDesc = self.orderSearchModel.OrderLine.Item.ItemShortDesc.toUpperCase();
                    self.orderSearchModel.OrderLine.Item.ItemShortDesc = upperItemDesc;
             }
            
			Utils.executeDataService("orderList", success, self.orderSearchModel,self.errorHandler);
 }
       GridUtils.clearMetaPagination(this.gmeta, this.columns);
	      },
  /*  validateDate: function(evt) {
          
          if(this.orderSearchModel.FromOrderDate > this.orderSearchModel.ToOrderDate) {
              alert("From Date can't be greater than To Date")
                 
                 return -1
          }},*/
      
      showAlert:function(row,index,action){
         /*   if(row.showIcons) {
                 event.preventDefault()
                 event.stopPropagation()
                 return
             }*/
                var self=this
                self.showAlertVar=true
                self.editingIndex = index 
                
                self.orderEdited = JSON.parse(JSON.stringify(row))
                self.action=action
            },
      
      
      editOrderLine:function(event){
          var currentOrder={}
              var self =this
            currentOrder=JSON.parse(JSON.stringify(this.orderEdited ))
            if (self.action==="accept")
                {
                    if ((currentOrder.MaxOrderStatus<1100.10000) || (currentOrder.MaxOrderStatus===1100.10000 && currentOrder.MultipleStatusesExist==='Y') ) 
                    {
                     currentOrder.SendToVendor='N'   
                    }
                else 
                        {
                                currentOrder.SendToVendor='Y'
                        }
                    currentOrder.Action="ACCEPT"
                }
              
              else 
              currentOrder.Action="REJECT_ALL"
                var success = function(result) {
    			//     alert("accepted")
                     var index = -1;
                                        
                    for(var i=0; i< self.gridData.length; i++) {
                      if(self.gridData[i].OrderHeaderKey === currentOrder.OrderHeaderKey){
                          index = i;
                          break;
                      }
                    }
                    if(index != -1) {
                       
                       currentOrder.showIcons=true 
                         if (self.action === "reject") 
                            currentOrder.Status="Rejected"
                        else if (self.action === "accept")
                            currentOrder.Status="PO Sent To Vendor"
                            
                       self.gridData.$set(index, currentOrder)

                    }
                    self.editingIndex = -1 
            	}
			 Utils.executeDataService("vp_vendorActions", success,currentOrder,self.errorHandler); 
           },
       cancel:function(event){
            
        },
      
     addToWatchList:function(row,event){
            var self = this
            var watchListInput={}
           watchListInput.OrderHeaderKey= row.OrderHeaderKey
           watchListInput.OrganizationCode= row.EnterpriseCode           
           watchListInput.OrderNo= row.OrderNo
           watchListInput.Status= row.Status 
           if(row.ReqDeliveryDate) {
                watchListInput.ReqDeliveryDate= row.ReqDeliveryDate
           }
        if(row.ReqShipDate) {     
            watchListInput.ReqShipDate= row.ReqShipDate
        }
           watchListInput.TotalAmount= row.PriceInfo.TotalAmount
           var success = function(result) {
                      row.IsWatchedByUser='Y'
              }
			Utils.executeDataService("createWatchedOrder", success,watchListInput,self.errorHandler);

         },
     removeFromWatchList:function(row,event){
            var self = this
            var watchListInput={}
           watchListInput.OrderHeaderKey= row.OrderHeaderKey
            var success = function(result) {
                      row.IsWatchedByUser='N'
				}
			Utils.executeDataService("removeWatchedOrder", success,watchListInput,self.errorHandler);

         } ,
     errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                   self.showMask=false
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                 
              },
          resetAll: function(){
               var newOrderSearchModel = {
                        'OrderNo': '',
                    'OrderName':'',
                    'DocumentType':'0005',
                    'OrderDate':'',
                    'OrderLine': {
                          'Item': {
                             ItemID:'',
                             ItemShortDesc:''
                           }
                    },
                    'ReqDeliveryDate':'',
                    'ReqShipDate':'' ,
                    'FromStatus': '1100',
                    'ToStatus': '3700',
                    'MaximumRecords': '100',
                    'HoldFlag':'Y' 
                 }  

                        this.orderSearchModel = newOrderSearchModel;                
             },
              updatePo: function(event){
                                        var self =this;
                                        self.editinput = true;
                                          
                                      },
       keychange: function(row){
          var self = this;
          Vue.set(row,"isDirty","Y")

     },
     saveref: function() {
      var self = this
      var multiApiInput = {}
      var multiApiArr = {"API":[]}
      for(var i=0;i < self.gridData.length; i++) {
        if(self.gridData[i].isDirty === "Y") {
          var apiInp = {"Name":"changeOrder",
                          "Input":{
                            "Order":{
                            "OrderHeaderKey": self.gridData[i].OrderHeaderKey,
                            "Action":"MODIFY",
                            "CustomerPONo":self.gridData[i].CustomerPONo
                          }
                          }
                        }
          multiApiArr.API.push(apiInp);
        }
      }
       var success = function(result) {
                      console.log("PO Updated");
        }


     if(multiApiArr.API.length !== 0){
         Utils.executeDataService("updateSupplierNo", success, multiApiArr, self.errorHandler);
         self.editinput = false
      }
           if(multiApiArr.API.length === 0){
      self.editinput = false
    }
     },
      cancelref: function() { 
        var self =this;
         for(var i=0;i < self.gridData.length; i++) {
        
           Vue.delete(self.gridData[i],"isDirty","Y")
    
         }
          self.editinput = false
      }                  
   
  },
   validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
          
      },
  

	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }


</script>
