<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for adding and viewing comments on an Order
     ***************************************************************************-->
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Request PO Amendment</h4>
    </div>
    
    <div class="modal-body address-modal-body">
        <div v-show="showmask" class="spinner-loading absolution">
    <div class="loader"></div>
    </div> 
        <div class="panel panel-default m-t-10">
                <div class="block"  v-if="apierror" >
                  <div class="alert alert-danger" role="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
                  </div>
               </div>
             
            
          <div class="panel panel-default m-t-10">
                  <div class="panel-heading clearfix panel-alert-heading"><div class="i-block pull-left">Amendment Details</div></div>
                      <div class="clearfix"></div>
                  <div class="panel-body">
                    <textarea class="form-control Comments" rows="6" id="comment" placeholder="Add Your Amendment Details Here"
                              v-model="Order.Details"></textarea>

               </div>
                 </div>
                   
        </div>
    <div class="modal-footer">
         <button type="button" class="btn btn-default" v-on:click="requestPoAmendment()" :disabled="!(Order.Details.trim().length > 0)">Submit</button>
        <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Close</button>
    </div>    
    
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('PO amendment Request')
    
    export default{
        
        props: {
            orderdetails: Object,
           
        },

        data: function () { 
            
            var Order = {'OrderHeaderKey':'','Details':'','OrderName':'','AmendReqDate':''};
            var notesList = []

            var errorcode
            var errordesc
            var apierror=false
            var showmask=false
            return {
                Order:Order,
                notesList:notesList,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror,
                showmask:showmask
            }
        },
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
            
         cancel: function() {             
            this.Order.Details = '';
            this.$dispatch('cancel')
         },
        
        
        //requestPoAmendment to the order    
         requestPoAmendment: function() {
             
             var self = this; 
             
              $('.modal').scrollTop(0);  
             self.Order.OrderHeaderKey=self.orderdetails.OrderHeaderKey;
             self.Order.OrderName=self.orderdetails.OrderName;
             self.Order.OrderNo=self.orderdetails.OrderNo;
             self.Order.ReqUserID=window.AppInfo.loginid;
             if (self.orderdetails.ReceivingNode){
                 
                 self.Order.ReceivingNode=self.orderdetails.ReceivingNode
             }
             else if (!(self.orderdetails.ShipToID)&& self.orderdetails.CustomAttributes && (self.orderdetails.CustomAttributes.Boolean3 ==='N'))
                 {
                       var orderlineArray=self.orderdetails.OrderLines.OrderLine
                     self.Order.ReceivingNode= orderlineArray[0].ReceivingNode
                 }
            else if (!(self.orderdetails.ShipToID) && self.orderdetails.CustomAttributes && (self.orderdetails.CustomAttributes.Boolean3 ==='Y'))
                {
                     self.Order.ReceivingNode="Various"
                }
             var date=new Date();
             var serverDate = Utils.formatDateForServer(date);
             self.Order.AmendReqDate=serverDate;
             $log.debug("Requesting Po amendment "+self.Order.OrderHeaderKey)
            var success = function(result) {
                self.showmask=false;
             }
              var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  self.showmask=false
              }
              self.showmask=true
		     Utils.executeDataService("requestPoAmendement",success, self.Order,errorHandler);
          },
       
            
       	getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		}
		 
        }, 	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
        
       
}

</script>