.navbar-header a {
    color: #000;
}
.navbar-header a:hover {
    color: #000;
}
.nav-justified {
    font-weight: bold;
    font-size: 14px;
}
.navbar-fixed-top {
    background: transperent;
    ul.list-inline.list-unstyled.panelControl {
        padding: 10px 20px;
        background: #e6e6e6;
    }
    ul.dropdown-menu.pull-right {
        margin-right: 20px;
        margin-top: 11px;
    }
}
.user-image-header {
    border: solid 3px #FFF;
    display: inline-block;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px 0;
    border-radius: 50%;
    width: 40px;
    float: left;
    margin-right: 10px;
}
header {
    .navbar-right {
        padding: 5px 10px 0;
    }
    .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 8px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(150, 148, 148, 0.2);
        content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 9px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
    i.glyphicon.glyphicon-user {
        font-size: 14px;
        color: #fff;
     
    }
    a.dropdown-toggle.header_dropdown, a.dropdown-toggle.header_dropdown:hover, a.dropdown-toggle.header_dropdown:active  {
    background: $HeaderIconBg !important;
    padding: 8px 8px 8px 8px;
    text-align: center;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -2px;
}

a.dropdown-toggle.header_dropdown:focus{
        border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
    h4 {
        line-height: 40px;
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
    }
    .navbar-nav-dropdown li > a {
        padding: 0;
    }
    nav-justified > li {
        border: 1px solid #ddd;
    }
    .nav-justified > li a {
        color: #FFF;
        border: 1px solid #5A5A5A;
        border-top: 0;
        border-bottom: 0;
        margin-right: -1px;
        background: #444444;
        font-weight: 100;
    }
    .nav-justified > li a:hover {
        background: #ddd;
        color: #337ab7;
    }
    .nav-justified > li.active {
        background: #ddd;
        color: #fff;
    }
    .caret {
        border-top: 4px dashed;
        border-top: 4px solid\9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        color: #000;
    }
    .nav .open > a,
    .nav .open > a:focus,
    .nav .open > a:hover,
    .nav > li > a:focus,
    .nav > li > a:hover {
        background: transparent;
    }
    .text-muted {
        font-size: 12px;
    }
    .extend {
        width: 198px;
        left: -125px !important;
        top: 50px;
    }
    .extend .glyphicon {
        font-size: 22px;
        top: 5px;
        margin-right: 11px;
    }
    .extend a {
        padding: 15px 10px !important;
        width: 100%;
        display: inline-block;
    }
}
.top-bar-border {
    .navbar-nav-dropdown {
        font-size: 20px;
        margin: 5px 0 0;
    }
    .glyphicon-user {
       
    }
}
.top-bar-border .glyphicon {
    color: #848484;
}
.top-bar .alert-danger {
    padding: 5px;
    margin: 0;
    border-radius: 2px;
}
.top-bar .alert-dismissable .close,
.top-bar .alert-dismissible .close {
    right: 0;
}
.top-bar-border {
    border: 1px solid #ddd;
    border-top: none;
    margin: 0;
    .p-l-0 {
        padding: 5px;
        height: auto;
    }
}
.navbar-brand a {
    display: block;
}
.navbar-brand,
.navbar-nav-dropdown {
    display: block;
    text-align: center;
    cursor: pointer;
}
.navbar-brand:hover,
.navbar-nav-dropdown:hover {
    cursor: pointer;
}
.navbar-brand,
.navbar-nav-dropdown {
    border-bottom: 0;
}
.navbar-brand:hover,
.navbar-nav-dropdown:hover {
    border-bottom: 0;
}
header .navbar-right {
    padding: 0 10px;
}
nav.navbar.navbar-default.cusBottom {
    margin-bottom: 0;
    border: 0;
}
nav.navbar.navbar-default.cusBottom .navbar-brand {
    padding: 6px 15px;
}
nav.navbar.navbar-default.cusBottom .container-fluid {
    padding-left: 0;
}
.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    /* background: #2F2E2E; */
    padding: 15px 30px;
    color: #fff;
    font-weight: 500;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: $Headerlinkclr;
    background: $linkActiveclr;
}
header .nav-justified > li a:hover {
    background-color: #4178BC;
    color: #fff;
}
@media (max-width:767px) {
header i.glyphicon.glyphicon-user {
    margin-top: -1px !important;
    top: -26px;
    right: -8px;
}
  header .dropdown-menu:before {
    position: absolute;
    top: -6px;
    right: 8px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(150, 148, 148, 0.2);
    content: '';
}  
    header .dropdown-menu:after {
    position: absolute;
    top: -4px;
    right: 9px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
    ul.nav.navbar-nav.navbar-nav-dropdown .dropdown.open {
    background: #fff;
    /* z-index: 999999999; */
    margin-top: 0px;
    padding-top: 0px;
}
}
li.UserName span {
    font-size: 10px;
    /* font-family: inherit; */
    color: #929191;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding-bottom:10px;
}
li.UserName {
    cursor: initial;
    border-bottom: 1px solid #f1f1f1;
}
.navbar-nav>li>.dropdown-menu li {
    padding: 3px 8px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #337ab7 !important;
    text-decoration: none;
    background-color: transparent !important;
}
.navbar-nav>li>.dropdown-menu li a {
    color: #1f70c1;
}
i.glyphicon.glyphicon-home {
    display: inline-block;
    width: 22px;
    color: #fff;
}
header h4 {
    display: inline-block;
}