<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->

<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">New Address</h4>
          </div>
        
      <div class="block"  v-if="saved">
          <div class="alert alert-info" role="alert" >
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>The Address is Saved Successfully </strong>
              
        </div>
       </div>
      <form id="addAddress" method="post" v-on:submit.stop.prevent="SaveAddress()">
          <div class="modal-body address-modal-body">
              <div class="row">
                <div class="col-md-4">
                  Name <input type="text" name="FirstName" placeholder="Name" title="Enter the Name" class="form-control block" autocomplete="off">
                </div>
            
                <div class="col-md-4">
                  Phone Number <input type="text" name="DayPhone" placeholder="Phone Number" title=" Enter the Phone Number" class="form-control block" autocomplete="off">
                </div>
                <div class="col-md-4">
                Email Address <input type="text" name="EmailID" placeholder="Email ID" title="Enter the Email ID" class="form-control block" autocomplete="off" id="emailnotify" v-model="addressObject.EmailID">
                    <span class="help-block" v-show="mailerror" >Please enter valid email address</span>
                </div>
              </div>
              <div class="row">
                <div class="address-modal-wrapper clearfix">
                  <div class="m-t-5"><strong>Address Information</strong></div>
                  
                  <div class="col-md-12 m-t-10">
                    Address Line 1 <input type="text" name="AddressLine1" placeholder="AddressLine1" title="Enter the AddressLine1" class="form-control block" autocomplete="off">
                  </div>
                  <div class="col-md-12">
                      Address Line 2 <input type="text" name="AddressLine2" placeholder="AddressLine2" title="Enter the AddressLine2"  class="form-control block" autocomplete="off">
                  </div>
                  <div class="col-md-12">
                    Address Line 3 <input type="text" name="AddressLine3" placeholder="AddressLine3" title="Enter the AddressLine3" class="form-control block" autocomplete="off">
                  </div>
                    <div class="col-md-12">
                    Delivery Instruction <input type="text" name="DeliveryInstruction" placeholder="Delivery Instruction" title="Enter the Delivery Instruction" class="form-control block" autocomplete="off">
                  </div>
                  <div class="col-md-6">
                    Country <input type="text" name="Country" placeholder="Country" title="Enter the Country" class="form-control" autocomplete="off" required>
                  </div>
                  <div class="col-md-6">
                    State <input type="text" name="State" placeholder="State" title="Enter the State" class="form-control" autocomplete="off" required>
                  </div>
                  <div class="col-md-6">
                    Suburb <input type="text" name="City" placeholder="Suburb" title="Enter the Suburb" class="form-control" autocomplete="off" required>
                  </div>
                  <div class="col-md-6">
                      Post Code <input type="text" name="ZipCode" placeholder="Postal Code" title="Enter the Postal Code" class="form-control" autocomplete="off" required>
                  </div>
                </div>


              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default" v-bind:disabled=saved title="Save Address"  >Save</button>
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" title="Close" >Close</button>
          </div>
    </form>
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        type:String
     },    


    data: function () {
        
        var addressObject={
            'EmailID':''
        };
        var mailerror=false;
        var saved = false ;
      return {
        addressObject:addressObject,
        mailerror:mailerror,
        saved :saved 
          
      }

    },
     ready: function () {

        var self = this 
        $("#emailnotify").on('change',function(){

                if(self.addressObject.EmailID && self.checkfromEmail()){
                     self.mailerror=true      
                 }
                 else{
                     self.mailerror=false
                 }
        });
          $(".address-modal-body").keyup(function() {
                        self.saved=false
                        });
      },

    methods: {
        SaveAddress: function(){
          $('.modal').scrollTop(0);    
           var self = this;
           var addressObj={
            'EmailID':'','Type':''
             };
           $('.address-modal-body input[type="text"]').each(function(){
                addressObj[this.name]=this.value.toUpperCase();
           })
          
           addressObj.Type=self.type
           self.saved= true
           //Dispatching new address object. Event handled in OrderAddressTpl.vue component
           self.$dispatch('AddressEventCatch', addressObj )
       },
        checkfromEmail : function(){
             var self = this;
             var email=this.addressObject.EmailID;
           var  pattern=/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/
           /* var posOfAt = email.indexOf("@");
            var posOfDot = email.lastIndexOf(".");
            
            if (posOfAt<1 || posOfDot<posOfAt+2 || posOfAt+2>=email.length || posOfDot>=email.length-1) {*/
            if(!(pattern.test(email))){
                document.getElementById("emailnotify").focus();
               return true;
            }else{
                return false;
            }

		}
        
    },
        
     computed: {
     
    },    

    /* This event invokes getATP and getItemDetails APIs to populate supply distribtion for a
      a selected Supply Type on the Pie chart. Both Over all and node lavel*/    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }

    </script>

