<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->

<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Location</h4>
          </div>
          <div class="modal-body address-modal-body">
              <div class="row">
                   <ul class="list-group col-md-12">
                       <li class="list-group-item col-md-6">
     <label class="col-sm-12"> Name </label><span class="col-sm-12 row">{{address.FirstName}}&nbsp; </span> 
                
    </li>
                             <!-- <li class="list-group-item col-md-6">
     <label class="col-sm-12">   Last Name </label><span class="col-sm-12 row">{{address.LastName}} &nbsp; </span> 
                
    </li>-->
                         <li class="list-group-item col-md-6">
     <label class="col-sm-12"> Phone Number </label><span class="col-sm-12 row">{{address.DayPhone}} &nbsp;</span> 
                
    </li>
                         <li class="list-group-item col-md-6">
     <label class="col-sm-12">   Email Address </label><span class="col-sm-12 row"> {{address.EmailID}}&nbsp; </span> 
                
    </li>
    </ul>

              <div class="col-md-12 clearfix">
              <div class="panel panel-default">
  <div class="panel-heading">Address Information</div>
  <div class="panel-body">
          <ul class="list-group ">
               <li class="list-group-item col-md-12">
                     <label class="col-sm-6"> Address Line 1 </label><span class="col-sm-6"> {{address.AddressLine1}} </span>
                 </li>
                   <li class="list-group-item col-md-12">
                       <label class="col-sm-6">  Address Line 2 </label><span class="col-sm-6">{{address.AddressLine2}}</span>
                  </li>
                  <li class="list-group-item col-md-12">
                       <label class="col-sm-6">Address Line 3 </label><span class="col-sm-6">{{address.AddressLine3}}</span>
                  </li>
    <!--             <li class="list-group-item col-md-12">
                       <label class="col-sm-6">Address Line 4 </label><span class="col-sm-6">{{address.AddressLine4}}</span>
                  </li>
                <li class="list-group-item col-md-12">
                       <label class="col-sm-6">Address Line 5 </label><span class="col-sm-6">{{address.AddressLine6}}</span>
                  </li> -->
                  <div class="divider"></div>
                  <li class="list-group-item col-md-6">
                      <label class="col-sm-6">Country </label><span class="col-sm-12 row">{{address.Country}}</span>
                  </li>
                  <li class="list-group-item col-md-6">
                     <label class="col-sm-6"> State </label><span class="col-sm-12 row">{{address.State}}</span>
                  </li>
                <li class="list-group-item col-md-6">
                     <label class="col-sm-6">   Suburb </label><span class="col-sm-12 row">{{address.City}}</span>
                  </li>
                  <li class="list-group-item col-md-6">
                   <label class="col-sm-6">    Post Code </label><span class="col-sm-12 row">{{address.ZipCode}}</span>
                  </li>
              <li class="list-group-item col-md-6">
                   <label class="col-sm-6">  Delivery Instructions </label>
                  <span class="col-sm-12 row" v-if="address  && address.Extn && address.Extn.DeliveryInstruction">{{getValue(address,"Extn.DeliveryInstruction")}}</span>
                  <span class="col-sm-12 row" v-if="orderline  && orderline.Extn && orderline.Extn.DeliveryInstruction">{{getValue(orderline,"Extn.DeliveryInstruction")}}</span>
                  </li>
     
             </ul>
  </div>
</div>
         </div>        
   </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" title="Close">Close</button>
          </div>
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        address:Object,
        orderline:Object
     },  
        methods: {
              getValue: function(row, binding) {
                  return Utils.getValue(row,binding)
              }
            
        },
  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }

    </script>

