<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        Address Details Component. Renders the address panel 
     ***************************************************************************-->

<template>
<div>
  <h6>{{addresslabel}}</h6> 
    <div class="AddressInside">
    <span v-show="addressdetails && addressdetails.FirstName"> {{getValue(addressdetails,"FirstName")}}  {{getValue(addressdetails,"LastName")}} </span>
    <span v-show="addressdetails && addressdetails.MiddleName"> {{getValue(addressdetails,"MiddleName")}} </span>        
    <span v-show="addressdetails && addressdetails.AddressLine6"> {{getValue(addressdetails,"AddressLine6")}} </span>    
    <span v-show="addressdetails && addressdetails.AddressLine1 ">  {{getValue(addressdetails,"AddressLine1")}}  </span>  
    <span v-show="addressdetails && addressdetails.AddressLine2  "> {{getValue(addressdetails,"AddressLine2")}}  </span>
    <span v-show="addressdetails && addressdetails.AddressLine3 "> {{getValue(addressdetails,"AddressLine3")}} </span>
    <span v-show="addressdetails && addressdetails.AddressLine4 "> {{getValue(addressdetails,"AddressLine4")}} </span>
    <span v-show="addressdetails && addressdetails.AddressLine5"> {{getValue(addressdetails,"AddressLine5")}} </span>    
    
    <span v-show="addressdetails &&( addressdetails.City || addressdetails.ZipCode ||  addressdetails.State)">{{getValue(addressdetails,"City")}} {{getValue(addressdetails,"State")}} {{getValue(addressdetails,"ZipCode")}}</span> 
    
    <span v-show="addressdetails && addressdetails.Country">{{getValue(addressdetails,"Country")}}</span>
      <span v-show="addressdetails && addressdetails.DayPhone"><label for="" class="control-label">Day Phone</label>&nbsp;{{getValue(addressdetails,"DayPhone")}}</span>  
    <span v-if="addressdetails  && addressdetails.Extn && addressdetails.Extn.DeliveryInstruction"><label for="" class="control-label">Delivery Instruction</label>&nbsp;{{getValue(addressdetails,"Extn.DeliveryInstruction")}}</span>
     <span v-if="orderline  && orderline.Extn && orderline.Extn.DeliveryInstruction"><label for="" class="control-label">Delivery Instruction</label>&nbsp;{{getValue(orderline,"Extn.DeliveryInstruction")}}</span>
    <span v-show="addressdetails && addressdetails.EmailID"><label for="" class="control-label">Email Address</label>&nbsp;{{getValue(addressdetails,"EmailID")}}</span>
            
    </div>
    </div>
</template>

<script>
    var Utils = require('./../utils/utils.js')

    export default {
        props: {
          addressdetails: Object,
          addresslabel: String ,
          orderline:Object
        },
        data () {
            return {
            }
        },
        methods: {
              getValue: function(row, binding) {
                  return Utils.getValue(row,binding)
              }
            
        }
    }
</script>

<style>
    
</style>