<template>
<div>
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
         aria-label="Close" v-on:click="cancel()" :disabled="getsubmitstat()">
      <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Edit Carrier</h4>
   </div>
    <validator name="validation">
   <form novalidate v-on:submit.stop.prevent="CarrierModalFunction()" >
      <div class="modal-body carrierModal">
         <div class="clearfix"></div>
         <h5>Courier</h5>
         <div class="row">
            <div class="form-group required col-md-3">
               <label class="required-label">Short Name</label>
               <input type="text" class="form-control" placeholder="Carrier Short Name" v-model ="editdata.CarrierShortName" v-validate:shortname="{ required:true }" disabled="disabled">
            </div>
            <div class="form-group required col-md-3">
               <label class="required-label">Service Name</label>
               <input type="text" class="form-control"  placeholder="Carrier Service Name" v-model ="editdata.CarrierServiceName"
                      v-validate:servicename="{ required:true }" disabled="disabled">
                
            </div>
            <div class="form-group required col-md-3">
               <label class="required-label" >Priority</label>
               <input type="text" class="form-control"  placeholder="Priority" v-model ="editdata.CarrierServicePriority"
                      v-validate:Priority="{ required:true }" initial='off'>
                 <div  class="help-block" v-show="$validation.priority.required">Please enter Carrier Service Priority</div>
            </div>
             <div class="form-group col-md-3">
               <label >Available</label>
               <input class="tgl tgl-flat" id="showOrders" type="checkbox" v-model="girddata.Status"  v-bind:checked="editdata.Status === 'A'"> <label class="tgl-btn" for="showOrders"></label>
            </div>
            <div class="clearfix"></div>
         </div>
         <div class="modal-wrapper clearfix">
         <h5>Identification</h5>
         <div class="row">
            <div class="form-group required col-md-3">
               <label  class="required-label">Name</label>
               <input type="text" class="form-control"  placeholder="" v-model ="editdata.ServiceName" v-validate:name="{required: true}" initial='off'>
                <div  class="help-block" v-show="$validation.name.required">Please enter Service Name</div>
            </div>
            <div class="form-group required col-md-3">
               <label  class="required-label" >Code</label>
               <input type="text" class="form-control"  placeholder="" v-model ="editdata.ServiceCode" v-validate:code="{required: true}" initial='off'>
                 <div  class="help-block" v-show="$validation.code.required">Please enter Carrier Service Code</div>
            </div>
            <div class="form-group required col-md-3">
               <label  class="required-label">Cost Indicator</label>
               <select class="form-control" title="Select the Code Indicator" v-model ="editdata.CostIndicator" v-validate:costindicator="{required: true}" initial='off'>
                                                                      <option value="Nil">Select</option>
                                                                    <option value="Low">Low</option>
                                                                    <option value="Medium">Medium</option>
                                                                    <option value="High">High</option>
                                                                </select>
                 <div  class="help-block" v-show="$validation.costindicator.required">Please select Cost Indicator</div>
            </div>
            <div class="form-group col-md-3">
               <label >Account Number</label>
               <input type="text" class="form-control"  placeholder="" v-model ="editdata.AccountNumberUse" >
            </div>
            <div class="form-group col-md-3">
               <label >Consignment Prefix</label>
               <input type="text" class="form-control"  placeholder="" v-model ="editdata.ConsignmentPrefix" >
            </div>
             <div class="form-group col-md-3">
               <label >File. Profix</label>
               <input type="text" class="form-control"  placeholder="" v-model ="editdata.FilePrefix" >
            </div>
            <div class="clearfix"></div>
         </div>
       </div>
          <div class="modal-wrapper clearfix">

         <h5>Support</h5>
         <div class="row">
            <div class="form-group required col-md-3">
               <label class="required-label">Turn Around</label>
                     <select class="form-control" title="Select Turn Around Timing" v-model ="editdata.Turnaround" v-validate:turnaround="{required: true}" initial='off'>
                                                                      <option value="Nil">Select</option>
                                                                    <option value="N">Next Day</option>
                                                                    <option value="4 Hours">4 Hours</option>
                                                                    <option value="3 Hours">3 Hours</option>
                                                                </select>
                 <div  class="help-block" v-show="$validation.turnaround.required">Please Select Turn Around</div>
            </div>
            <div class="form-group required col-md-3">
               <label class="required-label" >Via</label>
              <select class="form-control" title="Select Via Timing" v-model ="editdata.TransportMethod"  v-validate:via="{required: true}" initial='off'>
                                                                      <option value="Nil">Select</option>
                                                                    <option value="Road">Road</option>
                                                                    <option value="Air">Air</option>
                                                                </select>
                  <div  class="help-block" v-show="$validation.via.required">Please Select Carrier Transport Method</div>
            </div>
            <div class="form-group col-md-3">
               <label >Labels Provided</label>
              <select class="form-control" title="Select Labels" v-model ="editdata.SupplyLabels">
                                                                      <option value="">Select</option>
                                                                    <option value="Y">Yes</option>
                                                                    <option value="N">No</option>
                                                                </select>
                
            </div>
             <div class="form-group col-md-3">
               <label >Dangerous Goods URL</label>
               <input type="text" class="form-control"  placeholder="Dangerous Goods URL" v-model ="editdata.DangerousGoodsGuidanceURL">
            </div>
            <div class="form-group required col-md-12">
               <h5 class="required-label">Special Handling</h5>
               <label class="checkbox-inline">
               <input type="checkbox"   v-model ="girddata.DangerousGoods" v-bind:checked="editdata.DangerousGoods === 'Y'"> Dangerous Goods
               </label>
               <label class="checkbox-inline">
               <input type="checkbox"   v-model ="girddata.FoodStuff" v-bind:checked="editdata.FoodStuff === 'Y'" > Food Stuff(Gift Baslet, Wine etc)
               </label>
               <label class="checkbox-inline">
               <input type="checkbox"   v-model ="girddata.Fragile" v-bind:checked="editdata.Fragile === 'Y'"> Fragile, Sensitive or Valuable Freight 
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"   v-model ="girddata.LithiumBatteries" v-bind:checked="editdata.LithiumBatteries === 'Y'" > Lithium Batteries 
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"  v-model ="girddata.StarTrackSatchel" v-bind:checked="editdata.StarTrackSatchel === 'Y'"> StatTrack satchel 
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"   v-model ="girddata.Unspecified" v-bind:checked="editdata.Unspecified === 'Y'"> Unspecified
               </label>
            </div>

             <div class="form-group col-md-12">
               <h5>Extras</h5>
               <label class="checkbox-inline">
               <input type="checkbox"  v-model ="girddata.Packs" v-bind:checked="editdata.Packs === 'Y'"> Packs
               </label>
               <label class="checkbox-inline">
               <input type="checkbox"  v-model ="girddata.RubbishRemoval" v-bind:checked="editdata.RubbishRemoval === 'Y'"> Rubbish Removal
               </label>
               <label class="checkbox-inline">
               <input type="checkbox"   v-model ="girddata.SupplyLabels" v-bind:checked="editdata.SupplyLabels === 'Y'"> Supply Labels 
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"  v-model ="girddata.SupplyPackaging" v-bind:checked="editdata.SupplyPackaging === 'Y'"> Supply Packaging
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"   v-model ="girddata.SupplyStarTrackSatchel" v-bind:checked="editdata.SupplyStarTrackSatchel === 'Y'"> Supply StarTrack Satchels
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"   v-model ="editdata.Unpack" v-bind:checked="editdata.Unpack === 'Y'"> Unpack
               </label>
            </div>
            <div class="clearfix"></div>
         </div>
       </div>
            <div class="modal-wrapper clearfix">
            <h5>Insurance & Restrictions</h5>
         <div class="row">
            <div class="form-group required col-md-3">
               <label>Insurance Value</label>
               <input type="text" class="form-control"  placeholder="" v-model ="editdata.InsuredValue"  >
      
            </div>
            <div class="form-group required col-md-3">
               <label >Max.Items</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="editdata.MaxContainers" >
            </div>
            <div class="form-group col-md-3">
               <label >Min.Weight</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="editdata.MinWeight">
            </div>
            <div class="form-group col-md-3">
               <label >Max.Weight</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="editdata.MaxWeight">
            </div>
             <div class="form-group col-md-3">
               <label >Max.Length</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="editdata.MaxLength">
            </div>
            <div class="form-group col-md-3">
               <label >Max.Value</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="editdata.MaxValue">
            </div>
            <div class="clearfix"></div>
         </div>
       </div>

         <div class="modal-footer">
            <button type="submit" value="upload" class="btn btn-default" v-bind:disabled="!$validation.valid">Update</button>
            <button type="button" class="btn btn-default SecondaryBtn"
               data-dismiss="modal" v-on:click="cancel()" :disabled="getsubmitstat()">Close</button>
         </div>
      </div>
   </form>
 </validator>
</div>
 </template>
 <script>
      var Vue = require('vue')
              var Utils = require('./../utils/utils.js')
              var Logger = require('./../utils/loggerUtils.js')
              var $log = Logger.getInstance('Inventory Upload')
              import EventBus from './../utils/eventbus.js';

        export default{

        

           data: function () {
                    var showsuccess=false
                    var showerror=false
                    var subbtn= false; 
                    var file_select = false;
                    var file_size = false
                    var file_extn = false
                    var mailerror= false
                    var uploadprogress= false
                    var emailCheck=false
                    var createCarrier = {}
                    var carriercheck = {}
                    var carrierselectcheck = []
                    var girddata ={}
                    var editdata = []
                    var CarrierData = {}
                      var tabSpecialHandle =['DangerousGoods', 'FoodStuff', 'Fragile', 'LithiumBatteries', 'StarTrackSatchel', 'Unspecified', 'Packs', 'RubbishRemoval', 'SupplyLabels', 'SupplyPackaging', 'SupplyStarTrackSatchel', 'Unpack'  ]
                    return {
                            showsuccess:showsuccess,
                            showerror:showerror,
                            subbtn:subbtn,
                            file_select:file_select,
                            file_size:file_size,
                            file_extn:file_extn,
                            mailerror:mailerror,
                            uploadprogress:uploadprogress,
                            emailCheck:emailCheck,
                            createCarrier:createCarrier,
                            carriercheck:carriercheck,
                            carrierselectcheck:carrierselectcheck,
                            girddata:girddata,
                            tabSpecialHandle:tabSpecialHandle,
                            CarrierData:CarrierData,
                            editdata:editdata

                        }
                    },
   ready: function ready (transition) {

          var self = this  
             EventBus.$on('getData', function (data) {
               
            var success = function(result) {
            self.carrierdata(result);


             }
               self.CarrierData  = {'LogisticsServiceKey' : data};
             Utils.executeDataService("logisticsServiceDetails", success, self.CarrierData, self.errorHandler);
                 });

           }, 
 

                    methods: {    
                     getValue: function(row, binding) {
                        return Utils.getValue(row,binding)
                     },
                     CarrierModalFunction:function(){
                      var self=this
                      var success = function(result) {
                         self.$dispatch('childmsg', 'Carrier Edited Successfully!!!!')
                          $('.modal').modal('toggle');
                     }
         
                    if(self.girddata.Status === true){
                       var self=this
                       Vue.set(self.editdata, 'Status', 'A');
                    }
                   if(self.girddata.Status === false) {
                       Vue.set(self.editdata, 'Status', 'R');
                    }
                    var gridData = [];
                    gridData.push(self.girddata);

                     for(var i = 0; i< self.tabSpecialHandle.length; i++){
                      var self =this
                if(gridData[0][self.tabSpecialHandle[i]] === true){
                
                 Vue.set(self.editdata, self.tabSpecialHandle[i], 'Y');
                } 
                 if(gridData[0][self.tabSpecialHandle[i]] === false){
                
                 Vue.set(self.editdata, self.tabSpecialHandle[i], 'N');
                } 
                 
              }
                     /* for(var i =0 ; i < self.carrierselectcheck.length; i++ ){
                         Vue.set(self.createCarrier, self.carrierselectcheck[i], 'Y');
                      }        
                  */
        Utils.executeDataService("ChangeLogisticsService", success, self.editdata, self.errorHandler);
                     },
                     carrierdata:function(result){
                      var self = this;
                      self.editdata = result;
                     },
                     getsubmitstat: function()
                     {
                            return this.subbtn;         
                     },
                       goBack: function () {
                       window.history.go(-1)
                     },
                               cancel: function() {
                                var self= this;
                        $('.error').remove();
                      self.girddata = [];
                         self.editdata = [];
                         self.tabSpecialHandle = [];
                        this.$dispatch('cancel')

                     }
                        
             
            

            
                    },
                    errorHandler : function(errorObj) {
              var self = this;
              self.apierror = true
              self.showMask=false;
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
        },  

                    beforeDestroy: function() {
                        $(this.$el).remove();
                        $(this.$el).removeData();
                    },
            }
</script>



