<template>
<div>
   <div class="modal-header">
      <button type="reset" class="close" data-dismiss="modal"
         aria-label="Close" v-on:click="cancel()" :disabled="getsubmitstat()">
      <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Create Carrier</h4>
   </div>
   <validator name="validation">
  <form novalidate v-on:submit.stop.prevent="CarrierModalFunction()">
     <div class="modal-body carrierModal clearfix">
      <div class="row">
      <div class="form-group required col-md-3">
               <label class="required-label">Short Name</label>
               <input type="text" class="form-control" placeholder="Carrier Short Name" v-model ="createCarrier.CarrierShortName" v-validate:shortname="{ required:true }"/>
            </div>
       <div class="form-group required col-md-3">
               <label  class="required-label">Service Name</label>
               <input type="text" class="form-control"  placeholder="Carrier Service Name" v-model ="createCarrier.CarrierServiceName" v-validate:servicename="{ required:true }" initial='off'/>
                <div  class="help-block" v-show="$validation.servicename.required">Please enter Carrier Service Name</div>
            </div>      
             <div class="form-group required col-md-3">
               <label  class="required-label" for="priority">Priority</label>
               <input type="text" class="form-control" id="Priority"  placeholder="Priority" v-model ="createCarrier.CarrierServicePriority"/ v-validate:priority="{ required:true }" initial='off'>
                <div  class="help-block" v-show="$validation.priority.required">Please enter Carrier Service Priority</div>
            </div>
             <div class="form-group col-md-3">
               <label >Available</label>
               <input class="tgl tgl-flat" id="showOrders" type="checkbox" value="A" v-model="carriercheck.Status" checked> <label class="tgl-btn" for="showOrders"></label>
            </div>
<div class="clearfix"></div>
<br/>
<div class="modal-wrapper clearfix">
         <h5>Identification</h5>
         <div class="row">
            <div class="form-group required col-md-3">
               <label  class="required-label" for="name">Name</label>
               <input type="text" class="form-control"  placeholder="" v-model ="createCarrier.ServiceName"  v-validate:name="{required: true}" initial='off'>
                <div  class="help-block" v-show="$validation.name.required">Please enter Service Name</div>
            </div>
            <div class="form-group required col-md-3">
               <label  class="required-label" for="code">Code</label>
               <input type="text" class="form-control"  placeholder="" v-model ="createCarrier.ServiceCode"  v-validate:code="{required: true}" initial='off'>
                <div  class="help-block" v-show="$validation.code.required">Please enter Carrier Service Code</div>
            </div>
            <div class="form-group required col-md-3">
               <label  class="required-label" for="costindicator">Cost Indicator</label>
               <select class="form-control" title="Select the Code Indicator" v-model ="createCarrier.CostIndicator"  v-validate:costindicator="{required: true}" initial='off'>
                                                                      <option value="" selected>Select</option>
                                                                    <option value="Low">Low</option>
                                                                    <option value="Medium">Medium</option>
                                                                    <option value="High">High</option>
                                                                </select>
                                                                 <div  class="help-block" v-show="$validation.costindicator.required">Please select Cost Indicator</div>
            </div>
            <div class="form-group col-md-3">
               <label >Account Number</label>
               <input type="text" class="form-control"  placeholder="" v-model ="createCarrier.AccountNumberUse" >
            </div>
            <div class="form-group col-md-3">
               <label >Consign. Profix</label>
               <input type="text" class="form-control"  placeholder="" v-model ="createCarrier.ConsignmentPrefix" >
            </div>
             <div class="form-group col-md-3">
               <label >File. Profix</label>
               <input type="text" class="form-control"  placeholder="" v-model ="createCarrier.FilePrefix" >
            </div>
            <div class="clearfix"></div>
         </div>
       </div>
  <div class="modal-wrapper clearfix">

         <h5>Support</h5>
         <div class="row">
            <div class="form-group required col-md-3">
               <label  class="required-label" for="turnaround">Turn Around</label>
                     <select class="form-control" title="Select Turn Around Timing" v-model ="createCarrier.Turnaround"  v-validate:turnaround="{required: true}" initial='off'>
                                                                      <option value="" selected>Select</option>
                                                                    <option value="N">Next Day</option>
                                                                    <option value="4 Hours">4 Hours</option>
                                                                    <option value="3 Hours">3 Hours</option>
                                                                </select>
                                                                 <div  class="help-block" v-show="$validation.turnaround.required">Please Select Turn Around</div>
            </div>
            <div class="form-group required col-md-3">
               <label  class="required-label" for="via" >Via</label>
              <select class="form-control" title="Select Via" v-model ="createCarrier.TransportMethod"  v-validate:via="{required: true}" >
                                                                      <option value="" selected>Select</option>
                                                                    <option value="Road">Road</option>
                                                                    <option value="Air">Air</option>
                                                                </select>

            </div>
             
            <div class="form-group col-md-3">
               <label >Labels Provided</label>
              <select class="form-control" title="Select Labels" v-model ="createCarrier.SupplyLabels">
                                                                      <option value="" selected>Select</option>
                                                                    <option value="Y">Yes</option>
                                                                    <option value="N">No</option>
                                                                </select>
            </div>
             <div class="form-group col-md-3">
               <label >Dangerous Goods URL</label>
               <input type="text" class="form-control"  placeholder="Dangerous Goods URL" v-model ="createCarrier.DangerousGoodsGuidanceURL">
            </div>

            <div class="form-group required col-md-12" >
                <br/>
               <h5  class="required-label" for="speicalhandling">Special Handling</h5>
               <label class="checkbox-inline">
               <input type="checkbox"  value="DangerousGoods" v-model ="carrierselectcheck"> Dangerous Goods
               </label>
               <label class="checkbox-inline">
               <input type="checkbox"  value="FoodStuff" v-model ="carrierselectcheck"> Food Stuff(Gift Baslet, Wine etc)
               </label>
               <label class="checkbox-inline">
               <input type="checkbox"  value="Fragile" v-model ="carrierselectcheck"> Fragile, Sensitive or Valuable Freight 
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"  value="LithiumBatteries" v-model ="carrierselectcheck"> Lithium Batteries 
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox" value="StarTrackSatchel" v-model ="carrierselectcheck"> StatTrack satchel 
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"  value="Unspecified" v-model ="carrierselectcheck"> Unspecified
               </label>
            </div>

             <div class="form-group col-md-12">
               <br/>
               <h5>Extras</h5>
               <label class="checkbox-inline">
               <input type="checkbox" value="Packs" v-model ="carrierselectcheck"> Packs
               </label>
               <label class="checkbox-inline">
               <input type="checkbox"  value="RubbishRemoval" v-model ="carrierselectcheck"> Rubbish Removal
               </label>
               <label class="checkbox-inline">
               <input type="checkbox"  value="SupplyLabels" v-model ="carrierselectcheck"> Supply Labels 
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"  value="SupplyPackaging" v-model ="carrierselectcheck"> Supply Packaging
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"  value="SupplyStarTrackSatchel" v-model ="carrierselectcheck"> Supply StarTrack Satchels
               </label>
                  <label class="checkbox-inline">
               <input type="checkbox"  value="Unpack" v-model ="carrierselectcheck"> Unpack
               </label>
            </div>
            <div class="clearfix"></div>
         </div>
       </div>
    <div class="modal-wrapper clearfix">
            <h5>Insurance & Restrictions</h5>
         <div class="row">
            <div class="form-group required col-md-3">
               <label  for="insurance">Insurance Value</label>
               <input type="number" class="form-control"  placeholder="" v-model ="createCarrier.InsuredValue" >
            </div>
            <div class="form-group required col-md-3">
               <label  for="maxitem">Max.Items</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="createCarrier.MaxContainers" >
               
            </div>
            <div class="form-group col-md-3">
               <label >Min.Weight</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="createCarrier.MinWeight">
            </div>
            <div class="form-group col-md-3">
               <label >Max.Weight</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="createCarrier.MaxWeight">
            </div>
             <div class="form-group col-md-3">
               <label >Max.Length</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="createCarrier.MaxLength">
            </div>
            <div class="form-group col-md-3">
               <label >Max.Value</label>
               <input type="number" class="form-control"  placeholder=""  v-model ="createCarrier.MaxValue">
            </div>
            <div class="clearfix"></div>
         </div>



</div>

   <div class="modal-footer clearfix">
            <button type="submit" value="upload" class="btn btn-default" v-bind:disabled="!$validation.valid">Create</button>
            <button  class="btn btn-default SecondaryBtn"
               data-dismiss="modal" type="reset" v-on:click="cancel()" @click="onReset" :disabled="getsubmitstat()">Close</button>
         </div>
       </div>
  </form>
</validator>

     <!-- <validator lazy name="validation">
   <form  id="uploadform" v-on:submit.stop.prevent="CarrierModalFunction()">
      <div class="modal-body carrierModal">
         <div class="clearfix"></div>
         <h5>Courier</h5>
         <div class="row">
         
        
           
            <div class="clearfix"></div>
         </div>
         <br/>
      
         
        
        
       </div>-->

      
      </div>

</div>
 </template>
 <script>
      var Vue = require('vue')
      var VueValidator = require('vue-validator')
              var Utils = require('./../utils/utils.js')
              var Logger = require('./../utils/loggerUtils.js')
              var $log = Logger.getInstance('Inventory Upload')
              import EventBus from './../utils/eventbus.js';

        export default{

           ready: function ready () {

            var self = this  
            Vue.use(VueValidator);
           }, 

           data: function () {
                    var showsuccess=false
                    var showerror=false
                    var subbtn= false; 
                    var file_select = false;
                    var file_size = false
                    var file_extn = false
                    var mailerror= false
                    var uploadprogress= false
                    var emailCheck=false
                    var createCarrier = {}
                    var carriercheck = {}
                    var carrierselectcheck = []
                    return {
                            showsuccess:showsuccess,
                            showerror:showerror,
                            subbtn:subbtn,
                            file_select:file_select,
                            file_size:file_size,
                            file_extn:file_extn,
                            mailerror:mailerror,
                            uploadprogress:uploadprogress,
                            emailCheck:emailCheck,
                            createCarrier:createCarrier,
                            carriercheck:carriercheck,
                            carrierselectcheck:carrierselectcheck

                        }
                    },

                    methods: {    
                     getValue: function(row, binding) {
                        return Utils.getValue(row,binding)
                     },
                     CarrierModalFunction:function(){
                      var self=this
                      var success = function(result) {
                        self.$dispatch('childmsg', 'New Carrier Created Successfully!!!!');
                           $('.modal').modal('toggle');
                     }
         
                    if(self.carriercheck.Status === true){
                       var self=this
                       Vue.set(self.createCarrier, 'Status', 'A');
                    }else {
                       Vue.set(self.createCarrier, 'Status', 'R');
                    }
                      for(var i =0 ; i < self.carrierselectcheck.length; i++ ){
                         Vue.set(self.createCarrier, self.carrierselectcheck[i], 'Y');
                      }        
                  
        Utils.executeDataService("CreateLogisticsService", success, self.createCarrier, self.errorHandler);
                     },

                     getsubmitstat: function()
                     {
                            return this.subbtn;         
                     },
                       goBack: function () {
                       window.history.go(-1)
                     },
                           cancel: function() {
                        $('.error').remove();
                        this.$dispatch('cancel');
                       this.createCarrier= {};
                     },
                        
               onReset: function () {
      this.$resetValidation()
    }
            

            
                    },
                    errorHandler : function(errorObj) {
              var self = this;
              self.apierror = true
              self.showMask=false;
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
        },  

                    beforeDestroy: function() {
                        $(this.$el).remove();
                        $(this.$el).removeData();
                    },
            }
</script>



