<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying list of alerts and search alerts based on given criteria
     ***************************************************************************-->

<template>
    <div>
            <div class="container-fluid CustomHgt">
              <div class="row ">
                <div class="col-md-4">
                    <div v-breadcrumb="true"></div>
                </div>
                <div class="col-md-8">
                  <div class="alert alert-danger alert-dismissible hidden" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>

                </div>
              </div>
             </div>
          <div class="container-fluid" >
       <div class="block"  v-if="dispatchmsg" >
        <br/>
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" v-on:click="cancel()">&times;</span></button>
                    <strong>Message: </strong>{{messages}}  
          </div>
        </div>
      </div>
    <div class="container-fluid" >
         <div class="block"  v-if="apierror" >
          <div class="alert alert-danger" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
     
        <div class="block  clearfix">
            <h5 class="pull-left">Carrier</h5>   
                <div class="pull-right">                
                <span >
                    <button type="button" class="btn btn-default SecondaryBtn"  
                            title="Create Carrier" data-target="#NewCarrier" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal"  v-on:click="showModal()">Create Carrier</button>
                </span>
             </div>  
        </div>
        
        <div class="clearfix"></div>
        
        <div class="panel panel-default">
            <div class="panel-heading">  
                               
                <div class="col-md-5  cal-box">Show
                    <select class="select-style form-control" v-model="alertSearchType" >
                        <option value="all" >All</option>                        
                    </select>
                    
                    <button class="btn btn-default" @click="showSearch=!showSearch">
                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                    </button>   

                </div> 
          
            </div>
            
            <div class="clearfix"></div>
           <validator name="vdrformvalidation"> 
            <form v-show="showSearch" v-on:submit.prevent.stop="carrierSearch"  novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="adavanceSearch">Advanced Search <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                                        Clear Form
                                    </button></span></h4>

                         <div class="col-md-3">           
                                                            <div class="form-group">
                                                                <label for="alertStatus">Turn Around</label>
                                                                 <select class="form-control" title="Select the Turn Around"
                                                                 v-model="searchCarrier.Turnaround">
                                                                      <option value="">All</option>
                                                                    <option value="N" >Next Day</option>
                                                                    <option value="4 Hours" >With in 4 Hours</option>
                                                                    <option value="3 Hours" >With in 3 Hours</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                             <div class="col-md-3">           
                                                            <div class="form-group">
                                                                <label for="alertStatus">Via</label>
                                                                 <select class="form-control"  title="Select the Transport Method"
                                                                 v-model="searchCarrier.TransportMethod">
                                                                      <option value="">All</option>
                                                                    <option value="Road">Road</option>
                                                                    <option value="Air">Air</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                         <div class="form-group col-md-3">
                                                            <label >Courier </label>
                                                            <input type="text" class="form-control" placeholder="Courier Name Contains.."  v-model="searchCarrier.CarrierShortName" autocomplete="off" title="Enter the Courier Name">
                                                        </div>
                                                         <div class="form-group col-md-3">
                                                            <label >Service Name</label>
                                                            <input type="text" class="form-control" placeholder="Service Name Contains.."  v-model="searchCarrier.CarrierServiceName" autocomplete="off" title="Enter the Service Name">
                                                        </div>
                                                          <div class="form-group col-md-3">
                                                            <label >Code</label>
                                                            <input type="text" class="form-control" placeholder="Code Contains.."  v-model="searchCarrier.ServiceCode" autocomplete="off" title="Enter the Service Code">
                                                        </div>
                                                        <div class="col-md-3">           
                                                            <div class="form-group">
                                                                <label for="alertStatus">Code Indicator</label>
                                                                 <select class="form-control" v-model="searchCarrier.CostIndicator"  title="Select the Code Indicator">
                                                                      <option value="">All</option>
                                                                    <option value="Low">Low</option>
                                                                    <option value="Medium">Medium</option>
                                                                    <option value="High">High</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">           
                                                            <div class="form-group">
                                                                <label for="alertStatus">Special Handling</label>
                                                                 <select class="form-control" v-model="SpecialHandle" title="Select the Special Handling Status">
                                                                       <option value="">All</option>
                                                                    <option value="DangerousGoods" >DangerousGoods</option>
                                                                    <option value="FoodStuff" >FoodStuff</option>
                                                                    <option value="Fragile" >Fragile</option>
                                                                    <option value="LithiumBatteries" >LithiumBatteries</option>
                                                                    <option value="StarTrackSatchel" >StarTrackSatchel</option>
                                                                    <option value="Unspecified">Unspecified</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                          <div class="form-group col-md-3">
                                                            <label for="company">Status</label>
                                                            <select class="form-control" v-model="searchCarrier.Status" title="Select the Special Handling Status">
                                                                       <option value="">All</option>
                                                                    <option value="A">Available</option>
                                                                    <option value="R" >Not Available</option>
                                                                   
                                                                </select>
                                                        </div>
                                                          <div class="form-group col-md-3">
                                                            <label for="company">Maximum Records Fetched</label>
                                                            <input type="text" class="form-control" id="vdrmaxrecords" placeholder="Maximum Records"  v-model="searchCarrier.MaximumRecords" autocomplete="off" min="1" max="500" v-validate:vdrmaxrecords="{ required:true, min:1, max: 500, customMaxValidator:true}" title="Enter the maximum number of records to be retrieved">
                                                        <p class="help-block" v-if="$vdrformvalidation.vdrmaxrecords.required || $vdrformvalidation.vdrmaxrecords.min || $vdrformvalidation.vdrmaxrecords.max || $vdrformvalidation.vdrmaxrecords.customMaxValidator">{{getMessage('MAX_RECORDS') }}</p>     
                                                        </div>
                                
                         <div class="clearfix"></div>
                        <div class="col-md-2 pad-left-10 pull-right">
                           <button type="submit"  class="btn btn-primary btn-block">
                                Search
                            </button>
                        </div>
                          </div> 
                 
                </div>
            </form>  
    </validator>
            <div class="panel-body">
   
            
            <div class="table-responsive">
                <table id="" class="table table-striped table-hover" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                     <thead>
                        <tr role="row">
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Turnaround')" :class="{active: gmeta.sort.key == 'Turnaround'}">Turnaround   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Turnaround'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                              <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" @click="sortBy('TransportMethod')" :class="{active: gmeta.sort.key == 'TransportMethod'}">Via   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['TransportMethod'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" @click="sortBy('CarrierShortName')" :class="{active: gmeta.sort.key == 'CarrierShortName'}">Courier   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CarrierShortName'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" @click="sortBy('CarrierServiceName')" :class="{active: gmeta.sort.key == 'CarrierServiceName'}">Name   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CarrierServiceName'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" @click="sortBy('ServiceCode')" :class="{active: gmeta.sort.key == 'ServiceCode'}">Code   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ServiceCode'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" @click="sortBy('CostIndicator')" :class="{active: gmeta.sort.key == 'CostIndicator'}"  style="width: 115px;" >Code Indicator
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CostIndicator'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" @click="sortBy('Turnaround')" :class="{active: gmeta.sort.key == 'Turnaround'}" style="width: 300px;min-width: 300px;">Special Handling
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Turnaround'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}">Status
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>

                              
                        </tr>
                    </thead>
                    
                 <tbody v-if="$loadingRouteData || showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
                    <tbody v-if="!$loadingRouteData && !showMask">
                        <tr class="filterIndex">
                            <td> <input type=text class="form-control" v-model="gmeta.filter.Turnaround"> </td>
                             <td> <input type=text class="form-control" v-model="gmeta.filter.TransportMethod" > </td>
                              <td> <input type=text class="form-control" v-model="gmeta.filter.CarrierShortName"> </td>
                               <td> <input type=text class="form-control" v-model="gmeta.filter.CarrierServiceName"> </td>
                                <td> <input type=text class="form-control" v-model="gmeta.filter.ServiceCode"> </td>
                                 <td>  <select class="form-control" id="sel1" v-model="gmeta.filter.CostIndicator">
                                      <option value="">All</option>
                                      <option value="Low">Low</option>
                                      <option value="Medium">Medium</option>
                                      <option value="High">High</option>
                                    </select> </td>
                                  <td> <input type=text class="form-control"  v-model="gmeta.filter.Speicaldata"> </td>
                                   <td> <input type=text class="form-control"  v-model="gmeta.filter.Status"> </td>
                            
                        </tr>
                       
                         <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                        v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                               | gridfilter gmeta.filter columns
                               | paginate ">

                           <td><a  v-link="{ path: '/carrierdetails',query:{key:row['LogisticsServiceKey']}}">
                                   <span v-if="getValue(row,'Turnaround') ==='N'">Next Day</span>
                                    <span v-if="getValue(row,'Turnaround') !=='N'"> {{getValue(row, "Turnaround")}}</span>
                          
                            </a>
                          </td>

                            <td>{{getValue(row, "TransportMethod")}}</td>
                            <td>{{getValue(row, "CarrierShortName")}}</td>
                            <td>{{getValue(row, "CarrierServiceName")}}</td>
                            <td>{{getValue(row, "ServiceCode")}}</td>
                            <td><span v-bind:class="{ circleyellow : getValue(row,'CostIndicator') === 'Medium', circlegreen : getValue(row,'CostIndicator') === 'Low', circlered : getValue(row,'CostIndicator') === 'High'}"></span></td>
                            <td>
                            {{getValue(row, "Speicaldata")}}
                            </td>
                            <td>
                              <span v-if="getValue(row,'Status') ==='A' || getValue(row,'Status') ==='R'">
                              <span v-if="getValue(row,'Status') ==='A'">Available</span>
                              <span v-if="getValue(row,'Status') ==='R'">Restricted</span>
                              </span>
                              <span v-else >Disabled</span>
                            </td>
                         </tr>   
                            <tr>
                    </tbody>
                </table>
                
                    
                 <div class="m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
            </div>
          </div>
        </div>
       </div>
    <!--    <input class="hidden" value= {{$route.query.key}}  v-model="Vendor.VendorID " />-->
   <div v-show="showNewCarrier">
            <div class="modal fade" id="NewCarrier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                      <carriermodal></carriermodal>
                    </div>
                </div>
            </div> 
           
        </div>
    </div>
</template>
<script>
  var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)

  var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
  export default {
  
   props: {
    data: Array
  
          },
    data: function () {
            var filterKey="Y";
            var errorcode;
            var errordesc;
            var apierror=false;
        var vendorSearchModel = {
            'VendorId': '',
                'MaximumRecords': '100',
                'Extn':{'ExtnIsVendorActiveFlag':'Y','ExtnVendorName':''}
         }  
     
            var columns =['Turnaround','TransportMethod','CarrierShortName','CarrierServiceName','ServiceCode','CostIndicator','Speicaldata','Status']
            var gmeta = {};
            var showSearch =false;
            GridUtils.populateGridMeta(gmeta, columns, false);
          var gridData = [];
          var showMask = false;
          var showNewCarrier = false;
          var keySet = '';
          var searchCarrier = {
            'Turnaround':'',
            'TransportMethod':'',
            'CarrierShortName':'',
            'CarrierServiceName':'',
            'ServiceCode':'',
            'CostIndicator':'',
            'Status':'',
            'MaximumRecords':'100'

          }
          var SpecialHandle = '';
          var CarrierData = {};
          var tabSpecialHandle =['DangerousGoods', 'FoodStuff', 'Fragile', 'LithiumBatteries', 'StarTrackSatchel', 'Unspecified' ]
           var dispatchmsg = false;
          var messages ='';
        
          
      return {
            vendorSearchModel:vendorSearchModel,
        columns: columns,
          gridData: gridData,
            showSearch: showSearch,    
            gmeta: gmeta,
                showMask:showMask,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror,
                searchCarrier: searchCarrier,
                SpecialHandle: SpecialHandle,
                keySet:keySet,
                showNewCarrier:showNewCarrier,
                tabSpecialHandle:tabSpecialHandle,
                    dispatchmsg:dispatchmsg,
                messages:messages
               
         }
      },

  route: {
    data: function (transition) {
          var self=this
           var success = function(result) {
          transition.next({
            gridData : result.LogisticsService
          })
          for (var i = 0; i< self.gridData.length; i++ ){
                var tempdata = [];

             for(var x = 0; x< self.tabSpecialHandle.length; x++){
               var mydata = self.tabSpecialHandle[x];
                if(self.gridData[i][self.tabSpecialHandle[x]] === 'Y'){
               tempdata.push(mydata);

                }  

              }
              var child = tempdata.join(', ');
              Vue.set(self.gridData[i], 'Speicaldata',child );
   

               }
           
        
  

        }
                if(self.vendorSearchModel.MaximumRecords===''){
                       self.vendorSearchModel.MaximumRecords='500';
                   }
        Utils.executeDataService("listLogisticsService", success, self.searchCarrier,self.errorHandler);
    }
    },  

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
 events: {
    childmsg: function (msg) {
      // `this` in event callbacks are automatically bound
      // to the instance that registered it
      var self =this;
       self.messages = msg;
       self.dispatchmsg = true;

    }
  }, 
  filters: {
      paginate: function(list) {
                return GridUtils.paginate(this.gmeta, list)
      }
    }
  ,   
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },
      showModal: function(){
        this.showNewCarrier =true;
      },
    carrierSearch: function(event) {
          event.preventDefault()
          var self = this;
if(this.$vdrformvalidation.valid){    
      var success = function(result) {
                          self.showMask=false
                          console.log(result);
                         self.gridData = result.LogisticsService
                          self.showSearch=false
                              for (var i = 0; i< self.gridData.length; i++ ){
                var tempdata = [];

             for(var x = 0; x< self.tabSpecialHandle.length; x++){
               var mydata = self.tabSpecialHandle[x];
                if(self.gridData[i][self.tabSpecialHandle[x]] === 'Y'){
               tempdata.push(mydata);

                }  

              }
              var child = tempdata.join(', ');
              Vue.set(self.gridData[i], 'Speicaldata',child );
   

               }
      }
                          self.showMask=true
               // var res = self.vendorSearchModel.Extn.ExtnVendorName.toUpperCase();
                //self.vendorSearchModel.Extn.ExtnVendorName = res;
                
                if(self.SpecialHandle !== ''){
                  Vue.delete(self.searchCarrier, self.keySet);
                     self.keySet =  self.SpecialHandle;
                  var obj = self.SpecialHandle;
                     Vue.set(self.searchCarrier, obj, 'Y');
                 
                }
                if(self.SpecialHandle === ''){
                     Vue.delete(self.searchCarrier, self.keySet);
                }
                Utils.executeDataService("listLogisticsService", success, self.searchCarrier, self.errorHandler);
              }

              GridUtils.clearMetaPagination(this.gmeta, this.columns);
        },
         resetAll: function(){
         var resetdata = {
          'Turnaround':'',
            'TransportMethod':'',
            'CarrierShortName':'',
            'CarrierServiceName':'',
            'ServiceCode':'',
            'CostIndicator':'',
            'Status':'',
            'MaximumRecords':'100'
         }
         var self =this;
         self.searchCarrier = resetdata;
          },
           cancel: function() {
          var self =this;
          self.messages = '';
          self.dispatchmsg = false;
         },
         errorHandler : function(errorObj) {
              var self = this;
              self.apierror = true
              self.showMask=false;
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
        },
    getAPIErrorMessage: function() {
      return Utils.getAPIErrorMessage();
    }
      },
        
    validators:{
            customMaxValidator:function(val){
                return /^([1-9]\d*)$/.test(val);
            }  

       },
        
  beforeDestroy: function() {
      $(this.$el).remove();
      $(this.$el).removeData();
    }
}
</script>
