<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details
     ***************************************************************************-->
<template>
<div>
<div id="header"></div>
       <div class="spinner-loading" v-if="$loadingRouteData || showMask" >
    <div class="loader"></div>
    </div>       
    <div class="container-fluid CustomHgt">
        <div class="row ">
            <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
           
        </div>
    </div>
    <div class="container-fluid" >
       <div class="block"  v-if="dispatchmsg" >
        <br/>
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" v-on:click="cancel()">&times;</span></button>
                    <strong>Message: </strong>{{messages}}  
          </div>
        </div>
      </div>
    <div class="container-fluid" cz-shortcut-listen="true" v-if="!$loadingRouteData && !showMask">

        <div class="block  clearfix">
               <div >
               <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}} 
               </div>
            </div>
            <h5 class="pull-left">Carrier Details</h5>
            <div class="pull-right">
                <span >
                   <button type="button" class="btn btn-default SecondaryBtn"  
                            title="Create Carrier" data-target="#NewCarrierEdit" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal"  v-on:click="showModal()">Edit Carrier</button>
                </span>
           
      
          

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
         
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Carrier Details
                    </div>
                    <div class="panel-body">
                    <div class="row">
                 <ul class="list-group col-md-4 Confirmationtpl">
                    <li class="list-group-item col-md-12"> <h5 class="clearfix">Courier</h5></li>
                          <li class="list-group-item col-md-12"><label class="col-sm-6">Short Name</label><span class="col-sm-6">{{gridData.CarrierShortName}}</span></li>
                            <li class="list-group-item col-md-12"><label class="col-sm-6">Service</label><span class="col-sm-6">{{gridData.CarrierServiceName}}</span></li>
                      <li class="list-group-item col-md-12"><label class="col-sm-6">Priority</label>
                      <span class="col-sm-6">{{gridData.CarrierServicePriority}}</span></li>
                      <li class="list-group-item col-md-12"> <h5 class="clearfix">Identification</h5></li>
                      <li class="list-group-item col-md-12"><label class="col-sm-6">Name</label>
                      <span class="col-sm-6">{{gridData.ServiceName}}</span></li>
                       <li class="list-group-item col-md-12"><label class="col-sm-6">Code</label>
                      <span class="col-sm-6">{{gridData.ServiceCode}}</span></li>
                       <li class="list-group-item col-md-12"><label class="col-sm-6">Cost Indicator</label>
                      <span class="col-sm-6">{{gridData.CostIndicator}}</span></li>
                       <li class="list-group-item col-md-12"><label class="col-sm-6">Account Number</label>
                      <span class="col-sm-6">{{gridData.AccountNumberUse}}</span></li>
                      <li class="list-group-item col-md-12"><label class="col-sm-6">Consign. Profix</label>
                      <span class="col-sm-6">{{gridData.ConsignmentPrefix}}</span></li>
                            <li class="list-group-item col-md-12"> <h5 class="clearfix">Useful Links</h5></li>
                            <li class="list-group-item col-md-12"><label class="col-sm-6">Web site</label>
                      <span class="col-sm-6">{{gridData.VendorWebsiteURL}}</span></li>
                        <li class="list-group-item col-md-12"><label class="col-sm-6">Dangerous Goods</label>
                      <span class="col-sm-6">{{gridData.DangerousGoodsGuidanceURL}}</span></li>
                          </ul>
                           <ul class="list-group col-md-4 Confirmationtpl">
                    <li class="list-group-item col-md-12"> <h5 class="clearfix">Support</h5></li>
                          <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Turnaround</label><span class="col-sm-6">
                            <span v-if="gridData.Turnaround ==='N'">Next Day</span>
                                    <span v-if="gridData.Turnaround !=='N'">{{gridData.Turnaround}}</span>
                          
                        </span></li>
                              <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Via</label><span class="col-sm-6">{{gridData.TransportMethod}}</span></li>
                            <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Labels Provided</label><span class="col-sm-6">{{gridData.SupplyLabels}}</span></li>
                           <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Special Handling</label><span class="col-sm-6">
                          <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled"  v-bind:checked="gridData.DangerousGoods === 'Y'" >Dangerous Goods</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled" 
                            v-bind:checked="gridData.FoodStuff === 'Y'">Food Stuff(Gift Baslet, Wine etc)</label>
                        </div>
                          <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled"  v-bind:checked="gridData.Fragile === 'Y'">Fragile, Sensitive or Valuable Freight</label>
                        </div>
                         <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled" v-bind:checked="gridData.LithiumBatteries === 'Y'" >Lithium Batteries</label>
                        </div>
                         <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled" v-bind:checked="gridData.StarTrackSatchel === 'Y'">StatTrack satchel</label>
                        </div>
                          <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled" v-bind:checked="gridData.Unspecified === 'Y'">Unspecified</label>
                        </div>
                          </span></li>
                             <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Extras</label><span class="col-sm-6">
                          <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled"
                            v-bind:checked="gridData.Packs === 'Y'">Packs</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled"
                            v-bind:checked="gridData.RubbishRemoval === 'Y'">Rubbish Removal</label>
                        </div>
                          <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled"
                            v-bind:checked="gridData.SupplyLabels === 'Y'">Supply Labels</label>
                        </div>
                         <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled"
                            v-bind:checked="gridData.SupplyPackaging === 'Y'">Supply Packaging</label>
                        </div>
                         <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled"
                            v-bind:checked="gridData.SupplyStarTrackSatchel === 'Y'">Supply StarTrack Satchels</label>
                        </div>
                          <div class="checkbox">
                          <label><input type="checkbox" value="" disabled="disabled"
                            v-bind:checked="gridData.Unpack === 'Y'">Unpack</label>
                        </div>
                          </span></li>
                          </ul>
                           <ul class="list-group col-md-4 Confirmationtpl">
                    <li class="list-group-item col-md-12"> <h5 class="clearfix">Insurance</h5></li>
                          <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Value</label><span class="col-sm-6">{{gridData.InsuredValue}}</span></li>
                           <li class="list-group-item col-md-12"> <h5 class="clearfix">Restrictions</h5></li>
                          <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Max.Items</label><span class="col-sm-6">{{gridData.MaxContainers}}</span></li>
                           <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Min.Weight</label><span class="col-sm-6">{{gridData.MinWeight}}</span></li>
                          <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Max.Weight</label><span class="col-sm-6">{{gridData.MaxWeight}}</span></li>
                            <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Max.Length</label><span class="col-sm-6">{{gridData.MaxLength}}</span></li>
                           <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Max.Value</label><span class="col-sm-6">{{gridData.MaxValue}}</span></li>
                           <li class="list-group-item col-md-12"> <h5 class="clearfix">Other Details</h5></li>
                           <li class="list-group-item col-md-12"><label class="col-sm-6">
                          ID</label><span class="col-sm-6">{{gridData.ModifyProgId}}</span></li>
                          <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Inserted By</label><span class="col-sm-6">{{gridData.ModifyUserId}}</span></li>
                          <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Updated</label><span class="col-sm-6">{{gridData.Modifyts}}</span></li>
                           <li class="list-group-item col-md-12"><label class="col-sm-6">
                          Status</label><span class="col-sm-6">
                             <span v-if="gridData.Status ==='A' || gridData.Status ==='R'">
                              <span v-if="gridData.Status ==='A'">Available</span>
                              <span v-if="gridData.Status ==='R'">Restricted</span>
                              </span>
                              <span v-else >Disabled</span>
                          </span></li>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
<input class="hidden" value= {{$route.query.key}}  v-model="carrier.carrierID"/>
  <div v-show="showNewCarrier">
            <div class="modal fade" id="NewCarrierEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                      <carriermodaledit></carriermodaledit>
                    </div>
                </div>
            </div> 
           
        </div>
    </div>
</template> 
<script>
  var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)

  var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
     import EventBus from './../utils/eventbus.js';
  export default {
  
   props: {
    data: Array
  
          },
    data: function () {
            var filterKey="Y";
            var errorcode;
            var errordesc;
            var checked;
            var apierror=false;
            var carrier = {
                'carrierID' :''
            }
        var vendorSearchModel = {
            'VendorId': '',
                'MaximumRecords': '100',
                'Extn':{'ExtnIsVendorActiveFlag':'Y','ExtnVendorName':''}
         }  
     
            var columns =['VendorID','SellerOrganization.OrganizationName','SellerOrganization.CorporatePersonInfo.HttpUrl','SellerOrganization.CorporatePersonInfo.FirstName','SellerOrganization.InventoryPublished','SendsAsn','SendsCommitment','Extn.ExtnIsVendorActiveFlag','Extn.ExtnVendorName']
            var gmeta = {};
            var showSearch =false;
            GridUtils.populateGridMeta(gmeta, columns, false);
          var gridData = [];
          var showMask = false;
          var CarrierData = {};
          var showNewCarrier = false;
            var dispatchmsg = false;
          var messages ='';
          
      return {
            vendorSearchModel:vendorSearchModel,
        columns: columns,
          gridData: gridData,
            showSearch: showSearch,    
            gmeta: gmeta,
                showMask:showMask,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror,
                carrier:carrier,
                checked:checked,
                showNewCarrier:showNewCarrier,
                 dispatchmsg:dispatchmsg,
                messages:messages
         }
      },

  route: {
    data: function (transition) {
          var self=this
           var success = function(result) {
            self.showMask=false;
          transition.next({
           gridData : result
          })
        }
        self.showMask=true;
           self.CarrierData  = {'LogisticsServiceKey' : self.carrier.carrierID};
       Utils.executeDataService("logisticsServiceDetails", success, self.CarrierData, 
        self.errorHandler);
    }
    },  

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
      paginate: function(list) {
                return GridUtils.paginate(this.gmeta, list)
      }
    }
  , 
events: {
    childmsg: function (msg) {
      // `this` in event callbacks are automatically bound
      // to the instance that registered it
      var self =this;
       self.messages = msg;
       self.dispatchmsg = true;

    }
  },  
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },
        showModal: function(){
             var self=this
        this.showNewCarrier =true;
        EventBus.$emit('getData', self.carrier.carrierID);
      },
         cancel: function() {
          var self =this;
          self.messages = '';
          self.dispatchmsg = false;
         },

         errorHandler : function(errorObj) {
              var self = this;
              self.apierror = true
              self.showMask=false;
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
        },
    getAPIErrorMessage: function() {
      return Utils.getAPIErrorMessage();
    }
      },
        
    validators:{
            customMaxValidator:function(val){
                return /^([1-9]\d*)$/.test(val);
            }  

       },
        
  beforeDestroy: function() {
      $(this.$el).remove();
      $(this.$el).removeData();
    }
}
</script>
