<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a detail component for Tracking Consignment from the Shipment.
		This is child component from ShipmentList and Shipment Detail Page
     ***************************************************************************-->

<template>
<div>
       <div class="spinner-loading" v-if="$loadingRouteData" >
    <div class="loader"></div>
    </div>  
      <div class="container-fluid CustomHgt">
      <div class="row ">
       <div class="col-md-4">
                <div v-breadcrumb="true"></div>
        </div>

      </div>
     
     </div>
         
       <div class="container-fluid">
    <div class="block  clearfix">
      <h5 class="pull-left">Consignment Tracking</h5>
      <div class="pull-right">
       </div>
    </div>
      <div class="block">
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong> API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}} 
            </div>    
      </div>             
    <div class="panel panel-default m-t-10 Cusbookad">
       <div class="panel-heading">Consignment Info</div>
       <div class="panel-body">
         <div class="m-t-10"></div>
         <div class="row">
           <div class="col-md-6 ">
            <div class="form-group clearfix m-t-10">
               <label for="" class="col-sm-4 control-label">Shipment No</label>
               <div class="col-sm-4">
                  {{getValue(shipmentdtls, "ShipmentNo")}}
               </div>
            </div>
               <div class="form-group clearfix m-t-10">
                  <label for="" class="col-sm-4 control-label">Consignment No</label>
                  <div class="col-sm-4">
                     {{getValue(shipmentdtls, "TrackingNo")}}
                  </div>
                </div>
                  <div class="form-group clearfix m-t-10">
                  <label for="" class="col-sm-4 control-label">Carrier</label>
                  <div class="col-sm-4">                    
                      {{getValue(shipmentdtls, "SCAC")}}
                  </div>
                </div>
                <!--<div class="form-group clearfix m-t-10">
                   <label for="" class="col-sm-4 control-label">Status</label>
                   <div class="col-sm-4">
                      {{getValue(shipmentdtls, "Status.StatusName")}}
                   </div>
                 </div> -->
             </div>
           <div class="col-md-3">
                   <div class="AddressContainer">
                <!-- <h6>Pickup Address</h6>
                      <strong>{{shipmentdtls.FromAddress.FirstName}} {{shipmentdtls.FromAddress.LastName}} </strong><br>
                      {{shipmentdtls.FromAddress.AddressLine1}}<br>
                     {{shipmentdtls.FromAddress.City}} {{shipmentdtls.FromAddress.State}} {{shipmentdtls.FromAddress.ZipCode}}<br>
                    {{shipmentdtls.FromAddress.Country}}<br> -->
                       <!-- Address Component for Pickup Address -->
                        <addressdetails
                                 :addressdetails= "shipmentdtls.FromAddress"
                                 :addresslabel="'Pickup Address'"
                                 >
                         </addressdetails>                             
                
               </div>
			   </div>
            <div class="col-md-3">
                   <div class="AddressContainer">
                        <!--<h6>Delivery Address</h6>
          
                      <strong>{{shipmentdtls.ToAddress.FirstName}} {{shipmentdtls.ToAddress.LastName}}</strong><br>
                      {{shipmentdtls.ToAddress.AddressLine1}}<br>
                     {{shipmentdtls.ToAddress.City}} {{shipmentdtls.ToAddress.State}} {{shipmentdtls.ToAddress.ZipCode}}<br>
                    {{shipmentdtls.ToAddress.Country}}<br> -->
                       <!-- Address Component for Delivery Address -->
                         <addressdetails
                                 :addressdetails= "shipmentdtls.ToAddress"
                                 :addresslabel="'Delivery Address'"
                                 >
                         </addressdetails> 
                 
           </div>
		   </div>
         </div>
       <div class="m-t-10"></div>
       </div>
     </div>
     <div class="panel panel-default m-t-10 panel-consignment" v-if="gridData.CarrierUpdateGrp">
        <div class="panel-heading">Detailed Information
         <div class="pull-right">
             <!--a href="#" class="btn btn-default SecondaryBtn openall">Expand all</a> <a href="#" class="btn btn-default SecondaryBtn closeall">collapse all</a-->
            </div>
         </div>
        <div class="panel-body">
          <div class="row Cusspace m-t-10">
             <div class="col-md-2">
               <div class="form-group clearfix m-t-10">
                   <label for="" class=" control-label"><b>Current Status</b></label>
                  <div class="">
                    <span class="form-inline-left Orange">{{getValue(gridData, "Status")}} </span>
                  </div>
                </div>
               </div>
             <div class="col-md-2">
               <div class="form-group clearfix m-t-10">
                   <label for="" class=" control-label "><b>Receiver Name</b></label>
                  <div class="">
                    <span class="form-inline-left">  {{getValue(gridData, "ReceiverName")}}</span>
                  </div>
                </div>
               </div>  
               <div class="col-md-2">
               <div class="form-group clearfix m-t-10">
                   <label for="" class=" control-label "><b>Proof Of Delivery</b></label>
                  <div class="">
                      
                    <a  v-if="isPOD()" href="" data-toggle="modal" data-target="#showimagefromconsign" v-on:click="showImagefromConsign">View POD</a>
                      
                  </div>
                </div>
               </div>  
             </div>
          <div class="panel-group m-t-10" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="row">
              <div class="col-md-12">
        
                <div class="panel panel-default CusConsig" v-for="status in getTransstatus(gridData.CarrierUpdateGrp)" >
                
                  <div  class="panel-heading " role="tab" id="heading">
                    <h4 class="panel-title clearfix">
                    <i class="fa fa-caret-down pull-left"></i> 
                      <a  role="button" class="accordian-toggle pull-left" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}"    aria-expanded="false" aria-controls="collaps">

                       {{getValue(status, "TransportStatusDate")}} - {{status.TransportStatusDayOfWeek}}
                      </a>
                                        </h4>

    </div>
               
                    
                  <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                    <div class="panel-body">
                      <table id="" class="table table-striped table-hover dataTable f-12" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                  <thead>

                    <tr role="row">
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" style="
    width: 150px !important;">Time</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" style="
    width: 300px !important;"> Activity </th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd" v-for="statusdtl of getTransstatus(status.CarrierUpdate)">
                      <td>{{statusdtl.TransportStatusTime}}</td>
                      <td class="">{{statusdtl.TransportStatus}}</td>
                      <td class="">{{statusdtl.TransportStatusTxt}}</td>
                    </tr>
                  </tbody>
                 </table>
                     </div>
                  </div>
                      
                </div>
                
                       </div>
              </div>
            </div>
        </div>
      </div>
        
    
    <div class="panel panel-default m-t-10 panel-consignment" v-else>
        <div class="panel-heading">Detailed Information
         </div>
        <div class="panel-body">
          <div class="row Cusspace m-t-10">
             <div class="col-md-2">
               <div class="form-group clearfix m-t-10">
                   <label for="" class=" control-label"><b>No Intransit Updates</b></label>
              
                </div>
               </div>              
             </div>          
        </div>
      </div>
    <footer class="footer">
      
    </footer>
             <input class="hidden" value= {{$route.query.key}}  v-model="shipmentkey" />
      </div>
    
	  <!-- Child Component for Delivery Proof view -->
    <div  v-if="showImageDetails" class="modal fade" id="showimagefromconsign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content" >
						<!--div style="height: 320px; width: 200px;"-->
						
						<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Proof of Delivery</h4>
    </div>
                            
						<img :src="imgdata" class="modal-content" height="300px" width="595px" v-if="imgdata" />
                        <img :src=path  class="modal-content" height="300px" width="595px"  v-else />
                        						
						 <div class="modal-footer">
							<button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" >Close</button>
						</div>    
                        </div>

                    </div>
                </div>
            </div> 
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{

	  data: function () {

          var statusgrp = []
          var index = '0'
        var shipmentdtls = {'FromAddress':{},'ToAddress':{},'Status':{}}
        var gridData=[]
        var shipmentkey
		var showPOD = false;
        var showImageDetails = false;
		var imgdata = {}
        var path=window.AppInfo.contextroot+"/images/notavailable.jpg"
        var apierror = false
        var errorcode = ''
        var errordesc = ''
        return {
            index:index,
            statusgrp:statusgrp,
            shipmentdtls:shipmentdtls,
            gridData:gridData,
            shipmentkey:shipmentkey,
			showPOD:showPOD,
			imgdata:imgdata,
            path:path,
            apierror:apierror,
            errorcode:errorcode,
            errordesc:errordesc,
            showImageDetails:showImageDetails
        }
      },
	  
      methods: {	  
        getValue: function(row, binding) {
          return Utils.getDefaultValue(row,binding)
        },
          
          
        goBack: function () {
          window.history.go(-1)
        },
          
      //Method to convert to list
      getTransstatus: function(row){
        var list = row
                if(!list) {
                    list = []
                }
                if(!(list.constructor === Array)) {
                    list = []
                    list.push(row)
                }  
          
          return list
      },
	   showImagefromConsign: function(){ 
		  this.showImageDetails = true;
	  },
	  // Validation for POD view and Link
       isPOD:function(){           
           if(this.gridData.POD.trim()){
               this.showPOD = true
                 return true
           }else{
              this.showPOD =  false
                return false 
           }
            /*if(this.gridData.POD === ' ' || data === null ) {
                this.showPOD =  false
                return false
                 
            } else {
                 this.showPOD = true
                 return true
            }*/
      },
          getAPIErrorMessage: function() {
		      return Utils.getAPIErrorMessage();
	       }          
      }, 
    
    route: {
	   data: function (transition) {
            var self = this
            var carrierUpdateInput = {'ShipmentKey':self.shipmentkey}
            var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  transition.next()
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
            }
            var shipdtl = function(shipresult) {
                var success = function(result) {
                    var podData
                    if(result.POD) {
                        podData = result.POD.trim() 
                    }
                    transition.next({
                        gridData: result,
                        shipmentdtls:shipresult,
						imgdata:podData
                    })
                }
                Utils.executeDataService("trackConsignment", success, carrierUpdateInput,errorHandler);
            }
            Utils.executeDataService("shipmentDetails", shipdtl, carrierUpdateInput,errorHandler);
   	    }
    },
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
        
      computed: {
       
      }
}

</script>
