			<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details
     ***************************************************************************-->
<template>
<div>
<div id="header"></div>
       <div class="spinner-loading" v-if="$loadingRouteData" >
    <div class="loader"></div>
    </div>       
    <div class="container-fluid CustomHgt">
        <div class="row ">
            <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
           
        </div>
    </div>
    <div class="container-fluid" cz-shortcut-listen="true">
        <br>
        
     
        <div class="block  clearfix">
         <h5 class="pull-left">Create Order</h5>
        </div>


<div class="">
  
<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary FirstWizard" tabindex="-1"><span>1 </span>Add Header Details</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default" disabled="disabled" tabindex="-1"><span>2 </span>Add Address Details</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default" disabled="disabled" tabindex="-1"><span>3 </span>Add Line Details</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-4" type="button" class="btn btn-default" disabled="disabled" tabindex="-1"><span>4</span>Preview Order</a>
     
      </div>
       <div class="stepwizard-step">
        <a href="#step-5" type="button" class="btn btn-default LastWizard" disabled="disabled" tabindex="-1"><span>5</span>Confirmation</a>
     
      </div>    
    </div>
  </div>
    <br>
    
    <div class="block"  v-if="apierror" >
          <div class="alert alert-danger" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="apierror=!apierror"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
       </div> 
    <!--
    
    <form role="form" action="" method="post">
    <div class="setup-content" id="{{componentParentDivId}}">
  
       <component :is="activeComponent"></component>
          
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" v-on:click="getNextComponent()">Next</button>
      
      </div>
   
  </form>
    -->

    <div class="setup-content" id="step-1">
  
          <headerdetailstpl ></headerdetailstpl>
        
          <button class="btn btn-primary nextBtn btn-lg pull-right hide" type="button" id="step1">Next1</button>
      
      </div>
    
      <div class="setup-content" id="step-2" style="display:none">
   
          <orderaddresstpl ></orderaddresstpl>
        
          <button class="btn btn-primary nextBtn btn-lg pull-right hide" type="button" id="step2">Next</button>
          
    </div>
   
    <div class="setup-content" id="step-3" style="display:none">
   
          <linedetailstpl :customerlist='ObjectAddressDetail' :headerdtl='ObjectHeaderDetail'></linedetailstpl>
      
          <button class="btn btn-primary nextBtn btn-lg pull-right hide" type="button" id="step3">Next</button>
       
    </div>
    <div class="setup-content" id="step-4" style="display:none" >
   
      <previewtpl :createorddtl='CreateOrderDtl' ></previewtpl>
      <button class="btn btn-primary prevBtn btn-lg pull-left hide" type="button">Previous</button>
     
    </div>
    
     <div class="setup-content" id="step-5" style="display:none" >
   
      <confirmordertpl  ></confirmordertpl>
  <!--    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Previous</button> -->
     
    </div>
 <!-- </form>  -->

</div>
 </div>
    </div>

</template> 
<script>

	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var HeaderDetailsTpl = require('./HeaderDetailsTpl.vue')
    var OrderAddressTpl = require('./OrderAddressTpl.vue')
    var LineDetailsTpl = require('./LineDetailsTpl.vue')
    var PreviewTpl = require('./PreviewTpl.vue')
    var ConfirmOrderTpl = require ('./ConfirmOrderTpl.vue')
    
    export default{
        
        ready: function(){
            $(document).ready(function () {
                
    var navListItems = $('div.setup-panel div a'),
          allWells = $('.setup-content'),
          allNextBtn = $('.nextBtn'),
          allPrevBtn = $('.prevBtn');

    allWells.hide();

    navListItems.click(function (e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
              $item = $(this);

      if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-primary').addClass('btn-default');
          $item.addClass('btn-primary');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
      }
    });
  
    allPrevBtn.click(function(){
      var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

          prevStepWizard.removeAttr('disabled').trigger('click');
    });

    allNextBtn.click(function(){
      var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='url']"),
          isValid = true;

      $(".form-group").removeClass("has-error");
      for(var i=0; i<curInputs.length; i++){
          if (!curInputs[i].validity.valid){
              isValid = false;
	              $(curInputs[i]).closest(".form-group").addClass("has-error");
          }
      }

      if (isValid)
          nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-primary').trigger('click');
});    
   
    },
        
        
        data: function () {
            
         var OrderDet = {
            'OrderNo': '','OrderName': '','DraftOrderFlag':'Y','EntryType':'STERLING',
              'PriorityCode':'',
            'References':{
                'Reference':{
                  'Value' :'' 
                }
            },
               'OrderLines':{
                 'OrderLine':{
                  'ShipNode':'',
                     'Extn': {
                         
                     },
                    'Item':{
                        
                     },
                     'PersonInfoShipTo':{
                         
                     }
                 }
            },
	        'OrderDates':{
                'OrderDate':{
                
               }
            }
             
            }
            
            var ObjectHeaderDetail = {};
            var ObjectLineDetail = [];
            var ObjectAddressDetail = [];
            
            var componentloadedindex = 0;
            var componentOrderlist = ['headerdetailstpl','linedetailstpl','previewtpl','confirmordertpl'];
            var layoutModulus = componentOrderlist.length;
            var activeComponent = componentOrderlist[componentloadedindex];
            var sIdReference = "step-";
            var componentParentDivId = sIdReference + (parseInt(componentloadedindex)+1);
            var CreateOrderDtl = {}
            
            var errorcode
            var errordesc
            var apierror= false
            
             return{
                OrderDet:OrderDet, 
                componentloadedindex:componentloadedindex,
                componentOrderlist: componentOrderlist,
                layoutModulus: layoutModulus,
                activeComponent: activeComponent,
                componentParentDivId:componentParentDivId,
                sIdReference: sIdReference,
                ObjectLineDetail: ObjectLineDetail,
                ObjectHeaderDetail: ObjectHeaderDetail,
                ObjectAddressDetail:ObjectAddressDetail,
                CreateOrderDtl:CreateOrderDtl,
                errorcode:errorcode,
                errordesc:errordesc,
		apierror:apierror	
               }
         },
         
         components : {
           'headerdetailstpl': HeaderDetailsTpl,
           'orderaddresstpl':OrderAddressTpl,
           'linedetailstpl': LineDetailsTpl,
           'previewtpl': PreviewTpl,
           'confirmordertpl':ConfirmOrderTpl     
         },
       
          computed: {
              
          },
        
          filters: {
        
          },   
  
          methods: {	

                getAPIErrorMessage: function() {
		        return Utils.getAPIErrorMessage();
	         },
          },
         
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
    
      events: {
      
      	  // This event is to capture the header level data captured in HeaderDetailsTpl.vue
          HeaderDetailEventCatch: function(event){
               
             event.preventDefault;
             this.ObjectHeaderDetail = event
             
             if(event.OrderDet && event.OrderDet.OrderName !=''){
                this.OrderDet.OrderName = event.OrderDet.OrderName    
             }       
             
             this.OrderDet.Division= event.OrderDet.Division
             this.OrderDet.SearchCriteria1= event.OrderDet.SearchCriteria1
             this.OrderDet.DepartmentCode = event.OrderDet.DepartmentCode
             this.OrderDet.SearchCriteria2 = event.OrderDet.SearchCriteria2
             this.OrderDet.OrderType= event.OrderDet.OrderType
             this.OrderDet.References.Reference= event.OrderDet.References.Reference
             this.OrderDet.OrderDates.OrderDate= event.OrderDet.OrderDates.OrderDate
             
             //Event handled in OrderAddressTpl.vue
             this.$broadcast('OrderTypeEventCatch', this.OrderDet.OrderType ) 
            
          },
          
          LineDetailEventCatch: function(event){
              event.preventDefault;
          
              this.OrderDet.OrderLines.OrderLine = event.lineList

              var self= this
              self.CreateOrderDtl.RequestedLines= event.RequestedLines
              if( self.OrderDet &&  self.OrderDet.OrderHeaderKey){
                   self.OrderDet.OrderDates.OrderDate.splice(0)
              }
              
              var success = function(result) {
                self.CreateOrderDtl.OrderHeaderKey= result.OrderHeaderKey 
                self.CreateOrderDtl.DocumentType=result.DocumentType
                self.OrderDet.OrderHeaderKey= result.OrderHeaderKey 
            //    self.OrderDet.OrderName= result.OrderName 
                
                self.apierror= false;
                self.$broadcast('CreateOrderSuccess', self.CreateOrderDtl )  
                // events are captured in HeaderDetailsTpl.vue, LineDetailsTpl.vue and PreviewTpl.vue
              }
              var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  setTimeout(function(){self.apierror=false},Utils.getTimeOut())
                  self.$broadcast('OrderErrorEvent')

              } 
               Utils.executeDataService("manageOrder",success,this.OrderDet, errorHandler)
             
          },
          //Event dispatch from OrderAddressTpl.vue
          AddressDetailEventCatch: function(event){
              event.preventDefault;
              this.ObjectAddressDetail = event;
          },
          //Event dispatched from PreviewTpl.vue
          generatedOrderNoEvent: function(event){
               event.preventDefault;
	       //Event handled in ConfirmOrderTpl.vue
               this.$broadcast('ConfirmedOrdDetailsEvent', event ) 

          },
          //Event dispatched from PreviewTpl.vue 
          OrderNoChangeEvent: function(event){
              event.preventDefault;
              
              if(this.OrderDet.OrderName === ''){
                  this.OrderDet.OrderName=event
              }              
          }
          
       }
        
    }
</script>