<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for common tasks in dashboard.-->
<template>
	  
	  <div class="panel-heading">
                                <h5> Common Tasks</h5></div>
                            <div class="clearfix"></div>
                            <div class="panel-body panel-common-body">
                                <ul class="list-unstyled list-linked-modal clearfix">
                                    <div class="col-md-12">
                                    <li v-if="hasPermission('GPSSPINV0001A01')">
                                        <a href="javascript:void(0)" data-target="#uploadFilePage" data-backdrop="static" role="button" class="btn modalcls" data-toggle="modal" v-on:click="uploadFile()"  >Upload Inventory</a>
                                    </li>
									
									<li v-if="hasPermission('GPSSPINV0001A02')">
										<a href="javascript:void(0)" data-target="#uploadStockMovFiles" data-backdrop="static" role="button" class="btn modalcls" data-toggle="modal" v-on:click="uploadStockMvmt()" >Upload Stock Movement Report</a></li>
                                     
                                    
                                    <li  v-if="hasPermission('GPSSPADL0001')"   >
										<a href="javascript:void(0)" v-link="{ path:'/adhoclogistic'}" class="btn modalcls" >Book AdHoc Logistics</a></li>
                                        
                                 
                                                                       <li v-if="hasPermission('GPSSPOTH0001A01')">

										<a href="javascript:void(0)" data-target="#uploadOtherFiles" data-backdrop="static" role="button" class="btn modalcls" data-toggle="modal" v-on:click="uploadOthers()" >Upload Other Documents</a></li>
                                        
                                    <li v-if="!hasPermission('GPSSPINV0001A01') && !hasPermission('GPSSPOTH0001A01')
												&& !hasPermission('GPSSPINV0001A02') ">
                                        <span>No Tasks</span>
                                    </li>    
                                  </div>
                                   
                                </ul>
                            
                      </div>
							
							    <div v-show="showupload">
            <div class="modal fade" id="uploadFilePage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <fileuploads
                            v-on:cancel="cancelFileUpload()">
                        </fileuploads>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
           </div>
		   
		   
		   <div v-show="showstockupload">
            <div class="modal fade" id="uploadStockMovFiles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <stockmvmtupload
                            v-on:cancel="cancelFileUpload()">
                        </stockmvmtupload>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        </div>
		   
		   
		    <div v-show="showotherupload">
            <div class="modal fade" id="uploadOtherFiles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <otherupload
                            v-on:cancel="cancelFileUpload()">
                        </otherupload>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        </div>
		
		 <div class="modal fade" id="inv-browse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <div class="modal fade" id="inv-browse-asn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>
		
		   
        <div class="modal fade" id="inventory_exceptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>

          <div class="modal fade" id="inv-browse-other" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>
							
		</template>
		
<script>
    var Utils = require('./../utils/utils.js')	
	export default {
     data: function () {
          var showSearch =false
          var showupload=false
          var showotherupload=false
		  var showstockupload=false


          return {
            showSearch: showSearch,
			showupload:showupload,
            showotherupload:showotherupload,
			showstockupload:showstockupload

          }
      },

	  
       methods: {

          uploadFile: function() {
          this.showupload=true
       },
         uploadOthers:function(){
          this.showotherupload=true
       },
	     uploadStockMvmt:function(){
          this.showstockupload=true
       },
	   
         cancelFileUpload: function(){

        },
           hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
         }
      },
        beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
</script>