<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a detail component for displaying and reprocess exception
        and to make changes in the input XML that need to processed. This 
        is a child component which was derived from parent list component.
     ***************************************************************************-->
<template>
<div>

    <div class="container-fluid CustomHgt">
        <div class="row">
             <div class="col-md-4">
                  <div v-breadcrumb="true"></div>
                </div>
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" cz-shortcut-listen="true">
        <div class="block  clearfix">
            <h5 class="pull-left">Exception Details</h5>
            <div class="pull-right">
                <ul class="list-inline list-unstyled">
                       <li>
                            <div class="btn btn-default SecondaryBtn" v-on:click="reload(exceptiondtl.ErrorTxnId)">Reload Detail</div>
                        </li>
                        <li>
                            <div class="btn btn-default SecondaryBtn" v-if="isreprocessable()" v-on:click="ignore">Ignore</div>
                            <div v-else class="btn btn-default SecondaryBtn" disabled>Ignore</div>
                        </li>
                        <li>
                            <div class="btn btn-default SecondaryBtn" v-if="isreprocessable()" v-on:click="reprocess">Reprocess</div>
                            <div v-else class="btn btn-default SecondaryBtn"  disabled>Reprocess</div>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Header Details</div>
                    <div class="panel-body">
                        <div class="m-t-10"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label"><b>Integration Error Id</b></label>
                                    <div class="col-sm-5">
                                        {{getValue(exceptiondtl,"ErrorTxnId")}}
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-3">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label"><b>Error Code</b></label>
                                    <div class="col-sm-5">
                                        {{getValue(exceptiondtl,"ErrorCode")}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-3 control-label"><b>State</b></label>
                                    <div class="col-sm-5">
                                        {{getValue(exceptiondtl,"State")}}
                                    </div>
                                </div>

                            </div>
                             <div class="col-md-3">
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-5 control-label"><b>Service Name</b></label>
                                    <div class="col-sm-5">
                                        {{getValue(exceptiondtl,"FlowName")}}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="m-t-10"></div>
                    </div>
                </div>
            </div>
        <div class="clearfix"></div>
            <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading clearfix panel-alert-heading">
                        <div class="i-block pull-left" >INPUT XML</div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-body">

                            <div  >
                                     <textarea class="form-control Comments" rows="12" id="comment" v-model="exceptiondtl.InputXml.InputXml" v-bind:readonly="!isreprocessable()"></textarea>
                            </div>                                              
                  
                    </div>
                </div>
            </div>
                <div class="col-md-6">

                  <div class="panel panel-default m-t-10">
                  <div class="panel-heading clearfix panel-alert-heading"><div class="i-block pull-left">ERROR XML</div></div>
                      <div class="clearfix"></div>
                  <div class="panel-body">
                    <textarea class="form-control Comments" rows="12" id="comment" v-model="exceptiondtl.ErrorXml.ErrorXml" v-bind:readonly="!isreprocessable()"></textarea>
                  </div>
                 </div>
                </div>

            </div>
    </div>
        <div class="clearfix"></div>      
    </div>
        <div class="panel panel-default m-t-10">
  <div class="panel-heading">Related Error Details</div>        
  <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                         
                            <div class="table-responsive">
                                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                    <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                                    <thead>
                                        <tr role="row">
                                            <th aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ErrorTxnId',true)" :class="{active: gmeta.sort.key == 'ErrorTxnId'}">Error Id
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ErrorTxnId'] > 0 ? 'sort-up' : 'sort-down'">
							                     </span>    
                                            </th>
                                           
                                            <th aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('QueueId')" :class="{active: gmeta.sort.key == 'QueueId'}">Queue Id
                                             <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['QueueId'] > 0 ? 'sort-up' : 'sort-down'">
							                     </span> 
                                            </th>
                                            
                                             <th aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('CreateTs')" :class="{active: gmeta.sort.key == 'CreateTs'}">Created On
                                              <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CreateTs'] > 0 ? 'sort-up' : 'sort-down'">
							                     </span>      
                                            </th >
                                            <th aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('State')" :class="{active: gmeta.sort.key == 'State'}">Status
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['State'] > 0 ? 'sort-up' : 'sort-down'"> </span>    
                                            </th>
                                            <th aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ErrorCode')" :class="{active: gmeta.sort.key == 'ErrorCode'}">Error Code
                                             <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ErrorCode'] > 0 ? 'sort-up' : 'sort-down'"> </span>     
                                            </th>  
                                            <th aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ErrorString')" :class="{active: gmeta.sort.key == 'ErrorString'}">Error Message
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ErrorString'] > 0 ? 'sort-up' : 'sort-down'"> </span>    
                                            </th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- defining v-model for filter inputs across columns   -->
                                        <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
                                        <tr  role="row" class="odd"
                                            v-for="row in getExceptionHistory(exceptiondtl.History.IntegrationError)
                                                   | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric"
                                                          >
                                            <td><a v-link="{ name: 'expdtl',params:{ErrorTxnId: row['ErrorTxnId'] }, replace: true}">{{getValue(row, "ErrorTxnId")}} </a>  </td>
                                            <td> {{getValue(row, "QueueId")}} </td>
                                            <td> {{formatDate(row, "CreateTs")}} </td>
                                            <td> {{getValue(row, "State")}} </td>
                                            <td> {{getValue(row, "ErrorCode")}} </td>
                                            <td> {{getValue(row, "ErrorString")}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                
                        </div>
                    </div>
                </div>
    </div>
    <input class="hidden"  value={{$route.params.ErrorTxnId}}  v-model="Inbox.ErrorTxnId " />
    
    </div>
</template>

<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
	var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Exception Details')
    export default{

	  data: function () {
        var Inbox= {}
        var gmeta = {}
        var exceptiondtl = {'InputXml':{},'ErrorXml':{},'History':{'IntegrationError':{}}}     
        var columns =['ErrorTxnId','QueueId','CreateTs','State','ErrorCode','ErrorString']
        var index ='0' 
        GridUtils.populateGridMeta(gmeta, columns, false)
        return {
            Inbox:Inbox,
            exceptiondtl:exceptiondtl,
            columns:columns,
            index:index,
            gmeta:gmeta,
        }
      },
	  
      methods: {	  
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
          
          
        goBack: function () {
          window.history.go(-1)
        },
          
        // Method to reprocess exception
        reprocess:function() {
          var inputXml = {'ErrorTxnId':this.exceptiondtl.ErrorTxnId,'InputXml':{'InputXml':this.exceptiondtl.InputXml.InputXml}}  
           var apiOutput = function(result) {
               
            }
            Utils.executeDataService("reprocessIntegrationError",apiOutput, inputXml);
            this.exceptiondtl.State = 'PendingReprocess'
        },
          
          // Method to ingnore the exception
          ignore:function() {
                var inputXml = {'ErrorTxnId':this.exceptiondtl.ErrorTxnId}  
                var apiOutput = function(result) {
            }
            Utils.executeDataService("ignoreIntegrationError",apiOutput, inputXml);
            this.exceptiondtl.State = 'Ignored'
        },
          
           // Method is hide or display action button based on Exception State
          isreprocessable: function(){
              if(this.exceptiondtl.State === 'Initial' || this.exceptiondtl.State === 'Saved'){
                return true
              } else {
                  return false
              }
          },
          reload: function(num){
                var self = this
                var input = {'ErrorTxnId':num}
                var success = function(result) {
                    self.exceptiondtl = {'InputXml':{},'ErrorXml':{},'History':{'IntegrationError':{}}}  
                    self.exceptiondtl = result
                }
                Utils.executeDataService("getExceptionDetails", success, input)
				$log.log('ErrorTxnId: '+JSON.stringify(input))
                if(self.exceptiondtl.State === 'Initial'){
                    return true
                } else {
                  return false
              }
          },
          
        // Method to format date
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
          //Method to convert to list
      getExceptionHistory: function(row){
        var list = row
                if(!list) {
                    list = []
                }
                if(!(list.constructor === Array)) {
                    list = []
                    list.push(row)
                }  
          
          return list
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      }      
        
      }, 
    
    route: {
		 canReuse: function (transition) {
             
            if(transition.from.name === 'expdtl'){
              return false;
            }
            else{
                    return true;
            }
        }, 
	   data: function (transition) {
            var self = this
            var input = {'ErrorTxnId':self.Inbox.ErrorTxnId}
                var success = function(result) {
                    transition.next({
                        exceptiondtl: result,
                    })
                }
                Utils.executeDataService("getExceptionDetails", success, input);
                
   	    }
    },
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
        
      computed: {
       
      }
}

</script>


