<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is master vue component for displaying dashboard page of SP. Each of the display panels are child components and routed using vue-router-->
<template>
  <div>
    <div id="header"></div>
    <div class="container-fluid CustomHgt">
        <div class="row ">

            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" cz-shortcut-listen="true">
        <div class="block  clearfix">
      <h5 class="pull-left">Dashboard</h5>

    </div>
        
    <div>
      <errorsummary></errorsummary>
    </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="row dashboard-row-one">
                      <div class="col-md-6 alert-panel alert-large-box">
                        <div class="box panel panel-default clearfix">
						
                            <ordersummary></ordersummary> 		
							
                        </div>
                    </div>
                    <div class="col-md-6 alert-panel alert-large-box">
                        <div class="panel panel-default">
						
                      <commontask></commontask>
					  
                        </div>
                    </div>
                 
          <div class="col-md-12">
              
                   
                   <orderwatchlist></orderwatchlist>
                   
            </div>

              </div>
            </div>

   <div class="col-md-6 alert-panel col-sm-12 alert-large-box">
                        
                        
                        <alertsummary></alertsummary>
                        
               
                    </div>

                    <div class="col-md-6  col-sm-12">
                  
                       
                       <orderstatussummary></orderstatussummary>
                       
                
                    </div>   
           

        </div>
        
    
    </div>
  </div>
	</template>
	<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
	
    var DashErrorSummary = require('./DashErrorSummary.vue')
    var DashYTDOrderSummary = require('./DashYTDOrderSummary.vue')
	var DashCommonTask = require('./DashCommonTask.vue') 
	var DashAlertSummary = require('./DashAlertSummary.vue')
    var DashOrderStatusSummary = require('./DashOrderStatusSummary.vue') 
    var DashWatchList = require('./DashWatchList.vue')
     
     
   
    	
	export default {
     
     
	    components : {
        'errorsummary': DashErrorSummary,
        'ordersummary': DashYTDOrderSummary,
        'commontask' : DashCommonTask,
        'alertsummary' : DashAlertSummary,
        'orderstatussummary' : DashOrderStatusSummary,
        'orderwatchlist' : DashWatchList 
      }
        


	}
    </script>
