<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->

<template>
    <div>
    <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="cancel()"><span aria-hidden="true">&times;</span></button>

            <h4 class="modal-title" id="myModalLabel">Item Serials</h4>
     
          </div>

              
    <div class="modal-body">
	 <div v-show="showmask" class="spinner-loading absolution">
            <div class="loader"></div>
        </div>
         <div class="block col-ms-12"  v-if="apierror" >
                  <div class="alert alert-danger" role="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="apierror=!apierror"><span aria-hidden="true">&times;</span></button>
                            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
                  </div>
               </div> <div class="clearfix"></div>
         <div class="panel panel-default">

             
                            <div class="panel-heading">
                                <h5>Item Information</h5></div>
                            <div class="panel-body panel-common-body">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Material ID</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{itemobj.ItemID}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">UOM</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left">{{itemobj.UnitOfMeasure}}</span>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Description</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left">{{itemobj.ShortDescription}}</span>
                                    </div>
                                </div>
                           </div>
                                
                                     
                            </div>
                                 
                            </div>
                        </div>
            <div class="panel panel-default">
                            <div class="panel-heading">
                               <div class="pull-left"> <h5>Serial Details</h5></div>
                               <div class="pull-right">
                  <div class="btn-group">
                            <button type="button" class="btn btn-default Exportbtn btn-sm dropdown-toggle" data-toggle="dropdown" title="Export the data" >
                              <i class="fa fa-sign-out fa-rotate-90"></i>
                            </button>
                            <ul class="dropdown-menu Exportmenu" role="menu">
                            <li><a href="javascript:void(0);" v-on:click="csvexport">Export CSV (Current fields)</a></li>
                            </ul>
                          </div>
                  </div>
                               </div>
                            <div class="panel-body panel-common-body">
                           <div class="table-responsive">
                            <div class=" ">
                               
        <table id="mytable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
     <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                    
           <thead>
                <tr role="row">
        
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SerialNo')" :class="{active: gmeta.sort.key == 'SerialNo'}" title="Serial Number of the material">Serial No    
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SerialNo'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>
                    
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SupplyTypeDescription')" :class="{active: gmeta.sort.key == 'SupplyTypeDescription'}" title="Inventory Status of the material">Inventory Status
                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SupplyTypeDescription'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                    </th>
                    
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('ShipNodeDescription')" :class="{active: gmeta.sort.key == 'ShipNodeDescription'}" title="ShipNode of the Serial Number">Node
                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNodeDescription'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                    </th>                  
      
                </tr>
              </thead>

				<tbody>
                    
                      <tr role="row">

                            <td> <input type=text class="form-control" v-model="gmeta.filter.SerialNo" title="Serial Number of the material"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.SupplyTypeDescription" title="Supply Type of the Serial"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.ShipNodeDescription" title="Node of the material"> </td>
                           

                        </tr> 
                    
                    <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
				    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in itmseriallist 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns datecolumns
                                | paginate " >
               
                        <td> {{getValue(row, "SerialNo")}}  </td>
                       <!-- <td> {{getSupplyType(row)}}   </td>-->
                        <td> {{getValue(row, "SupplyTypeDescription")}} </td>
                        <td> {{getValue(row, "ShipNodeDescription")}}     </td>                      
                        
					</tr>                    
                    
				</tbody>
             </table>
                                
              <div class="m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>                    
                            </div>
                        </div>
                            </div>
                        </div>
    </div>
            <div class="modal-footer">

            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()" >Close</button>
          </div>

    </div>

    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
     import EventBus from './../utils/eventbus.js';

    export default {
        
     ready: function ready() {

        var self = this 
         
     },
     props: {
         itmseriallist: Array,    
         itemobj: Object,
         supplytypelist:Array
     },    


    data: function () {
           
        var columns =['SerialNo','SupplyTypeDescription','ShipNodeDescription'];
        var gmeta = {}
        var databox = []
        var exportColumns = [
         {'Label':'Material ID','Binding':'ItemID'},
         {'Label':'Description','Binding':'Description'},
         {'Label':'Unit Of Measure','Binding':'UnitOfMeasure'},
         {'Label':'Serial Number','Binding':'SerialNo'},
         {'Label':'Inventory Status','Binding':'InventoryStatus'},
          {'Label':'ShipNode Description','Binding':'ShipNodeDescription'}
         ]
        GridUtils.populateGridMeta(gmeta, columns, false)        
        
        
      return {
           columns: columns,
           databox: databox,
           exportColumns:exportColumns,
	       gmeta: gmeta
          
      }

    },

    route: {
        data: function (transition) {
           
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    },

    methods: {
         goBack: function () {
            window.history.go(-1)
        },
        csvexport: function(data){
            var self = this
            var itemObjArray = self.itemobj;

            var itmseriallistArray = self.itmseriallist;
             for (i = 0; i < itmseriallistArray.length; i++) {
                var temp = new Object();
              temp.ItemID  = itemObjArray.ItemID
              temp.Description  = itemObjArray.Description
              temp.UnitOfMeasure  = itemObjArray.UnitOfMeasure
              temp.SerialNo = itmseriallistArray[i].SerialNo
              temp.InventoryStatus = itmseriallistArray[i].InventoryStatus
              temp.ShipNodeDescription = itmseriallistArray[i].ShipNodeDescription
              self.databox.push(temp);
           

             }

 var ReportTitle = 'Inventory Item Serials Reports';
    var CSV = Utils.convertJSONToCSV(self.databox, self.exportColumns, ReportTitle, true);
   var getTitle = Utils.exportTitle(ReportTitle);
    var fileName = "";

    fileName += getTitle.replace(/ /g,"_");   

    var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);

    var link = document.createElement("a");    
    link.href = uri;

    link.style = "visibility:hidden";
    link.download = fileName + ".csv";

    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);EventBus.$emit('Basicjob', {'jobname': fileName, 'JobType':'basicexport'});        
       
        


           },

        cancel: function() {
          GridUtils.clearMetaPagination(this.gmeta, this.columns);
          this.$dispatch('cancel')          
        },
        
         getValue: function(row, binding) {
                return Utils.getValue(row,binding)
        },
         getDefaultValue: function(row, binding) {
          return Utils.getDefaultValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
		getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		},
        getSupplyType: function(row) {
            var supplyType = this.getValue(row,"InventoryStatus");
            var supplyTypeDesc = supplyType
           for(var supply in this.supplytypelist){
               if(supply.SupplyType === supplyType ){
                   supplyTypeDesc = supply.Description
                   break;
               }                   
           }
            return supplyTypeDesc;
        } 

    },  
        
    computed: {

     totalPages: function() {
          return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
       }
    },
    watch:{
    
    },    

    /* This event invokes getATP and getItemDetails APIs to populate supply distribtion for a
      a selected Supply Type on the Pie chart. Both Over all and node lavel*/    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },

    }

    </script>

