<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a detail component for displaying inventory information.
        This component provides basic item details, associated item information and supply/demand distribution in Pie chart format.
        Also provides supply an demand distribution at each ship node
        This is a child component which was derived from parent inventory list component.

     ***************************************************************************-->
<template>
   <div>
       
    <div id="header"></div>

    <div class="container-fluid CustomHgt">
        <div class="row ">
            <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
        	
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
   
   
   <div class="container-fluid" cz-shortcut-listen="true">
        <div class="block"  v-if="apierror" >
          <div class="alert alert-danger" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="apierror=!apierror"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
       </div> 
       
    <div class="container-fluid row">
         <div class="block  clearfix">
            <h5 class="pull-left">iTec Inventory Details</h5>
        </div> 
    </div>
           
   <div class="spinner-loading" v-show="showMask">
        <div class="loader"></div>
    </div>
           
       <div class="row">
           <div class="col-md-6">
               
               <div class="">          
                    <div class="panel panel-default">
                      <div class="panel-heading">Header Details</div>
                            <div class="panel-body">

                                <div class="row">
                                      <div class="col-md-6">
                                         <div class="form-group clearfix m-t-10">
                                              <label for="" class="col-sm-6 control-label">Material ID</label>
                                              <div class="col-sm-6">
                                                <span class="form-inline-left">{{itemdet.MaterialId}}</span>
                                              </div>
                                         </div>
                                         <div class="form-group clearfix m-t-10">
                                              <label for="" class="col-sm-6 control-label">UOM</label>
                                              <div class="col-sm-6">
                                                <span class="form-inline-left">{{itemdet.UnitOfMeasure}}</span>
                                              </div>
                                         </div> 
                                     </div>
                                    <div class="col-md-6">
                                        <div class="form-group clearfix m-t-10">
                                            <label for="" class="col-sm-6 control-label">Description</label>    
                                              <div class="col-sm-6">
                                              <span class="form-inline-left descriptionCls"  v-bind:class="{ active: isActive }" v-on:click= "toggleHeight()" > <i class="fa fa-play" v-if="itemdet.MaterialDescription && itemdet.MaterialDescription.length >= 20"></i>{{itemdet.MaterialDescription}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group clearfix m-t-10">
                                            <label for="" class="col-sm-6 control-label">Available Quantity</label>    
                                              <div class="col-sm-6">
                                              <span class="form-inline-left">{{itemdet.AvailableQuantity}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                      <div class="col-md-6">
                                        <div class="form-group clearfix m-t-10">
                                            <label for="" class="col-sm-6 control-label">IS01 Quantity</label>    
                                              <div class="col-sm-6">
                                              <span class="form-inline-left">{{itemdet.IS01Qty}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                      <div class="col-md-6">
                                        <div class="form-group clearfix m-t-10">
                                            <label for="" class="col-sm-6 control-label">ISF1 Quantity</label>    
                                              <div class="col-sm-6">
                                              <span class="form-inline-left">{{itemdet.ISF1Qty}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                      <div class="col-md-6">
                                        <div class="form-group clearfix m-t-10">
                                            <label for="" class="col-sm-6 control-label">ISR1 Quantity</label>    
                                              <div class="col-sm-6">
                                              <span class="form-inline-left">{{itemdet.ISR1Qty}}</span> 
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                       </div>
                   </div>
                   
                <div class="" v-show="true">            
                    <div class="panel panel-default">
                        <div class="panel-heading">Detailed product Information
                        </div>
                        <div class="panel-body">
                                <div class="row">
                                      <div class="col-md-6">
                                         <div class="form-group clearfix m-t-10">
                                              <label for="" class="col-sm-6 control-label">Object Type</label>
                                              <div class="col-sm-6">
                                                <span class="form-inline-left">{{itemdet.ItemType}}</span>
                                              </div>
                                         </div>
                                         <div class="form-group clearfix m-t-10">
                                              <label for="" class="col-sm-6 control-label">Manufacturer</label>
                                              <div class="col-sm-6">
                                                <span class="form-inline-left">{{itemdet.ManufacturerName}}</span>
                                              </div>
                                         </div> 
                                     </div>
                                    <div class="col-md-6">
                                        <div class="form-group clearfix m-t-10">
                                            <label for="" class="col-sm-6 control-label">System Name</label>    
                                              <div class="col-sm-6">
                                              <span class="form-inline-left">{{itemdet.ProductLine}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group clearfix m-t-10">
                                            <label for="" class="col-sm-6 control-label">Class</label>    
                                              <div class="col-sm-6">
                                              <span class="form-inline-left">{{itemdet.CommodityCode}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                     <div class="col-md-6">
                                        <div class="form-group clearfix m-t-10">
                                            <label for="" class="col-sm-6 control-label">Material Name</label>    
                                              <div class="col-sm-6">
                                              <span class="form-inline-left">{{itemdet.ExtendedDescription}}</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
    </div>
                    </div>            
                </div> 
       
               
               
                <div class="">
                    <div class="panel panel-default">
                        <div class="panel-heading">Alternate Items</div>
                            <div class="panel-body">
                                <div class="table-responsive">
     
                                    <table id="" class="table table-striped table-hover dataTable f-12 m-t-10" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
  
                                        <thead>
                                          <tr role="row">

                                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('MaterialId')" :class="{active: gmeta.sort.key == 'MaterialId'}" title="Unique Identifier of the Alternate Item">Material ID     
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['MaterialId'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>  
                                              
                                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ExtendedDescription')" :class="{active: gmeta.sort.key == 'ExtendedDescription'}" title="Description of the Alternate Item">Material Name  
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ExtendedDescription'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th> 

                                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Quantity',true)" :class="{active: gmeta.sort.key == 'Quantity'}" title="Available Quantity of the Alternate Item" >Quantity    
                                             <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Quantity'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                              
                                               <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Location')" :class="{active: gmeta.sort.key == 'Location'}" title="Location of the Alternate Item">Location    
                                             <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Location'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>

                                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" title="Status of the Alternate Item">Status     
                                             <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                             </th>
                                        </thead>
                                        
                                        <tbody>
                                            
                                            <tr role="row">

                                                <td> <input type=text class="form-control" v-model="gmeta.filter.MaterialId" title="Unique Identifier of the Alternate Item"> </td>
                                                <td> <input type=text class="form-control" v-model="gmeta.filter.ExtendedDescription" title="Material Name of the Alternate Item"> </td>
                                                <td> <input type=text class="form-control" v-model="gmeta.filter.Quantity" title="Available Quantity of the Alternate Item"> </td>
                                                <td> <input type=text class="form-control" v-model="gmeta.filter.Location" title="Location of the Alternate Item"> </td>
                                                <td> <input type=text class="form-control" v-model="gmeta.filter.Status" title="Status of the Alternate Item"> </td>

                                            </tr>  
                                                
                                                <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                                    v-for=" row in alternativeItemList 
                                                           | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                                           | gridfilter gmeta.filter columns datecolumns
                                                           | paginate " >
                                                
                                                <td> <a v-link="{ name: 'invitechdtl',query:{key: row['MaterialId']}, replace: true}">{{getValue(row, "MaterialId")}}</a> </td>
                                                <td>{{getValue(row, "ExtendedDescription")}}</td>
                                                <td style="text-align:right">{{getValue(row, "Quantity")}} </td>
                                                <td>{{getValue(row, "Location")}} </td>
                                                <td>{{getValue(row, "Status")}}</td>
                                            </tr>  
                                            <tr v-show="altitems">
                                                <td colspan="6" ><span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                     <div class="m-t-10">
                                        <div class="m-t-10">
                                            <gridpagination 
                                                            :gmeta="gmeta"
                                                            :total-pages="totalPages"
                                                            v-on:setpage="setPage">
                                            </gridpagination >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
           
           <div class="col-md-6">       
                <div class="">
                    <div class="panel panel-default">
                        <div class="panel-heading">ITEM DETAILS
                            <span class="pull-right"> <a href="javascript:void(0);"> <button class="btn btn-default SecondaryBtn" data-toggle="modal" data-backdrop="static" data-target="#assetDetails"  
			       v-on:click="setSerialDetails()" >
                                View Item Serials</button> </a></span>

                        </div>
           
                        <div class="clearfix"></div>
                        
                        <div class="panel-body">                         
                             <div class="clearfix"></div>  
                             <div id="container1" style=" margin: 0 auto;">
                                 <h4 class="list-group-item-heading">&nbsp;&nbsp;Melbourne</h4>            
                                  <p class="col-md-12">Location Quantity Distribution</p>
                                 <chartdata :data="chartmelbournedata" idchart="melbournechart" :charttitle="''">
                                 </chartdata> 

                            </div>		 
                        </div> 
                      
                        <div class="panel-body"> 
                            <div class="clearfix"></div>
                            <div id="container2" style=" margin: 0 auto;"> 
                                <h4 class="list-group-item-heading">&nbsp;&nbsp;Sydney</h4> 
                                  <p class="col-md-12">Location Quantity Distribution</p>
                                <chartdata :data="chartsydneydata" idchart="sydneychart" :charttitle="''">
                                </chartdata>   

                            </div>
                        </div>
                    </div>
                </div>                                               
            </div>
        </div>
    </div>
      <!-- </div> -->
       
        <div>
           <input  value={{$route.query.key}}  type="hidden" v-model="item.ItemID"/>
        </div> 
      
      <div class="modal fade" id="assetDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component :is="ItecAssetDetails" :itemdetails="itemdet" :seriallist="serialList" :serialfetched="serialFetchComplete"></component>
         </div>
       </div>
    </div>

	</div>


   
</template>

<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Inventory List')
    var ItecAssetDetails = require('./ItecAssetDetails.vue') 
    var InventoryiTechDetail = require('./ItecAssetDetails.vue')
    
  	export default {        
    
     ready: function () {

        var self = this 
        $("#assetDetails").on("hidden.bs.modal", function () {
             // put your default event here
                  self.ItecAssetDetails="";
               });
         
     },
        
     props: {
	     data: Array,
	 },
	 data: function () {      
           
            var itemdet={};
            var iTecInventoryList=[];
            var alternativeItemList=[];
            var serialList= []
            var altitems=false;
            var viewItemSerials = false;
            var serialFetchComplete= false
            var errorcode;
            var errordesc;
            var showMask = false;
            var apierror=false;
            var ItecAssetDetails="";            
            var item={};
         
            var columns =['MaterialId','ExtendedDescription','Quantity','Location','Status']
            var gmeta = {}
            GridUtils.populateGridMeta(gmeta, columns, false) 
                      
         return {
             itemdet:itemdet,
             iTecInventoryList:iTecInventoryList,
             alternativeItemList:alternativeItemList,
             serialList:serialList,
             altitems:altitems,
             errorcode:errorcode,
             errordesc:errordesc,
             apierror:apierror,
             viewItemSerials:viewItemSerials,
             serialFetchComplete:serialFetchComplete,
             ItecAssetDetails:ItecAssetDetails,             
             columns: columns,
	         gmeta: gmeta,
             item:item,
             showMask:showMask,
             isActive: false
	       }
      },
    
    components: {           
           'itecassetdetails': ItecAssetDetails            
       },
        
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    },
          
    computed: {
        
        totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
        },
        
       /* This section populates the data array for Melbourne Pie chart 
        */
		
		chartmelbournedata: function(){
                var type = 'pie'
	
			    var labels = []
			    var data = []
                if(this.itemdet.InventoryList){
                    
                   var locList = this.itemdet.InventoryList.Location;
                
                    if(!locList) {
                        locList = []
                    }
                    if(!(locList.constructor === Array)) {
                        locList = []
                        locList.push(this.itemdet.InventoryList.Location)
                    }
                    locList = locList;
                    
                     var i=0
                     var map={};
                    
                     for(var i=0; i< locList.length; i++){                           
                         if(locList[i].Location === 'MELBOURNE'){
                             if(locList[i].Inventory.Status in map){
                                 map[locList[i].Inventory.Status] = Number(parseInt(map[locList[i].Inventory.Status]) + parseInt(locList[i].Inventory.Qty)).toFixed(2);
                             }else{
                                 map[locList[i].Inventory.Status] = locList[i].Inventory.Qty
                             }                         
                        }
                         //i=i+1
                     }
                     for(var key in map){
                         if(key != 'ISR1'){
                             var locdtl = {ChartEntity:"", Status:"" }
                             labels.push(key)
                             locdtl.ChartEntity=map[key] //changes for chart revamp
                             locdtl.Status=key
                             data.push(locdtl)
                         }
                     }
                     var datasets=[{label: "MELBOURNE", data: data}]	
                     var chartdata = {labels, datasets }
                    // this.SupplyList=[]
                     locList=[]
                     data=[]
                    //changes for chart revamp
                    return{
                       type:type,
                       typelabel: "MELBOURNE",
                       dataset:datasets[0].data,
                       labels: labels
                     } 
                }
			    		
		},
        
        /*This section populates the data array for Sydney Pie chart 
         */
		
		chartsydneydata: function (){
		        var type = 'pie'
	
			    var labels = []
			    var data = []
                if(this.itemdet.InventoryList){
                   var locList = this.itemdet.InventoryList.Location;
                
                    if(!locList) {
                        locList = []
                    }
                    if(!(locList.constructor === Array)) {
                        locList = []
                        locList.push(this.itemdet.InventoryList.Location)
                    }
                    locList = locList;
                
                     var i=0
                     var map={};
                    
                     for(var i=0; i< locList.length; i++){                                                     
                         if(locList[i].Location === 'SYDNEY'){
                             if(locList[i].Inventory.Status in map){
                                 map[locList[i].Inventory.Status] = Number(parseInt(map[locList[i].Inventory.Status]) + parseInt(locList[i].Inventory.Qty)).toFixed(2);
                             }else{
                                 map[locList[i].Inventory.Status] = locList[i].Inventory.Qty
                             }                         
                        }
                         //i=i+1
                     }
                     for(var key in map){
                          if(key != 'ISR1'){ 
                            var locdtl = {ChartEntity:"", Status:"" }                            
                            labels.push(key)
                            locdtl.ChartEntity=map[key] //changes for chart revamp
                            locdtl.Status=key
                            data.push(locdtl)
                         }
                      }
                     var datasets=[{label: "SYDNEY", data: data}]	
                     var chartdata = {labels, datasets }
                     locList=[]
                     data=[]
                    return{
                       type:type,
                       typelabel: "SYDNEY",
                       dataset:datasets[0].data,
                       labels: labels
                     } 
                }
            }
        },
  
	route: {
     /*This section enables reuse of inventorydetail component required for item association */    
      canReuse: function (transition) {
             
            if(transition.from.name === 'invitechdtl'){
              return false;
            }
            else{
                return true;
            }
        }, 
  
		data: function (transition) {
		     var self = this;                
                          
             var inventorySearchModel = {
                'MaterialId': '',
                'ExtendedDescription':'',
                'RevisionNo':'',
                'SerialNo':'',
                'Barcode':'',
	     	'IsDetail':'Y',
                'MaximumRecords': '50' 
             }     
            
                inventorySearchModel.MaterialId = self.item.ItemID
             // inventorySearchModel.IsDetail = "Y";
                 
  
                var loadITecInvDetails = function(result) {
                        self.itemdet = result.Item;
                        self.alternativeItemList = result.Item.AlternateItemList.AlternateItem;
                        if(!self.alternativeItemList){
                           self.altitems=true;       
                        }
                        self.showMask=false;
                }
                
                $log.info('Getting iTecInventory details by calling iTecInventoryAggregator aggregator '+JSON.stringify(inventorySearchModel))
                self.showMask=true
                self.apierror= false
                 
                Utils.executeDataService("iTecInventoryDetails", loadITecInvDetails, inventorySearchModel , self.errorHandler);
                
		  } 
    },	

  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setSerialDetails: function(){
         
            var itemSerial= {}
            itemSerial.MaterialId=this.item.ItemID            
            this.ItecAssetDetails='itecassetdetails'
            var self= this
            var success = function(result) {
                
                var list= result.ItecSerial   
                if(!list) {
                    list = []
                }
                if(!(list.constructor === Array)) {
                    list = []
                    list.push(result.ItecSerial)
                }
                // self.serialList=result.ItecSerial
                self.serialList=list
                self.serialFetchComplete= true
            }
            var errorHandler = function(errorObj) {
              self.apierror = true
              self.serialFetchComplete= true
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              self.showMask = false
             
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
           }
             self.serialFetchComplete= false
             self.apierror=false
             Utils.executeDataService("iTecSerialList", success, itemSerial, errorHandler);             
            
        },
            
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
	  getAPIErrorMessage: function() {
		return Utils.getAPIErrorMessage();
	  },
      
      viewAssetDetails:function(){
          this.viewItemSerials = true;
      },
      toggleHeight: function() {
        this.isActive = !this.isActive;

      },
      
      errorHandler : function(errorObj) {
          var self = this;
          self.apierror = true
          self.errorcode = errorObj.ErrorCode
          self.errordesc = errorObj.ErrorDescription
          self.showMask = false
          transition.next();
          //Error message times out after 10 seconds
          setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
        },
  
      
   },
   // Chart re-vamp code start
   events: {
           chartSegmentClickEvent: function(event){
           event.preventDefault;
           this.oChartSegmentData = event;
           this.showsupplydtl=true;
           $("#triggerdialouge").trigger('click') ;
       }
       
   },
   // Chart re-vamp code end
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
    
</script>




