<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->

<template>
    <div>
    <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Supply Type Details</h4>

          </div>

              
    <div class="modal-body">
	 <div v-show="showmask" class="spinner-loading absolution">
            <div class="loader"></div>
        </div>
         <div class="block col-ms-12"  v-if="apierror" >
                  <div class="alert alert-danger" role="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="apierror=!apierror"><span aria-hidden="true">&times;</span></button>
                            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
                  </div>
               </div> <div class="clearfix"></div>
         <div class="panel panel-default">

             
                            <div class="panel-heading">
                                <h5>Item Information</h5></div>
                            <div class="panel-body panel-common-body">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Item ID</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{itemGrid.ItemID}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">UOM</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left">{{itemGrid.UnitOfMeasure}}</span>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Supply Type</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{suptyp}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Description</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left">{{getDefaultValue(itemdtl, "ShortDescription")}} </span>  
                                    </div>
                                </div>

                            </div>
                                 <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Organization</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{itemGrid.OrganizationCode}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10 row">                                   
                                </div>

                            </div>
                                  
                            </div>
                                 <div>
                                 <input  value={{$route.query.itemid}}  type="hidden" v-model="item.ItemID"> </input>
                                 <input  value={{$route.query.uom}}  type="hidden" v-model="item.UnitOfMeasure"> </input>
                                 <input  value={{$route.query.orgcode}}  type="hidden" v-model="item.OrganizationCode"> </input>  
    </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        <div class="row">
                        <div class="col-md-6 col-sm-6">
            <div class="panel panel-default ">
                            <div class="panel-heading">
                             <div class="pull-left">
                                <h5>Supply Information</h5>
                                </div>
                                      <div class="pull-right">
                  <div class="btn-group">
                            <button type="button" class="btn btn-default Exportbtn btn-sm dropdown-toggle" data-toggle="dropdown" title="Export the data" >
                              <i class="fa fa-sign-out fa-rotate-90"></i>
                            </button>
                            <ul class="dropdown-menu Exportmenu" role="menu">
                            <li><a href="javascript:void(0);" v-on:click="csvexport">Export CSV (Current fields)</a></li>
                            </ul>
                          </div>
                  </div>
                                </div>
                            <div class="panel-body panel-common-body">
                           <div class="table-responsive">
                            <div class=" ">
                               
        <table id="mytable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
     <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                    
           <thead>
                <tr role="row">
        
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Description')" :class="{active: gmeta.sort.key == 'Description'}" >Node     
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Description'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>                   
                    
                    
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SupplyReference')" :class="{active: gmeta.sort.key == 'SupplyReference'}"  style="min-width: 150px;">Sterling Reference No
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SupplyReference'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                  </th>
                    
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Quantity', true)" :class="{active: gmeta.sort.key == 'Quantity'}">Quantity
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Quantity'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                    </th>
      
                </tr>
              </thead>

				<tbody>
                    <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
				    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in supplyTypBreakupList 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | paginate " >
               
                        <td> {{getValue(row, "Description")}}  </td>
                        <td><a href="javascript:void(0);"  v-on:click="fetchOrderDetails(row.SupplyLineReference)">{{getValue(row, "SupplyReference")}}</a>    </td>
                        <td style="text-align:right"> {{getValue(row, "Quantity")}}     </td>
                        
					</tr>
                    
                    <tr v-show="supplyTypBreakupList.length === 0">
                        <td colspan="4" ><span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                    </tr>
				</tbody>
             </table>
                                
              <div class="m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>                    
                            </div>
                        </div>
                        </div>
                            </div>
                        </div>
                         <div class="col-md-6 col-sm-6" v-show="showOrdDtl">
                             <div class="panel panel-default">

             
                            <div class="panel-heading">
                                <h5>Order Details</h5></div>
                            <div class="panel-body panel-common-body">
                            <div class="row" >
                             <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-6 control-label">Source ID</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"><a target="_blank" v-link="{ path: '/orderdetails',query:{key:orderDtl['OrderHeaderKey'],orderNo:orderDtl['OrderNo']}}">{{orderDtl.OrderName}}</a></span>
                                    </div>
                                </div>
    </div>
                                <div class="col-md-6">
                                  <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-6 control-label">Status</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderLineDtl.Status}} </span>  
                                    </div>
                                </div>
                            </div>
                                
                             <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-6 control-label">Line No</label>
                                    <div class="col-sm-6" >
                                         <span class="form-inline-left">{{orderLineDtl.PrimeLineNo}}</span>
                                    </div>
                                </div>
    </div>
                                 <div class="col-md-6"> 
                                 <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-6 control-label">Vector ID</label>
                                    <div class="col-sm-6"  v-if="orderLineDtl.Extn && orderLineDtl.Extn.VectorID">
                                        <span class="form-inline-left">{{orderLineDtl.Extn.VectorID}}</span>
                                    </div>  
                                     <div class="col-sm-6"  v-else>
                                        <span class="form-inline-left">NA</span>
                                    </div>
                                </div>
                            </div>    
                            <div class="col-md-6">
                                  <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-6 control-label">Vendor</label>
                                    <div class="col-sm-6" v-if="orderDtl.Extn">
                                        <span class="form-inline-left">{{orderDtl.Extn.SellerName}}</span>
                                    </div>
                                </div>
    </div>
                                <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-6 control-label">Req Delivery Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{formatForDisplay(orderLineDtl.ReqDeliveryDate)}}</span>
                                    </div>
                                </div>

                                </div>
                            
                           
                            </div>    
                                  
                            </div>
                           
                      </div>
                         </div>
                       </div>
    </div>
      <div class="clearfix"></div>
            <div class="modal-footer">

            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()" >Close</button>
          </div>

    </div>

    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
     import EventBus from './../utils/eventbus.js';
    export default {

     props: {
        data: String,
        chartsegdata: { type: Object},
        nodelist : {type: Array}    
     },    


    data: function () {
        var item={}; 
        var suptyp;
        var itemSupplySearchModel={
               'ItemID':'',
               'SupplyType':'',
               'UnitOfMeasure':'',
               'OrganizationCode':'',
               'ShipNode':'',
               'ToETA':'',
               'DistributionRuleId':''     
           }
        var exportColumns = [
         {'Label':'Item ID','Binding':'ItemID'},
         {'Label':'Supply Type','Binding':'suptype'},
         {'Label':'Unit Of Measure','Binding':'UnitOfMeasure'},
         {'Label':'Description','Binding':'Description'},
         {'Label':'Organization','Binding':'OrganizationCode'},
         {'Label':'Node','Binding':'node'},
         {'Label':'Sterling Reference No','Binding':'SupplyReference'},
         {'Label':'Quantity','Binding':'Quantity'}
         ]
        var orderDtl={}
        var orderLineDtl={}
        
        var itemSearchModel={
               'ItemID':'',
               'UnitOfMeasure':''
        }
        var itemdtl={} 
        var exportData = [];      
    
        var supplyTypBreakupList= []
        var itemGrid= []
        var errorcode
        var errordesc
        var apierror=false
        var showmask=false
        var showOrdDtl= false
               
        var columns =['Description','SupplyReference','Quantity']
        var gmeta = {}
        GridUtils.populateGridMeta(gmeta, columns, false)    

      return {
        item:item,
        suptyp:suptyp,
        itemSupplySearchModel:itemSupplySearchModel,
        itemSearchModel:itemSearchModel, 
        itemGrid:itemGrid,
        supplyTypBreakupList:supplyTypBreakupList,
        itemdtl:itemdtl,  
        orderDtl:orderDtl,
        orderLineDtl:orderLineDtl, 
        columns: columns,
	      gmeta: gmeta,
        errorcode:errorcode,
        errordesc:errordesc,
        apierror:apierror,
        showmask:showmask,
        showOrdDtl:showOrdDtl,
        exportData:exportData,
        exportColumns: exportColumns 
          
      }

    },

    route: {
        data: function (transition) {
           
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    },

    methods: {
         goBack: function () {
            window.history.go(-1)
        },
            csvexport: function(data){
            var self = this

            for(i = 0; i < self.supplyTypBreakupList.length; i++ ){
              
              var temp = new Object();
              temp.ItemID = self.itemGrid.ItemID
               temp.suptype = self.suptyp
                temp.UnitOfMeasure = self.itemGrid.UnitOfMeasure
                temp.OrganizationCode = self.itemGrid.OrganizationCode
                temp.Description = self.itemdtl.ShortDescription
                temp.node = self.supplyTypBreakupList[i].Description
                temp.SupplyReference = self.supplyTypBreakupList[i].SupplyReference
                temp.Quantity = self.supplyTypBreakupList[i].Quantity
                self.exportData.push(temp)
            }
             var ReportTitle = 'Supply Type Reports';
    var CSV = Utils.convertJSONToCSV(self.exportData, self.exportColumns, ReportTitle, true);
   var getTitle = Utils.exportTitle(ReportTitle);
    var fileName = "";

    fileName += getTitle.replace(/ /g,"_");   

    var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);

    var link = document.createElement("a");    
    link.href = uri;

    link.style = "visibility:hidden";
    link.download = fileName + ".csv";

    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    EventBus.$emit('Basicjob', {'jobname': fileName, 'JobType':'basicexport'});        
       self.exportData = [];
          },
        cancel: function() {
          GridUtils.clearMetaPagination(this.gmeta, this.columns);
          this.showsupplydtl=false  
          this.showOrdDtl= false
          this.$dispatch('cancel')
          
        },
         getValue: function(row, binding) {
                return Utils.getValue(row,binding)
        },
         getDefaultValue: function(row, binding) {
          return Utils.getDefaultValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
		    getAPIErrorMessage: function() {
			   return Utils.getAPIErrorMessage();
		    },
        
        fetchOrderDetails: function(LineKey){
          var self= this
          var ordLineObj= {'OrderLineKey':''} 
          ordLineObj.OrderLineKey= LineKey
          
          var orderLoadsuccess =function(result){
               self.orderLineDtl=result;
               self.orderDtl=result.Order[0];
               if(self.orderDtl.Extn && self.orderDtl.Extn.SellerName){
                   self.orderDtl.Extn.SellerName = self.orderDtl.Extn.SellerName.split('||')[1]
               }
               self.showOrdDtl= true 
                           
          }
              Utils.executeDataService("supplyOrderLineDetails",orderLoadsuccess,ordLineObj)   
            
        },
        
        formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate,"filter")
         },
        
         // Chart re-vamp code start
        updateSupplyDetail: function() {

          var self= this; 
          var msg = self.chartsegdata;
                    
          // `this` in event callbacks are automatically bound
          // to the instance that registered it
     
          self.itemSupplySearchModel.ItemID=this.item.ItemID
          self.itemSupplySearchModel.UnitOfMeasure=this.item.UnitOfMeasure
          self.itemSupplySearchModel.OrganizationCode=msg.data.OrgCode   //this.item.OrganizationCode
          self.itemSupplySearchModel.ShipNode=msg.shipnode
          self.itemSupplySearchModel.SupplyType=msg.SupplyType
          self.suptyp=msg.label
          self.itemSupplySearchModel.ToETA= msg.data.EndDate
          self.itemSupplySearchModel.DistributionRuleId= msg.data.DistributionRuleId
          self.itemSearchModel.ItemID=this.item.ItemID
          self.itemSearchModel.UnitOfMeasure=this.item.UnitOfMeasure
          //    self.itemSearchModel.OrganizationCode='TELSTRA_SCLSA'   
     
          var success = function(result) {
             var itemloadsuccess =function(itemloadresult){
                  self.itemdtl=itemloadresult.PrimaryInformation;
                  self.showmask=false;          
              }
         
              Utils.executeDataService("itemdetails",itemloadsuccess,self.itemSearchModel, errorHandler)
          
              var temp=result.Supplies.InventorySupply
              self.itemGrid=result 
              if(!temp) {
                 temp = []
               }
            
              if(!(temp.constructor === Array)) {
                 temp = []
                 temp.push(result.Supplies.InventorySupply)
               }
              self.supplyTypBreakupList = temp
             
              var list=[]
              for(var i=0;i<self.nodelist.length;i++){
                list[self.nodelist[i].ShipnodeKey]=self.nodelist[i].Description    
              } 
              
              for(var j=0;j<self.supplyTypBreakupList.length;j++){
                  var description=list[self.supplyTypBreakupList[j].ShipNode]
                  self.supplyTypBreakupList[j].Description=self.supplyTypBreakupList[j].ShipNode + '-' + description
              }
                        
          }
          var errorHandler = function(errorObj) {
                  self.showmask=false;
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  if(self.errorcode != 'YCM0033'){
                      self.apierror = true
                      //Error message times out after 10 seconds
                      setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  }                  
           }
          self.showmask=true; 
          Utils.executeDataService("invSupplyDetails", success, self.itemSupplySearchModel, errorHandler);
        }
    // Chart re-vamp code end

    },
        
     computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    },    

    /* This event invokes getATP and getItemDetails APIs to populate supply distribtion for a
      a selected Supply Type on the Pie chart. Both Over all and node lavel*/    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
// Chart re-vamp code start
    watch: {
       'chartsegdata': 'updateSupplyDetail'
     }
   // Chart re-vamp code end

    }

    </script>

