<template>
<br>

<div class="block  clearfix">
                 <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-show="noLineError">
            <button type="button" class="close"  aria-label="Close" @click="noLineError=!noLineError">&times;</button>
            <strong>API Error:</strong> Please Add Lines To Proceed Further
          </div>
        
            <div class="alert alert-danger alert-dismissible" role="alert" v-show="lineDtlError">
            <button type="button" class="close"  aria-label="Close" @click="lineDtlError=!lineDtlError">&times;</button>
            <strong>API Error:</strong> Please Enter Highlighted Details
          </div>         
                     
            <div class="alert alert-danger alert-dismissible" role="alert" v-show="hasZeroQtyline">
            <button type="button" class="close"  aria-label="Close" @click="hasZeroQtyline=!hasZeroQtyline">&times;</button>
            <strong>API Error:</strong> Please Enter A Positive Value For Order Qty
          </div>         
                     
            <div class="alert alert-danger alert-dismissible" role="alert" v-show="invalidDateError">
            <button type="button" class="close"  aria-label="Close" @click="invalidDateError=!invalidDateError">&times;</button>
            <strong>API Error:</strong> {{getMessage('INVALID_DATE')}}
          </div>         
                     
           <div class="alert alert-danger alert-dismissible" role="alert" v-show="invalidToAddr">
            <button type="button" class="close"  aria-label="Close" @click="invalidToAddr=!invalidToAddr">&times;</button>
            <strong>API Error:</strong> Home Delivery Addresses Can Not Be Added To Transfer Order
           </div>         
                     
        </div>

  </div>

       <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Order Line Details
                       <span class="pull-right">
                         <button class="btn btn-default PrimaryBtn addbtn" type="button" data-toggle="modal" data-target="#inv-browse-modal-little" data-backdrop="static" title="Add New Items" autofocus>Add Items</button>
                          
                        <!--   <button id="remove" class="btn btn-default SecondaryBtn removebtn" v-on:click.self="remove()">Remove</button>  -->
                       </span>
                    </div>
                    <div class="panel-body">
                    <div class="table-wrapper table-responsive">
                       
                        <table id="orderlinetable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                           <thead>
                <tr role="row">
                
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" 
                         @click="sortBy('PrimeLineNo', true)" :class="{active: gmeta.sort.key == 'Item.ItemID'}" style="min-width: 60px;">L.No 
                       
                        <span class="fa fa-sort pull-right sort-up" :class="gmeta['sort']['sortorder']['PrimeLineNo'] > 0 ? 'sort-up' : 'sort-down'">   
                        </span>
                   </th>    
                 <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" @click="sortBy('Item.ItemID')" :class="{active: gmeta.sort.key == 'Item.ItemID'}">Item ID  
                        <span class="fa fa-sort pull-right sort-up" :class="gmeta['sort']['sortorder']['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th> 
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"
                      @click="sortBy('Item.ItemShortDesc')" :class="{active: gmeta.sort.key == 'Item.ItemShortDesc'}">Item Description   
                        <span class="fa fa-sort pull-right sort-up" :class="gmeta['sort']['sortorder']['Item.ItemShortDesc'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"
                      @click="sortBy('OrderedQty', true)" :class="{active: gmeta.sort.key == 'OrderedQty'}" >Order Quantity   
                        <span class="fa fa-sort pull-right sort-down" :class="gmeta['sort']['sortorder']['OrderedQty'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"
                        @click="sortBy('Extn.PriorityCode')" :class="{active: gmeta.sort.key == 'Extn.PriorityCode'}">Priority  
                        <span class="fa fa-sort pull-right sort-up" class="gmeta['sort']['sortorder']['Extn.PriorityCode'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                    
                     <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"
                         @click="sortBy('Extn.Division')" :class="{active: gmeta.sort.key == 'Extn.Division'}">Cost Center  
                        <span class="fa fa-sort pull-right sort-up" class="gmeta['sort']['sortorder']['Extn.Division'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                     </th>
                    
                     <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" 
                         @click="sortBy('framework.ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'framework.ReqDeliveryDate'}" style="min-width: 180px;">
                            Requested Delivery Date  
                        <span class="fa fa-sort pull-right sort-up" class="gmeta['sort']['sortorder']['framework.ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                     </th>
                    
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" style="min-width: 175px;">Ship From Address 
                        <span class="fa fa-sort pull-right sort-up">
                        </span>
                   </th>
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending" style="min-width: 175px;">	Ship To Address
                        <span class="fa fa-sort pull-right sort-up">
                        </span>
                   </th>
                    <th></th>
                </tr>
              </thead>
                            <tbody class="AddItemContainer">
                                
                                 <tr role="row" class="filter-row">
                                <!--    <td class="center-filter">
                                      <div class="glyphicon glyphicon-filter"></div>
                                  </td>
                                    -->
                                   <td>
                                   <div class="glyphicon glyphicon-filter"></div>
                                  </td>
                                  <td>
                                      <input  type="text" class="form-control" v-model="gmeta.filter.Item.ItemID" title="Enter the Item Id of the orderLine">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemShortDesc" title="Enter the Item Description of the Item in  orderLine">
                                  </td>
                                      
                                   <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.OrderedQty" title="Enter the Ordered quantity">
                                  </td> 
                                    
                                  <td>
                                    <input type="text" class="form-control" v-model="gmeta.filter.Extn.PriorityCode" title="Enter the Priority from which the Order Line">
                                  </td>  
                                 
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Extn.Division" title="Enter the Cost Centre">
                                  </td>
                                
                                  
                                  <td>
                                    <input type="text" class="form-control" v-model="gmeta.filter.framework.ReqDeliveryDate" title="Enter the Req Delivery Date"></td>
                                  
                                   <td></td>
                                      
                                   <td></td>
                                      
                                    <td></td>  
                              </tr>
                                
                             
                              <tr role="row" class="odd" id="row{{index}}"  v-for="(index,line) in lineList
                                                                                    | gridfilter gmeta.filter columns datecolumns
                                                                                    | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                                                                    | paginate ">
                                    <td class="">{{getValue(line,"PrimeLineNo")}}</td>
                                  
                                    <td class="">{{getValue(line,"Item.ItemID")}} </td>

                                    <td class="">{{getValue(line,"Item.ItemShortDesc")}} </td>                            
                                     
                                    <td class="">
                                        <input type="number" class="form-control" name="Quantity" isneeded="Y" min="1"    
                                               v-model="line.OrderedQty" v-on:change="changedAttribute(line,index)" 
                                               placeholder="Ordered Qty" title="Enter Ordered Quantity"/>
                                    </td>
                                    <td>
                                        <select id="linepriorityist" class="select-style form-control"  name="priority" isneeded="Y" data-live-search="true" v-model="line.Extn.PriorityCode" v-on:change="changedAttribute(line,index)" 
                                                title="Select Priority Code">
                                            <option v-for="order in priorityList" v-bind:value="order.CodeValue" >{{order.CodeShortDescription}}</option>
                                        </select>
                                    </td>  
                                     
                                      <td class=""> 
                                          <div class="input-group">
                                          <input type="text" class="form-control"  name="CostCenter"  v-model="line.Extn.Division" v-on:change="changedAttribute(line,index)" placeholder="Cost Center" 
                                                 title="Ener Cost Center" > 
                                           <span class="input-group-btn">
                                             <a href="#" data-toggle="modal" data-target="#ord-browse-modal-costcenter">  
                                                                               <button class="btn btn-secondary" type="button" v-on:click="setIndex(line,index)" title="Search" ><i class="glyphicon glyphicon-search"></i></button>
                                                                                </a>    
                                          </span>
                                            </div>
                                    </td>
                                     
                                     <td class="">
                                        
                                     <div class="input-group">
  
                                      
                                    <input type="text" class="select-style form-control"  v-datepicker="line.framework.ReqDeliveryDate" usage="filter" name="RequestedDeliveryDate"  fieldname="RequestedDeliveryDate" allowpastdate="N" placeholder="Requested Date" title="Enter Requested Delivery Date" >
                                        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true">
					</span>   
                                    </div>

                                    </td>
                                   
                                    <td>
                                  
                                    <div class="input-group">
                                  
                                       <span >{{line.framework.ShipFromFirstName}} 
                                            {{line.framework.ShipFromState}} {{line.framework.ShipFromZipCode}}</span>
                                             <span class="input-group-btn SearchAddress">
                                             <a href="#" data-toggle="modal" data-target="#ord-browse-modal-selectaddress" data-backdrop="static" >  
                                                                        <button class="btn btn-secondary" type="button" v-on:click="setAddressList('pickup', index, line)" 
                                                                                title="Change Address"><i class="glyphicon glyphicon-search"  ></i></button>
                                                                                </a>    
                                         </span>
                                    </div>
                                      
                               
                                    </td>
                                    <td>
                                        
                                          <div class="input-group">
                                  
                                    
                                            <span>{{line.PersonInfoShipTo.FirstName}} {{line.PersonInfoShipTo.State}} {{line.PersonInfoShipTo.ZipCode}}</span>  
                                             <span class="input-group-btn SearchAddress">
                                             <a href="#" data-toggle="modal" data-target="#ord-browse-modal-selectaddress" data-backdrop="static" >  
                                                                               <button class="btn btn-secondary" type="button" v-on:click="setAddressList('delivery',index, line)" 
                                                                                       title="Change Address"><i class="glyphicon glyphicon-search" ></i></button>
                                                                                </a>    
                                          </span>
                                            </div>
                                        
                                        
                                     
                                    </td>
                                     <td v-if="line.framework && line.framework.isNew">
                                          <div class="col-md-2" >
                                            <div class="form-group" >

                                               <button tabindex="0" type="button" class="btn btn-default removeBtn remove-danger" v-on:click="removeLine(line)" ><i class="glyphicon glyphicon-remove" title="Remove"></i></button>
                                            </div>
                                        </div>
                            
                                     </td>
                                     <td v-else>
                                     </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="m-t-10">
                          <gridpagination 
                              :gmeta="gmeta"
                              :total-pages="totalPages"
                              v-on:setpage="setPage" >
                          </gridpagination>
                      </div>
                 
                    </div>
                     
                    </div>
                    
           <div class="modal fade" id="inv-browse-modal-little" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component is="itemsearch" :itemid="itmid" :orderobj="headerdtl" ></component>
         </div>
       </div>
    </div>
           
              </div>
        <div class="modal fade" id="ord-browse-modal-costcenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-md" role="document">
         <div class="modal-content">
              <component is="costcenterlookup" ></component>
         </div>
       </div>
    </div>
       <div class="modal fade" id="ord-browse-modal-selectaddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component is="selectaddress" :adrlist="selectAdrList"   ></component>
         </div>
       </div>
    </div>
<div class="buttonCtrl">
<button class="btn btn-primary prevBtn btn-lg pull-left" type="button" title="Previous Page">Previous</button>
  <button class="btn btn-primary btn-lg pull-right" type="button" v-on:click="SaveSubmit('step3')" title="Next Page" 
          :disabled="disableNext" >Next</button>
 <!-- <button class="btn btn-primary btn-lg text-center" type="button" v-link="{ path:'/orderlist'}" >Cancel</button>  -->
 <button class="btn btn-primary btn-lg text-center"  type="button" data-toggle="modal" data-target="#cancelOrderLine" 
                                data-backdrop="static"  title="Cancel Create Order" v-on:click="showAlert('cancel', $event)">Cancel</button>       
</div>

 <div v-show="showAlertVar">
      <div class="modal fade" id="cancelOrderLine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'You will lose your changes.<br> Do you want to Continue?'"           
                v-on:cancel="cancel()"
                v-on:confirm="goBack()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div> 

</template>
  <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var SearchItem = require('./SearchItemDetails.vue')
    var SearchCostCenter = require('./SearchCostCenter.vue')
    var SelectAddress = require('./SelectAddresslookup.vue')
    export default {

     props: {
        customerlist:  {type: Array},
        headerdtl: {type: Object} 
     },    


    data: function () {
        
        var linesObject={};
        var modifiedRow= {}
        var custAddressList = []
        var addType;
        var pickUpAddressList= []
        var deliveryAddressList =[]
        var lineList = []
        var itmid
        var curindex= 0
        var newindex= 0
        var priorityList=[]
        var selectAdrList= []
        var step
        var documentType=''
        var costCentreList=[]
        var lineDtlError= false
        var noLineError= false
        var showAlertVar= false  
        var invalidDateError= false
        var invalidToAddr= false
        var hasZeroQtyline= false
        var disableNext=false
        var columns = ['PrimeLineNo','Item.ItemID', 'Item.ItemShortDesc','OrderedQty','Extn.PriorityCode','Extn.Division','framework.ReqDeliveryDate']
        var datecolumns=['framework.ReqDeliveryDate']
        var gmeta = {}
        GridUtils.populateGridMeta(gmeta, columns, true)
       
      return {
        linesObject:linesObject,
        modifiedRow:modifiedRow,
        custAddressList:custAddressList,
        addType:addType,
        pickUpAddressList:pickUpAddressList,
        deliveryAddressList:deliveryAddressList,
        lineList:lineList,
          
        itmid:itmid,
        curindex:curindex,
        newindex:newindex,  
        priorityList:priorityList,  
        step:step,  
        documentType:documentType,  
          
        lineDtlError:lineDtlError,
        noLineError:noLineError,
        invalidDateError:invalidDateError,
        invalidToAddr:invalidToAddr,
        hasZeroQtyline:hasZeroQtyline,  
        disableNext:disableNext,  
          
        selectAdrList:selectAdrList,
        showAlertVar:showAlertVar,
        columns:columns,
        datecolumns:datecolumns,  
        gmeta:gmeta, 
        costCentreList:costCentreList
          
                 
      }

    },
        
    ready: function(){
          var self=this;  
          //   $('[data-toggle="popover"]').popover(); 
     },

    route: {
        data: function (transition) {
            
        }
        
    },
    
    filters: {
	   	paginate: function(list) {
          return GridUtils.paginate(this.gmeta, list, this.totalPages)
        }
    },
     components : {
         'itemsearch': SearchItem,
         'costcenterlookup': SearchCostCenter,
         'selectaddress' : SelectAddress,
     
     },    

    methods: {
        setIndex: function(row,index){
	     this.modifiedRow= row    
             this.curindex= index
        },
        
        sortBy: function (key,grid,numeric) {
           GridUtils.sortBy(this.gmeta, key, numeric)
        },  
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)

        },        
        removeLine: function(row){
            var self= this
            self.lineList.$remove(row)
        },
        getMessage: function(errorMessageId) {
            return Utils.getErrorMessage(errorMessageId)      
        },
        SaveSubmit: function(step) {
            
           var self = this;
           self.step=step     
           var invalidDates = 0 
           var oValidationErrorlist = [];
           var oMappedValues = [];
            var input={}

            
                    var success = function(result) {
                                 self.costCentreList=result.CommonCode
                        }
            var errorHandler = function(errorObj) {
                                  self.apierror = true
                                  self.errorcode = errorObj.ErrorCode
                                  self.errordesc = errorObj.ErrorDescription
                                  self.trackDisable = true
                                  transition.next()
                                  //Error message times out after 10 seconds
                                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                            }
                       
             Utils.executeDataService("costCentreList",success,input,errorHandler);
    
            
           for(var i=0; i<$(".invalid").length; i++){
               if ($(".invalid")[i].name === "RequestedDeliveryDate"){
                  invalidDates ++
                   break;
               }
           }
           
           $('#orderlinetable tbody tr').each(function() {
              var trow = this;
              var tdinputlist = trow.querySelectorAll('input[type="text"],input[type="number"],select');  
              var temp = {};
              for (var index = 0; index < tdinputlist.length; index++) {
                tdinputlist[index].classList.remove('invalid');
                var mandatoryField = tdinputlist[index].getAttribute('isneeded');
                if(tdinputlist[index].value == "" && mandatoryField != null && mandatoryField == 'Y')
                   oValidationErrorlist.push(trow.id + '||' + tdinputlist[index].name )
                   temp[tdinputlist[index].name] = tdinputlist[index].value;
                }  
                oMappedValues.push(temp);
       
            });
            
            if(self.lineList.length === 0){
                
                self.noLineError= true
                setTimeout(function(){self.noLineError=false},Utils.getTimeOut())
            } 
            else if(oValidationErrorlist.length > 0){
               this.$options.methods.ValidationErrorDisplay(oValidationErrorlist);
               self.lineDtlError= true
               setTimeout(function(){self.lineDtlError=false},Utils.getTimeOut())
            }
            else if(invalidDates >0){
                self.invalidDateError= true
                setTimeout(function(){self.invalidDateError=false},Utils.getTimeOut())
            }
            else{
               self.lineDtlError= false 
               self.noLineError= false
               self.invalidDateError= false
               
              var lineDtlObj={}   
              var RequestedLines= [] 
              var list= []
              for (var index = 0; index < self.lineList.length; index++) {
                  
                  var ReqLine= {'ReqDeliveryDate':'','OrdQty':''}
                  self.lineList[index].PrimeLineNo= index+1 
                  
                  if(self.lineList[index].ShipToID.substr(0,4) == "CUST" ){
                        self.lineList[index].ShipToID= ''    
                   }
                  
                 
                  if(self.lineList[index].framework.isNew ===  true ){
                      if(self.lineList[index].OrderedQty> 0 ){
                          list.push(self.lineList[index])
                          self.hasZeroQtyline=false
                      }
                      else{
                         self.hasZeroQtyline=true
                      }
                      
               
                  }
                  else if(self.lineList[index].framework.isChanged === true){
                      list.push(self.lineList[index])
                  }
                  
                  ReqLine.ReqDeliveryDate= self.lineList[index].framework.ReqDeliveryDate
                  ReqLine.OrdQty= self.lineList[index].OrderedQty
                  RequestedLines.push(ReqLine)
                  self.costCenterCatchup(self.lineList[index])
              }
               
                
                
               if(!self.hasZeroQtyline)  
               {
                    lineDtlObj.lineList = list;
                    lineDtlObj.RequestedLines = RequestedLines;
                
                    self.disableNext= true    
                    self.$dispatch('LineDetailEventCatch', lineDtlObj );
                //      $("#"+step).trigger('click');
              }
            }
        },
        costCenterCatchup:function(row){
            var self=this
             if(row.Extn.Division===""){
                 for(var i=0;i<self.costCentreList.length;i++){
                     if(row.ShipNode===self.costCentreList[i].CodeValue){
                        row.Extn.Division= self.costCentreList[i].CodeShortDescription
                        break;
                     }
                 }
                  if(row.Extn.Division===""){
                       for(var i=0;i<self.costCentreList.length;i++){
                     if(self.costCentreList[i].CodeValue==="DEFAULT"){
                        row.Extn.Division= self.costCentreList[i].CodeShortDescription
                        break;
                     }

                  }
             }
         }            
            
        },
        changedAttribute: function(row,index){
            var self= this
            self.modifiedRow= row 
        /*    if(self.lineList[index].framework.isNew == false){
                self.lineList[index].framework.isChanged= true
            } */
            
             if(self.modifiedRow.framework.isNew == false){
                self.modifiedRow.framework.isChanged= true
            }
           
        },   
           
        setAddressList(addressType, idx, row){
            var self= this
            self.modifiedRow= row           
            var adrData= {'addType':'','selectedCustomer':'', 'selectAdrList':[] }
            adrData.addType= addressType
                       
            self.addType= addressType
            self.newindex=idx
            if(addressType === 'pickup'){
              self.selectAdrList= self.pickUpAddressList
              
              
              adrData.selectAdrList= self.pickUpAddressList
              adrData.selectedCustomer= self.modifiedRow.framework.ShipFromCustomerID
                
            //    self.selectAdrList= JSON.parse(JSON.stringify(self.pickUpAddressList))
            }
            else{
               self.selectAdrList= self.deliveryAddressList   
                  
             //   self.selectAdrList= JSON.parse(JSON.stringify(self.deliveryAddressList))
               
               adrData.selectAdrList= self.deliveryAddressList
               adrData.selectedCustomer= self.modifiedRow.framework.CustomerID
            }
                      
           self.$broadcast('SelectedAddressEvent',adrData);
            
        },
        
         ValidationErrorDisplay: function(inputlist) {
    
             
             for (var index = 0; index < inputlist.length; index++) {
               var temp = inputlist[index].split('||');
               var sTrID = "";
               var sInputName="";     
               sTrID = temp[0];
               sInputName = temp[1]; 
                 
            // if(sInputName === 'Quantity' || sInputName === 'CostCenter') {
                if(sInputName === 'Quantity' ) { 
                $('#orderlinetable tbody tr[id="'+sTrID+'"] td input[name="'+sInputName+'"]')[0].classList.add('invalid');
              }
              else{
                  $('#orderlinetable tbody tr[id="'+sTrID+'"] td select[name="'+sInputName+'"]')[0].classList.add('invalid');     
              }
                 
              }
                  
          },
           
        
         ManipulateLineAddress: function(){
             var self= this
             var i=0
             for (var customer in this.customerlist){
                 if(this.customerlist[i].addressType === 'pickupAddress'){
                     self.pickUpAddressList=this.customerlist[i].subscribedUsersList;
                 }
                 else{
                     self.deliveryAddressList= this.customerlist[i].subscribedUsersList;
                 }
                 i=i+1;
             }
        
         },
        ManipulateHeaderDtl: function(){
            var self= this
            self.priorityList=this.headerdtl.PriorityCodeList
           
        },
          getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
         showAlert:function(action, event){
            if(event) {
                    var target = event.srcElement || event.target
                    if(target && target.hasAttribute('disabled')) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                    return
                    }
            }
            var self=this
            self.showAlertVar=true
        
        },
        goBack:function(event){
             this.showAlertVar=false
             Vue.nextTick(function() {
                setTimeout( function() {
                                history.go(-1)
                            },
                           1000)
             })
         },
         cancel:function(event){
            this.showAlertVar=false
         },
        
    },
        
     computed: {
         totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
        }
     
    },  
    watch: {
         
      'customerlist': 'ManipulateLineAddress',
      'headerdtl':'ManipulateHeaderDtl',    
        
     },
    events: {
           //This event is to captued and add the new lines selected in SearchItemDetails component to order lines
           ItemSearchCatch: function(event){
            event.preventDefault;
            
            var self= this
            var length = 0
            if(self.lineList){
               length= self.lineList.length;
            }
            
            for(var j=0; j< event.length; j++) {
                     
                event[j].ShipNode= self.pickUpAddressList[0].ExternalCustomerID
                event[j].framework.ShipFromFirstName=self.pickUpAddressList[0].Consumer.BillingPersonInfo.FirstName
                event[j].framework.ShipFromState=self.pickUpAddressList[0].Consumer.BillingPersonInfo.State
                event[j].framework.ShipFromCity=self.pickUpAddressList[0].Consumer.BillingPersonInfo.City
                event[j].framework.ShipFromZipCode=self.pickUpAddressList[0].Consumer.BillingPersonInfo.ZipCode
                event[j].framework.ShipFromCustomerID= self.pickUpAddressList[0].CustomerID
                
                if(self.deliveryAddressList[0] && self.deliveryAddressList[0].ExternalCustomerID ){
                       event[j].ReceivingNode = self.deliveryAddressList[0].ExternalCustomerID      
                   }    
                event[j].ShipToID= self.deliveryAddressList[0].CustomerID
                event[j].framework.CustomerID= self.deliveryAddressList[0].CustomerID
                event[j].PersonInfoShipTo=self.deliveryAddressList[0].Consumer.BillingPersonInfo
                event[j].Extn.CustomerKey=self.deliveryAddressList[0].CustomerKey
                event[j].PrimeLineNo= ++length
        
            }
            self.lineList= self.lineList.concat(event)
        
        },
         CostCenterCatch: function(event){
               event.preventDefault;
               var self= this
               self.modifiedRow.Extn.Division= event
               
               if(self.modifiedRow.framework.isNew == false){
                    self.modifiedRow.framework.isChanged= true
                }
         },
         modifiedaddress: function(msg){
               msg.preventDefault;
               var self= this
               self.invalidToAddr= false;
               if(msg.addType === 'pickup'){
                   
                   if(msg.addProj && msg.addProj.ExternalCustomerID ){
                         
                        self.modifiedRow.ShipNode= msg.addProj.ExternalCustomerID
                        self.modifiedRow.framework.ShipFromFirstName=msg.addProj.Consumer.BillingPersonInfo.FirstName
                        self.modifiedRow.framework.ShipFromState=msg.addProj.Consumer.BillingPersonInfo.State
                        self.modifiedRow.framework.ShipFromCity=msg.addProj.Consumer.BillingPersonInfo.City
                        self.modifiedRow.framework.ShipFromZipCode=msg.addProj.Consumer.BillingPersonInfo.ZipCode
                        self.modifiedRow.framework.ShipFromCustomerID= msg.addProj.CustomerID
                        
                   }
               }
               else{                   
                       if(self.documentType === '0006' &&  msg.addProj.Extn.CustomerNodeType != 'CT'){
                          self.invalidToAddr= true;
                          setTimeout(function(){self.invalidToAddr=false},Utils.getTimeOut())   
                       }
                       else{
                           if(msg.addProj && msg.addProj.ExternalCustomerID ){
                                self.modifiedRow.ReceivingNode = msg.addProj.ExternalCustomerID      
                           }
                           else{
                               self.modifiedRow.ReceivingNode=''
                           }
                           self.modifiedRow.ShipToID= msg.addProj.CustomerID    
                           self.modifiedRow.framework.CustomerID= msg.addProj.CustomerID
                           self.modifiedRow.PersonInfoShipTo= msg.addProj.Consumer.BillingPersonInfo 
                           self.modifiedRow.Extn.CustomerKey=msg.addProj.CustomerKey

                       }                   
               }
             
               if(self.modifiedRow.framework.isNew == false && self.invalidToAddr!= true){
                    self.modifiedRow.framework.isChanged= true
               }
                  
         },
        //This event is used to access ManageOrder Success message. Event dispatched from CreateOrder.vue 
        CreateOrderSuccess: function(event){
            event.preventDefult;
            var self= this
            self.disableNext= false
            if(!this.documentType){
                  this.documentType= event.DocumentType
              }
            
            // Unsetting isNew and isChanged flags of lineList after the manageOrder is invoked to identify the 
            // lines that will be further modified or added
            for (var index = 0; index < self.lineList.length; index++) {
            
                if(self.lineList[index].framework.isNew ===  true ){
                    self.lineList[index].framework.isNew= false
                }
                else if(self.lineList[index].framework.isChanged === true){
                    self.lineList[index].framework.isChanged= false
                }
            }
            $("#"+this.step).trigger('click');
        },
        'OrderErrorEvent': function() {
            this.disableNext= false
        },
    }
        

    }

    </script>

