<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a list component for displaying the list of Nodes
        for a logged in User. 
***************************************************************************-->
<template>
    <div>

    <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Ship Node Details</h4>

          </div>
    <div class="modal-body">
         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Item Information</h5></div>
                            <div class="panel-body panel-common-body">
                                <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Item ID</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{nodeitmdtl.ItemID}}</span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Unit Of Measure</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{nodeitmdtl.UnitOfMeasure}}</span>
                                    </div>
                                </div>

                            </div>
                                    <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Ship Node</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{nodeitmdtl.ShipNode}}</span>
                                    </div>
                                </div>
                                        
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Description</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{nodeitmdtl.ShortDescription}} </span>
                                    </div>
                                </div>

                            </div>
                            
                                </div>
                            </div>
                        </div>
            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Supply Information</h5></div>
                            <div class="panel-body panel-common-body">
                           <div class="table-responsive">
                            <div class=" ">



        <table id="mytable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
     <!-- Defining Tableheader columns,and passing the bindings for sorting   -->

           <thead>
                <tr role="row">

                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SupplyType')" :class="{active: gmeta.sort.key == 'SupplyType'}" >Supply Type     
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SupplyType'] > 0 ? 'sort-up' : 'sort-down'">
                            </span>
                     </th>                   



                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('OrganizationCode')" :class="{active: gmeta.sort.key == 'OrganizationCode'}">Organization Code
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrganizationCode'] > 0 ? 'sort-up' : 'sort-down'">
                            </span>
                  </th>

                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Quantity')" :class="{active: gmeta.sort.key == 'Quantity'}">Quantity
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Quantity'] > 0 ? 'sort-up' : 'sort-down'">
                            </span>
                    </th>



                </tr>
              </thead>

                <tbody>
                    <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in nodesuplist 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | paginate " >

                        <td> {{getValue(row, "SupplyType")}}  </td>
                        <td> {{getValue(row, "OrganizationCode")}}     </td>
                        <td> {{getValue(row, "Quantity")}}     </td>

                    </tr>
                    
                    <tr v-show="nodesuplist.length === 0">
                        <td colspan="3" >No Records Found</td>
                    </tr>
                </tbody>

             </table>

              <div class="row m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>                    

                        </div>
                        </div>
                            </div>
                        </div>
    </div>
            <div class="modal-footer">

            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal">Close</button>
          </div>




    </div>


    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {


     props: {
        nodesuplist: Array,
        nodeitmdtl: Object 
      },    

    data: function () {

       var columns =['SupplyType','OrganizationCode','Quantity']
       var gmeta = {}
       GridUtils.populateGridMeta(gmeta, columns, false) 

       return{
           columns: columns,
           gmeta: gmeta 
       }
     }, 
    filters: {
        paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
        }
     },
    computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    },     

    methods: {
         goBack: function () {
                    window.history.go(-1)
        },
        cancel: function() {
          this.$dispatch('cancel')
        },
         getValue: function(row, binding) {
                return Utils.getValue(row,binding)
         },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        }

    },    

    beforeDestroy: function() {
        $(this.$el).remove();
        $(this.$el).removeData();
      }    

    }

    </script>

