<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for Notification Components
     ***************************************************************************-->
<template>
  
            <a class="linktab" href="javascript:void(0);"  v-on:click="Noti"  title="Notification"><i class="glyphicon glyphicon-bullhorn"></i> <span class="badge notibadge">{{myJobsArray.length + allJobsArray.length}}</span></a>

<div class="ContainerNotification" v-if="notictrl">
<div class="overlayNoti" v-on:click="CloseNoti"></div>
  <div class="NotiContainer">
  <!-- Nav tabs -->
  <button type="button" class="close" v-on:click="CloseNoti">&times;</button>
  <ul class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">My Notification</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">All Notification</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
   
       <ul class="list-group">
        <div class="notisearch">
      <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." v-model="searchText">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
    </div>
<!--    <li class="list-group-item" v-for="item in completedJobsArray">
    
            <small class="pull-right text-muted">Now</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">{{OwnId}}</small>
                <p class="list-group-item-text">
             Completed job of <b>{{item.title}}</b>
                </p>
            </div>
       </li> -->
            <li class="list-group-item new" v-for="notification in filteredMyNotifications">
          <div class="pull-left hidden-xs">
                <div class="CricleNotification">
                </div>
            </div>
                <small class="pull-right text-muted">{{formatDateTime(notification.LastOccurredOn)}}</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">{{notification.AssignedToUserId}}</small>
                <p class="list-group-item-text">
                   {{notification.Description}}
                </p>
               <!-- <button class="btn btn-sm btn-default" @click="markWIP(notification)">WIP</button> -->
                <button class="btn btn-sm btn-default" @click="resolve(notification,'Self')">Close</button>
            </div>
       </li>           

      <!-- <li class="list-group-item">
    
            <small class="pull-right text-muted">24/07/2017 12:56</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">User1</small>
                <p class="list-group-item-text" :class="{ toggletext: togglenoti }">
                Ammendment Requested for PO <a  href="javascript:void(0);">50980976</a> to be received at DC14, by User: abc@abc.com
                   The following Ammendments to be done on the PO:
                   1. Change the Unit Price of the Item to 50 AUD
                   2. The Requested Date for the Item to be changed to 10th August
                </p>
                <a href="javascript:void(0);" v-if="togglenoti === true" v-on:click="togglenotification" >Show Details</a>
                <a href="javascript:void(0);" v-if="togglenoti === false" v-on:click="togglenotification">Hide Details</a>
                <div class="clearfix"></div>
                <button class="btn btn-sm btn-default btn-danger">unassign</button>
                <button class="btn btn-sm btn-default">Close</button>
            </div>
       </li>
         <li class="list-group-item">
        
            <small class="pull-right text-muted">24/07/2017 11:45</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">User1</small>
                <p class="list-group-item-text">
                   Comment Added by Vendor for PO <a  href="javascript:void(0);">50985354</a> to be received at DC12, by User: abc@abc.com <a  href="javascript:void(0);">Show Details</a>
                </p>
                 <button class="btn btn-sm btn-default btn-danger">unassign</button>
                <button class="btn btn-sm btn-default">Close</button>
            </div>
       </li>
         <li class="list-group-item">
   
            <small class="pull-right text-muted">24/07/2017 11:32</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">User1</small>
                <p class="list-group-item-text">
                  Electronic PO Copy Requested for PO <a  href="javascript:void(0);">50986649</a> to be received at DC16, by User: abc@xyz.com
                </p>
                 <button class="btn btn-sm btn-default btn-danger">unassign</button>
                <button class="btn btn-sm btn-default">Close</button>

            </div>
       </li> -->
       </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">

            <ul class="list-group">
   <div class="notisearch">
      <div class="col-xs-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." v-model="searchAllText">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
    </div>
    <div class="clearfix"></div>
            <li class="list-group-item new" v-for="notification in filteredAllNotifications">
          <div class="pull-left hidden-xs">
                <div class="CricleNotification">
                </div>
            </div>
                <small class="pull-right text-muted">{{formatDateTime(notification.LastOccurredOn)}}</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">{{notification.AssignedToUserId}}</small>
                <span v-if="(notification.ExceptionType==='VENDOR_COMMENT_NOTIFICATION'||'VENDOR_PO_COPY_REQUEST'||'VENDOR_PO_AMENDMENT')">
                    <p class="list-group-item-text" v-if="showMore">
                   {{{notification.DetailDescription}}}
                      <a href="javascript:void(0)" class="moreOption" @click="showMore = !showMore" v-if="showMore" title="Show less">Show less</a>
                </p >
                <p class="list-group-item-text" v-if="!showMore">
                   {{{notification.ListDescription}}}
                     <a href="javascript:void(0)" class="moreOption" @click="showMore = !showMore" v-if="!showMore" title="Show more">Show more</a>
                </p >
         
              </span>
                 
                <span v-else>
                <p class="list-group-item-text" >
                   {{notification.Description}}
                </p>
                </span>
                <button class="btn btn-sm btn-default" @click="assignToSelf(notification)">WIP</button>
                <button class="btn btn-sm btn-default" @click="resolve(notification,'All')">Close</button>
            </div>
       </li>
     <!--  
    <li class="list-group-item new">
          <div class="pull-left hidden-xs">
                <div class="CricleNotification">
                </div>
            </div>
                <small class="pull-right text-muted">24/07/2017 12:56</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">User1</small>
                <p class="list-group-item-text">
                    Ammendment Requested for PO <a  href="javascript:void(0);">50980976</a> to be received at DC14, by User: abc@abc.com <a  href="javascript:void(0);">Show Details</a>
                </p>
                <button class="btn btn-sm btn-default">WIP</button>
                <button class="btn btn-sm btn-default">Close</button>
            </div>
       </li>
         <li class="list-group-item new">
          <div class="pull-left hidden-xs">
                <div class="CricleNotification">
                </div>
            </div>
                <small class="pull-right text-muted">24/07/2017 11:45</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">User1</small>
                <p class="list-group-item-text">
                   Comment Added by Vendor for PO <a  href="javascript:void(0);">50985354</a> to be received at DC12, by User: abc@abc.com <a  href="javascript:void(0);">Show Details</a>
                </p>
                <button class="btn btn-sm btn-default">WIP</button>
                <button class="btn btn-sm btn-default">Close</button>
            </div>
       </li>
         <li class="list-group-item new">
          <div class="pull-left hidden-xs">
                <div class="CricleNotification">
                </div>
            </div>
                <small class="pull-right text-muted">24/07/2017 11:32</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">User1</small>
                <p class="list-group-item-text">
                  Electronic PO Copy Requested for PO <a  href="javascript:void(0);">50986649</a> to be received at DC16, by User: abc@xyz.com
                </p>
                <button class="btn btn-sm btn-default">WIP</button>
                <button class="btn btn-sm btn-default">Close</button>
            </div>
       </li>
            <li class="list-group-item">
          <div class="pull-left hidden-xs">
                <div class="CricleNotification hide">
                </div>
            </div>
                <small class="pull-right text-muted">24/07/2017 11:10</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">User1</small>
                <p class="list-group-item-text">
                  Electronic PO Copy Requested for PO <a  href="javascript:void(0);">12548789</a> to be received at DC06, by User: abc@xyz.com
                </p>
                <button class="btn btn-sm btn-default">WIP</button>
                <button class="btn btn-sm btn-default">Close</button>
            </div>
       </li>
            <li class="list-group-item">
          <div class="pull-left hidden-xs">
                <div class="CricleNotification hide">
                </div>
            </div>
                <small class="pull-right text-muted">24/07/2017 11:02</small>
            <div class="text-left">
                <small class="list-group-item-heading text-muted text-primary">User1</small>
                <p class="list-group-item-text">
                  Electronic PO Copy Requested for PO <a  href="javascript:void(0);">78458798</a> to be received at DC06, by User: abc@xyz.com
                </p>
                <button class="btn btn-sm btn-default">WIP</button>
                <button class="btn btn-sm btn-default">Close</button>
            </div>
       </li> -->
    
       </ul>
    </div>
  </div>
</div>  
</div>
</template>
<script>
    var Vue = require('vue')
 var Utils = require('./../utils/utils.js')
var GridUtils = require('./../utils/gridutils.js')
var toastr = require('toastr');
import EventBus from './../utils/eventbus.js';

export default{
    
    data :function(){
         var notictrl = false
         var togglenoti = true
         var myJobsArray = []
         var allJobsArray = []
         var searchText = ''
         var searchAllText = ''
         var showMore=false

         
         var OwnId  = window.AppInfo.loginid

         return{
          notictrl:notictrl,
          togglenoti: togglenoti,
         searchText : searchText,
         searchAllText: searchAllText,     
         OwnId:OwnId,
          myJobsArray:myJobsArray,
          allJobsArray:allJobsArray,
        showMore:showMore

         }
          },
    created: function() {
        var self = this
      EventBus.$on('jobcomplete',function(jobdata){
            self.toastrnoti(jobdata);
          var notification = {}
        /*  notification.JobType = jobdata.JobType
          notification.JobKey = jobdata.JobKey
          notification.NotifyDate = new Date()
          notification.Message = 'The Job Request Number '+jobdata.JobKey+' submitted by you  has been completed successfully. The processed file can be downloaded from the Jobs screen.' */

		  if(jobdata.AlertDetails && jobdata.AlertDetails.Inbox) {

		/*	var alert = jobdata.Inbox[0]
            notification.InboxKey = alert.InboxKey
		    notification.Message = alert.Description
			notification.NotifyDate = alert.LastOccurredOn
			notification.AssignedToUserId = alert.AssignedToUserId */
              notification = jobdata.AlertDetails.Inbox[0]
              if(notification.AssignedToUserId && notification.AssignedToUserId === window.AppInfo.loginid ) {
                  self.myJobsArray.push(notification)
                  
              }
           // self.allJobsArray.push(notification)              
		  }


          console.log("Caught event in Notification ")
      });
       EventBus.$on('Basicjob',function(basicdata){
        self.toastrnoti(basicdata); 
     });
          EventBus.$on('Uploadjob',function(basicdata){
        self.toastrnoti(basicdata); 
     });
       
    },
    ready: function() {
        var self = this
        toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "2000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
        }
        var alertInput = {'ComplexQuery':{}}
        var uploadNotExp = {'Name':'ExceptionType','QryType':'EQ','Value':'GPS_EXCEL_UPLOAD_ALERT'}
        var exportNotExp = {'Name':'ExceptionType','QryType':'EQ','Value':'GPS_EXPORT_ALERT'}
        var vendorPoAmendExp = {'Name':'ExceptionType','QryType':'EQ','Value':'VENDOR_PO_AMENDMENT'}
        var vendorPoCopyReq = {'Name':'ExceptionType','QryType':'EQ','Value':'VENDOR_PO_COPY_REQUEST'}
        var vendorCommentNotification = {'Name':'ExceptionType','QryType':'EQ','Value':'VENDOR_COMMENT_NOTIFICATION'}
        alertInput.ComplexQuery.Operator = 'AND'
            alertInput.ComplexQuery.Or = {}
            alertInput.ComplexQuery.Or.Exp = []
      alertInput.ComplexQuery.Or.Exp.push(uploadNotExp);
       alertInput.ComplexQuery.Or.Exp.push(exportNotExp);        
        alertInput.ComplexQuery.Or.Exp.push(vendorPoAmendExp); 
         alertInput.ComplexQuery.Or.Exp.push(vendorPoCopyReq); 
        alertInput.ComplexQuery.Or.Exp.push(vendorCommentNotification);
        Utils.executeSinglePageDataService("jobAlerts", alertInput).then(function(alertresult){
            if(alertresult.Inbox) {
                alertresult.Inbox.forEach(function(row){
                    if(!(row.AssignedToUserId) || row.AssignedToUserId == undefined) {
                        self.allJobsArray.push(row);   
                    } else if(row.AssignedToUserId === window.AppInfo.loginid ) {
                        self.myJobsArray.push(row);
                    }
                        
                    
                })
            }
        })
        
        
            
    },
    methods:{
     
      Noti: function (event) {
        var self= this;
        if(self.notictrl === false){
        self.notictrl = true
        document.documentElement.className += "dhtml";
      }      
      },
        toastrnoti: function(data){
          var self= this;
        if(data.JobType === 'basicexport'){
          var message = 'Export (Current Fields) Completed';
         toastr.success(message);
        }
         if(data.JobType === 'Upload'){
          var message = 'Upload File Progress Completed';
         toastr.success(message);
        }
         if(data.JobType === 'upload-error'){
          var message = 'Uploaded File Invalid';
         toastr.error(message);
        }
        if(data.JobType === 'Export'){
             var message = 'Export (All Fields) Completed';
         toastr.success(message);
        }
        
      },
      CloseNoti: function(event){
         var self= this;
        if(self.notictrl === true){
            self.notictrl = false
            document.documentElement.className -= "dhtml";
        }
      },
      assignToSelf:function(row) {
          var self = this
          var assignToSelfInput = {'AssignToUserId':'','Inbox':{'InboxKey':''}}
          var callApi = false
          if(!(row.AssignedToUserId) || (row.AssignedToUserId == undefined)) {
              assignToSelfInput.AssignToUserId = window.AppInfo.loginid
              assignToSelfInput.Inbox.InboxKey = row.InboxKey
              callApi = true
          }
            var successHandler = function(result) {
              console.log("Assigned To Self");
              self.myJobsArray.push(row);    
          } 
          var errorHandler = function(errorObj) {
              console.log("Error during Assign To Self");
          } 
          
          if(callApi) {
            Utils.executeDataService("assigntoself",successHandler,assignToSelfInput,errorHandler); 
          }
      },    
      markWIP: function(row,type) {
          var self = this
          var input = {'InboxKey':''}
          input.InboxKey = row.InboxKey
          var successHandler = function(result) {
              console.log("Marked as WIP");
          } 
          var errorHandler = function(errorObj) {
              console.log("Error during Marked as WIP");
          }           
        Utils.executeDataService("markaswip",successHandler,input,errorHandler);  
      },
      resolve: function(row,type) {
           var self = this
            var resolveAlertInput = { 'ResolvedBy':'','Inbox':{'InboxKey':''}}
            resolveAlertInput.AutoResolvedFlag='N';
            resolveAlertInput.ResolvedBy=window.AppInfo.loginid;
            resolveAlertInput.Inbox.InboxKey=row.InboxKey;

        var successHandler = function(result) {
              console.log("Resolved");
            if(type === 'All') {
                self.allJobsArray.$remove(row);    
            } else {
                 self.myJobsArray.$remove(row);    
            }
                
                
          } 
          var errorHandler = function(errorObj) {
              console.log("Error during Marked as WIP");
          }
        Utils.executeDataService("resolvealert",successHandler,resolveAlertInput,errorHandler);          
          
      },    
      togglenotification: function(){
          var self= this;
        if(self.togglenoti !== false){
          self.togglenoti = false;
          return;
        }
        if(self.togglenoti !== true){
          self.togglenoti = true;
          return;
        }
      },
      formatDateTime : function(serverDate) {
          return Utils.formatDateTime(serverDate)    
        }    
    },
    computed: {

        filteredMyNotifications : function() {
            var self = this
            var checkText = function(row) {
			  if(self.searchText) {
				 /*if(row.Description && row.Description.indexOf(self.searchText) !== -1) {
				   return true;
				 }*/
				 if(row.Description) {
                     var text = row.Description.toUpperCase()
                     var searchtext = self.searchText.toUpperCase() 
                     if(text.indexOf(searchtext) !== -1) {
                        return true;      
                     }
				 }
			  } else {
				return true;
			  }
          }
            return self.myJobsArray.filter(checkText).sort(function(item1,item2) {
                if(item1.LastOccurredOn > item2.LastOccurredOn) {
                    return -1;
                } else {
                    return 1;
                }
            });
        },
        filteredAllNotifications : function() {
            var self = this
            var checkText = function(row) {
			  if(self.searchAllText) {
                  
				 if(row.Description) {
                     var text = row.Description.toUpperCase()
                     var searchtext = self.searchAllText.toUpperCase() 
                     if(text.indexOf(searchtext) !== -1) {
                        return true;      
                     }
				 }
			  
			  } else {
				return true;
			  }
          }
            return self.allJobsArray.filter(checkText).sort(function(item1,item2) {
                if(item1.LastOccurredOn > item2.LastOccurredOn) {
                    return -1;
                } else {
                    return 1;
                }
            });;        }
        
    },
 beforeDestroy: function() {
        $(this.$el).remove();
	  	$(this.$el).removeData();
        
	  }


}
   
</script>
