<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details
     ***************************************************************************-->
<template>
<div class="panel panel-default">
            <div class="panel-heading">Other Details</div>
            <div class="panel-body">
               <div class="tab-content">
                    <div role="tabpanel" class="tab-pane table-wrapper-big  active" id="OrderLineItems">
                        <div class="table-responsive">
                       
                            <table id="orderlines" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="order lines">
                                <thead>
                                    <tr role="row">
                            
                                        <th></th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PrimeLineNo','order',true)" :class="{active: gmeta.sort.key == 'PrimeLineNo'}" style="width: 70px">Line No  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PrimeLineNo'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                       
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.ItemID','order')" :class="{active: gmeta.sort.key == 'Item.ItemID'}" >Item ID   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.ItemShortDesc','order')" :class="{active: gmeta.sort.key == 'Item.ItemShortDesc'}">Item Description 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.ItemShortDesc'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.UnitOfMeasure','order')" :class="{active: gmeta.sort.key == 'Item.UnitOfMeasure'}" >UOM  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipNode','order')" :class="{active: gmeta.sort.key == 'ShipNode'}" >Ship Node
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                                                            
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderedQty','order',true)" :class="{active: gmeta.sort.key == 'OrderedQty'}" >Order Qty   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderedQty'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Extn.PriorityCode','order')" :class="{active: gmeta.sort.key == 'Extn.PriorityCode'}" >Priority   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Extn.PriorityCode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Extn.Division','order')" :class="{active: gmeta.sort.key == 'Extn.Division'}" >Cost Center   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Extn.Division'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('UserReqDeliveryDate','order')" :class="{active: gmeta.sort.key == 'UserReqDeliveryDate'}" >Requested Delivery Date 
                                           <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['UserReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
							                 </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReqDeliveryDate','order')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}" >Expected Delivery Date 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PersonInfoShipTo.FirstName','order')" :class="{active: gmeta.sort.key == 'PersonInfoShipTo.FirstName'}" >Ship To Address
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PersonInfoShipTo.FirstName'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>

                                        
                                    </tr>
                                </thead>
                                <tbody>
 <tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                            <td>
                                               
                                            </td>
                                             
                                             <td>
                                               
                                                <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemID" title="Enter the Item Id of the Order Line">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemShortDesc" title="Enter the Item Description of the Item in the Order Line">
                                            </td>
                                                <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Item.UnitOfMeasure" title="Enter the UOM of the Item in the Order Line">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.ShipNode" title="Enter the ShipNode from which the Order Line is being shipped">
                                            </td>
                                           <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.OrderedQty"  title="Enter the Quantity Ordered">
                                            </td>
     
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Extn.PriorityCode"  title="Enter the Priority">
                                            </td>
     
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Extn.Division"  title="Enter the Cost Center">
                                            </td>
     
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.UserReqDeliveryDate" title="Enter the Requested Delivery Date">
                                            </td>
     
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.ReqDeliveryDate" title="Enter the Expected Delivery Date">
                                            </td>
     
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.PersonInfoShipTo.ZipCode" title="Enter the Ship To Postal Code">
                                            </td>
                                             
                                            
                                        </tr>
                                       <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in orderLineList 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate 'order'
                                | draftcanfilter " >
                                    
                            <td></td>
                        
                        <td>{{getValue(row, "PrimeLineNo") }} </td> 
                                         
                        <td> {{getValue(row, "Item.ItemID")}}    </td>


                        <td class="descriptionCls" id="DesRow{{$index}}" v-bind:class="{ active: isActive }" v-on:click= "toggleHeight($index,row)" > <i class="fa fa-play" v-if="row.Item.ItemShortDesc.length > 25"></i>   {{getValue(row, "Item.ItemShortDesc")}}   </td>


                          <td>{{getValue(row, "Item.UnitOfMeasure") }} </td>                   
                        <td> {{getValue(row, "ShipNode")}}     </td>
                        <td  style="text-align:right"> {{getValue(row, "OrderedQty")| quantityfilter}}     </td>

                        <td>{{getValue(row, "Extn.PriorityCode") }} </td> 
                        <td>{{getValue(row, "Extn.Division") }} </td> 
                        <td>{{formatForDisplay(row.UserReqDeliveryDate)}} </td>    
                        <td>{{formatForDisplay(row.ReqDeliveryDate)}}</td> 
			<td style="text-align:right"><a href="" data-toggle="modal" data-target="#prevAddressDetails"  title="Address" v-on:click="getShipToAddress(row)" class="descriptionCls" > {{getValue(row, "PersonInfoShipTo.ZipCode")}}</a></td>
                      
		       </tr>
		      </tbody>
		  </table> 

                        <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                            

                        </div>
                    </div>    
                
                  
                </div>
                
          <div >
            <div class="modal fade" id="prevAddressDetails" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <noneditableaddress
                      :address="orderLineShipTo"
                      >
                      </noneditableaddress>
                    </div>

                </div>
            </div>
          </div>

            </div>
        </div>

</template> 
<script>
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{
        props: {
          orderlinelist: { type:Array },
   
        },    
        data: function () {
          
           var OrderDet= {};
           var orderLineList= []
           var columns =['PrimeLineNo','Item.ItemID','Item.ItemShortDesc','Item.UnitOfMeasure','ShipNode','OrderedQty','Extn.PriorityCode',
                         'Extn.Division','UserReqDeliveryDate','ReqDeliveryDate','PersonInfoShipTo.FirstName',
                ]
   
           var gmeta = {};
           var consignmentmeta = {};
           var showOrderLineLink=false;
           GridUtils.populateGridMeta(gmeta, columns, false);
     
           var orderLineDetails = this.getDummyOrderLineDetails();
           var errorcode;
           var errordesc;
           var apierror=false;
           var OrderLine;
           var zeroShipment=false;
           var orderLineShipTo={};
            
           return{
                isActive: false,
                OrderDet:OrderDet,
                columns:columns,
                gmeta:gmeta,
                orderLineDetails:orderLineDetails,
                orderLineList:orderLineList,
                consignmentmeta:consignmentmeta,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror,
                showOrderLineLink:showOrderLineLink,
                orderLineShipTo:orderLineShipTo

            }
        },
  
        computed: {
           totalPages: function() {
              return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
             },
           totalConsignmentPages: function() {
             return Math.ceil(this.consignmentmeta['pagination']['resultCount'] / this.consignmentmeta['pagination']['itemsPerPage'])
             }
        },
        
        filters: {
	   	    paginate: function(list,grid) {
               if(grid === 'order')
                 return GridUtils.paginate(this.gmeta,list)
               else 
                 return GridUtils.paginate(this.consignmentmeta,list)
	   	     },
            draftcanfilter: function(rows){
                 if (!rows || rows.length == 0) {
                        return rows
                    }

                  var res = []
                  var resultList = function(row) {
                        debugger;  
                    if(row.Status ){
                          return true;
                    }
                    else{
                          return false;
                      }		
                    }
                    res = rows.filter(resultList)

                  return res
            }
         },
   
        methods: {	
           
           getValue: function(row, binding) {
              return Utils.getValue(row,binding)
             },
           setPage: function(pageNumber) {
              GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
             },
          
          setConsignmentPage: function(pageNumber) {
              GridUtils.setPage(this.consignmentmeta, pageNumber, this.totalConsignmentPages)
             },
          
          formatForDisplay:function(serverDate) {
              return Utils.formatForDisplay(serverDate,"filter")
             },
          
          sortBy: function (key,grid,numeric) {
              if (grid ==='order')
                GridUtils.sortBy(this.gmeta, key, numeric)
              else
                GridUtils.sortBy(this.consignmentmeta, key, numeric)
             },
          
          toggleHeight: function($index,row) {
              if(row.Item.ItemShortDesc.length>25){
                    $("#DesRow"+$index).toggleClass("active");
                }
          },
          errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
          },
    
          getOrderLine: function(row){
               this.OrderLine=JSON.parse(JSON.stringify(row))
          },
          getShipToAddress:function(row){
                this.orderLineShipTo=row.PersonInfoShipTo
          },
	
    //manage commitment disable if less than commited state
          commitmentDisable:function(temp){
               if(temp.Extn.OrderLineCommitmentList.OrderLineCommitment)
                  return false 
               else 
                  return true
             
             },
    
          getDummyOrderLineDetails: function() {
               var dummyOrderLineDet = {'PrimeLineNo':'', 
                               'OrderStatuses':{'OrderStatus':[{}]},
                               'Notes':{'Note':[{}]},
                                'Item':{},
                                'LinePriceInfo':{'UnitPrice':''},
                                'OrderLineTranQuantity':{},
                                'Extn':{'OrderLineCommitmentList':{}}
                               }; 
              return dummyOrderLineDet
         }, 


         closeLink: function(){
             this.orderLineDetails = this.getDummyOrderLineDetails()
          },
    

	},
    
    events:{
         'PrevLineDtlEvent': function (msg) {
                var self= this
                self.orderLineList= msg;
            }
   
     },        
	  
    route: {
     
	  },
	
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
        
     
        
    }
</script>