<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details
     ***************************************************************************-->
<template>
<br>
<div class="block  clearfix">
                 <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="pickupAdrError">
            <button type="button" class="close" aria-label="Close" @click="pickupAdrError=!pickupAdrError" >&times;</button>
            <strong>Input Error:</strong> Ship From Addresses are not Provided
          </div>
                     
            <div class="alert alert-danger alert-dismissible" role="alert" v-if="deliveryAdrError">
            <button type="button" class="close" aria-label="Close" @click="deliveryAdrError=!deliveryAdrError" >&times;</button>
            <strong>Input Error:</strong> Ship To Addresses are not Provided
          </div> 
            
            <div class="alert alert-danger alert-dismissible" role="alert" v-if="NotCT">
            <button type="button" class="close" aria-label="Close" @click="NotCT=!NotCT" >&times;</button>
            <strong>Input Error:</strong> Only CT Nodes Can Be Selected 
          </div>
            
            
            
        </div>

        </div>


      <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Address Details
                    </div>
          
    <div class="panel-body HeaderContainer">        
<div class="col-md-12 well-sm ">
  
 <div class="col-md-6 panel-body">
                   <div class="AddressContainer CustomAdd">
                     
                       
     <h6 class="pull-left">From Address
    <span class="pull-right"> <!--<button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2" v-on:click="loadAddressSearchCmp('pickupaddresssearchtpl', 'PickUp Address Search', 'pickupAddress')" type="button" >Add Search</button> -->
        
   <div class="form-group pull-right">    

                       <button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2 " v-on:click="XtoogleModel('addresssearchtpl','pickup')" data-toggle="modal" data-backdrop="static" data-target="#inv-browse-modal-searchadd" title="Select Address">Select Address</button>

                       <!-- <button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2 " v-on:click="XtoogleModelAddress('addresslocation','pickup')" data-toggle="modal" data-target="#inv-browse-modal-tinyurl">Add Address</button>  -->
    </div>
    
    </span>
    
    </h6>
   <div class="clearfix"></div>                   
                       
                       
                       
                       
                   <div class="AddressInside NewCtrl">
 
                       
    <ul class="list-unstyled AddCtrl">
      <li v-for="address in pickUpAddressList">  
         
          <div class="pull-left">                 
  <p>{{address.Consumer.BillingPersonInfo.FirstName}}  {{address.Consumer.BillingPersonInfo.LastName}}</p>
  <p>{{address.Consumer.BillingPersonInfo.City}} </p>              
  <p>{{address.Consumer.BillingPersonInfo.State}} {{address.Consumer.BillingPersonInfo.ZipCode}}</p>
  </div>
  <div class="pull-right">
  <button type="button" class="btn btn-sm btn-danger" v-on:click="removeAddress(address, 'pickup')" title="Remove Selected Address">Remove</button>
  </div>
  <div class="clearfix"></div>
        
      </li> 
        
                     
    </ul>
    
    </div>
                   </div>
                              </div>

                              <div class="col-md-6 panel-body">
        <div class="AddressContainer CustomAdd ">
                   <h6 class="pull-left">To Address
                       <span class="pull-right">
    <!-- <button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2" v-on:click="loadAddressSearchCmp('deliveryaddresssearchtpl', 'Delivery Address Search', 'deliveryAddress')" type="button" >Add Search</button>
   -->     
  
<div class="form-group">  
                       <button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2 " data-toggle="modal" data-backdrop="static" data-target="#inv-browse-modal-searchadd" v-on:click="XtoogleModel('addresssearchtpl','delivery')" title="Select Address" >
		       Select Address</button>
                       <button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2 " data-toggle="modal" 
		       data-backdrop="static" data-target="#inv-browse-modal-tinyurl" 
		       v-on:click="XtoogleModelAddress('addresslocation','delivery')" 
		       v-show="orderType == 'MATERIAL_RESERVATION' && documentType !='0006'" title="Add New Address">New Address</button>  
    </div>
  
        
    </span>
    
    </h6>
                       <div class="clearfix"></div>
                       
                        
                   
                   <div class="AddressInside NewCtrl">
                      
                       
                        <ul class="list-unstyled AddCtrl">
      <li v-for="address in deliveryAddressList">  
         
          <div class="pull-left">
                     
          <p>{{address.Consumer.BillingPersonInfo.FirstName}} {{address.Consumer.BillingPersonInfo.LastName}}</p>
          <p>{{address.Consumer.BillingPersonInfo.City}}</p>              
          <p>{{address.Consumer.BillingPersonInfo.State}} {{address.Consumer.BillingPersonInfo.ZipCode}}</p> 
              
          </div>
          <div class="pull-right">
          <button type="button" class="btn btn-sm btn-danger" v-on:click="removeAddress(address,'delivery')" 
                  title="Remove Selected Address">Remove</button>
          </div>
          <div class="clearfix"></div>
        
      </li> 
                     
    </ul>
     
    
    </div>
                   </div>
                              </div>
                              <div class="clearfix"></div>
    
</div>
       
        
    </div>
          
    <div class="modal fade" id="inv-browse-modal-searchadd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component :is="addSearchModel" :type="addressType" :ordertype="orderType"></component>
         </div>
       </div>
    </div>
          
    <div class="modal fade" id="inv-browse-modal-tinyurl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component :is="addAddSearchModelModel" :type="addressAddType"></component>
         </div>
       </div>
    </div>
          
  </div>

                    <div class="clearfix"></div>
                    <div class="buttonCtrl">
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" title="Previous Page">Previous</button>
       <button class="btn btn-primary btn-lg pull-right" type="button" v-on:click="SaveSubmit('step2')" title="Next Page">Next</button>
    <!--   <button class="btn btn-primary btn-lg text-center" type="button" v-link="{ path:'/orderlist'}" >Cancel</button> -->
       <button class="btn btn-primary btn-lg text-center"  type="button" data-toggle="modal" data-target="#cancelOrder" 
                                data-backdrop="static"  title="Cancel Create Order" v-on:click="showAlert('cancel', $event)">Cancel</button>                
      </div>

 <div v-show="showAlertVar">
      <div class="modal fade" id="cancelOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'You will lose your changes.<br> Do you want to Continue?'"           
                v-on:cancel="cancel()"
                v-on:confirm="goBack()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div> 
       
</template> 
  <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var AddressSearchTpl = require('./SearchAddressOrder.vue')
    var AddressLocation = require('./AddAddressLocation.vue') 
    
    export default {

     props: {
        
     },    


    data: function () {
        
        var addSearchModel = ""
        var addAddSearchModelModel= ""
        var addressType = ""
        var addressAddType = ""
        var orderType= ""
        var prevOrderType=""
        var documentType=""
       
        var deliveryCustid=0
        
        var customerlist = []
        var pickUpAddressList = []
        var pickUpSearchAdrList =[] 
        var pickUpAddAdrList =[] 
            
        var deliveryAddressList = []
        var deliverySearchAdrList =[] 
        var deliveryAddAdrList =[]
            
        var pickupAdrError= false;
        var deliveryAdrError= false;
        var showAlertVar= false
        
        var NotCT= false

      return {
        
        addSearchModel:addSearchModel,
        addAddSearchModelModel:addAddSearchModelModel,  
        addressType:addressType,  
        addressAddType:addressAddType,
        
        deliveryCustid:deliveryCustid,  
        
        customerlist:customerlist,
        pickUpAddressList:pickUpAddressList,
        deliveryAddressList: deliveryAddressList,
                 
        pickUpSearchAdrList:pickUpSearchAdrList,
        pickUpAddAdrList: pickUpAddAdrList, 
        deliverySearchAdrList: deliverySearchAdrList,
        deliveryAddAdrList:deliveryAddAdrList   ,
        orderType: orderType,
        prevOrderType:prevOrderType,
        documentType:documentType,  
        pickupAdrError:pickupAdrError,
        deliveryAdrError:deliveryAdrError,
        showAlertVar:showAlertVar,
          
        NotCT:NotCT,  
          
      }

    },
        
    ready: function(){
         
      },
        
    components : {
          'addresssearchtpl': AddressSearchTpl,
          'addresslocation': AddressLocation
         },

    route: {
        data: function (transition) {
           
        }
    },
    
    filters: {
	   	
    },

    methods: {
        
       SaveSubmit: function(step) {
               var self = this;
                            
               var addressList = []// {'addressType':'','subscribedUsersList':[]}
               var temp= {'addressType':'','subscribedUsersList':[]}
               
               temp.addressType="pickupAddress"
               temp.subscribedUsersList= self.pickUpAddressList
               addressList.push(temp)
               
               var temp1= {'addressType':'','subscribedUsersList':[]}
               temp1.addressType="deliveryAddress"
               temp1.subscribedUsersList= self.deliveryAddressList
               
               addressList.push(temp1)
               
           
               if(self.pickUpAddressList.length === 0 ){
                   self.pickupAdrError= true
                   setTimeout(function(){self.pickupAdrError = false},Utils.getTimeOut()) 
               }
               else if(self.deliveryAddressList.length === 0){
                   self.deliveryAdrError= true
                   setTimeout(function(){self.deliveryAdrError = false},Utils.getTimeOut()) 
               }
               else{
                    self.pickupAdrError= false
                    self.deliveryAdrError= false
                    
                    //Event handled in CreateOrder.vue
                    this.$dispatch('AddressDetailEventCatch', addressList);
                    $("#"+step).trigger('click');
               }
                     
       },        
      
       XtoogleModel: function(modelname,type){
                  if(type ==='pickup')
                      this.addressType="pickup"
                 else 
                     this.addressType="delivery"
                     this.addSearchModel = modelname;
        
        },
        XtoogleModelAddress: function(modelname,type){
                  if(type ==='pickup')
                      this.addressAddType="pickup"
                  else 
                     this.addressAddType="delivery"
                  this.addAddSearchModelModel = modelname;
          
        },
        removeAddress(address, addtype){
            var self= this
            if(addtype === 'pickup'){
                self.pickUpAddressList.$remove(address)
                self.pickUpSearchAdrList.$remove(address)
           
            }
            else{
                self.deliveryAddressList.$remove(address)
                self.deliverySearchAdrList.$remove(address)
                self.deliveryAddAdrList.$remove(address)                            
            }
        },
   
         showAlert:function(action, event){
            if(event) {
                    var target = event.srcElement || event.target
                    if(target && target.hasAttribute('disabled')) {
                        event.preventDefault()
                        event.stopPropagation()
                        return
                    }
            }
            var self=this
            self.showAlertVar=true         
        },
        goBack:function(event){
             this.showAlertVar=false
             Vue.nextTick(function() {
                setTimeout( function() {
                                history.go(-1)
                            },
                           1000)
             })
         },
         cancel:function(event){
            this.showAlertVar=false
         },
                
    },
        
     computed: {
     
    },   
     events: {
        'AddressSearchListEvent': function (event) {
          
             event.preventDefault;            
             var self= this
             
             if(event.addressType === 'pickup'){

             //    self.pickUpSearchAdrList=event.subscribedUsersList
                 self.pickUpSearchAdrList=self.pickUpSearchAdrList.concat(event.subscribedUsersList)
                 self.pickUpAddressList= self.pickUpSearchAdrList.concat(self.pickUpAddAdrList)
                 if(self.pickUpAddressList && self.pickUpAddressList.length != 0 ){
                    self.pickupAdrError= false    
                 }                 
             }
             else{
             //    self.deliverySearchAdrList=event.subscribedUsersList
                 if(self.orderType == 'MATERIAL_RESERVATION'){
                     
                    
                     if(self.documentType ==='0006'){
                           for (var i=0; i< event.subscribedUsersList.length; i++){ 
                             if(event.subscribedUsersList[i].Extn.CustomerNodeType === 'CT'){
                                  self.deliverySearchAdrList.push(event.subscribedUsersList[i])    
                              }
                              else{
                                  self.NotCT= true
                                  setTimeout(function(){self.NotCT = false},Utils.getTimeOut())
                              }
                           }
                     }
                     else{
                         self.deliverySearchAdrList=self.deliverySearchAdrList.concat (event.subscribedUsersList)
                     }
                  }
                  else{
                      self.deliverySearchAdrList=self.deliverySearchAdrList.concat (event.subscribedUsersList)                     
                  }
                 
                  self.deliveryAddressList= self.deliverySearchAdrList.concat(self.deliveryAddAdrList)
                  if(self.deliveryAddressList && self.deliveryAddressList.length != 0 ){
                     self.deliveryAdrError= false
                  }
             }
            
        },
         //New address Added. Event dispatched from AddAddressLocation.vue component
        'AddressEventCatch':function (event){
            
            event.preventDefault;
            var self= this
                         
            var temp1 = {'CustomerID':'','CustomerKey':'','Consumer':{'BillingPersonInfo':{}}}
            var temp2 = {'CustomerID':'','CustomerKey':'','Consumer':{'BillingPersonInfo':{}}}
           
            
            if(event.Type=== "pickup"){
                temp1.Consumer.BillingPersonInfo=event
                self.pickUpAddAdrList.push(temp1)
                self.pickUpAddressList= self.pickUpSearchAdrList.concat(self.pickUpAddAdrList)
            }
            else{
                temp2.CustomerID= "CUST"+ self.deliveryCustid
                self.deliveryCustid++
                
                temp2.Consumer.BillingPersonInfo=event
                self.deliveryAddAdrList.push(temp2)
                self.deliveryAddressList= self.deliverySearchAdrList.concat(self.deliveryAddAdrList)
                
                if(self.deliveryAddressList && self.deliveryAddressList.length != 0 ){
                     self.deliveryAdrError= false
                }
            }            
      
        },
         //Order Type event dispatched from CreateOrder.vue
         'OrderTypeEventCatch':function(event){
             
             var self= this
             self.orderType= event
                     
             if(self.prevOrderType != '' && (self.prevOrderType != self.orderType)){
                  self.deliveryAddressList.splice(0)
                  self.deliverySearchAdrList.splice(0)
                  self.deliveryAddAdrList.splice(0)                             
             }
             self.prevOrderType= event             
         },
         //This event is used to access ManageOrder Success message. Event dispatched from CreateOrder.vue
         'CreateOrderSuccess': function(event){
              event.preventDefault;
             
              if(!this.documentType){
                  this.documentType= event.DocumentType
              }
         }
     },
     watch:{
        
     }    
        
    }

    </script>


