
<template>
<div>


<div class="block  clearfix">
                 <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-show="apierror">
            <button type="button" class="close"  aria-label="Close" @click="apierror=!apierror">&times;</button>
            <strong>API Error:</strong> {{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}
          </div>
        
                  
                     
        </div>

  </div>
   <!-------Header Begin-------->  
    <div class="spinner-loading" v-if="showMask" >
    <div class="loader"></div>
</div>
    <div>
        <!-- <div v-if="loadDetailTemplate">
        -->
        
        
        <headerdetailtpl :orderdetailobj="OrderDet"  ></headerdetailtpl>
      <!-------Header End-------->  
        <otherdetailtpl :orderlinelist="orderLineList" ></otherdetailtpl>
    </div>
                   
                    <div class="clearfix"></div>
<div class="buttonCtrl">
     <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" title="Previous Page">Previous</button>
     <button class="btn btn-primary btn-lg pull-right nextBtn"  v-on:click="SaveSubmit(step5)" title="Submit Create Order"   
         :disabled="OrderDet.Status == undefined || OrderDet.Status == ''" >Submit</button>
  <!--   <button class="btn btn-primary btn-lg text-center" type="button" v-link="{ path:'/orderlist'}" >Cancel</button>   -->
     <button class="btn btn-primary btn-lg text-center"  type="button" data-toggle="modal" data-target="#cancelPrevOrder" 
                                data-backdrop="static"  title="Cancel Create Order" v-on:click="showAlert('cancel', $event)">Cancel</button>    
     </div>  
    
    
     <div v-show="showAlertVar">
      <div class="modal fade" id="cancelPrevOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'You will lose your changes.<br> Do you want to Continue?'"           
                v-on:cancel="cancel()"
                v-on:confirm="goBack()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var OtherDetailTpl = require('./OrderDetailsOtherDetail.vue')
    var HeaderDetailTpl = require('./OrderDetailsHeaderDetail.vue')

    export default {

     props: {
        
        // linedetail: {type: Array},
         createorddtl: {type: Object},
     },    


    data: function () {
        
		var OrderDet= {};
        var orderLineList=[];
        var shipmentList=[];
        var personInfoBillToAddress={};
        var personInfoShipToAddress={};
        var input = {'OrderHeaderKey':''};
   
        var loadDetailTemplate=false;
        var consignmentstate=false;
        var RequestedLines= []
        var errorcode
        var errordesc
        var apierror= false
        var showMask = false
        var showAlertVar= false
    
      return {
        OrderDet:OrderDet,
        orderLineList:orderLineList,
        input:input,  
        shipmentList:shipmentList,
        personInfoBillToAddress:personInfoBillToAddress,
        personInfoShipToAddress:personInfoShipToAddress,
   
        loadDetailTemplate:loadDetailTemplate,
        RequestedLines:RequestedLines,
        errorcode:errorcode,
        errordesc:errordesc,
	apierror:apierror,
        showMask:showMask,
        showAlertVar:showAlertVar  
      }

    },
        
    ready: function(){
          var self=this  
       
      },

    
    filters: {
	   	
    },

    methods: {
        
      SaveSubmit: function(step){
          var self= this
          var confirmOrder= {'EnterpriseCode':'','DocumentType':'','OrderNo':'','OrderHeaderKey':''}
          confirmOrder.OrderNo=self.OrderDet.OrderNo
          confirmOrder.OrderHeaderKey=self.OrderDet.OrderHeaderKey
          confirmOrder.DocumentType = self.OrderDet.DocumentType
                    
          var success = function(result) {
             //Dispatching generated Order No. Event handled in CreateOrder.vue  
             self.$dispatch('generatedOrderNoEvent', confirmOrder )  
             self.apierror= false
             $("#"+step).trigger('click');
               
          }
          var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  
          }
          
             Utils.executeDataService("GpsConfirmDraftOrder", success, confirmOrder, errorHandler); 
      },        
      ManipulateInput: function(){
          var self= this
          self.input.OrderHeaderKey= this.createorddtl.OrderHeaderKey
          self.RequestedLines= this.createorddtl.RequestedLines
          
      },      
        
      getAPIErrorMessage: function() {
		        return Utils.getAPIErrorMessage();
	  },     
             
      getFormatedRow: function(index, newObject) {
                 
           if(newObject == null || newObject == undefined)
               return null;
                
           var template = '<tr role="row" class="odd">' +
                                '  <td class="">' + (index+1) +'</td>' +
                                '  <td class="">'+ newObject.Line_MaterialId +'</td>' +
                                '  <td class="">'+ newObject.Line_Description +'</td>' +
                                '  <td class="">'+ newObject.Line_Quantity +'</td>' +
                                '  <td class="">'+ newObject.Line_ReqDate +'</td>' +
                                '  <td class="">'+ newObject.Line_FromAddress +'</td>' +
                                '  <td class="">'+ newObject.Line_ToAddress +'</td>' +
                                '</tr>';
                 return template;
                 
        },
        showAlert:function(action, event){
                if(event) {
                                var target = event.srcElement || event.target
                                if(target && target.hasAttribute('disabled')) {
                                                event.preventDefault()
                                                event.stopPropagation()
                                                return
                                }
                }
               
            var self=this 
            self.showAlertVar=true
         
        },
        goBack:function(event){
             this.showAlertVar=false
             
             var self=this
             var success = function(result) {
                    self.apierror=false
                    self.showMask= false
			}
            
            var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.showMask= false
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  
              }
            self.showMask= true       
			Utils.executeDataService("GpsCancelOrder", success, self.input,errorHandler);  
             
             Vue.nextTick(function() {
                setTimeout( function() {
                                history.go(-1)
                            },
                           1000)
             })
         },
         cancel:function(event){
            this.showAlertVar=false
         },
        
        
    },
        
     computed: {
     
    },
    
    components : {
         'otherdetailtpl': OtherDetailTpl,
         'headerdetailtpl': HeaderDetailTpl,
    },
        
    watch: {
          'createorddtl': 'ManipulateInput'
    },
    events: {
        'OrderErrorEvent': function() {
            this.showMask = false
        },
        //This event is used to access ManageOrder Success message. Event dispatched from CreateOrder.vue
        'CreateOrderSuccess': function (msg) {
            
          var self= this
      //    self.input= this.createorddtl
          self.input.OrderHeaderKey= this.createorddtl.OrderHeaderKey
          self.RequestedLines=this.createorddtl.RequestedLines
          
          var success = function(result) {
                    self.apierror=false
                    self.showMask= false
                    self.OrderDet = result;
                    self.orderLineList = result.OrderLines.OrderLine;
                    self.loadDetailTemplate=true; 
               
               for(var i=0; i<self.orderLineList.length; i++){
                   self.orderLineList[i].UserReqDeliveryDate= self.RequestedLines[i].ReqDeliveryDate
                   self.orderLineList[i].OrdQty= self.RequestedLines[i].OrdQty
               } 
                //Event handled in OrderDetailsHeaderDetail.vue
                self.$broadcast('PrevHeaderDtlEvent', self.OrderDet )
                //Event handled in OrderDetailsOtherDetail.vue
                self.$broadcast('PrevLineDtlEvent', self.orderLineList )
                
                //Event handled in PreviewTpl.vue
                self.$dispatch('OrderNoChangeEvent', self.OrderDet.OrderName )
                             
	    }
            
            var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.showMask= false
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  
              }
            this.showMask= true       
			Utils.executeDataService("completeOrderDetails", success, self.input,errorHandler);        

        }   

  }    



    }

    </script>