<!-- ********** Copyright  (c)  IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is add schedules for commitement
     ***************************************************************************-->
<template>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" v-on:click="cancel()">&times;</button>
    <h4 class="modal-title">View Commitment Schedules: {{getValue(orderline, 'Item.ItemID')}}</h4>
  </div>
  <div class="modal-body">
   <div class="row">
    <div class="col-md-12">
      <form class="form-inline CusCommitment" role="form">
        <br>
        <div class="form-group col-md-3 row">
          <label for="" class="control-label">Order Quantity</label>
          <div class="">
            <span class="form-inline-left">{{getValue(orderline, 'OrderedQty')}}</span>
          </div>
        </div>
        <div class="form-group col-md-5 row">
          <label for="" class="control-label">Committed Quantity</label>
          <div class="">
            <input type="text" class="form-control" value="{{committedQuantity}}" disabled>
          </div>
        </div>
        <div class="form-group col-md-4 row">
          <label for="" class="control-label">Max Committed Date</label>
          <div class="">
            <input type="text" class="form-control" value="{{commitedDate | datefilter}}" disabled usage="filter">
          </div>
        </div>
      </form>
      <div class="clearfix"></div>
      <hr>
    </div>
 

    <div class="col-md-12">
  <!--  <div class="pull-right commitExport">
                  <div class="btn-group">
                            <button type="button" class="btn btn-default Exportbtn btn-sm dropdown-toggle" data-toggle="dropdown" title="Export the data" >
                              <i class="fa fa-sign-out fa-rotate-90"></i>
                            </button>
                            <ul class="dropdown-menu Exportmenu" role="menu">
                            <li><a href="javascript:void(0);" v-on:click="csvexport">Export CSV (Current fields)</a></li>
                            </ul>
                          </div>
                  </div>-->
                  <div class="clearfix"></div>
        <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#commitment">Commitment Schedule</a></li>
  <li><a data-toggle="tab" href="#history">Commitment History</a></li>
</ul>

<div class="tab-content">
  <div id="commitment" class="tab-pane fade in active">
             <form v-for="schedule in orderline.Extn.OrderLineCommitmentList.OrderLineCommitment" class="form-inline Commitmentcls" role="form">
            <div class="col-md-2"> <div class="form-group">
              <label for="text">Sl No</label>
              <span class="form-inline-left">{{$index + 1}}</span>
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Committed Date</label>
              <input type="text" class="form-control" v-datepicker="schedule.CommitDeliveryDate" usage="filter" disabled >
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Quantity</label>
              <input type="text" class="form-control" v-model="schedule.CommittedQuantity" number disabled >
            </div></div>  
           <div class="clearfix"></div>
          &nbsp;
          </form> 
  </div>
  <div id="history" class="tab-pane fade">
    <div class="panel-group m-t-10" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="row">
              <div class="col-md-12">
        
                <div class="panel panel-default CusConsig" v-for="CommitedReqDate in orderline.Extn.PastOrderLineCommitmentGroup" >
                
                  <div  class="panel-heading " role="tab" id="heading">
                    <h4 class="panel-title clearfix">
                      <a  role="button" class="accordian-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}"    aria-expanded="false" aria-controls="collaps">
                        {{getValue(CommitedReqDate, "CommitRequestDate")}}
                      </a>
                    </h4>
    </div>
               
                    
                  <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                    <div class="panel-body">
                      <table id="" class="table table-striped table-hover dataTable f-12" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                  <thead>

                    <tr role="row">
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" style="
    width: 150px !important;">Schedule</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" style="
    width: 300px !important;">Committed Date </th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd" v-for="schedule in CommitedReqDate.PastCommitmentList">
                      <td>{{schedule.ScheduleNo}}</td>
                      <td class="">{{schedule.CommitDeliveryDate|datefilter}}</td>
                      <td class="">{{schedule.CommittedQuantity}}</td>
                    </tr>
                  </tbody>
                 </table>
                     </div>
                  </div>
                      
                </div>
                
                       </div>
              </div>
            </div>
  </div>
</div>
  

  </div>
</div>
</div>
<div class="modal-footer">
  <div>{{errorMessage}}</div>
 <!-- <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="apply()" v-show="canSave()">Apply</button>-->
  <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Close</button>
</div>
</template>

<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
  var GridUtils = require('./../utils/gridutils.js')
   import EventBus from './../utils/eventbus.js';
  export default {
    props: {
      orderline: Object
    },
    data: function () {
    //  var errorMessage = ""
       var schedules = []
        var datagrid = []
         var exportColumns = [
         {'Label':'Schedule Number','Binding':'ScheduleNo'},
         {'Label':'Commit Delivery Date','Binding':'CommitDeliveryDate'},
         {'Label':'Committed Quantity','Binding':'CommittedQuantity'},
         {'Label':'Is Active','Binding':'IsActive'},
         {'Label':'Commit Request Date','Binding':'CommitRequestDate'}
         ]
   //  var newSchedule = this.getNewSchedule()
      return {
     //   errorMessage: errorMessage,
          schedules:schedules,
          datagrid:datagrid,
          exportColumns:exportColumns
   //     newSchedule: newSchedule,
      }
    },
    methods: {
     getValue: function(data, binding) {
        return Utils.getValue(data,binding)
      },
         csvexport: function(data){
            var self = this
           
    
        var CommitScheduleArray = self.orderline.Extn.OrderLineCommitmentList.OrderLineCommitment
         var CommitHistoryArray = self.orderline.Extn.PastOrderLineCommitmentGroup
         
           for (i = 0; i < CommitScheduleArray.length; i++) {
            var temp = new Object();
            temp.ScheduleNo= CommitScheduleArray[i].ScheduleNo
         temp.CommitDeliveryDate= CommitScheduleArray[i].CommitDeliveryDate
           temp.CommittedQuantity= CommitScheduleArray[i].CommittedQuantity
            temp.CommitRequestDate= CommitScheduleArray[i].CommitRequestDate
           temp.IsActive= CommitScheduleArray[i].IsActive
              self.datagrid.push(temp);
           console.log(self.datagrid);
         }
          for (i = 0; i < CommitHistoryArray.length; i++) {
           var requestdate=CommitHistoryArray[i].CommitRequestDate 
 
            var temparray=CommitHistoryArray[i].PastCommitmentList
            for (i = 0; i < temparray.length; i++) {
              var temp={}
             temp.CommitRequestDate=temparray[i].CommitRequestDate 
             temp.CommitDeliveryDate= temparray[i].CommitDeliveryDate 
            temp.CommittedQuantity= temparray[i].CommittedQuantity 
              temp.IsActive= temparray[i].IsActive 
              temp.ScheduleNo= temparray[i].ScheduleNo
             self.datagrid.push(temp);
         }


}
      var ReportTitle = 'Commitment Reports';
    var CSV = Utils.convertJSONToCSV(self.datagrid, self.exportColumns, ReportTitle, true);
   var getTitle = Utils.exportTitle(ReportTitle);
    var fileName = "";

    fileName += getTitle.replace(/ /g,"_");   

    var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);

    var link = document.createElement("a");    
    link.href = uri;

    link.style = "visibility:hidden";
    link.download = fileName + ".csv";

    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    EventBus.$emit('Basicjob', {'jobname': fileName, 'JobType':'basicexport'});        
       
        



     },
      cancel: function() {
        this.$dispatch('cancel')
      },
      apply: function() {
        this.$dispatch('apply',true)
      }
    }
     ,
    computed: {
      committedQuantity: function() {
        var schedules = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        if(!schedules) {
          return 0
        }
        var committedQuantity = 0
        schedules.forEach(function (schedule) {
          committedQuantity += Number(schedule.CommittedQuantity)
        })
        return committedQuantity
      },
     commitedDate:function(){
             var schedule = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
             var maxSchedule
             var date
        if(schedule && schedule.length > 0 ) {
                var maxDate = function(maxObj,currObj) {
                    if(maxObj.CommitDeliveryDate > currObj.CommitDeliveryDate)  {
                        return maxObj
                    } else {
                        return currObj
                    }
                } 
                if(schedule.length > 1) 
                {
                    maxSchedule=schedule.reduce(maxDate,schedule[0])
                    date= maxSchedule.CommitDeliveryDate
                } else {
                    date=schedule[0].CommitDeliveryDate
                }
            
           return date     
        }
        return date
        }
        
    }
  }
</script>
