<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->




<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="close()" title="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Select Address</h4>
          </div>
<div class="col-md-12">
<div class="ContainerHgt">                    
    <ul class="list-unstyled AddCtrl">
    <li class="col-md-3 ContentAdd" v-for=" (index, row ) in currentList" >
        <div class="ContentAddress">
        <div class="pull-left"> <input class="rad"  id="selrow{{index}}" type="radio" name="radio" 
                value="{{row.CustomerID}}" v-model="selectItem" v-on:click="clickId(index)" >&nbsp;&nbsp;&nbsp;
        </div> 
                        
    <!--    <div class="pull-left"> <input  id="selrow{{index}}" type="radio" name="radio" 
                value="{{row.Consumer.BillingPersonInfo.FirstName}}" v-model="selectItem" >&nbsp;&nbsp;&nbsp;
        </div> -->
        <div class="pull-left">
            <p>{{row.Consumer.BillingPersonInfo.FirstName}}  </p>
            <p>{{row.Consumer.BillingPersonInfo.City}}  </p>             
            <p>{{row.Consumer.BillingPersonInfo.State}} {{row.Consumer.BillingPersonInfo.ZipCode}} </p>
        </div>

  <div class="clearfix"></div>
        
      </li>
 
      </ul>
    
    </div>
</div>
              
      
   
       <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="close()" title="Apply">Apply</button>
               <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" title="Close">Close</button>
          </div>
       
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
    //    adrlist: {type: Array},
    //    addtype: {type: String},
    //    lastadrobj: {type: Object} 
         
       },    


    data: function () {
        
        var costCenterInput ={
         'OrgCode':'','OrgLevel':'','OrgType':''    
        }
        var itemList = []
        var SelectedItem = ''
        
        var btnSelected= true
         
        var currentIndex = 0
        var currentSelected = {}
        
        var currentList= []
        
       var columns =[ 'OrgCode','OrgLevel','OrgType']
       var gmeta = {}
       var showMore =false
       GridUtils.populateGridMeta(gmeta, columns, false)
       var gridData = [];
    //   var SelectItem=[];
       var DispatchItem = [];
       var showMore =false;
        
       var selectItem=""  
       var addtype=""
        
      return {
          costCenterInput:costCenterInput,
          itemList: itemList,
          columns:columns,
          gmeta:gmeta,
          gridData:gridData,
          selectItem:selectItem,
          DispatchItem:DispatchItem,
          
          btnSelected:btnSelected,
          currentIndex:currentIndex,
          currentSelected:currentSelected,
          currentList:currentList,
          
          addtype:addtype
          
      }

    },
        
    ready: function(){
            var self=this  
          
          
      //    debugger; 
     
      },

    route: {
        data: function (transition) {
            
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	   }
    },

    methods: {
        close: function (){
            var self= this;
            var Search = [];
            Search['CustomerID'] = self.selectItem
            
            var obj= []  
            obj = this.$options.filters.gridfilter(this.currentList, Search, ['CustomerID'],[]);
                      
            var addDtl= {} 
            addDtl.addType= this.addtype
            addDtl.addProj= obj[0]
                                
            self.$dispatch('modifiedaddress',addDtl)
         
            
        },      
        
         getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
    
         manipulateAddressList: function(){
            var self= this
            debugger; 
            self.currentList= self.adrlist
            self.selectItem= self.currentList[0].CustomerID
            
            //this. lastadrobj
        },
       
        clickId:function(index){
         $( ".ContentAddress" ).removeClass("selected");
          var self = "#selrow" + index;
        $(self).closest(".pull-left").closest(".ContentAddress").addClass( "selected" );
      
        }
    },
        
     computed: {
       
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
         
    },  
    events:{
       SelectedAddressEvent: function(event){
           event.preventDefault;
           var self= this
           self.currentList= event.selectAdrList;
           self.addtype=event.addType
           self.selectItem= event.selectedCustomer
       }   
    },    
    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
    watch: {
        
   //  'adrlist' : 'manipulateAddressList'
     
     }
   // Chart re-vamp code end

    }

    </script>


