<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is a modal dialog used in Edit Order to display the added addresses
     ***************************************************************************-->




<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="close()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Select Address</h4>
          </div>
<div class="col-md-12">
 <div class="ContainerHgt">                  
    <ul class="list-unstyled AddCtrl">
    <li class="col-md-3 ContentAdd" v-for=" (index, row ) in currentList" >
        
<div class="ContentAddress">
        <div class="pull-left radioCls"> <input  id="selrow{{index}}" type="radio" name="radio" 
                value="{{row.PersonInfo.PersonInfoKey}}"  v-model="selectItem" v-on:click="clickId(index)">&nbsp;&nbsp;&nbsp;
        </div> 
                        
       <div class="pull-left DetailsCls">
            <p>{{row.PersonInfo.FirstName}}  </p>
            <p>{{row.PersonInfo.City}}  </p>             
            <p>{{row.PersonInfo.State}}  </p>
             <p>{{row.PersonInfo.ZipCode}}  </p>
        </div>
</div>
       <div class="clearfix"></div>
        
      </li>
 
      </ul>
    
    </div>
</div>
   <div class="clearfix"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="close()">Apply</button>
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="dummy()">Close</button>
      </div>
       
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
         
       },    


    data: function () {
        var itemList = []
        var SelectedItem = ''
        
        var currentList= []
        
       var gridData = [];
       var selectItem=""  
       var addtype=""
        
      return {
         itemList: itemList,
          gridData:gridData,
          selectItem:selectItem,
          currentList:currentList,
          
          addtype:addtype
          
      }

    },
        
    ready: function(){
  
      },

    route: {
        data: function (transition) {
            
        }
    },
 
    methods: {
        close: function (){
           var self= this;
            
            
            var Search = [];
            Search['PersonInfoKey'] = self.selectItem
            
            var obj= []  
            obj = this.$options.filters.gridfilter(this.currentList, Search, ['PersonInfo.PersonInfoKey'],[],true);
                      
            var addDtl= {} 
            addDtl.addType= this.addtype
            if(obj && obj.length > 0) {
                addDtl.addObj = obj[0]    
            } else {
                addDtl.addObj = {}
            }
            
                                
            self.$dispatch('modifiedaddress',addDtl)
       },


        clickId:function(index){
         $( ".ContentAddress" ).removeClass("selected");
          var self = "#selrow" + index;
   $(self).closest(".pull-left").closest(".ContentAddress").addClass( "selected" );
      
        }
    },
        
     events:{
       SelectedAddressEvent: function(event){
           event.preventDefault;
           var self= this
           self.currentList= event.selectAdrList;
           self.addtype=event.addType
           self.selectItem= event.selectedCustomer
       }   
    },    

    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
    watch: {
    }
  
    }

    </script>


