<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying vendor details
     ***************************************************************************-->

<template>
<div>
     
      <div class="container-fluid CustomHgt">
      <div class="row ">
        <div class="col-md-4">
            <div v-breadcrumb="true"></div>
        </div>
        <div class="col-md-8" v-if="true" >
          <div class="alert alert-danger alert-dismissible hidden" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
        </div>
      </div>
             
    
    </div>
        <div class="container-fluid">
         <div class="block  clearfix">
      <h5 class="pull-left">Vendor Details </h5>
   
     <!--<div class="pull-right">
      
        <div class="btn btn-default SecondaryBtn" v-on:click="saveVendorDetails">Save</div>
        <div class="btn btn-default SecondaryBtn">Cancel</div>

    </div>-->
    </div> 
    </div>
       <div class="container-fluid">
        
        <div class="block"  v-if="contactDeleted" >
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> </strong> The selected contact has been deleted successfully. 
          </div>
       </div>
           
        <div class="block"  v-if="contactSaved" >
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> </strong> The Vendor details has been saved successfully. 
          </div>
       </div>
           
        <div class="block"  v-if="apierror" >
          <div class="alert alert-danger" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
           
   
    <div class="panel panel-default">
       <div class="panel-heading">Company Details</div>
       <div class="panel-body">
         <div class="m-t-10"></div>
         <div class="row">
              
    
               <div class="col-md-4">
                       
            <div class="form-group clearfix">
               <label for="" class="col-sm-6 control-label">Vendor ID</label>
               <div class="col-sm-6">
              {{Vendor.VendorID}}
               </div>
            </div>
 
            <div class="form-group clearfix">
               <label for="" class="col-sm-6 control-label">Vendor Name</label>
               <div class="col-sm-6">
              {{Vendor.Extn.ExtnVendorName}}
               </div>
            </div>
 
            <div class="form-group clearfix">
               <label for="" class="col-sm-6 control-label">Company</label>
               <div class="col-sm-6">
                {{getValue(Vendor,"SellerOrganization.OrganizationName")}}
               </div>
            </div>
                     
             <div class="form-group clearfix">
                  <label for="" class="col-sm-6 control-label">Contact Name</label>
               <div class="col-sm-6">
                {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.FirstName")}}
                  </div>              
            </div>
  
                   <div class="form-group clearfix">
                  <label for="" class="col-sm-6 control-label">Website</label>
                  <div class="col-sm-6">
                      {{getValue(Vendor,"SellerOrganization.CorporatePersonInfo.HttpUrl")}}
                  </div>              
                  </div>
              
    </div>   
               <div class="col-md-4">
                   <div class="AddressContainer">
                        <h6>Vendor Attributes 
                            <span class="pull-right" v-if="hasPermission('GPSSPVEN0001A01')" >
                     <button class="btn btn-default SecondaryBtn AlignButton"  title="" v-on:click="saveVendorDetails()" >Save</button>                      
                            </span>
                        </h6>
                       
                <div class="form-group clearfix">
                  <label for="" class="col-sm-6 control-label">Is Active</label>                  
                    <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                                   <input type="checkbox"  v-model="Vendor.Extn.ExtnIsVendorActiveFlag" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                                </label>
                            </div>
                    </div>
                </div>
                       
                       
                   <div class="form-group clearfix">
                  <label for="" class="col-sm-6 control-label">Commitment</label>
                  <div class="col-sm-6">
                      <div class="checkbox">
                          <label>             
                                <input type="checkbox"  v-model="Vendor.SendsCommitment" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo" checked="checked" >
                        </label>
                      </div>
                  </div>
                </div>

                 
               <div class="form-group clearfix">
                  <label for="" class="col-sm-6 control-label">Sends ASN</label>                  
                    <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                                   <input type="checkbox"  v-model="Vendor.SendsAsn" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo" checked="checked">
                                </label>
                            </div>
                    </div>
                </div>
    
                   
               <div class="form-group clearfix">
                  <label for="" class="col-sm-6 control-label">Inventory Published</label>                  
                    <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                                    <input type="checkbox"  v-model="Vendor.SellerOrganization.InventoryPublished" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                            </label>
                              
                            </div>
                    </div>
                </div>
  
                <div class="form-group clearfix">
                  <label for="" class="col-sm-6 control-label">Vendor uses Vendor Portal</label>                  
                    <div class="col-sm-6">
                          <div class="checkbox">
                            <label>
                                   <input type="checkbox"  v-model="Vendor.VendorClassificationCode" v-bind:true-value="VendorYes" v-bind:false-value="VendorNo">
                                </label>
                            </div>
                    </div>
                </div>
  
    </div>
          
    </div>        <div class="col-md-4">
             <div class="AddressContainer">
                  <span class="pull-right" v-if="hasPermission('GPSSPVEN0001A03')">
                        <button class="btn btn-default SecondaryBtn AlignButton" data-toggle="modal" data-backdrop="static" data-target="#vendoraddressdetails" 
                                   v-on:click="startAddressEdit">Edit</button> 
                    </span>
                    <addressdetails
                                 :addressdetails= "corporatePersonInfoAddress"
                                 :addresslabel="'Corporate Address'"
                                 >
                         </addressdetails>
                 
               </div>
             </div>
                     
    </div>
       </div>
     </div>
    
           <div class="panel panel-default">
                <div class="panel-heading">Contact Information
                    <span v-if="hasPermission('GPSSPVEN0001A02')" >
                        <a class="btn btn-default SecondaryBtn pull-right" data-toggle="modal" data-backdrop="static" data-target="#vendorContact" data-backdrop="static" title="Add Contact Details" v-on:click="addNewContact()">Add Contact</a>
                    </span>
                </div>
               <div class="clearfix"></div>
                    <div class="panel-body">
                    <div class="m-t-10"></div>
                        <div class="row AddressCtrl">
  
                            <div class="col-md-4" v-if="primaryContact">
                                 <div class="AddressContainer">
                                <h6> Primary Contact 
                                    <div class="pull-right">
                                        <a class="btn btn-default SecondaryBtn" v-if="hasPermission('GPSSPVEN0001A03')" data-toggle="modal" data-backdrop="static" data-target="#vendorContact" title="Contact Details" v-on:click="startVendorContactEdit(primaryContact, $index, 'Y')">Edit</a>
                                        
                                        <a class="btn btn-danger SecondaryBtn" v-if="hasPermission('GPSSPVEN0001A04')" disabled >DELETE</a> 
                                        
                                    </div>
                                </h6>
                                   <div class="AddressInside">  
                                <div class="form-group clearfix">
                                   <label for="" class="col-sm-4 control-label">Contact ID</label>
                                   <div class="col-sm-8 control-label">
                                     {{getValue(primaryContact,'VendorContactID')}}  
                                   </div>
                                </div>
                                               
                                <div class="form-group clearfix">
                                   <label for="" class="col-sm-4 control-label">Name</label>
                                   <div class="col-sm-8">
                                     {{getValue(primaryContact,'FirstName')}}  {{getValue(primaryContact,'LastName')}}
                                   </div>
                                </div>

                                <div class="form-group clearfix">
                                    <label for="" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        {{getValue(primaryContact,'EmailID')}}
                                    </div>
                                </div>

                                <div class="form-group clearfix ">
                                    <label for="" class="col-sm-4 control-label">Phone</label>
                                    <div class="col-sm-8">
                                        {{getValue(primaryContact,'DayPhone')}}
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix">
                                    <label for="" class="col-sm-4 control-label">Mobile Phone</label>
                                    <div class="col-sm-8">
                                        {{getValue(primaryContact,'MobilePhone')}}
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>            
                    <!--<div v-for="vendorContact in vendorContactList | filterBy 'N' in 'IsPrimary' " >-->
                        <div v-for="vendorContact in additionalContactList " >
                        
                            <div class="col-md-4">
                                 <div class="AddressContainer">
                                <h6> Additional Contact 
                                        <div class="pull-right">
                                            <a class="btn btn-default SecondaryBtn" data-toggle="modal" v-if="hasPermission('GPSSPVEN0001A03')" data-backdrop="static" data-target="#vendorContact" title="Contact Details" v-on:click="startVendorContactEdit(vendorContact, $index, 'N')">Edit</a>
                                            
                                               <a class="btn btn-danger SecondaryBtn" v-if="hasPermission('GPSSPVEN0001A04')" data-toggle="modal" data-backdrop="static" data-target="#vendordeleteadrcontact" v-on:click="startVendorContactDelete(vendorContact, $index)">DELETE</a> 
                                        </div>
                                    </h6>
                                 <div class="AddressInside"> 
                                <div class="form-group clearfix">
                                   <label for="" class="col-sm-4 control-label">Contact ID</label>
                                   <div class="col-sm-8 control-label">
                                     {{getValue(vendorContact,'VendorContactID')}}  
                                   </div>
                                </div>
                                    
                                <div class="form-group clearfix">
                                   <label for="" class="col-sm-4 control-label">Name</label>
                                   <div class="col-sm-8">
                                     {{getValue(vendorContact,'FirstName')}}  {{getValue(vendorContact,'LastName')}}
                                   </div>
                                </div>

                                <div class="form-group clearfix ">
                                    <label for="" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        {{getValue(vendorContact,'EmailID')}}
                                    </div>
                                </div>

                                <div class="form-group clearfix ">
                                    <label for="" class="col-sm-4 control-label">Phone</label>
                                    <div class="col-sm-8">
                                        {{getValue(vendorContact,'DayPhone')}}
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix ">
                                    <label for="" class="col-sm-4 control-label">Mobile Phone</label>
                                    <div class="col-sm-8">
                                        {{getValue(vendorContact,'MobilePhone')}}
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>                                         
                </div>
                <div class="row" v-if="!vendorContactList">  <label for="" class="col-sm-6 control-label">No Contacts Added</label></div>
                <div class="m-t-10"></div>
            </div>
        </div>

        <div v-show="editingVendorDetails">
            <div class="modal fade" id="vendoraddressdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <vendoraddressdetails
                          :vendordetails="editingVendorDetails"
                          v-on:cancel="cancelAddressEdit()"
                          v-on:apply="saveAddressEdit()"
                          >
                        </vendoraddressdetails>
                        </div>

                    </div>
                </div>
            </div> 
          </div> 
         <div v-show="editingVendorContact">
            <div class="modal fade" id="vendorContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <vendorContact
                              :vendorcontact="editingVendorContact"
                              v-on:cancel="cancelVendorContactEdit()"
                              v-on:apply="saveVendorContactEdit()"
                              >
                            </vendorContact>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="deletingVendorContact">
            <div class="modal fade" id="vendordeleteadrcontact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <vendordeleteadrcontact
                              :vendorcontactdelete="deletingVendorContact"
                              v-on:cancel="cancelDeleteContact()"
                              v-on:delete="deleteVendorContact()"
                              >
                            </vendordeleteadrcontact>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    	<input class="hidden" value= {{$route.query.key}}  v-model="Vendor.VendorID " />
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Vendor Details')
    export default{

	  data: function () {          
          var Vendor= {'SellerOrganization':{'CorporatePersonInfo':{}},'Extn':{'ExtnIsVendorActiveFlag':''}};
          var editingVendorDetails = { 'SellerOrganization':{'CorporatePersonInfo':{}}};
          var editingVendorContact = {};
          var deletingVendorContact = {};
          var vendorContactList= [];
          var vendorContactInput= { 'VendorKey': '' };
          var origVendorDetails = {};
          var editingIndex = -1;
          var addingNewContact = false;
          var contactDeleted = false;
          var contactSaved = false;
          var PrimaryYes;
          var PrimaryNo;
          var VendorYes;
          var VendorNo;
          var corporatePersonInfoAddress={};
          var errorcode;
          var errordesc;
          var apierror=false;
          
          return{
                Vendor:Vendor,
                editingVendorDetails: editingVendorDetails,
                editingVendorContact:editingVendorContact,
                vendorContactList:vendorContactList,
                deletingVendorContact: deletingVendorContact,
                vendorContactInput:vendorContactInput,
                origVendorDetails: origVendorDetails,
                editingIndex: editingIndex,
                addingNewContact:addingNewContact,
                contactDeleted:contactDeleted,
                contactSaved:contactSaved,
                PrimaryYes:'Y',
                PrimaryNo: 'N',
                VendorYes: 'VENDOR_PORTAL',
                VendorNo:'N',
                corporatePersonInfoAddress:corporatePersonInfoAddress,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror
          }
        },
	  
      methods: {	  
            getValue: function(row, binding) {
                  return Utils.getValue(row,binding)
            },
          
            goBack: function () {
                window.history.go(-1)
            },
          
            startAddressEdit: function() {
                this.origVendorDetails = this.Vendor
                this.editingVendorDetails = JSON.parse(JSON.stringify(this.Vendor))
            },
          
            saveAddressEdit: function() {
                this.Vendor = this.editingVendorDetails;
                this.corporatePersonInfoAddress = this.editingVendorDetails.SellerOrganization.CorporatePersonInfo;
                this.origVendorDetails = null;
                this.saveVendorDetails();
            },
          
            cancelAddressEdit: function() {
                this.origVendorDetails = null                
            },
          
            saveVendorDetails: function(){
                var self = this
                var saveVendor = function(result) {
                    self.contactSaved = true;                                        
                    setTimeout(function(){self.contactSaved = false},Utils.getTimeOut())
                }                
                $log.info('Saving vendor details for vendor'+JSON.stringify(self.Vendor))
                Utils.executeDataService("manageVendor", saveVendor, self.Vendor, self.errorHandler);  
            },
          
            startVendorContactEdit: function(vendorcontact, index, disablePrimaryChkBox) {
                this.editingIndex = index 
                vendorcontact.disableChkBox = disablePrimaryChkBox;
                this.editingVendorContact = JSON.parse(JSON.stringify(vendorcontact))
            },
          
            saveVendorContactEdit: function() {
                
                if(this.addingNewContact){
                    this.addingNewContact = false; 
                    this.editingVendorContact.addingNewContact= false;
                    if(this.editingVendorContact.IsPrimary === 'Y'){
                        $log.info('New Contact is Primary')
                       this.removePrimary();
                       this.editingVendorContact.IsPrimary = "Y"
                    }
                    this.editingVendorContact.isAddedVendorObj=true;
                    if(!this.vendorContactList) {
                        this.vendorContactList = []
                    }
                    //$log.info('Adding new vendor contact'+JSON.stringify(this.editingVendorContact))
                    this.vendorContactList.push(this.editingVendorContact);
                    
                }else{                    
                    if(this.editingVendorContact.IsPrimary === 'Y'){
                        $log.info('Updating Contact to Primary')
                        this.removePrimary();
                        this.editingVendorContact.IsPrimary = "Y"
                    }
                    //this.editingVendorContact.framework = {}
                    this.editingVendorContact.isEdittedVendorObj=true;
                    
                    var index = -1;
                    for(var i=0; i< this.vendorContactList.length; i++){
                      if(this.vendorContactList[i].VendorContactID === this.editingVendorContact.VendorContactID){
                          index = i;
                          break;
                      }
                    }
                    if(index != -1) {
                        $log.info('Updating Vendor contact'+JSON.stringify(this.editingVendorContact))
                        this.vendorContactList.$set(index, this.editingVendorContact)
                    }
                    
                    this.editingIndex = -1 
                }                  
            },
          
            cancelVendorContactEdit: function() {
                this.editingIndex = -1
            },
          
            addNewContact: function(){
                this.editingVendorContact = this.getNewVendorContactObject();
                this.editingVendorContact.VendorKey = this.getValue(this.Vendor, "VendorID");
                this.editingVendorContact.addingNewContact= true;
                this.addingNewContact = true;
            },
          
            getNewVendorContactObject: function(){
              var vendorContactObj = {'VendorKey':'', 'FirstName': '', 'LastName':'', 'VendorContactID':'' ,'EmailID': '', 'DayPhone': '' , 'MobilePhone':'', 'IsPrimary':'N'};
              return vendorContactObj;
            },
          
            removePrimary: function(){
               var self = this;
               var  tempVendorContact={};
                var index = 0

                var editVendorContact = function(result) {
                        
                        self.vendorContactList.$set(index, tempVendorContact)
                }

                //Updating primary contact
                $log.info("Updating the existing primary contact")
                if(self.vendorContactList) {
                    for(var i=0; i< self.vendorContactList.length; i++) {
                        if(self.vendorContactList[i].IsPrimary === 'Y') {
                           tempVendorContact = JSON.parse(JSON.stringify(self.vendorContactList[i]))
                            index=i
                            //tempVendorContact = self.vendorContactList[i]
                            tempVendorContact.IsPrimary = 'N'
                            //Change api to update primary contact
                            Utils.executeDataService("changeVendorContact", editVendorContact, tempVendorContact, self.errorHandler);    

                        }
                    }
                }
            },
          
            startVendorContactDelete: function(vendorcontact, index) {
                //this.editingIndex = index                
                this.deletingVendorContact = JSON.parse(JSON.stringify(vendorcontact))
            },
          
            deleteVendorContact: function(){
                var self = this;
                var deleteVendorContact = function(result) {
                    self.contactDeleted = true;
                    var index = -1;
                    for(var i=0; i< self.vendorContactList.length; i++){
                      if(self.vendorContactList[i].VendorContactID === self.deletingVendorContact.VendorContactID){
                          index = i;
                          break;
                      }
                    }
                    if(index != -1) {
                        self.vendorContactList.splice(index, 1);
                    }
                    setTimeout(function(){self.contactDeleted = false},Utils.getTimeOut())
                }
                //$log.info('Deleting Vendor Contact')
                Utils.executeDataService("deleteVendorContact", deleteVendorContact, self.deletingVendorContact, self.errorHandler);
            },
          
            cancelDeleteContact: function(){
                
            },
          
            hasPermission:function(resourceId){                 
                return Utils.hasPermission(resourceId)
            },
          
            errorHandler : function(errorObj) {                
              var self = this;
              self.apierror = true              
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
            },
			getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			}
			
	   },  
	  
		  route: {
		      data: function (transition) {		
			     var self = this
                 
                 var loadVendorContacts = function(vendorContactsResult){
                     var success = function(result) {
			                transition.next({
                            Vendor: result,
                            vendorContactList: vendorContactsResult.VendorContact,
                            corporatePersonInfoAddress: result.SellerOrganization.CorporatePersonInfo
        			     })
			         }
                  Utils.executeDataService("vendordetails", success, self.Vendor, self.errorHandler);
                 }
                self.vendorContactInput.VendorKey = self.getValue(self.Vendor, "VendorID");
		       Utils.executeDataService("vendorContactList", loadVendorContacts, self.vendorContactInput, self.errorHandler);  
   	        
    	}
	  },
	  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
        
      computed: {
        primaryContact: function () {
            var self=this;
            var primary; 
            if(self.vendorContactList){
            for(var i=0; i< self.vendorContactList.length; i++){
                  if(self.vendorContactList[i].IsPrimary === 'Y') {                      
                      return  self.vendorContactList[i];
                    }
            }
          }
            
        },
        
        additionalContactList: function(){
            var self=this;
            var list=[];
            if(self.vendorContactList){
            for(var i=0; i< self.vendorContactList.length; i++){
              if(self.vendorContactList[i].IsPrimary === 'N') {
                  list.push(self.vendorContactList[i]);
              }
            }
            }
            return list;
        }
      }
    
}

</script>