<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying vendor list 
     ***************************************************************************-->

<template>
<div>
          <div id="header"></div>
       <div class="container-fluid CustomHgt">
      <div class="row ">
        <div class="col-md-4">
            <div v-breadcrumb="true"></div>
        </div>
        <div class="col-md-8">
          <div class="alert alert-danger alert-dismissible hidden" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
        </div>
      </div>
             </div>
       <div class="container-fluid" cz-shortcut-listen="true">
           <div class="block  clearfix">
               
            <div class="block"  v-if="apierror" >
              <div class="alert alert-danger" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
              </div>
            </div>
               
      <h5 class="pull-left">Vendors</h5>
   
    </div>
           
    <div class="panel panel-default">
      <div class="panel-heading">  <div class="col-md-5  cal-box">
                  Show <select class="select-style form-control" >
                         <option selected="ALL">ALL</option>
                        </select>
                      <button class="btn btn-default" @click="showSearch=!showSearch">
                         <div class=""><i class="fa fa-search-plus" aria-hidden="true" ></i></div>
                        </button>
                </div><div class="pull-right">
                         
                        </div>
                </div>
            <validator name="vdrformvalidation"> 
            <form  v-if="showSearch" v-on:submit.prevent.stop="vendorSearch" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="adavanceSearch">Advanced Search</h4>
                                    </div>
                                 
                                    <div class="col-md-12">
                                                   
                                                        <div class="form-group col-md-3">
                                                            <label for="company">Vendor Code</label>
                                                            <input type="text" class="form-control" placeholder="Vendor Code Starts With.."  v-model="vendorSearchModel.VendorID" autocomplete="off" title="Enter the unique identifier of the vendor">
                                                        </div>
                                        
                                                        <div class="form-group col-md-3">
                                                            <label for="company">Vendor Name</label>
                                                            <input type="text" class="form-control" placeholder="Vendor Name Contains.."  v-model="vendorSearchModel.Extn.ExtnVendorName" autocomplete="off" title="Enter the name of the vendor">
                                                        </div>
                                        
                                                         <div class="col-md-3">           
                                                            <div class="form-group">
                                                                <label for="alertStatus">Vendor Active</label>
                                                                 <select class="form-control" v-model="vendorSearchModel.Extn.ExtnIsVendorActiveFlag" title="Select the Vendor Active Status">
                                                                    <option value="Y" >Active</option>
                                                                    <option value="N" >Inactive</option>
                                                                    <option value="" >All</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                         <div class="form-group col-md-3">
                                                            <label for="company">Maximum Records Fetched</label>
                                                            <input type="text" class="form-control" id="vdrmaxrecords" placeholder="Maximum Records"  v-model="vendorSearchModel.MaximumRecords" autocomplete="off" min="1" max="500" v-validate:vdrmaxrecords="{ required:true, min:1, max: 500, customMaxValidator:true}" title="Enter the maximum number of records to be retrieved">
                                                        <p class="help-block" v-if="$vdrformvalidation.vdrmaxrecords.required || $vdrformvalidation.vdrmaxrecords.min || $vdrformvalidation.vdrmaxrecords.max || $vdrformvalidation.vdrmaxrecords.customMaxValidator">{{getMessage('MAX_RECORDS') }}</p>     
                                                        </div>
                                      
                                                </div>
                                    
                                    <div class="clearfix"></div>
                                                               <div class="col-md-2 pad-left-20 pull-right">
                <button type="submit" class=" col-md-3 btn btn-primary btn-block"  title="Search">Search</button>
              </div>    
                                </div>
                                   <br> 
                                
                            </form>
            <div class="clearfix"></div>
     <div class="panel-body">

      <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
     <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                    
           <thead>
                <tr role="row">
                  <th class="" style="width: 20px;">  </th>
                    
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('VendorID')" :class="{active: gmeta.sort.key == 'VendorID'}" title="Unique identifier of the Vendor">Vendor Code      
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['VendorID'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>
                    
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Extn.ExtnVendorName')" :class="{active: gmeta.sort.key == 'Extn.ExtnVendorName'}" title="Name of the Vendor">Vendor Name      
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Extn.ExtnVendorName'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>
                    
                    
                              <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SellerOrganization.OrganizationName')" :class="{active: gmeta.sort.key == 'SellerOrganization.OrganizationName'}" title="Company Name of the Vendor">Company
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.OrganizationName'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                                  </th>
                    
                    
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SellerOrganization.CorporatePersonInfo.HttpUrl')" :class="{active: gmeta.sort.key == 'SellerOrganization.CorporatePersonInfo.HttpUrl'}" title="Website of the Vendor">Website
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.CorporatePersonInfo.HttpUrl'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SellerOrganization.CorporatePersonInfo.FirstName')" :class="{active: gmeta.sort.key == 'SellerOrganization.CorporatePersonInfo.FirstName'}" title="Contact Name of the Vendor">Contact Name
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.CorporatePersonInfo.FirstName'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
          <!--         <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SellerOrganization.CorporatePersonInfo.MobilePhone')" :class="{active: gmeta.sort.key == 'SellerOrganization.CorporatePersonInfo.MobilePhone'}">Contact Number
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.CorporatePersonInfo.MobilePhone'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
  
    </th>          
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""  aria-sort="ascending"  @click="sortBy('SellerOrganization.CorporatePersonInfo.EMailID')" :class="{active: gmeta.sort.key == 'SellerOrganization.CorporatePersonInfo.EMailID'}">Contact EMail ID
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.CorporatePersonInfo.EMailID'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
    </th>-->
                    
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Extn.ExtnIsVendorActiveFlag')" :class="{active: gmeta.sort.key == 'Extn.ExtnIsVendorActiveFlag'}" title="Shows if the vendor is active" style="min-width: 80px;">Is Active
    
                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Extn.ExtnIsVendorActiveFlag'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
                    </th>
                           <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SellerOrganization.InventoryPublished')" :class="{active: gmeta.sort.key == 'SellerOrganization.InventoryPublished'}" title="Shows if the vendor tracks inventory" style="min-width: 65px;">Owns<br> Inventory
    
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SellerOrganization.InventoryPublished'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
    </th>
                    
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SendsCommitment')" :class="{active: gmeta.sort.key == 'SendsCommitment'}" title="Shows if the vendor provides commitment" style="min-width: 80px;">Provides<br> Commitment
    
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SendsCommitment'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
    </th>
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SendsAsn')" :class="{active: gmeta.sort.key == 'SendsAsn'}" title="Shows if the vendor provides/sends ASN" style="min-width: 65px;">Provides<br> ASN
     <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SendsAsn'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    
    
    </th>
                  
                 
                </tr>
                
              </thead>
                  <tbody v-if="showMask || $loadingRouteData" class="table-spinner"><tr class="loader"></tr></tbody>   
				<tbody v-if="!$loadingRouteData && !showMask">
                      <!-- defining v-model for filter inputs across columns   -->
                    <tr>
                         <td class="center-filter">
                                <div class="glyphicon glyphicon-filter"></div>
                            </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.VendorID" title="Unique identifier of the Vendor"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.Extn.VendorName" title="Name of the Vendor"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.SellerOrganization.OrganizationName" title="Company Name of the Vendor"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.SellerOrganization.CorporatePersonInfo.HttpUrl" title="Website of the Vendor"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.SellerOrganization.CorporatePersonInfo.FirstName" title="Contact Name of the Vendor"> </td>
          
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                      <tr v-show="!gridData">
                          <td colspan="10" > <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                    </tr>

                    <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                        v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                               | gridfilter gmeta.filter columns
                               | paginate " >
						
                        <td>  </td>
                        <td><a v-link="{ path: '/vendordetails',query:{key:row['VendorID']}}"> {{getValue(row, "VendorID")}}  </a>   </td>
                        <td> {{getValue(row, "Extn.ExtnVendorName")}}     </td>
                         <td> {{getValue(row, "SellerOrganization.OrganizationName")}}     </td>
                        <td> {{getValue(row, "SellerOrganization.CorporatePersonInfo.HttpUrl")}}     </td>
                        <td> {{getValue(row, "SellerOrganization.CorporatePersonInfo.FirstName")}}     </td>
                   
                        <!-- v-if for the boolean value image   -->
                         <td style="text-align: center;"> 
                            <span v-if="getValue(row, 'Extn.ExtnIsVendorActiveFlag') === 'Y'">
				                <i class="glyphicon glyphicon-ok"></i>	
							</span>
							<span v-else>  
				       	        <i class="glyphicon glyphicon-remove"></i>		                  
 						     </span> 
                         </td>
                        
                         <td style="text-align: center;">  
                            <span v-if="getValue(row, 'SellerOrganization.InventoryPublished') === 'Y'">
				                <i class="glyphicon glyphicon-ok"></i>	
							</span>
							<span v-else>  
				       	        <i class="glyphicon glyphicon-remove"></i>		                  
 						     </span> 
                         </td>
                        
                        
                        
                        <td style="text-align: center;"> 
                            <span v-if="getValue(row, 'SendsCommitment') === 'Y'">
				                <i class="glyphicon glyphicon-ok"></i>	
							</span>
							<span v-else>  
				       	        <i class="glyphicon glyphicon-remove"></i>		                  
 						     </span> 
                         </td>
                        
                         <td style="text-align: center;"> 
                            <span v-if="getValue(row, 'SendsAsn') === 'Y'">
						     	<i class="glyphicon glyphicon-ok"></i>	
							</span>
							<span v-else>  
				       	        <i class="glyphicon glyphicon-remove"></i>		                  
 						    </span> 
                        </td>
                      
					</tr>
				</tbody>
                    
                    
                    
 
             </table>
                <div class="m-t-10" v-if="!$loadingRouteData">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
                
          </div>

        </div>
      </div>
    </div>
    </div>
      </div>

        <div class="modal fade" id="inv-browse-asn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>
   
        <div class="modal fade" id="shipping-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         
        </div>
      </div>
    </div>
    </div>
</template>
<script>
	var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)

	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
	export default {
	
	 props: {
    data: Array
	
	        },
	  data: function () {
            var filterKey="Y";
            var errorcode;
            var errordesc;
            var apierror=false;
        var vendorSearchModel = {
            'VendorId': '',
                'MaximumRecords': '100',
                'Extn':{'ExtnIsVendorActiveFlag':'Y','ExtnVendorName':''}
         }  
     
            var columns =['VendorID','SellerOrganization.OrganizationName','SellerOrganization.CorporatePersonInfo.HttpUrl','SellerOrganization.CorporatePersonInfo.FirstName','SellerOrganization.InventoryPublished','SendsAsn','SendsCommitment','Extn.ExtnIsVendorActiveFlag','Extn.ExtnVendorName']
            var gmeta = {};
            var showSearch =false;
            GridUtils.populateGridMeta(gmeta, columns, false);
	  	    var gridData = [];
	        var showMask = false;
          
	    return {
            vendorSearchModel:vendorSearchModel,
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch,    
            gmeta: gmeta,
                showMask:showMask,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror
	       }
      },

	route: {
		data: function (transition) {
		      var self=this
		       var success = function(result) {

					transition.next({
						gridData : result.Vendor
					})
				}
                if(self.vendorSearchModel.MaximumRecords===''){
                       self.vendorSearchModel.MaximumRecords='100';
                   }
				Utils.executeDataService("vendorList", success, self.vendorSearchModel,self.errorHandler);
		}
    },	

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
                return GridUtils.paginate(this.gmeta, list)
	   	}
    }
  ,   
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },


    vendorSearch: function(event) {
	        event.preventDefault()

        if(this.$vdrformvalidation.valid){         

	        var self = this

			var success = function(result) {

                self.showMask=false
    			self.gridData = result.Vendor 
				self.showSearch=false
			}
            self.showMask=true
            if(self.vendorSearchModel.MaximumRecords===''){
               self.vendorSearchModel.MaximumRecords='100';
            }
                var res = self.vendorSearchModel.Extn.ExtnVendorName.toUpperCase();
                self.vendorSearchModel.Extn.ExtnVendorName = res;
                Utils.executeDataService("vendorList", success, self.vendorSearchModel, self.errorHandler);
          }
              GridUtils.clearMetaPagination(this.gmeta, this.columns);
        },

         errorHandler : function(errorObj) {
              var self = this;
              self.apierror = true
              self.showMask=false;
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
	      },
		getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		}
      },
        
    validators:{
            customMaxValidator:function(val){
                return /^([1-9]\d*)$/.test(val);
            }  

       },
        
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
</script>
