<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying address details
     ***************************************************************************-->
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Contact Details</h4>
    </div>
    
    <div class="modal-body address-modal-body">
          <div class="row">
            <div class="address-modal-wrapper clearfix">
             <!-- <div class="m-t-5"><strong>Address Information</strong></div>-->

              <div class="col-md-12">
                Address Line 1 <input type="text" class="form-control block" v-model="vendordetails.SellerOrganization.CorporatePersonInfo.AddressLine1">
              </div>
              <div class="col-md-12">
                  Address Line 2 <input type="text" class="form-control block" v-model="vendordetails.SellerOrganization.CorporatePersonInfo.AddressLine2" >
              </div>
              <div class="col-md-12">
                Address Line 3 <input type="text" class="form-control block" value="" v-model="vendordetails.SellerOrganization.CorporatePersonInfo.AddressLine3">
              </div>
              <div class="col-md-6">
                Suburb <input type="text" class="form-control" v-model="vendordetails.SellerOrganization.CorporatePersonInfo.City">
              </div>
              <div class="col-md-6">
                State <input type="text" class="form-control" v-model="vendordetails.SellerOrganization.CorporatePersonInfo.State">
              </div>
              <div class="col-md-6">
                  Pin Code <input type="text" class="form-control" v-model="vendordetails.SellerOrganization.CorporatePersonInfo.ZipCode">
              </div>
              <div class="col-md-6">
                Country <input type="text" class="form-control" v-model="vendordetails.SellerOrganization.CorporatePersonInfo.Country">
              </div>                
            </div>
          </div>        
    </div>
    
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="saveVendorDetails()">Save</button>
    <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Cancel</button>
    </div>
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{
        
        props: {
          vendordetails: Object
        },

        data: function () { 
            
            return {
                
            }
        },
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
            
         cancel: function() {
            this.$dispatch('cancel')
         },
            
         apply: function() {
            this.$dispatch('apply')
         },
        
         saveVendorDetails: function(){
                var self = this                
                self.$dispatch('apply');     
         }
        },  
	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
}

</script>