.m-t-15 {
  margin-top: 15px;
}

.m-t-25 {
  margin-top: 25px;
}

.alert-success {
  color: $success-text;
  background-color: $success-background;
  border-color: $success-border;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.block {
  display: block;
}

a.m-t-10.block {
  padding-bottom: 0;
}
.link {
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
}

.row-border-bottom {
  border-bottom: 1px solid #ddd;

  .nav-justified li {
    border: none;
  }

  a.active {
    border-bottom: 1px solid #3b6caa;
  }
}

.p-10 {
  padding: 10px;
}

.m-l-30 {
  margin-left: -30px;
}

.w-500 {
  width: 500px;
}

.w-250 {
  width: 250px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-lg {
  background: #4178be;
}

.h-120 {
  height: 120px;
}

.h-30 {
  height: 30px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.quick-action-link {
  text-decoration: underline;
  font-size: 12px;
  display: block;
  margin-bottom: 2px;
}

.col-md-6 .panel-heading h5 {
  float: left;
  padding-top: 2px;
}

.status-pills p {
  font-size: 11px;
  padding-right:5px;
}
.status-number {
    padding-left: 10px !important;
    padding-top:7px !important;
    padding-bottom:11px !important;
}
.status-number {
  padding: 4px 3px;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  /* background: #f5f5f5; */
  text-align: left;
}

.pos-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.i-block {
  display: inline-block;
}

.add-report-block .plus-wrapper {
  text-align: center;
}

.p-l-0 {
  padding-left: 0;
}

.f-12 {
  font-size: 12px;
}

.h-243 {
  min-height: 243px;
}

.p-0-15 {
  padding: 0 15px;
}

.p-0-15 p {
  margin: 0;
}

.button-primary,
.pull-right .btn-default,
.pull-right .button-primary {
  margin-top: 0;
}

.default-anchor {
  text-decoration: inherit;
  color: initial;
}

.m-0 {
  margin: 0 !important;
}

.f-12 {
  font-size: 12px;
}

.f-11 {
  font-size: 13px;
}

.form-control {
  border-radius: 0;
  padding-left: 6px !important;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.h-20 {
  height: 20px;
}

.p-0 {
  padding: 0;
}

.alert-modal-label label {
  margin-right: 10px;
}

.label {
  text-transform: capitalize;
}


.alert-panel .link {
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 5px;
}

.alert-panel .link:hover {
  text-decoration: none;
}

.alert-panel.alert-large-box .alert {
  font-size: 12px;
  margin-bottom: 5px;
}

.alert-panel.alert-large-box .alert:nth-child(5) {
  margin-bottom: 40px;
}

.form-control.width-100 {
  margin-left: 2px;
    margin-bottom: 2px;
}

.watchlist-body .watchlist-item:nth-child(6) {
  margin-bottom: 9px;
}

.address-modal-wrapper {
  padding: 5px;
  border: 1px solid #ddd;
  margin: 5px 10px;
}

.address-modal-body {
  font-size: 13px;
}

.address-modal-body input[type="text"] {
  margin-bottom: 5px;
}

.inner-padding-labels-5 {
  padding: 5px;
  border: 1px solid #ddd;
}

.inner-padding-labels-5 input[type="text"] {
  margin-left: 5px;
}

.w-300 {
  width: 300px;
}

.f-12 {
  font-size: 12px;
}

.h-28 {
  height: 28px;
  line-height: 15px;
}

.row.top-bar-border.no-gutters {
  background-color: #E6E6E6;
  padding: 4px 0;
}

.taskbox li {
  margin-bottom: 2px;
  font-size: 13px;
}

.notification-block h5 {
  margin: 0 0 5px;
  font-weight: bold;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
}

.dashboard-row-one p {
  margin: 0;
}

.border-p-1 {
  padding: 5px;
  border: 1px solid #ddd;
}

select.form-control.m-t-5.p-0 {
  height: 24px;
}

.row-border-bottom.no-gutters {
  background: $HeaderBg;
}

.row.Cusspace.m-t-10 {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 6px;
}

.status-number {
  padding: 21px 0;
}

.status-number p {
}

.container-fluid.CustomHgt {
  margin-top: 95px;
}

ul.dropdown-menu {
  position: absolute;
  top: 35px;
  left: -67px;
  min-width: 175px;
  padding: 10px 5px;
  background: #fff;
}

.m-t-10.Cusbookad select.form-control {
  font-size: 12px;
  height: 31px;
  margin: 0;
}

.block .pull-right .btn.SecondaryBtn.button-primary,
.block .pull-right .btn.btn-default.SecondaryBtn {
  font-size: 12px !important;
  clear: both;
  padding: 4px 8px !important;
}

.block .btn.Primarytop.button-primary,
.block .btn.btn-default.Primarytop {
  font-size: 12px !important;
  font-weight: 700;
  padding: 4px 8px !important;
  color: #fff;
  border: 1px solid #4178be;
  border-radius: 0 !important;
  background: #4178be;
}

.block .btn.Primarytop.button-primary:hover,
.block .btn.btn-default.Primarytop:hover {
  border: 1px solid #325c80 !important;
  background: #325c80 !important;
}

.noteBody {
  overflow: auto;
  max-height: 200px;
    min-height: 192px;
}

.form-control.Comments {
  margin-bottom: 5px;
}
.status-number {
    padding-left: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #054f79;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #054f79;
}
.highlight-file {
    box-shadow: none;	
}
tr.odd {
    background: #f9f9f9;
}
tr.even {
    background: #fff !important;
}
tr.even:hover {
    background: #f9f9f9 !important;
}