body {
  font-size: 12px;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gray-darker;
    font-family: 'HelvRegularIBM', sans-serif !important;
}
h1, h2, h3, h4, h5, .h5 {
    font-size: 16px;
    font-family: 'HelvBoldIBM', sans-serif !important;
}
.box {
    border: 1px solid #ddd;
    position: relative;
}
.box .box-label {
    display: inline-block;
    position: absolute;
    top: -14px;
    background: #fff;
    padding: 2px 5px;
}
.box .glyphicon-plus {
    font-size: 28px;
    margin-top: 9px;
}
.box .panel-default > .panel-heading {
    background-color: #7cc7ff;
    border-color: #b6dfef;
}
.box .plus-wrapper {
    margin: 15px 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    background: #f5f5f5;
    cursor: pointer;
}
.box .plus-wrapper p {
    margin-top: 3px;
    font-size: 12px;
}
.box .plus-wrapper:hover {
    background: #fff;
}

.box {
  border: 1px solid #ddd;
  position: relative;
}

.box .box-label {
  display: inline-block;
  position: absolute;
  top: -14px;
  background: #fff;
  padding: 2px 5px;
}

.box .glyphicon-plus {
  font-size: 28px;
  margin-top: 9px;
}

.box .panel-default > .panel-heading {
  background-color: #7cc7ff;
  border-color: #b6dfef;
}

.box .plus-wrapper {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: inline-block;
  background: #f5f5f5;
  cursor: pointer;
}

.box .plus-wrapper p {
  margin-top: 3px;
  font-size: 12px;
}

.box .plus-wrapper:hover {
  background: #fff;
}