@mixin breakpoint($point) {
    @if $point == ipad {
        @media (max-width: 768px)  { @content; }
    }
    @else if $point == laptop {
        @media (max-width : 1224px) { @content; }
    }
    @else if $point == smartphone {
        @media (max-width : 321px) { @content; }
    }
    @else if $point { // allows custom breakpoints
        @media (max-width: $point) { @content; }
    }
    @else if $point-max { // allows custom breakpoints
        @media (max-width: $point-max) { @content; }
    }
     @else if $container-landing== container-landing { // allows custom breakpoints
        @media (min-width: 1080px ) { @content; }
    }
}



@media (min-width: 992px) {
  .modal-lg {
    width: 83%; 
    } 
}


@media (max-width: 420px) {
    .icon-pills-block [class^="flaticon-"]:before,
    .icon-pills-block [class*=" flaticon-"]:before,
    .icon-pills-block [class^="flaticon-"]:after,
    .icon-pills-block [class*=" flaticon-"]:after {
        font-size: 20px !important;
    }
}
@media (max-width: 420px) {
    .icon-pills-block .col-xs-3 {
        padding: 0;
        margin: 5px;
    }
}
@media (max-width: 420px) {
    .icon-pills-block .row {
        margin: 0 10px;
    }
}

@media (max-width: 1020px) {
    .panel-boxes.row {
        margin-right: -5px;
        margin-left: -5px;
    }
}
.panel-boxes .panel-body {
    min-height: 120px;
}
@media (max-width: 1020px) {
    .panel-boxes .panel-body {
        min-height: 150px;
    }
}
@media (max-width: 1020px) {
    .panel-boxes .col-sm-3 {
        padding-left: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 1020px) {
    .panel-body {
        padding: 5px;
    }
}

@media only screen and (max-width: 763px) {
    nav.navbar.navbar-default.cusBottom .container-fluid {
        padding-left: 15px !important;
    }
}