
	@font-face {
    font-family: 'HelvLightIBM';
    src: url("../fonts/HelvNeueLightforIBM.eot");
    src: url("../fonts/HelvNeueLightforIBM.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/HelvNeueLightforIBM.woff") format("woff"), 
        url("../fonts/HelvNeueLightforIBM.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal
}
@font-face {
    font-family: 'HelvRegularIBM';
    src: url("../fonts/HelvNeueRomanforIBM.eot");
    src: url("../fonts/HelvNeueRomanforIBM.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/HelvNeueRomanforIBM.woff") format("woff"), 
        url("../fonts/HelvNeueRomanforIBM.ttf") format("truetype"), 
        url("../fonts/HelvNeueRomanforIBM.svg#HelvNeueRomanforIBM") format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'HelvBoldIBM';
    src: url("../fonts/HelvNeueBoldforIBM.eot");
    src: url("../fonts/HelvNeueBoldforIBM.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/HelvNeueBoldforIBM.woff") format("woff"), 
        url("../fonts/HelvNeueBoldforIBM.ttf") format("truetype"), 
        url("../fonts/HelvNeueBoldforIBM.svg#HelvNeueBoldforIBM") format("svg");
    font-weight: bold;
    font-style: normal
}
						


h1,h2,h3,h4,h5,h6 {
    font-size: 16px;
    font-family: 'HelvBoldIBM', sans-serif !important;
}
.h5 {
    font-size: 16px;
    font-family: 'HelvBoldIBM', sans-serif !important;
}

body table,
.panel-body address,
.form-group,
span.form-inline-left,
a.accordian-toggle,
ul.nav.nav-tabs li a,
.badge {
  font-family: 'HelvRegularIBM', sans-serif !important; 
}

h5.pull-left {
  font-weight: bold;
  color: #6A7077;
}
.control-label, .alert-modal-label label, strong {
    font-weight: 500;
    font-family: 'HelvBoldIBM', sans-serif !important;
}
.panel-body h6 {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;  
    margin: -4px 0 0px 0;
     font-family: 'HelvBoldIBM', sans-serif !important;
}
