$gray-darker:#E6E6E6 !default; 
$success-text:#3c763d !default; 
$success-background:#dff0d8 !default; 
$success-border:#d6e9c6 !default;
/*Header*/
$HeaderBg:#008fe2 !default;
/*Button */
$BtnBg:#1f70c1 !default;
$BtnClr:#fff !default;
$BtnBlueClr:#4178be !default;
/*Icon */
$iconclr:#fff !default;
$HeaderIconBg:#1f70c1 !default;
/*H4*/
$Head4:#4678bc !default;
$Headerlinkclr:#fff !default;
/*Link*/
$linkActiveclr:#2790a2 !default;