.checkbox-block {
    margin-bottom: 0;
}
.checkbox-block li {
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    width: 100%;
    padding: 1%;
}
.checkbox-block [type="checkbox"]:checked,
.checkbox-block [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox-block [type="checkbox"]:checked + label,
.checkbox-block [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-weight: 500;
}
.checkbox-block [type="checkbox"]:checked + label:before,
.checkbox-block [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}
.checkbox-block .glyphicon-wrench {
    cursor: pointer;
}
.checkbox-block [type="checkbox"]:checked + label:after,
.checkbox-block [type="checkbox"]:not(:checked) + label:after {
    content: "\e013";
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all 0.2s;
    font-size: 12px;
}
.checkbox-block [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.checkbox-block [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.checkbox-block [type="checkbox"]:disabled:checked + label:before,
.checkbox-block [type="checkbox"]:disabled:not(:checked) + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
.checkbox-block [type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
.checkbox-block [type="checkbox"]:disabled + label {
    color: #aaa;
}
.checkbox-block [type="checkbox"]:checked:focus + label:before,
.checkbox-block [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}
.checkbox-block label:hover:before {
    border: 1px solid #4778d9 !important;
}
.checkbox-block .txtcenter {
    margin-top: 4em;
    font-size: 0.9em;
    text-align: center;
    color: #aaa;
}
.checkbox-block .copy {
    margin-top: 2em;
}
.checkbox-block .copy a {
    text-decoration: none;
    color: #4778d9;
}
.select-style.form-control {
    width: 115px;
    display: inline-block;
    padding: 0;
    height: 21px;
    font-size: 11px !important;
    font-weight: 500;
    margin-top: 2px;
}
ul.list-inline.list-unstyled {
    margin-bottom: 0;
}
ul.list-inline.list-unstyled li {
    padding-left: 0;
    padding-right: 0;
}
.modal .modal-title {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: #757575;
    margin-top: 1px;
}
.list-linked-modal {
    margin: 0;
    line-height: 21px;
    padding: 5px 0;
}
.list-linked-modal a {
    padding: 7px 0;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 0 2px 1px;
    color: #337ab7;
    font-weight: 500;
}
.list-linked-modal li {
    width: 100%;
}
.list-linked-modal li:last-child {
    width: 100%;
}
.list-linked-modal.ul {
    margin: 0;
}
.CusCommitment .col-xs-1,
form.form-inline.CusCommitment .control-label {
    padding-top: 0;
}
span.form-inline-left {
    padding-top: 0;
    display: block;
}
form.form-inline.Commitmentcls {
    margin: 0;
    margin-bottom:10px;
}
form.form-inline.Commitmentcls .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}
form.form-inline.Commitmentcls .form-control.pull-left {
    max-width: 140px;
}
form.form-inline.Commitmentcls button.btn.btn-info.addbtn {
    margin-left: 7px;
    height: 24px;
    padding-top: 2px;
}
form.form-inline.Commitmentcls .glyphicon.glyphicon-plus {
    padding: 0;
}
.form-inline.Commitmentcls .form-control {
    height: 24px;
    max-width: 173px;
}
form.form-inline.Commitmentcls .form-group {
    margin: 0;
}
form.form-inline.Commitmentcls .btn.btn-default,
form.form-inline.Commitmentcls .btn.button-primary {
    margin-top: -2px;
}
form.form-inline.Commitmentcls .glyphicon.glyphicon-plus {
    padding: 0;
}
.checkbox {
    margin-top: 0;
    margin-bottom: 0;
}
.upload-block {
    margin-bottom: 5px;
    background: #ddd;
    border-radius: 2px;
    padding: 5px;
}
.upload-block h5 {
    margin: 0 0 5px;
}
address.addressCls {
    line-height: 19px;
}
form.filter-panel-block {
    margin-bottom: 6px;
}
a.ok.CusIcon,
a.remove.CusIcon {
    margin-right: 10px;
    color: #9E9E9E;
    border-radius: 49%;
    border: 2px solid #9E9E9E;
    padding: 3px 5px;
}
a.remove.CusIcon:hover {
    color: #fff;
    border: 2px solid #A53E3E;
    background-color: #A53E3E;
}
a.ok.CusIcon:hover {
    color: #fff;
    border: 2px solid #187D37;
    background-color: #187D37;
}
.filter-panel-btn .glyphicon.glyphicon-filter {
    padding: 4px 0;
}
.form-group.clearfix.m-t-10 {
    padding: 2px 0 3px;
}
.cusToggletext {
    max-width: 240px;
    padding-top: 4px;
    padding-right: 0;
    margin-right: 0;
}
.modal-body .input-group .form-control,
.modal-body .input-group-addon,
.modal-body .input-group-btn{
    height: 28px;
}
.modal-body input.block.form-control {
       height: 34px;
    margin-top: 5px;
}
.modal-body span.btn.btn-primary.btn-file.h-28 {
    padding-top: 6px;
}
.modal-footer .btn-primary {
    font-size: 11px;
    margin-top: 0;
    padding: 2px 12px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px !important;
}
.ChartCls {
    display: inline-block;
    width: 108px;
    margin: 0 auto;
    text-align: center;
}
a.list-group-item,
a.list-group-item:hover {
    font-family: 'Open Sans', sans-serif !important;
    display: inline-block;
    border: 0;
    background: transparent;
}
a.bookadCls {
    padding: 0;
    text-decoration: none;
}
a.bookadCls:hover {
    color: #333;
}
h4.adavanceSearch {
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 2px 11px;
    text-transform: uppercase;
    color: $Head4;
}
a.btn.modalcls.cusModal {
    font-size: 11px;
    padding: 1px 10px 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background: #4178c5;
}
.modal-header .close {
    font-size: 40px;
    margin-top: -12px;
}
.Cusbookad .form-group.clearfix.m-t-10 {
    padding: 7px 0;
}
.Cusbookad h6 {
    font-size: 14px;
    margin: 0 0 10px;
    padding: 13px 0;
}
.Cusbookad address {
    line-height: 22px;
    margin: 7px 0;
}
.form-group.col-md-5 input.form-control {
    height: 24px;
    margin-top: 5px;
}
ul.list-unstyled.Order_summary {
    margin-right: 0px;
    margin-bottom: 0;
}
ul.list-unstyled.Order_summary li {
    line-height: 26px;
    vertical-align: text-bottom;
}
ul.list-unstyled.Order_summary.last {
    border-right: 0;
}
i.fa.fa-truck.btn-primary.disabledCls {
    color: #828282;
    background: #b7b7b7;
}
i.fa.fa-search-plus {
    font-size: 14px;
    font-weight: normal;
    padding: 1px 0;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:focus,
.forgot-password:hover {
    text-decoration: underline;
    color: #666;
}
form#login-form {
    padding: 10px 15px 14px;
}
.logo img {
    display: block;
    max-width: 170px;
    margin: 0 auto;
    padding: 20px 0;
}
label {
    font-weight: 500 !important;
}
.col-md-5.cal-box i {
    margin-top: 1px;
}
.glyphicon-calendar.form-control-feedback {
    right: 6px;
}

.glyphicon-calendar.form-control-feedback.asndate {
    right: 6px;
	top: -4px;
}
.row.CusDateContainer .col-md-6:first-child {
    padding-right: 7px;
    padding-left: 9px;
}
.row.CusDateContainer .col-md-6:last-child {
    padding-right: 9px;
    padding-left: 7px;
}
.tab-content {
    padding-top: 5px;
}
.panel-body input[type="text"] {
} 

button.btn.btn-default.AddBtn i, button.btn.btn-default.removeBtn i {
    font-size: 13px;
}
/*button.btn.btn-default.AddBtn, button.btn.btn-default.removeBtn {
    margin-top: 22px !important;
}*/
form.form-inline.Commitmentcls .glyphicon.glyphicon-plus, form.form-inline.Commitmentcls .glyphicon.glyphicon-remove {
    padding: 2px 0px 4px 0px;
} 
form.form-inline.Commitmentcls .removeBtn {
    background: red !important;
}
span.form-inline-left {
    padding-top: 0px;
    display: block;
}
form.form-inline.Commitmentcls .removeBtn {
    background: #e24949 !important;
    border: 1px solid red;
    border-radius: 2px !important;
}
.AddressContainer {
    background: #fbfbfb;
    padding: 10px;
    border: 1px solid #efefef;
    border-radius: 3px;
        margin: 5px 4px 5px 5px;
    h6 {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
        margin: 0 0 4px 0 !important;
    padding-bottom: 8px;
        
}
}
 input#LoginID {
    max-width: 100%;
}
    
.alert-modal-label label {
    margin-right: 10px;
    padding: 5px 0px;
}
strong {
    font-size: 12px;
    text-transform: uppercase;
}
h6 a.btn.btn-default.SecondaryBtn {
    /* background: red; */
    margin-top: -4px;
}
.btn.btn-default.Primarytop {
    margin-top: 4px;
        font-weight: 200 !important;
}
.col-md-4.addressTag h6 {
    padding: 13px 0px;
    margin-bottom: 10px;
}

   
span.badge.btnbadge {
      margin-top: -15px;
    margin-left: -7px;
    margin-right: 5px;
    background: #008fe2;
    font-size: 11px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 49%;
    top: -3px;
    padding-top: 6px;
}
   button.btn.btn-default.SecondaryBtn {
   position:relative;
   }
input[aria-invalid='false'] {
  border: 1px solid green;
}
input[aria-invalid='true'] {
  border: 1px solid #da2727;
}


.Commitmentcls.bgForm {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 8px 8px 0px 8px;
    border: 1px solid #e4e4e4;
}
.glyphicon-calendar.form-Date {
    position: absolute;
    top: 28px;
    right: 20px;
}

li.QueueCls {
    width: 62%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*table fixed header*/

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
   }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #b1b9bd;
  border-radius: 2em; }
  .tgl-flat + .tgl-btn:after {
    transition: all .2s ease;
    background: #b1b9bd;
    content: "";
    border-radius: 1em; }
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6; }
  .tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #7FC6A6; }
table#tblList .form-control{
    height: 25px;
    padding: 0px 5px;
}
ul.pull-right.list-unstyled.list-inline li:first-child {
    min-width: 40px !important;
}
ul.pull-right.list-unstyled.list-inline {
    line-height: 0;
}

.invalid, .invalid:focus, .invalid:hover {
        border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}




.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #737373;
    position: absolute;
        color: #a94442;
   
}
.invalid:focus, .invalid:hover {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}
.form-group {
    margin-bottom: 20px;
} 

.modal-body input.block.form-control {
    height: 30px;
}

select {
   -webkit-appearance: none;
   -moz-appearance:none;
   appearance:none;
}
select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select.form-control {
 background: #fff url("../images/updownarrow.png") no-repeat 0 0;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
 
   background-repeat: no-repeat;
      padding-right: 25px;
       width: 99.95%;
  
}
.navbar-brand.p-l-0 {
    cursor: default !important;
}

.glyphicon-calendar.form-control-feedback {
    right: 8px;
    top: -2px;
}
.descriptionCls {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.descriptionCls.active {
      overflow: auto;
    text-overflow: initial;
    white-space: initial;
    position: relative;  
}
.descriptionCls i.fa.fa-play {
    cursor: pointer;
        color: #1f70c1;
    font-size: 10px;
}
td.descriptionCls.active i.fa.fa-play {
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

select::-ms-expand {
    display: none;
}

.descriptionCls.MaxWidth{
    max-width: 150px !important;
}
.row.SentmailContainer .control-label {
    padding-top: 6px;
}
form.form-inline input[type="text"] {
    min-width: initial;
}
.panel-body .form-group {
    position: relative;
}
form.form-inlinez {
.glyphicon-calendar.form-control-feedback {
      right: -4px;
    top: -5px;
}
.form-group {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 8px;
    input {
            margin-top: -1px;
            text-indent: 5px;
    }
    select {
            margin-top: -1px;            
    }
}
}
.wellz {
    padding: 6px 20px 4px 10px;
}
.haserror .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    position: relative;
}
.CusInput .form-control {
    height: 24px;
    padding: 0px 0px 0px 5px;
}
.help-block.Cusblock{
    display: none;
} 
.help-block.Cusblock.helpblock{
    display: block;
} 
.help-block.Cusblock.helpblock:after {
		content: ""; 
        width: 0; 
		height: 0; 
		border-left: 5px solid transparent; 
		border-right: 5px solid transparent; 
		border-top: 5px solid #d9534f; 
		position: absolute; 
		top: 44px; 
		left: 100px;
} 
.help-block.Cusblock.helpblock {
               display: block; 
               background: #d9534f; 
               color: #fff; 
               padding: 5px 20px 7px; 
               border-radius: 6px; 
               line-height: normal; 
               margin-top: 5px; 
              /* right: 0; */ 
               position: absolute; 
               min-width: 200PX; 
               left: 0px; 
               top: -80px; 
               z-index: 9999;
}
i.fa.fa-sign-out.fa-rotate-90 {
    font-size: 14px;
    color: #1274ad;
}
ul.dropdown-menu.Exportmenu {
    top: 23px;
    right: 2px;
    min-width: 130px;
    li a {
    font-weight: 100;
    font-size: 12px;
    text-transform: initial;
    color: #595959;
    padding: 3px 12px;
}
}
.modal-body.address-modal-body .form-group {
    margin-bottom: 0px;
}
.form-control.pagenation.width-100 {
    width: 53px;
    margin-top: 5px;
}
.paging_bootstrap {
    margin: 2px 0px 0px 0px;
}
.table-responsive.noteBody {
    max-height: 338px;
    min-height: 334px;
}
span.noRecordCtrl {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 44px 0px;
    color: #71838a;
    i.fa.fa-frown-o {
    font-size: 45px;
}
}
span.noRecordCtrl.HightCtrl{
     padding: 74px 0px; 
}
.help-block.CusBlock {
    padding: 2px 0px;
    position: relative;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  padding: 4px 0px 4px 3px;
  max-width: 70px;
  margin: 0px 2px;
  background: #fff url("../images/updownarrow.png") no-repeat 0 0;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  padding-right: 10px;
}
.modal-body.address-modal-body {
    input.form-control {
        margin-bottom: 10px;
    }
    span.help-block {
        position: absolute;
        bottom: -5px;
        font-size: 12px;
    }
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard {
    display: table;

    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-step {
     display: inline-block;
    text-align: left;
    position: relative;
        margin-left: -8px;
}
.stepwizard-step a {
    display: inline-block;
    min-width: 210px;
    font-size: 12px;
    /* vertical-align: top; */
    padding: 6px 10px !important;
    text-align: left;
    padding-left:30px !important;
     margin-left: 3px;
    span {
    width: 30px;
    display: inline-block;
    text-align: center;
    height: 30px;
    background: #008fe2;
    border-radius: 49%;
    padding-top: 7px;
    margin-right: 10px;
  

}
}


.btn[disabled] span {
    /* color: #9e9898 !important; */
    background: #efefef;

}
.stepwizard-step > a.btn[disabled] {
pointer-events: none;
font-size: 12px;
}
.stepwizard-step > a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 24px solid #1f70c1;
    position: absolute;
    top: -2px;
    /* right: -7px; */
    /* margin-top: -50px; */
    margin-left: -3px;
    left: 100%;
    z-index: 3;
    
}
.stepwizard-step > a:hover:before{
    border-left: 24px solid #325c80;
}

.stepwizard-step > a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 25px solid #e3e3e3;
    position: absolute;
    top: -2px;
    /* right: -7px; */
    /* margin-top: -50px; */
    margin-left: -2px;
    left: 100%;
    z-index: 2;
}

.stepwizard-step > a.btn[disabled]:before {
      content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 24px solid #e6e0e0;
    position: absolute;
    top: -2px;
    /* right: -7px; */
    /* margin-top: -50px; */
    margin-left: -2px;
    left: 100%;
    z-index: 3;
}
.stepwizard-step > a.btn[disabled]:after {
content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 26px solid #a2a1a1;
    position: absolute;
    top: -2px;
    /* right: -7px; */
    /* margin-top: -50px; */
    margin-left: -1px;
    left: 100%;
    z-index: 2;
}
.stepwizard-step > a.LastWizard[disabled]:before, .stepwizard-step > a.LastWizard:before, 
.stepwizard-step > a.LastWizard[disabled]:after, .stepwizard-step > a.LastWizard:after {
    display: none;
}
a.btn.FirstWizard {
    padding-left: 10px !important;
    margin-left: 10px;
        margin-top: -2px;
        background: #1f70c1;
    color: #fff;
    font-size: 11px;
}
/*new styles*/
.divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #cccccc;
    padding-top: 8px;
}
.AddressInside {
    position:relative;
}

i.glyphicon.glyphicon-remove-circle.circle-rotate{
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(46deg);
    -moz-transform: rotate(46deg);
    -ms-transform: rotate(46deg);
    -o-transform: rotate(46deg);
    transform: rotate(46deg);
    position:absolute;
    font-size: 33px;
    left: 0;
    right:0;
    top:40px;
    height: 35px;
    width: 35px;
        margin: 0 auto;
        color: #1f70c1;
}

.SearchContainer {
    display: none;
}
 .ResultContainer {
    display: none;
    h6{
        font-size: 14px;
    }
}
a.btn.btn-default.disabled span {
    background: #FFF;
}

.stepwizard-step > a.disabled:before {
        border-left: 24px solid #e7e7e7 !important;
}
a.btn.btn-primary.FirstWizard:hover{
    background:#325c80;
        border: 1px solid #325c80;
}
.panel-body.HeaderContainer{
    [type="text"] {
    height: 28px;
}
li.list-group-item.col-md-4 {
   


}

}

.panel-body .select-style.form-control {
    height: 28px !important;
    font-size: 13px;
    margin-top: 0px;
}
select.select-style.form-control.col-md-12 {
    min-width: 100%;
}
.table-wrapper .AddItemContainer .form-control{
    height: 28px !important;
}
ul.list-unstyled.AddCtrl li {
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-right: 0px;
    button.btn.btn-sm.btn-danger {
           border-radius: 3px;
               padding: 2px 10px;
    }
}
li.list-group-item .form-control-feedback {
    top: 24px;
}

ul.list-group.OrderLine{
select.select-style.form-control{
    width: 100%;
}
span .btn-sm{
  font-size: 10px;
    padding: 0px 6px;
    margin: 0px;
    background: #1f70c1;
    border: 1px solid #1f70c1;
    border-radius: 4px !important;
    color: #fff;  
}
.form-control-feedback {
    top: -2px;
    right: 1px;
}
i.glyphicon.glyphicon-search {
    font-size: 12px;
}
.input-group-btn {
    border: 1px solid #c0bfbf;
}
}

.SearchAddress button.btn.btn-secondary {
    background: #1f70c1;
    color: #fff;
    padding: 4px 7px;
    border-radius: 3px;
}

button.btn.btn-primary.btn-lg.pull-right {
    margin-left: 15px;
    /* padding: 2px 12px; */
}
.modal-content {
    tr.loader {
    margin-top: 35px;
}
}
canvas#sydneychart {
  
}

canvas#melbournechart {
  
}
canvas#supplychart {
 
}

canvas#demandchart {
   
}

div#chart {
       margin: 0% 25%; 
}
.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 0px 12px;
    font-size: 13px !important;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.uploadCls{
    padding-top:3px;
}
.m-t-10 {
    margin-top: 10px !important;
}
.subclr {
    font-size: 12px;
    color: #333;
}
span.subclr a {
    background: #1f70c1;
    padding: 3px 8px 4px 8px;
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    text-transform: uppercase;
}
input#enddate {
    width: 100%;
}
.wellz {
    padding: 6px 0px 4px 2px;
}
.btn.btn-default.SecondaryBtn.Gobtn {
    margin-top: 8px;
    margin-bottom: 7px;
    margin-left: 1px;
    padding: 4px 10px !important;
}
form.form-inline.form-inliney{
.glyphicon-calendar.form-control-feedback {
    right: 8px;
    top: 19px;
}
}

option {
    width: 12em;
    min-width: 100%;
}

form.form-inline.form-inliney{
    .form-group.col-md-4.clearfix {
    padding-bottom: 15px;
}
}

.col-md-6.panel-body {
    border-top: 0px;
    margin-top: 0px;
}
.Commitmentcls.bgForm span.glyphicon {
    top: 28px;
}
.Commitmentcls.bgForm .form-control {
    width: 100%;
}
.Commitmentcls.bgForm label {
    width: 100%;
}
.Commitmentcls.bgForm button.btn.btn-default.AddBtn {
    margin-top: 22px;
}
.Commitmentcls button.btn.btn-default.removeBtn {
    margin-top: 23px;
}
form.form-inline.form-inliney .form-control {
    margin-bottom: 6px;
}
form.form-inline.form-inliney .SecondaryBtn.Gobtn {
    padding: 5px 10px !important;
}
.panel-body.asnbody .form-group.clearfix {
    padding-bottom: 10px;
}
.form-inline.form-inliney .form-group{
    margin-bottom: 18px;
}
form.form-inline.form-inliney {
    padding-top: 18px;
}

input.select-style.form-control.col-md-12.hasDatepicker.invaild:focus{
   border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
}
input.select-style.form-control.col-md-12.hasDatepicker.invaild:hover {
    border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
}
input.select-style.form-control.col-md-12.hasDatepicker.invaild:active {
    border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
}
input.select-style.form-control.col-md-12.hasDatepicker.invaild {
    border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
}
p.help-block.invaild {
    display: block !important;
}

.form-inline.Commitmentcls .form-control  {
    height: 24px;
    max-width: 100% !important;
    width: 100%;
}

form.form-inline.Commitmentcls .form-group {
   width: 100%;
    padding-right: 10px;
    label{
    width: 100%
}
}

.Secondarypanel{
    h4{
            font-size: 14px;
            color: #4178bc;
			text-transform:capitalize;
    }
    label{
            font-family: 'HelvBoldIBM', sans-serif !important;
    }
}


.welcome_msg {
    font-size: 16px;
   
    span {
    font-size: 15px;
    color: #1f70c1;
    text-shadow: 0px 0px 0px;
    letter-spacing: 1px;
}
}

span.circlered {
    width: 20px;
    height: 20px;
    background: red;
    display: block;
    border-radius: 50%;
}
span.circleyellow {
    width: 20px;
    height: 20px;
    background: orange;
    display: block;
    border-radius: 50%;
}
span.circlegreen {
    width: 20px;
    height: 20px;
    background: green;
    display: block;
    border-radius: 50%;
}
ul.list-group.col-md-4.Confirmationtpl h5 {
    color: #1f70c1;
}
.Confirmationtpl li.list-group-item.col-md-12 {
    line-height: auto;
}
.Confirmationtpl .checkbox {
    line-height: 24px;
}

p.help-block.invaild {
    display: block !important;
}


form.form-inline.Commitmentcls .form-group {
   width: 100%;
    padding-right: 10px;
    label{
    width: 100%
}
}

.Secondarypanel{
    h4{
            font-size: 14px;
            color: #4178bc;
            text-transform:capitalize;
    }
    label{
            font-family: 'HelvBoldIBM', sans-serif !important;
    }
}
.spinner-loading.absolution.dashpanel .loader {
    top: 36%;
}



.tab-content.refGrptab .tab-pane {
    height: 235px;
    overflow-y: auto;
}



.welcome_msg {
    font-size: 16px;
   
    span {
    font-size: 15px;
    color: #1f70c1;
    text-shadow: 0px 0px 0px;
    letter-spacing: 1px;
}
}

.tab-content.refGrptab .tab-pane {
    min-height: 235px;
    overflow-y: auto;
}

.welcome_msg {
    font-size: 16px;
   
    span {
    font-size: 15px;
    color: #1f70c1;
    text-shadow: 0px 0px 0px;
    letter-spacing: 1px;
}
}
.progress.tableprogress {
    margin-bottom: 0px;
    height: 13px;
    .progress-bar {
    line-height: 13px;
    }
}

.warningContainer {
       background: #f7e6e6;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: -13px;
    margin-left: 11px;
    margin-bottom: 5px;
    h5 {
    font-size: 14px;
    text-transform: uppercase;
    color: #d02d2d;
}
}
.col-md-12.specialhandling {
    padding-left: 21px;
    font-size: 14px;
    h5{
      color: #1f70c1;
    }
}

i.glyphicon.glyphicon-bullhorn {
    font-size: 14px;
    color: #fff;
    background: #00b4ff;
    padding: 8px;
    border-radius: 49%;
    margin-top: -4px;
}

a.linktab {
    position: relative;
    margin: 1px 55px 0px 0px;
}
.NotiContainer {
    min-width: 600px;
    position: absolute;
    z-index: 99;
    right: -26px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    top: 36px;
    height: 547px;
    .nav-tabs {
 
    padding: 8px;
}
    li a{
    width: 160px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 0px !important;
    background: #b5b6b7;
    color: #fff;
     border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
li a:hover{
        background: #c3c2c2;
}
.nav > li > a:hover {
    background: #b3b1b1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid ;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    border-bottom-color: #4cae4c;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.CricleNotification {
    width: 10px;
    display: block;
    height: 10px;
    background: #5cb85c;
    border-radius: 50%;
    margin: 3px 10px 0px 0px;
}
small.list-group-item-heading.text-muted.text-primary {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p.list-group-item-text {
      font-size: 14px;
    letter-spacing: 0px;
    color: #6a6c6f;
    padding: 8px 0px 4px 2px;

}
li.list-group-item {
   border-bottom: 1px solid #dad7d7;
    padding-bottom: 10px;
    border-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 2px;
}
button.close {
    padding: 0px 12px;
    margin-top: 6px;
    font-size: 28px;
}
li.list-group-item.new {
    background: #efefef;
}
.list-group {
    margin-top: -7px;
    overflow-y: auto;
    max-height: 500px;
}
small.pull-right.text-muted {
    color: #c3c3c3;
}
}
.overlayNoti {
    width: 100%;
    height: 100%;
    display: block;
    background: #717171;
    position: fixed;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
}
span.badge.notibadge {
    font-size: 9px;
    position: absolute;
    top: -9px;
    padding: 6px 0px 0px 0px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #d9534f;
    right: -13px;
}
.NotiContainer li .text-left a {
    background: transparent;
    color: #337ab7;
    font-weight: 500;
}
.notisearch .input-group {
    margin-top: 12px;
    margin-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    i.glyphicon.glyphicon-search{
        color: #fff;
    }
}
p.list-group-item-text.toggletext {
    max-height: 30px;
    overflow: hidden;
}
button.btn.btn-sm.btn-default.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.dhtml, .NaNdhtml {
    overflow: hidden;
}

/*Process Files*/
li.msgNotification {
    display: inline-block;
}


.processContainer {
    display: inline-block;
    margin-top: 0px;
    margin-right: 16px;
    background: #2790a2;
    padding: 0px 0px 0px 13px;
    border-radius: 3px;

    ul.list-inline.list-unstyled {
    margin-bottom: 0;
    line-height: 0;

li {
    width: 60px;
    span.badge.notibadge{
        top: 0px;
    background: #1f7180;
    font-size: 11px;
    margin-left: -11px;
    height: 20px;
    padding-top: 4px;
    color: #fff;
    }
}
    i {
   font-size: 21px;
    color: #fff;
    background: transparent;
    border-radius: 49%;
    margin-top: 2px;
    float: left;
    margin-bottom: 4px;
}

}
}
a.linktab {
    float: right;
    margin: 1px 45px 0px 0px;
}
li.msgNotification {
    display: inline-block;
}

div#custom-search-input {
    margin-right: 20px !important;
}
.processContainer ul.list-inline.list-unstyled li:first-child{

    border-right:1px solid #357d8a;
}
span.subclr.redline b {
    color: #ca5020;
}
.bs-wizard {margin-top: 0px;}

/*Form Wizard
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 12px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #008fe2; top: 35px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #04639a; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 5px; box-shadow: none; margin: 14px 0px 14px 0px;background: #c7c7c7; }
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background:#8fc9ea;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step.active > a.bs-wizard-dot {background:#dc8311;}
.bs-wizard > .bs-wizard-step.active > a.bs-wizard-dot:after {background:#a55f06;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #c7c7c7;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {background-color: #adadad;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }*/
.progress-bar-info {
    background-color: #35b9e0 !important;
}

.progress-bar.bg-success {
    background: #3cb56d;
}
.progress.uploadprogress {
    height: 7px;
    margin-bottom: 0px;
}
ul.progressContainer li {
    width: 33.33%;
    float: left;
    display: inline-block;
    .progress {
        position:relative;
    height: 18px;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 14px;
    overflow: visible;
    background-color: #cccccc !important;
}
.progress-bar span {
    min-width: 75px;
    display: block;
    color: #ffffff;
    line-height: 18px !important;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
}
.title-progress.First-left {
    position: absolute;
    top: -16px;
    left: 0px;
    font-size: 10px;
    text-transform: uppercase;
    color: #676767;
}
.title-progress.centerProgress{
     position: absolute;
    top: -16px;
    left: -19px;
    font-size: 10px;
    text-transform: uppercase;
    color: #676767;
}
.title-progress-right {
    position: absolute;
    top: -16px;
    right: 0px;
    font-size: 10px;
    text-transform: uppercase;
    color: #676767;
}
.progress-bar.bg-warning {
    background: #ff9b00;
}
.dot {
    width: 18px;
    height: 18px;
    position: absolute;
    background: white;
    border-radius: 10px;
    left: -6px;
    border: 1px solid #cccccc;
}
.dot-last{
    width: 18px;
    height: 18px;
    position: absolute;
    background: white;
    border-radius: 10px;
    right: -6px;
    border: 1px solid #cccccc;
}
.dot-last.InvalidStatus{
        border: 1px solid #a05947;
    background: #e47b5f;
    background: -moz-linear-gradient(top, #e47b5f 0%, #d6411b 50%, #e47b5f 100%);
    background: -webkit-linear-gradient(top, #e47b5f 0%,#d6411b 50%,#e47b5f 100%);
    background: linear-gradient(to bottom, #e47b5f 0%,#d6411b 50%,#e47b5f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e47b5f', endColorstr='#e47b5f',GradientType=0 );
}
.dot.green{
          border: 1px solid #0b9a3f;
    background: #93dd8d;
    background: -moz-linear-gradient(top, #93dd8d 0%, #20ba18 50%, #93dd8d 100%);
    background: -webkit-linear-gradient(top, #93dd8d 0%,#20ba18 50%,#93dd8d 100%);
    background: linear-gradient(to bottom, #93dd8d 0%,#20ba18 50%,#93dd8d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93dd8d', endColorstr='#93dd8d',GradientType=0 );
}
.dot-last.green{
      border: 1px solid #0b9a3f;
    background: #93dd8d;
    background: -moz-linear-gradient(top, #93dd8d 0%, #20ba18 50%, #93dd8d 100%);
    background: -webkit-linear-gradient(top, #93dd8d 0%,#20ba18 50%,#93dd8d 100%);
    background: linear-gradient(to bottom, #93dd8d 0%,#20ba18 50%,#93dd8d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93dd8d', endColorstr='#93dd8d',GradientType=0 );

}
.dot-last.orange {
    background: #e5be77;
    background: -moz-linear-gradient(top, #e5be77 0%, #eaaf0b 50%, #e5be77 100%);
    background: -webkit-linear-gradient(top, #e5be77 0%,#eaaf0b 50%,#e5be77 100%);
    background: linear-gradient(to bottom, #e5be77 0%,#eaaf0b 50%,#e5be77 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5be77', endColorstr='#e5be77',GradientType=0 );
        border: 1px solid #b1881c;
}

}

.downloadCls {
    background: #1f70c1;
    color: #fff;
    padding: 4px 10px 6px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
}

.title-progress-right.InvalidStatus {
    right: -50px !important;
}
.navbar-default .navbar-nav > li > a {
 
 
    padding: 15px 23px !important;
 
 
}
.modal-wrapper.clearfix {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 10px 0px 10px;
    margin-bottom:15px; 
}
.carrierModal{
    .form-group {
    margin-bottom: 10px;
}

}
.form-group.required .required-label:after {
  content:"*";
  color:red;

}
input.form-control.invalid.pristine {
    border-color: #cccccc !important;
}
input.form-control.invalid.pristine:focus, input.form-control.invalid.pristine:hover{
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

select.form-control.invalid.pristine {
    border-color: #cccccc !important;
}
select.form-control.invalid.pristine:focus, select.form-control.invalid.pristine:hover{
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}