.watchlist-badge-panel .list-inline {
  display: inline-block;
  margin-left: 10px;
}

.watchlist-badge-panel .list-inline > li {
  padding: 0;
} 


.filter-panel-block {
  display: none;
  padding: 0px;
  border-radius: 3px;
  background: white;
  border-bottom: 1px solid #dddddd;
}

.panel-body .block {
  display: block;
  margin-bottom: 15px
}

.panel {
  margin-bottom: 20px; 
}


.panel-body .btn-default, .panel-body .button-primary {
  padding: 4px 7px;
  font-size: 13px;
  text-transform: capitalize; }
.panel-body .select-style.form-control {
  height: 24px;
  font-size: 13px;  
   }
.panel-body input[type="text"] {
  height: 24px;
  font-size: 12px; 
    min-width: 100%;
}
  .panel-body input[type="text"].h-auto {
    height: auto; }
.panel-body .form-group {
  margin-bottom: 0; }
.panel-body address {
  margin-bottom: 0px; }
.panel-body.p-l-r-15 {
  padding: 5px 15px 5px 15px; }
.panel-body h6 {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin: 0 0 4px 0; }



  .panel-heading h5 {
      margin: 4px 8px;
    font-weight: 500;
    font-size: 13px;
    color: #2066ab; }



.group-name-body .form-control {
    display: inline-block;
    width: 50%;
    margin-left: 5px;
    margin-bottom: 10px;
}
.panel-default > .panel-heading {
    background-color: #EFEFEF;
    border-color: #C5CED6;
    color: #4178BC;
    font-weight: bold;

    font-family: 'HelvBoldIBM', sans-serif !important;
    font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #4178BC;
}

.add-report-block .box {
    height: 70px;
    margin-bottom: 30px;
}

.panel-body {
    padding:5px;
        
    .table-wrapper {
      background: #fff;
      padding: 0;
  }
}
.dashboard-row-one .panel-body{
padding: 0px 5px;
min-height: 93px;
}
.panel-default > .panel-heading {
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.progress-panel .progress {
    float: right;
    width: 110px;
    height: 10px;
    margin-top: 5px;
}

.progress-panel .progress.progress-last {
    margin-bottom: 0;
}

.panel,
.panel-heading,
.btn,
.alert {
    border-radius: 0;
}


.vendor-box .form-group {
    margin-bottom: 5px;
}
.vendor-box-row-2 .panel-body {
    min-height: 250px;
}
.vendor-box-row-1 .panel-body {
    min-height: 175px;
}

.panel-consignment h4 a {
    font-size: 12px;
    display: block;
    font-weight: 600;
}
.panel-consignment .panel-group .panel {
    border-radius: 0;
}
.panel-consignment .panel-body .panel-heading {
    background: #efefef;
}
.panel-consignment .accordion-toggle {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.panel-consignment .accordion-toggle:after {
    content: "\2601";
}
.panel-consignment .panel-heading {
    position: relative;
}
.panel-consignment .glyphicon-chevron-down {
    position: absolute;
    right: 10px;
    top: 3px;
    z-index: -1;
}
.panel-alert-heading {
    background: #efefef !important;
    line-height: normal;
  
}

.panel-body h6 {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin: -4px 0 0px 0;
     font-family: 'HelvBoldIBM', sans-serif !important;
}
.AddnoteContianer .panel-alert-heading  {
          border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

#alert-modal .panel-body {
    height: 180px;
    overflow-y: scroll;
}
#alert-modal .panel-body a {
    font-size: 13px;
}

.panel-body {
    position: relative;
    
    span.form-inline-left {
    padding-top: 0px;
    display: block;
}
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}
.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login > .panel-heading a.active {
    color: #008fe2;
    font-size: 18px;
}
.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 32px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.panel-heading span.pull-right {
    margin-top: -3px;
}

.panel-body.CuspanelBody {
    padding: 13px 15px 15px 15px;
}

.col-md-4.PrimaryContent, .col-md-4.AddContent {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.cal-box {
    padding-left: 10px;
    label {
        padding-right: 5px;
    margin-bottom: 0px;
    }
}
table{
    
    min-height: .01%;
    overflow-x: auto;
}
a.btn.modalcls {
 
    font-size: 11px;
}
a.bookadCls {
    font-size: 11px;
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#E6E6E6;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.list-group.productInfo {
    margin-bottom: 0;
}
.panel-body.panel-common-body {
    color:#000;
}
.panel-body span.form-inline-left {
    font-weight: normal;
}
.CusImgClass {
    max-width: 100px;
    border: 1px solid #ffdfdf;
}
.block.clearfix {
    margin-bottom: 5px;
}
.noteBody {
    background: #fff;
}
.AlertBody {
    max-height: 193px;
    overflow: auto;
    min-height: 193px;
       overflow-x: hidden;
    margin: 0px -5px 0px 5px; 
}
.modal-body h5 {
    padding-top: 0px;
    margin-top: 0;
}
ul.Shipmentlist li:last-child .status-number {
    border-right: 0;
}
.well-sm {
    background: #fff;
}
@media only screen and (min-width: 1020px) {
button.btn.btn-primary.btn-block{
  padding-left:7px;
  padding-right:8px;
 }
}
span.OrderlinePad {
    text-indent: 5px;
    display: block;
}
.panel-body.CusBody {
    padding: 5px 0px;
}
.panel.panel-default.CusConsig {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.panel-group.m-t-10 {
  margin-bottom: 0px;
}
.AddressContainer span {
    display: block;
}.AddressInside {
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}
.spinner-loading.absolution {
    position: absolute;
}
.last_update {
    text-align: right;
    background: #fbfbfb;
    border-top: 1px solid #efefef;
    color: #a7a7a7;
    font-weight: 500;
    padding: 2px 7px 2px 0px;
    margin: 0px -5px -4px -5px;
    font-size: 10px;
    text-transform:capitalize;
}
.last_update.UpdateCtrl {
    position: absolute;
    width: 100%;
}
.AddressContainer h6 {
    padding-top: 0px;
}
.paging_bootstrap a, .paging_bootstrap a:hover, .paging_bootstrap a:focus {
    text-align: center;
}
img.norecord {
    max-width: 176px;
    display: block;
    /* text-align: center; */
    margin: 0 auto;
}
.row.CusHeight .panel-body {
    min-height: 325px;
}
.col-xs-6.last .status-pills {
    border-right: 0px;
}
.panel-body.WatchBody {
    min-height: 350px;
  .table-fixed{
 min-height: 339px;
 max-height: 339px;
    }
img.norecord {
    padding: 40px 0px;
}
}

@media only screen and (max-width: 1160px) {
  .panel-body.WatchBody img.norecord {
    padding: 30px 0px;
}
}
.AlertBody .spinner-loading.absolution {
    background: #fff;
}

html{
      word-wrap: break-word;
}
.AddressCtrl {
.AddressInside {
    min-height: 107px;
    max-height: 107px;
    overflow-y: auto;
}
}
.list-group-item {
  border-color:transparent;
  padding-top:5px;
  padding-bottom:5px;
label {
  font-family: 'HelvBoldIBM', sans-serif !important;
    word-wrap: break-word;
        padding-left: 0;
}
}
@media only screen and (max-width: 1000px) {
li.list-group-item {
    display: block; 
  min-height: 35px; 
    max-height: 120px; 
    clear: both; 
    label {
          min-width: 150px;
    }
}
}
.AddressContainer h6 {
    padding-top: 0px;
    width: 100%;
}
.stepwizard-step {
  a.btn.btn-default.btn-primary {
    background-color: #5cb85c;
        border: 1px solid #5cb85c !important;
   span{
        color: #1f761f;
        background: #ffffff;
  }
  }



}
  .stepwizard-step > a.btn-primary:after {
   border-left: 24px solid #5cb85c !important;
  } 
   .stepwizard-step > a.btn-primary:before {
   border-left: 24px solid #5cb85c !important;
  }
   .stepwizard-step a.btn.btn-default {
    pointer-events:none;
  }
  table td .form-control {
    height: 28px !important;
        padding: 3px 12px;
        line-height: normal;
}
.input-group {
  .glyphicon-calendar.form-control-feedback {
    right: 0px;
    top: -1px;
}
}
.heightCtrl {
li.list-group-item.col-md-4 {
    min-height: 72px;
}
}
.AddressInside.NewCtrl {
    max-height: 130px;
}
.ContentAddress {
    border: 1px solid #d9d9d9;
    padding: 8px;
    margin: 6px 6px;
    background: #fafafa;
    border-radius: 3px;
    min-height: 130px;
}
.AddCtrl li.col-md-3.ContentAdd {
    border: none !important;
    margin-top: 0px !important;
    padding: 0px !important;
}
.ContainerHgt {
    display: block;
    min-height: 150px;
    max-height: 460px;
    overflow-y: auto;
}
.SelectAdd {
 .pull-left {
    width: 100%;
       padding: 3px 0px 3px 0px;
}
.pull-right {
    margin-top: -3px;
    .form-group {
    margin-top: -3px;
}
}
}
ul.list-unstyled.AddCtrl li { 
.pull-left {
    width: initial;
  }
}



.ContentAddress.selected {
    background: #e6f6ff;
}
.buttonCtrl {
    display: block;
    width: 100%;
}
button.btn.btn-primary.btn-lg.text-center {
      margin: 0 auto;
    display: block;
}

/* Alert */

.AlertIcon {
  display: inline-block;
}
.AssignedCtrl {
    display: inline-block;
}
.StatusCtrl {
       display: inline-block;
        padding: 8px 10px;
    font-size: 14px;
}
.AlertInfo{
  display: inline-block;
}
.checkBoxCtrl{
  display: inline-block;
}

.AlertIcon i {
    font-size: 30px;
    padding: 10px;
    color: #dd9d0f;
}
.AlertInfo {
    display: inline-block;
     padding: 0px 10px 10px 0px;
    line-height: 20px;
    font-size: 14px;
}
.StatusCtrl i {
    font-size: 23px;
    text-align: center;
    /* margin: 0 auto; */
    width: 100%;
    color: #d84343;
}
.AssignedCtrl {
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
}
.alert_container li.well.well-sm {
    background: #fcfcfc;
    margin: 10px 10px;
}

@media (max-width: 767px){
header i.glyphicon.glyphicon-user {
    margin-top: -1px !important;
    top: 0px !important;
    right: 0px;
}
header a.dropdown-toggle.header_dropdown, header a.dropdown-toggle.header_dropdown:hover, header a.dropdown-toggle.header_dropdown:active {
    background: #1f70c1 !important;
    padding: 8px 8px 8px 8px;
    text-align: center;
    border-radius: 0% !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 62px;
    margin-top: 5px !important;
    margin-right: 12px !important;
    float: right;
}
}
.panel-body{
      border-top: 1px solid #e5dfdf;
}
.col-md-2.pad-left-20.pull-right {
    padding-bottom: 10px;
}
.m-r-4 {
    margin-right: 4px;
}
div#chart {
    margin: 0% 0% !important;
}
select.select-style.form-control.col-md-12 {
    padding-right: 30px;
}

.overlayContainer {
  position:relative;
  .spinner-loading {
    background-color: #e6e6e6;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}
}
.disableTab{
    pointer-events:none;
    opacity:0.50;
}

.wellz{
  margin-bottom: 5px;
}
ul.list-unstyled.AddCtrl .ContentAddress{
        min-height: 160px;
}
.pull-left.radioCls {
    width: 10% !important;
    display: inline-block;
}
.pull-left.DetailsCls {
    display: inline-block;
    width: 85% !important;
    max-height: 150px;
    overflow-y: auto;
}
.well.well-md.clearfix {
    padding: 0px;
    margin: 13px;

.form-group.clearfix.m-t-10 {
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.modal-body .col-md-6 {
    margin-bottom: 10px;
}
.panel-body.findOrder input[type=text] {
    height: 30px;
    font-size: 12px;
    margin-bottom: 23px;
    min-width: 100%;
}
.tab-content.refGrptab .tab-pane {
    min-height: 235px;
    overflow-y: auto;
}

.welcome_msg {
    font-size: 16px;
   
    span {
    font-size: 15px;
    color: #1f70c1;
    text-shadow: 0px 0px 0px;
    letter-spacing: 1px;
}
}
.progress.tableprogress {
    margin-bottom: 0px;
    height: 13px;
    .progress-bar {
    line-height: 13px;
    }
}
