<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="scv">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/WebContent/resources"/>
        <dependent-module archiveName="BridgeUIFramework.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/BridgeUIFramework/BridgeUIFramework">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/scv/build/classes"/>
        <property name="context-root" value="hubble-vp"/>
    </wb-module>
</project-modules>
