<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="SP">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/WebContent/resources"/>
        <dependent-module archiveName="BridgeUIFramework.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/BridgeUIFramework/BridgeUIFramework">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="log4j-api-2.5.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/BridgeUIFramework/libs/log4j-api-2.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-codec-1.10.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/BridgeUIFramework/libs/commons-codec-1.10.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-io-2.4.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/BridgeUIFramework/libs/commons-io-2.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="json-simple.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/BridgeUIFramework/libs/json-simple.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="log4j-core-2.5.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/BridgeUIFramework/libs/log4j-core-2.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-fileupload-1.3.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/BridgeUIFramework/libs/commons-fileupload-1.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/SP/build/classes"/>
        <property name="context-root" value="sp"/>
    </wb-module>
</project-modules>
